[2016-10-19 10:30] agnivade commented on #1056
Hey, I myself have a port of [scrypt](https://github.com/agnivade/easy-scrypt) in golang :smile:  !

[2016-10-19 10:42] waldyrious commented on #1056
Hence the proposal to only feature in our documentation those clients that *do* support all the requirements that we define. We can consider those "the most mature clients", and do so with a concrete, objective measure.

[2016-10-19 10:46] Leandros commented on #1056
That won't solve the problem, it'll simply reduce it.

[2016-10-20 03:41] agnivade commented on #1109
I like **tldr pages**. Contrasts nicely with **man pages**.

[2016-10-20 13:25] waldyrious commented on #1109
If we are willing to deviate a little more from the current name, we could consider rebranding as tldr.sh (which is akin to how many projects nowadays now use .js to indicate their context), or even go as far as ditching the hard-to-pronounce (and somewhat jargon-y) "tldr" altogether and pick something like "miniman" or "lil' man" :P just some fresh/wild (crazy?) ideas to spice up the discussion,

[2016-10-20 15:16] 85pando commented on #1076
The most simple example would be:

1. Person A licenses an Image under CC-BY-SA.
2. Person B licenses an Image under CC-BY-SA-NC.
3. Person C wants to Remix both of them into one Image. This is not possible, as both licenses forbid use of the other license (i.e. Image A cannot be put under "NC", because it would mean less rights for the derivative work, Image B cannot be put under "not NC" because

[2016-10-20 17:07] waldyrious commented on #1076
Should we worry about that case though, considering that -NC creative commons licenses do not conform to the [definition of "open license"](http://opendefinition.org/licenses/) as described in our CLA? I'm not saying that we should actively attempt to block the applicability of such licenses, but I don't think we should go out of the way to accommodate them either.

[2016-10-20 17:34] zdroid commented on #1109
I agree with @waldyrious. `tldr-pages` seems the best at this moment.

[2016-10-22 09:58] zero-jack commented on #1099
I have the same problem. But I could not get information when executing the same command again or running `tldr -u`.

## ENV

- Mac OSX 10.11.16
- tldr (pip3 install tldr)

## Problem Detailed

[code]
The blank means there is nothing information.

[2016-10-22 10:51] 85pando commented on #1076
This also applies to other open licenses. CC-SA licenses and until judged by a court noone can really say if they are compatible (I'm a layman here myself, but thats the opinion I encounter most often).

[2016-10-22 16:16] waldyrious commented on #1076
I'm pretty sure the legal team at Creative Commons has taken care to ensure that these licenses are shareable and comply with their original vision, which is precisely to avoid the silos that exist with traditional copyright model.

Furthermore, the knowledgeable folks behind the curation of which licenses qualify as open must surely have taken these concerns into account. The fact that they've ex

[2016-10-31 08:08] assemusr commented on #1060
I want to work on this, but I have a problem installing 'tldr' in the first place
![screenshot from 2016-10-31 10-07-39](https://cloud.githubusercontent.com/assets/16057969/19847793/f6c408f4-9f51-11e6-9214-025d0bfbf950.png)

[2016-10-31 08:30] waldyrious commented on #1060
@assemusr thanks for the initiative! The installation error is a known issue which I'm afraid has yet to be resolved in a satisfactory manner (cc @agnivade, @zdroid). For now, the workaround is as described in the [tldr-node-client readme](https://github.com/tldr-pages/tldr-node-client#installing):

sudo npm install -g tldr --user=$(whoami)
[code]

[2016-10-31 08:37] assemusr commented on #1060
Thanks :) Work in progress.

[2016-10-31 08:55] assemusr commented on #1060
This one is already there in /pages/linux
I even thought it's a '/pages/common' one according to KittyKatt's repo. Anyway, I consider this has been done.

[2016-10-31 09:07] assemusr commented on #1097
Working on this..

[2016-10-31 09:21] assemusr commented on #1097
Working on this.. But I quite don't understand how to distinguish between 'common' commands and the system-specific' commands, there're commands listed under 'system-specific' which works as well on other systems while they're not listed under 'common'. for example this one here, where should I list it? I'd appreciate any explanation, thanks in advance.

[2016-10-31 09:51] agnivade commented on #1060
Wow .. we should have caught this. @waldyrious - what do you think ? Shall we close this one ?

[2016-10-31 09:56] agnivade commented on #1097
@assemusr - Yes, there might be discrepancies and we fix it from time to time. Typically, the logic is what you would expect, any platform agnostic command is placed under `common` and platform specific commands are placed under that folder.

However, there are several occasions, where the same command will have different variants of options on different platforms. In those cases, we have differen

[2016-10-31 11:32] assemusr commented on #1015
Working on this..

[2016-10-31 13:17] zdroid commented on #1060
Feel free to close this, there's already [such page](https://github.com/tldr-pages/tldr/blob/master/pages/linux/screenfetch.md).

[2016-10-31 18:03] assemusr commented on #1025
Working on this..

[2016-10-31 18:12] assemusr commented on #997
Working on this..

[2016-10-31 19:06] assemusr commented on #1097
This one is has no options, however I submitted the PR.

[2016-10-31 19:48] assemusr commented on #955
Working on this..

[2016-10-31 23:31] waldyrious commented on #1060
Weird. I wonder if @ASBaumgarten was looking for this page in another platform's folder? The tool does seem to be [pretty platform-agnostic](https://github.com/KittyKatt/screenFetch#how-do-i-get-screenfetch), so maybe we should just move the page?

[2016-11-01 00:16] waldyrious commented on #1025
It's on [pages/linux](https://github.com/tldr-pages/tldr/blob/master/pages/linux/unexpand.md), actually, but good catch! Thanks 👍

[2016-11-01 00:16] #1025 closed

[2016-11-01 03:42] agnivade commented on #1060
makes sense to me.

[2016-11-01 08:30] waldyrious commented on #1060
@assemusr wanna add this one to your belt? ;)

[2016-11-02 06:15] assemusr commented on #1060
@waldyrious How is that supposed to be?

[2016-11-05 18:51] waldyrious commented on #1060
@assemusr this one would have to be done in the command line. In your local clone of the repo, you would do `git mv pages/linux/screenfetch.md pages/common/screenfetch.md`, then commit the change and start a new PR from it. Let me know if anything isn't clear, or if you'd rather leave this for someone else to do.

[2016-11-05 19:14] #955 closed

[2016-11-05 20:33] assemusr commented on #1060
Definitely, I will do that, thanks ;)

[2016-11-06 11:54] #1060 closed

[2016-11-06 13:13] #1097 closed

[2016-11-09 15:27] waldyrious commented on #539
Closing after several months without feedback from the reporter. Please reopen if you can provide the required info.

[2016-11-09 15:27] #539 closed

[2016-11-15 09:18] waldyrious opened #1151 "Add help2man command"
https://www.gnu.org/software/help2man/

[2016-11-17 12:34] waldyrious opened #1155 "Add git cherry-pick command"

[2016-11-19 17:57] ewels commented on #1084
There are loads of bioinformatics tools that could be nicely documented with _tldr_. @waldyrious - would it make sense to keep them separate somehow, so that they don't bloat the main package?

[2016-11-19 19:13] waldyrious commented on #1084
This is something that has to be decided on a case-by-case basis, by those familiar with the tools. There certainly is precedent for it, see git and csvkit (#702).

[2016-11-19 19:19] waldyrious commented on #686
As discussed in #1149, we have now agreed on a maximum 8 examples per page, which with the current format results in a total of 29 lines. Since the clients can choose to render the output in more compact or more spaced-out formats, the limit doesn't correspond to line count specifically, but to command count which IMO is a more useful metric. I'll close this, but since the discussion in #1149 had

[2016-11-19 19:19] #686 closed

[2016-11-19 19:37] waldyrious commented on #1084
I might have misunderstood you. By main package do you mean tldr-pages repo? Separate page stores have been floated before by @ostera (tried to find an issue or PR reference, but I guess we chatted on Gitter rather than here). @ostera could you chime in?

[2016-11-19 21:23] ewels commented on #1084
Yes sorry, I wasn't very clear. I meant the tldr-pages repo. Could be something like the existing `common`/`linux`/`osx` type thing? Or a separate repo. I was vaguely thinking along the lines of the previously mentioned channels with conda. A nice way to collect tools of a similar nature. If you look at the list of bioinformatics software in the [bioconda conda channel](https://bioconda.github.io/

[2016-11-19 22:36] waldyrious commented on #1084
Yes, we'd need to define a standard for where such pages could live (e.g. git repositories with a "pages" directory, like this one) and how existing clients could be made to point to them (adding a new registry to their internal list, rather than having the default tldr pages hardcoded.)

But until then, I don't think it's a bad idea to just add more tools to this repo, since as text files they do

[2016-11-21 18:23] zdroid commented on #1109
Any news on this? Branding is an important part of the project.

[2016-11-21 18:49] waldyrious commented on #1109
I'd like to hear @agnivade and @ostera's responses to my previous comment.

[2016-11-21 21:19] ostera commented on #1109
I reeeeally need to setup tldr.sh

[2016-11-21 23:49] waldyrious opened #1162 "Add top CLI tools from "Who needs a GUI?" article"
@BryanLunduke's "[Who needs a GUI? How to live in a Linux terminal.](http://www.networkworld.com/article/3091139/linux/who-needs-a-gui-how-to-live-in-a-linux-terminal.html)" presents a list of the best CLI tools after attempting to go GUI-less for 30 days. These are probably good candidates for us to cover.

- [x] [mutt](https://en.wikipedia.org/wiki/Mutt_(email_client)) ([common](../blob/master/p

[2016-11-22 04:09] agnivade commented on #1109
My preference is still "tldr pages", but I am okay with "tldr.sh" too.

[2016-11-22 08:23] waldyrious commented on #1109
If tldr.sh is ok with you guys, I'd vote for it too.

@agnivade any thoughts about my arguments for using a hyphen? Besides those, we must also consider that using a space makes it awkward to refer to a single page. Is it a "tldr page" (which would mean the project identifies as "tldr" alone)? Using "tldr-pages page" would be consistent but admittedly kinda silly, so we could instead recommend som

[2016-11-22 08:31] agnivade commented on #1109
Referring to a single page is indeed an issue. My vote is for tldr.sh then.

[2016-11-22 09:41] waldyrious commented on #1109
@zdroid, @ericbn, @Leandros, @fluxw42 what do you guys think? Any change since your last reactions?

[2016-11-22 11:29] Leandros commented on #1109
My vote is for "tldr pages". The dash is overly verbose and doesn't fit well with how the english language is constructed.

[2016-11-22 11:45] waldyrious commented on #1109
@Leandros what about the issues I mentioned [here](https://github.com/tldr-pages/tldr/issues/1109#issuecomment-255104786) and [here](https://github.com/tldr-pages/tldr/issues/1109#issuecomment-262176332)?

[2016-11-22 12:30] zdroid commented on #1109
`tldr.sh` seems perfectly fine to me.

[2016-11-22 12:42] Leandros commented on #1109
`tldr.sh` suggest that it's a program, library or is otherwise related to the linux shell, which is not the case?
Do we want that?

[2016-11-22 13:03] ericbn commented on #1109
I have split thoughts here. On one hand I agree with @waldyrious that since we want to think about rebranding, we could consider something different than "tldr" (I always have to think about "too long didn't read" when typing, because I cannot think of a pronounceable form of "tldr"). On the other hand I like the name and the idea behind it, and then I would go with "tldr pages" (no hyphen)...

[2016-11-24 06:57] ostera commented on #1109
For the record I meant the domain `www.tldr.sh`, which we have registered but haven't setup yet.

[2016-11-24 11:01] waldyrious opened #1163 "Add nl command"
https://en.wikipedia.org/wiki/Nl_(Unix)

[2016-11-26 05:14] #997 closed

[2016-11-26 16:09] waldyrious commented on #1084
Update: samtools have now been added with the merging of #1159, great job @ewels!

I'll create a separate issue to track bedtools, rename this one and close it. If we leave it open-ended, it will never be closed...

[2016-11-26 16:09] #1084 closed

[2016-11-26 16:10] waldyrious opened #1168 "add bedtools"
See http://bedtools.readthedocs.io/en/latest/content/example-usage.html

This issue was originally reported by @mashehu as part of #1084.

[2016-11-29 16:59] waldyrious opened #1172 "add cmake"
- https://cmake.org/cmake/help/latest/manual/cmake.1.html
- https://cmake.org/runningcmake/ (section "Running CMake from the command line")

[2016-11-30 07:11] dikarel opened #1175 "page request: couchdb"
This is the command that runs the server

https://linux.die.net/man/1/couchdb

[2016-11-30 07:11] dikarel opened #1176 "page request: mongod"
This is the command that runs the server

https://linux.die.net/man/1/mongod

[2016-11-30 07:12] dikarel opened #1177 "page request: mysqld"
This is the command that runs the server

https://linux.die.net/man/1/mysqld

[2016-11-30 13:04] dikarel opened #1179 "Add supervisord"
A tool to manage running multiple processes

http://supervisord.org

[2016-11-30 13:05] dikarel opened #1180 "page request: foreman"
A tool to manage running multiple processes

https://ddollar.github.io/foreman

[2016-11-30 13:09] dikarel opened #1181 "Add ansible-galaxy"
A part of the Ansible toolset, it lets developers install third-party plugins (Ansible roles)

This is a separate CLI tool from `ansible`

[2016-11-30 13:11] dikarel opened #1182 "Add ansible-playbook"
Part of the Ansble toolset, it lets developers run pre-defined Ansible commands via configuration files

This is a separate CLI tool from `ansible`

[2016-11-30 13:14] dikarel opened #1183 "Add hugo"
A static website generator

https://github.com/spf13/hugo

[2016-11-30 13:16] dikarel opened #1184 "page request: traefik"
An HTTP reverse proxy that natively supports container technology (Docker, Docker Swarm, Kubernetes)

https://github.com/containous/traefik

[2016-11-30 13:33] dikarel opened #1185 "Add consul"
Distributed key-value store

https://www.consul.io

[2016-11-30 13:34] dikarel opened #1186 "Add vault"
Distributed secret management tool

https://www.vaultproject.io

[2016-12-01 08:59] MrOggy85 opened #1190 "NPM Installation Problem"
Hi,

I really enjoy this program, but I found an issue when I'm installing it thorugh npm on Linux Mint:
`Error: EACCES: permission denied, mkdir '/home/oskar/.tldr`

My machine:
`uname -a Linux oskar-HP-EliteBook-820-G1 3.19.0-32-generic #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`
`npm -v 3.10.8`

I install with the command: `sudo npm i tldr -g`
I need to u

[2016-12-01 09:04] agnivade commented on #1190
You can change the folder permissions. Npm recommends it to have non-root permissions. https://docs.npmjs.com/getting-started/fixing-npm-permissions

Anyways, if you have to use sudo, use this command -
`sudo npm install -g tldr --user=$(whoami)`.

We are working on a proper fix for this.

[2016-12-01 09:04] #1190 closed

[2016-12-08 07:17] C0rn3j commented on #1190
This doesn't work for me on Arch Linux

nodejs 7.2.1-1
npm 4.0.3-1

It still apparently tries to install as root.

[2016-12-09 10:30] waldyrious opened #1192 "Standardize the project description"
Following up on #1109 (unifying the name of the project), I'm putting forward a proposal to unify the project description as well. Currently we have at least three variants:

- "Simplified and community-driven man pages" (in the [repo description](https://github.com/tldr-pages/tldr) and the [website sub-heading](http://tldr-pages.github.io/))
- "A community effort to simplify the beloved man pages

[2016-12-09 12:41] C0rn3j opened #1193 "Add date"
Seems like it was added before and then mysteriously deleted.

https://github.com/tldr-pages/tldr/issues/15

[2016-12-10 13:57] waldyrious commented on #1193
Thanks for the concern, @C0rn3j. Actually, the `date` page was not deleted -- it was split into linux and osx versions in #1043.

[2016-12-10 13:57] #1193 closed

[2016-12-10 15:21] C0rn3j commented on #1193
Oh, so you need to type linux/ or osx/ before it instead it tells you that the page does not exist..

Could this be changed to tell you that the command is actually there but you need to select which specific one you want?

[2016-12-11 02:10] waldyrious commented on #1193
That depends on the clients' implementations. They usually search in the current system's folder for a matching page, and only then look in the common folder. I'm not sure there's an easy way to make this work beyond the clients.

[2016-12-11 02:15] C0rn3j commented on #1193
I should have noted that I was talking about the web version.

[2016-12-11 08:48] waldyrious commented on #1193
Ah, that changes things :) That's @ostera's jurisdicion then. Could you open an issue at https://github.com/ostera/tldr.jsx? Apparently it's only considering pages under `common`, but since web pages can detect the OS of the client, it's conceivable that the same fallback logic used in the desktop clients could be applied to the web client as well.

[2016-12-11 08:53] ostera commented on #1193
It's on the roadmap! https://github.com/ostera/tldr.jsx/issues/70

[2016-12-11 16:08] ostera commented on #1193
@C0rn3j, just released this in v3.7.0 check it out: https://tldr.ostera.io/date :)

[2016-12-11 18:53] ostera commented on #1193
I am sorry I had to revert the change -- I found a bug that was pretty massive :/ making all commands fallback to the platform version of them, which of course failed for commands that didn't have a platform version.

I'll be addressing this in detail during the week.

[2016-12-11 20:23] waldyrious commented on #1193
@ostera you probably should reopen https://github.com/ostera/tldr.jsx/issues/70 then :)

[2016-12-13 10:45] agnivade commented on #1190
The settings of the user `c0rn3j` must be a bit messed up. It tries to install the cache in `/root/.tldr`, which the user doesn't have permission to. If its a normal user, it should try to put it in `/home/c0rn3j/.tldr`.

Sorry about that :(. If you have followed the instructions properly in https://docs.npmjs.com/getting-started/fixing-npm-permissions and it still broke your system, you should ra

[2016-12-13 10:51] C0rn3j commented on #1190
I'm pretty sure I missed the "WARNING:" there, so I'm at fault.

It is a normal user. Can I provide you with some info/logs that'd help you diagnose the issue?
I'm using Arch Linux.

in /etc/sudoers:
c0rn3j ALL=(ALL) ALL

[2016-12-13 11:13] agnivade commented on #1190
Since you have already fixed the issue, I would say there is not much use in looking into it further because we plan to make a proper fix for it, which will change the whole `--user` logic.

[2016-12-13 15:30] agnivade commented on #937
@williamkida - Why was this closed ?

[2016-12-13 16:37] waldyrious commented on #937
I'll reopen for now. If @williamkida presents arguments for closing, we can always reconsider.

[2016-12-14 12:39] williamkida commented on #937
Woops, sorry.

[2016-12-15 09:59] #1155 closed

[2016-12-15 11:44] waldyrious opened #1200 "page request: gitrevisions"
This is just a manpage (see [man gitrevisions](https://git-scm.com/docs/gitrevisions)), not an actual command. Still, it might be useful to provide a summarized version that other git command pages can point to.

I'm particularly concerned about the confusion between `^` and `~`. The first one only makes sense for merge commits, but is often used to get the ancestor of a commit -- see [this page](

[2016-12-17 15:02] waldyrious commented on #1056
I came across this nifty visualization of node packages' dependencies, and thought it could be interesting to share here tldr-node-client's tree.

Interactive version: http://npm.anvaka.com/#/view/2d/tldr

Screenshot:
<img width="879" alt="screenshot 2016-12-17 15 00 34" src="https://cloud.githubusercontent.com/assets/478237/21287695/a4ce1868-c469-11e6-9683-7607953406e8.png">

`requests` and `unzi

[2016-12-19 03:28] rprieto commented on #1056
Hi everyone! Sorry I haven't been active in a long time for many different reasons :( I was pinged above so I'll explain my initial reasoning on having a single client :)

I don't know if `lz4` or `scrypt` are comparable. They are algorithms or libraries that *need* implementations in many languages, because users are developers who will integrate with them in several languages.

I'd say TLDR is a

[2016-12-19 03:39] rprieto commented on #1076
Hi, to answer one of the questions in #1048: I don't think I need to be mentioned in the LICENSE at all. This was just the way it was setup at first with my 0 knowledge of licenses :) I'd rather see `Copyright: The TLDR team at https://github.com/tldr-pages`.

[2016-12-19 16:33] oxguy3 commented on #1076
Hey, just wanted to let y'all know that I went ahead and signed the CLA. I'm fine with any license, but a more permissive license is definitely preferable. The MIT License would be my top choice (but CC0/public domain are fine as well).

[2016-12-19 21:55] waldyrious commented on #1076
Thanks for the clarification @rprieto. I'll make the change in the license file then. @oxguy3 thanks for signing also :) we're slowly getting closer to the point where a license change will become practical.

[2016-12-21 23:31] waldyrious opened #1209 "Write a maintainer's guide"
We need to have a well-defined (public) procedure for handling PRs, since there's a chronic issue of a PR backlog we can't seem to get rid of entirely. It could be something like:

- PRs will be merged once they (1) pass the automated tests (Travis CI and CLA signing) without issues, (2) have the review comments addressed (3) get the thumbs-up of two maintainers -- the second one can do the mergin

[2016-12-21 23:37] #1015 closed

[2016-12-22 18:33] agnivade commented on #1200
Hmm .. I still feel that this doesn't need a tldr page. Somehow, it doesn't feel right. I have always imagined tldr pages to be a friendly alternative to man pages. Though sometimes, exceptions can be made. I feel that `gitrevisions` doesn't need to be a page.

[2016-12-25 00:19] waldyrious commented on #1066
This has been reopened in #1207.

[2016-12-27 12:25] waldyrious opened #1213 "Add pygmentize"
http://pygments.org/docs/cmdline/

[2016-12-29 17:03] waldyrious opened #1218 "page request: astyle"
Existing documentation at http://astyle.sourceforge.net/astyle.html#_Usage and http://astyle.sourceforge.net/astyle.html#_Command_Line_Only

[2016-12-31 15:23] agnivade commented on #1099
Hi @zero-jack and @ramwin - it seems like @felixonmars is not active. I would recommend trying out the node client if its a persistent issue.

[2016-12-31 15:32] agnivade commented on #1192
"A community-curated collection of simplified and example-driven man pages." is too big for my taste if we are planning to use it as a slogan.

I think the main problem is with "community-curated". I am good with just "curated". Similar to the [awesome lists](https://github.com/sindresorhus/awesome). They also mention "curated".

"A curated collection of simplified and example-driven man pages." f

[2016-12-31 15:42] agnivade commented on #1209
Agree on all points. :100:

I do have some concerns on the 3rd point though. I had spent quite some time merging old PRs. And it seems like the backlog is building up again. Now, I just don't feel like doing the whole exercise again. :disappointed:  And imposing the task of making the necessary changes(which might include reading up the man page and studying the command) to the maintainers is a bi

[2016-12-31 23:34] waldyrious commented on #1192
I think the "community" aspect is way more important than the "curated" part. Do you think there could be a way to rephrase it more concisely while preserving the community focus?

[2016-12-31 23:40] waldyrious commented on #1209
We can leave it at the discretion of the maintainers: the explicit guidelines would make the hit clear to everyone when the maintainers could override a PR's author without stepping on any toes, but that would be a right, not a duty. This way, if merging the PR would entail too much work, it would be ok to simply close the PR with a note to that effect. Sounds good?

[2017-01-01 13:56] ostera commented on #1192
I personally think we can't get much more concise than
[code]

And any attempt at reducing it's length further down would imply a change in meaning.

HOWEVER, I can see the the `Simplified` dropping, and using only

[code]

Maybe even

[code]

Of course this is just the tagline. It needs to be have a punch. Right below this, the whole description of the project makes more sense as

------

Now if

[2017-01-01 17:53] waldyrious commented on #1209
Sure, the ideia is that either resolution would be acceptable (and predictable), so maintainers would have the option to choose whatever they deem appropriate given the specifics of the situation.

[2017-01-02 06:02] agnivade commented on #1209
Great. Where do you think we should put this ?

[2017-01-03 14:35] MarloweW commented on #1179
I would like to add this, use supervisord a lot in production.

[2017-01-03 17:30] agnivade commented on #1179
@MarloweW - no need to assign anyone. Just send a PR ! Thanks for the initiative !

[2017-01-03 19:22] waldyrious commented on #1076
@85pando I guess it had never dawned on me that CC-BY vs. CC-BY-SA is actually quite comparable to MIT vs. GPL. [This comment](https://github.com/github/choosealicense.com/pull/470#issuecomment-270193352) made me see things differently, and yeah, I guess it would be more in line with the spirit of the project's current licensing to move the pages to CC-BY rather than CC-BY-SA. (CC0 would be closer

[2017-01-04 22:47] waldyrious commented on #1209
I'm thinking of adding this to a [GOVERNANCE.md page](http://modeling-languages.com/add-a-governance-md-file-to-all-your-oss-projects/) (something quite simple and free-form -- just a list of the guidelines for maintainership and handling of issues and PRs that we've been following so far). This would also serve as a great place to implement #1117.

Before going ahead, I'd like to hear someone els

[2017-01-04 22:50] waldyrious commented on #1209
In the meantime, @agnivade, do you think we could repurpose @tldr-bot to (also) perform the necessary pinging after the periods we define here expire? You've been doing that manually, but we should automate as much of this activity as possible, so that contributor/maintainer time can be maximized for actual changes :)

[2017-01-05 04:39] agnivade commented on #1209
That sounds like a nice idea for a new project. I don't think there are any tools currently which do that(need to check though).

However, we still have to resolve the original problem of tldr-bot (the issue of it not getting the token for PRs coming from a different repo). Getting a separate server for ourselves seems to be the only way to go.

[2017-01-05 13:04] waldyrious commented on #1209
Sure. I guess @ostera also could have something to say here :)

I wonder if there's any host for server-side services that offers a free plan for FOSS projects, though, like Travis and others do for the CI side of things. Any ideas?

[2017-01-05 15:54] agnivade commented on #1209
We could use heroku, but their free tier is too poor. Don't know about any other services.

[2017-01-06 06:52] #1179 closed

[2017-01-07 11:43] zdroid commented on #266
@waldyrious I think this issue should be closed. Do you agree? If `cheat` community is still interested in the merge, we can open another issue. This one is about bropages.

[2017-01-07 14:19] waldyrious commented on #266
There hasn't been any activity or interest in https://github.com/hubsmoke/bro/issues/57 so I agree that we shouldn't keep this open waiting for feedback that shows no signs of being forthcoming.

On the other hand, collaborating with `cheat` looks potentially much more likely, especially since @chrisallenlane has commented here and has shown interest. Considering that much of the discussion on thi

[2017-01-07 14:28] waldyrious commented on #266
By the way, @M3kH: are you still interested in a collaboration along the lines that you suggested [above](#issuecomment-167663199)? If so, that would also be a good option for collaboration between tldr-pages, cheat, and [others](https://github.com/chrisallenlane/cheat/wiki/Related-Projects).

[2017-01-07 17:56] waldyrious opened #1235 "Improve brew.md"
From [this comment](https://github.com/tldr-pages/tldr/pull/1229#issuecomment-270600770) by @MarloweW:

We should also revise the `list` example, as discussed [here](https://github.com/tldr-pages/tldr/pull/1229#discussion_r94899548), to get rid of the square brackets, which can be confusing. Ideally that could be done by rewording the description rather than splitting the example in two, since we'

[2017-01-09 16:05] MarloweW commented on #1235
Since I commented that, I'll fire a PR for this.

[2017-01-09 21:02] waldyrious opened #1239 "add -pie example to perl page"
Something like this:

[code]

Inspired in http://www.itfromallangles.com/2012/05/bash-a-better-way-to-sed/

More info:
- [http://perlpie.com](https://web.archive.org/web/20161230202527id_/http://www.perlpie.com/)
- http://explainshell.com/explain?cmd=perl+-p

[2017-01-09 21:33] waldyrious commented on #1239
Maybe add the `-0` option to the second example, for multi-line search-replace.

[2017-01-15 05:58] #1235 closed

[2017-01-15 15:56] waldyrious opened #1246 "curl: improve last example"
The last example in the [curl.md](https://github.com/tldr-pages/tldr/blob/master/pages/common/curl.md) page is:

    - Pass client certificate and key for a secure resource:

    `curl -v -key {{key.pem}} -cacert {{ca.pem}} -cert {{client.pem}} -k {{https://example.com}}`

There are a few issues with this:

- It [appears](http://manpages.ubuntu.com/manpages/precise/en/man1/curl.1.html) that the fu

[2017-01-16 17:28] be5invis commented on #1070
@waldyrious For Windows, commands in CMD and PowerShell are DIFFERENT. For example, `dir` is a CMD built-in, also an alias of `Get-ChildItem`.
(Even `ls` in PowerShell is an alias, though they are going to remove it.)

[2017-01-16 17:46] waldyrious commented on #1070
@be5invis thanks for bringing that up. It is certainly something we need to consider (e.g. we currently treat all linuxes the same, even though some of the commands are shell-specific). See #190 and #816 for previous discussion.

That said, that problem does not affect this issue: the former deals with *how* we organize the command pages we do have, while this issue is about identifying *which* co

[2017-01-16 17:51] be5invis commented on #1070
@waldyrious The full PowerShell commands on my PC:

[code]

[2017-01-18 15:03] waldyrious commented on #1082
Another field proposal: original manpage (#1248)

[2017-01-22 11:32] Cs4r commented on #542
@zqqf16 It worked for me, thanks!

[2017-01-22 19:05] waldyrious commented on #542
Since the Python client now has color customization information in the README, I think it's safe to close this issue. If anyone has similar problems, please open issues in the client's own repos, where they're more likely to get attention from the client's authors.

[2017-01-22 19:05] #542 closed

[2017-01-23 10:19] d33tah commented on #1076
@waldyrious so, am I supposed to make a specific choice or something? I flicked through this discussion and it looks like you guys hadn't decided what you want yet. Let me know when you do and I'll tell you if I like it - quite possibly I'll say that I do.

[2017-01-23 10:28] waldyrious commented on #1076
@d33tah you were pinged (as were the others) about signing the CLA, precisely to prevent the license transition from depending on synchronous agreement of all the hundreds of involved contributors, which would be a nightmare to manage (case in point, look how long it's taken us to gather the existing signatures in the asynchronous CLA process).

The exact licence we'll change into hasn't been set

[2017-01-23 17:13] nashley opened #1252 "Add adduser"
It would nice for the `adduser` command to be added, since the command itself is rather simple, but the man page is not. The man page is included [here](http://linuxcommand.org/man_pages/adduser8.html).

[2017-01-24 21:41] hillam opened #1253 "Add wodim"
I've been working on an application that uses this cdrom burning command. There are a lot of options but the man page is very vague/unclear about a lot of things.

[2017-01-27 09:39] #1182 closed

[2017-02-01 02:29] pepa65 opened #1262 "How to get colors?"
I installed by: `sudo npm install -g tldr`
But it's only black & white. How can I get colors??

[2017-02-01 05:11] agnivade commented on #1262
Please have a look at this- https://github.com/tldr-pages/tldr-node-client#configuration

[2017-02-01 09:37] waldyrious commented on #1262
The instructions linked by @agnivade should solve this issue, but please confirm if not and we'll investigate further.

[2017-02-01 09:37] #1262 closed

[2017-02-01 13:40] pepa65 commented on #1262
Thanks for your help. Sorry for asking in the wrong place. So I downloaded `https://raw.githubusercontent.com/tldr-pages/tldr-node-client/master/config.json` to `$HOME/.tldrrc` but I still have no colors. I do have some italics (which I've never seen on my terminal) but I had those before copying as well. It doesn't seem to make any difference... Is there another client you can recommend?

[2017-02-01 18:35] agnivade commented on #1262
You have to change the "theme" variable to a different one to get colors. Choose from "base16", "ocean" or "matrix". All of this is already mentioned in the link. Let me know if its still confusing.

[2017-02-02 01:14] pepa65 commented on #1262
OK, gotcha. This indeed works. I have now also installed the C++ client and the bash client, and I guess they all have different locations for their colors..? The C++ one worked out of the box with color.

[2017-02-02 09:57] waldyrious commented on #1262
Yes, each client has their own defaults (which is one of the reasons it makes sense to have multiple clients).

[2017-02-02 13:17] abhijit-paul opened #1263 "Multi-line code does not render in CLI"
Markdown supports multi-line code-snippet in the form of
<pre>
[code]

[2017-02-02 15:42] waldyrious commented on #1263
What's the client that you're using? I.e., how did you install it?

[2017-02-02 17:01] pepa65 commented on #1262
I guess most of then build a pages cache in different locations as well.

[2017-02-02 17:44] agnivade commented on #1263
As per our [format](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md#markdown-format) here, multi-line code snippets are not supported. All the pages have a specific format which is written in markdown. But the entire markdown spec is not supposed to work.

Now coming to the issue at hand, I believe you are talking about #1245. This is a problem with the linter actually. It is suppos

[2017-02-02 23:28] waldyrious commented on #1263
😖 Ugh, I misread the initial report. I assumed this was about a multi-line (main) description -- sorry about that.

[2017-02-03 17:20] jeeftor opened #1265 "cowsay"
So the `cowsay` command allows you to use lots of "different" options for the command.  Is it appropriate to update the TLDR page to print out how you could get a list of the different `cowsay` options?

I've used the following command:

`ls /usr/share/cowsay -1 | rev | cut -c 5- | rev | xargs -I _ cowsay -f _ cowsay -f _`

to generate a list but didnt know if it fit into the overall mission of TL

[2017-02-03 19:41] waldyrious commented on #1265
If there are 3 or 4 options, we can add them to the example description, or as multiple tokens separated by pipes. If there are many, then we could point out the usual location of the directory in the example description.

A similar case [happened with the assimp command](https://github.com/tldr-pages/tldr/pull/1028#issuecomment-257071872) and the discussion could be used as reference.

[2017-02-07 14:01] pepa65 commented on #1065
Super helpful notes, deserving of a more prominent place!
Following Ray Lee, for the cache I first look if `~/.config` exists, and then put a `tldr` (no dot) directory there, else it goes to `~/.tldr` and I think that's a good practice, but I'm happy to change it. Maybe it's even desirable that various clients share the same cache? (On my system: node client; cpp-client uses `~/.tldrc`)

Ray Lee's

[2017-02-19 10:26] #1265 closed

[2017-02-19 10:30] jeeftor commented on #1209
Could ya'll also add more maintainers?  How many of you guys are actually active?

[2017-02-19 15:01] agnivade commented on #1209
Yea absolutely. I have been thinking of adding new ppl. More thoughts on that here - https://github.com/tldr-pages/tldr/issues/1117.

Me and @waldyrious usually are. @ostera also chimes in from time to time.

Will you be interested in joining as a member ? :wink: Don't hesitate to hop on to our gitter channel if you have more questions.

[2017-02-24 07:19] #1252 closed

[2017-02-24 19:01] sebelk opened #1281 "Pager"
It would be nice that tldr supports pagers such as *less*

Greets!

[2017-02-24 19:17] agnivade commented on #1281
Can you clarify ?

Do you mean a tldr page for the `less` command ? Or that the output of `tldr <command>` should be paged ?

[2017-02-24 19:24] sebelk commented on #1281
@agnivade I mean the output `tldr <command> `should be paged. Ok, I know that I could pipe it :)

[2017-02-25 03:49] agnivade commented on #1281
@sebelk - That really depends on the clients to implement it. Moreover, we have a hard limit of 8 examples. So I think rarely you will see content flowing out of screen so that you have to scroll. Paging for such an use case seems like an overkill. And I am not sure if paging works in Windows or not.

[2017-02-26 13:54] mflint commented on #972
PR #1112 was merged - can we close this issue?

[2017-02-26 14:14] mflint commented on #784
I'm also wary about making changes to the agreed format which may not be friendly to clients which display the raw markdown as plain text.

Alternatively, we could supply an extra file for metadata. So `foo.md` remains unchanged, but a new file `foo.meta.yaml` contains some metadata:

[code]

Another benefit is that clients can choose to ignore this extra file, and wouldn't need to change their ma

[2017-02-26 14:18] agnivade commented on #972
Yep ! Maybe the auto-close text wasn't correct somehow.

[2017-02-26 14:18] #972 closed

[2017-02-26 16:14] rafaelcastrocouto commented on #972
Thanks a lot everybody!

[2017-02-26 18:28] agnivade commented on #784
I guess the point here is the "direct" linking of pages which only makes sense in web clients. For command line clients like the node-client, there is already a see-also section.

[2017-02-27 19:34] kevingimbel opened #1282 "[xargs] Missing output in zsh"
I just installed `tldr` and tried it with a few commands. They all worked but `xargs` just shows a broken template as seen below.

<img width="962" alt="screen shot 2017-02-27 at 20 25 43" src="https://cloud.githubusercontent.com/assets/2161714/23376157/70c252d2-fd2b-11e6-8226-8222871bd5ac.png">

My system:

**MacOS:** Sierra (10.12.1)
**zsh:** 5.2 (x86_64-apple-darwin15.6.0)
**tldr:** 1.7.1

I lo

[2017-02-28 04:25] agnivade commented on #1282
Thanks for reporting. This seems to be a dupe of https://github.com/tldr-pages/tldr-node-client/issues/139. Lets track that one. In future, please open an issue on the corresponding client page.

[2017-02-28 04:25] #1282 closed

[2017-03-07 23:01] mbangert-smarsh opened #1293 "Passing "*" as the only parameter to TLDR results in an AutoRelease Pool stats being sent to stdout"
If you execute tldr with ***** as the only parameter AutoRelease Pool stats are printed in the terminal.  Note, if you perform this actions multiple times in quick succession you will end up seeing the expected message.  However, if you wait five minutes or more you will be able to reproduce the error.

OS Information
`ProductName:	Mac OS X
ProductVersion:	10.12.3
BuildVersion:	16D32`

TLDR build

[2017-03-08 03:48] agnivade commented on #1293
Which client is this ?

[2017-03-10 03:36] amio opened #1298 "Is there a changelog for v2.0.0?"
Looks like a big update

[2017-03-10 04:38] agnivade commented on #1298
I am guessing you are talking about the node client here. Its big because the entire codebase was updated to ES6 syntax. Otherwise, there are just a couple of bug fixes and feature additions. More details here - https://github.com/tldr-pages/tldr-node-client/releases/tag/v2.0.0

[2017-03-10 04:38] #1298 closed

[2017-03-11 21:21] waldyrious commented on #876
@SShrike and @jasonkarns, this is something we might include in the client spec that is being defined at #1065. Please comment there if you think it should be enforced for all clients, or not.

[2017-03-11 21:39] waldyrious commented on #1065
What do you think about #876?

In that case we would need to include that in the client spec. I don't see why it wouldn't work, but I'd prefer if other client authors commented here.

Related previous discussions: #336, #343, #718. I think we should shorten the archive formats we officially provide for clients as much as possible, to encourage harmonization and reduce endpoints we must keep workin

[2017-03-12 00:29] pepa65 commented on #343
Since we're talking about roughly 100kB for the whole archive, smaller than most current webpages, I think downloading the whole archive shouldn't be such a problem every once in a while.

[2017-03-12 00:31] pepa65 commented on #344
The pages archive is currently in the order of 100kB right? That doesn't qualify as a large file since decades...

[2017-03-12 00:32] pepa65 commented on #1065
It would be good if there is a shared location among all installed clients, as the data is the same. (Just how expiration is handled might be different.) Because the pages are data, it should then use  `$XDG_DATA_HOME` (or when not set or empty: `$HOME/.local/share`). I'm happy to change this.

The most important consideration when using Github for pages retrieval is availability, because of Githu

[2017-03-12 06:05] agnivade commented on #1281
@sebelk - I am going to close this one now. Feel free to reopen if you feel something else should be done here.

[2017-03-12 06:05] #1281 closed

[2017-03-12 06:08] agnivade commented on #1209
@waldyrious - Now that you are back, would you like to take care of this -

This has been quite some time pending, and pretty important now that we have a new collaborator(@jeeftor).

[2017-03-12 11:59] waldyrious commented on #1065
I'm wondering if, instead of requiring a full content dump download, we could implement a partial update "service" that all clients could use if they don't want to use git -- specifically, a regularly scheduled "release" package (say once a week) which would be built automatically and placed in the assets directory of `http://tldr-pages.github.io`, containing an archive of all the pages changed in

[2017-03-12 12:24] pepa65 commented on #1065
I think the overhead on the server is almost more if every non-existent/too-old page has to be downloaded separately, since we're looking at a roughly 100kB download for the whole package -- which comes with a consistent & up-to-date index.json.

[2017-03-12 12:39] agnivade commented on #1065
@waldyrious - I think its a bit too complicated.

[2017-03-12 17:21] pepa65 commented on #1293
This is a client issue, and should be reported to the client. It also depends on the shell used, and the shell settings.

[2017-03-12 17:41] pepa65 commented on #1056
I see no mention of bash here, but it is very platform independent, has only one dependency (bash) that is likely available everywhere people are interested in using tldr as a commandline client, and the single 'binary' is very small.

That said, I don't see the advantage of trying to push one client over others.

[2017-03-12 18:28] waldyrious commented on #1076
@onesuper, @Cvetomird91, @dylanrees, @naxoc, @britter, @mumumu, @Larry850806, @egilkh, @bripkens and @matthewgao: we'd really appreciate if you could take a look at the [tldr-pages CLA](https://cla-assistant.io/tldr-pages/tldr) (adopted in #1048), sign it if you agree with it, or let us know if you have any objections. Thanks!

[2017-03-13 09:55] britter commented on #1076
@waldyrious done!

[2017-03-13 14:48] jasonkarns commented on #1065
Throwing my vote in for adhering to the XDG spec for where to place data.

The TLDR config file should be under `$XDG_CONFIG_HOME/tldr` (so probably named `$XDG_CONFIG_HOME/tldr/config.json` or some such.

It can be argued that the page data is "data" and be placed under `$XDG_DATA_HOME/tldr`. However, it's already been referred to as a "cache" in this thread a number of times. And the app would w

[2017-03-13 17:12] pepa65 commented on #1065
I understand the case for `$XDG_CACHE_HOME/tldr`. I prefer to see the pages as data, and I don't expect that many will change that often once they have been added and amended during a period of settling. I've also found that downloading the whole 100-200 kB archive is really quick, and it comes with a matching index.json. Doing that once a month or so is not too bandwidth intensive. I think storin

[2017-03-13 18:31] jasonkarns commented on #1065
@pepa65 generally agree. I think the pages do feel more like data than cache and I might switch my vote on that one.

+ for cache: the app runs without them (since it will refetch/repopulate the cache as necessary)
+ for data: pages change rarely
+ for data: pages are certainly _not_ "nonessential"

One thing about leveraging cache is that it virtually eliminates the need to build a feature for wi

[2017-03-13 18:39] pepa65 commented on #1065
Sounds promising! The tldr-bash-client has already standardized on it (IF it exists... Otherwise `$HOME/.local/share/tldr`).

[2017-03-13 18:53] jasonkarns commented on #1065
Sweet! (you're probably already aware) `$HOME/.local/share` is the default value for `$XDG_DATA_HOME`. So this is peak xdg compliance! (assuming that the .tldrrc also gets moved to `$XDG_CONFIG_HOME/tldr/config.json` falling back to `$HOME/.config/tldr/config.json`

[2017-03-13 19:16] pepa65 commented on #1065
As bash isn't well suited to processing json, all configuration can be done inline, no separate file needed.

[2017-03-13 19:23] jasonkarns commented on #1065
Sure, sure. I only mentioned that because of @agnivade's [comment](https://github.com/tldr-pages/tldr/issues/1065#issuecomment-251053184)

[2017-03-16 08:43] naxoc commented on #1076
Done!

[2017-03-16 16:56] waldyrious commented on #1076
Thanks guys, for the fast response!

@fordhurley, @Leandros, @kuanyui, @jegtnes, @pranavraja, @hugovk, @sn0w, @ntodd, @jezeniel, @jlinder, @appleboy, @AdamSulucz, @jkbrzt, @shadowfax92, @ignazioc, @therealmarv, @rakeshdas1, @shybovycha, @rselwyn, @dbrgn, @dyng, @jlems, @sfarzy, @kmoe, @rcorrie, @byjord, @phillips1012, @RoryCrispin, @axelcdv, @tjwudi, @kumon, @jeanleonino, @rnas, @gwanii, @charlest

[2017-03-17 03:51] kuanyui commented on #1076
I'm here to declare: I'm to abandon all rights of my contribution for this repository; so please feel free to change license to whatever you want in the future and don't notice me again. :-)

[2017-03-18 21:23] tjwudi commented on #1076
Signed. I delegate these sort of decision to you guys since my contribution were pretty small ;)

[2017-03-19 01:29] MikeinRealLife commented on #1246
I will take a look at this one

[2017-03-21 03:15] phpmaple opened #1304 "page request: codesign"

[2017-03-21 03:58] agnivade commented on #1293
@mbangert-smarsh - I thought of doing the initial discussion here and then create an issue in the respective client's page, but I am going to close now this due to inactivity. Feel free to reopen anytime.

[2017-03-21 03:58] #1293 closed

[2017-03-21 03:59] #1004 closed

[2017-03-21 04:01] agnivade commented on #1304
We would appreciate it, if you can send a PR yourself !

[2017-03-21 04:30] morrme commented on #1239
Is this issue one that you'd just like your suggestions added and formatted onto the correct page?

[2017-03-21 04:32] morrme commented on #1177
I would like to help with this one.  I do not see a PR, assignment or any other activity on it. Is there a process for "claiming" issues?

[2017-03-21 04:55] agnivade commented on #1177
Yes please !

Just send a PR referring this issue in it. And please take a look at CONTRIBUTING.md.

[2017-03-21 04:59] agnivade commented on #1239
Yes, its a suggestion to improve the page. Anyone is free to take this up and send a PR.

[2017-03-21 12:47] waldyrious commented on #1209
Slowly doing so -- there's a big backlog to process, but I'll get it done :)

just the other day I [submitted such a document](https://github.com/hamstar/Wikimate/pull/83) to another project I help maintain, and I'm planning on submitting something quite similar for tldr-pages. I will probably prioritize handling the open PRs first, but I've set a reminder to come back to this once that backlog is

[2017-03-21 12:54] waldyrious commented on #1209
As a not to self: some of the things we'll want in that document are:
- a guideline that all trivial fixes (typos, syntax fixes, etc.) are to be made by the maintainers
- an explicit mention of our principles of enabling web-based contributions as much as possible (including offering to perform rebases or other complex git operations on behalf of contributors, or helping them if they want to do it

[2017-03-23 13:01] waldyrious commented on #481
This issue should be addressed once #958 is wrapped up. We also must ensure that clients can process the markup we eventually choose for this (something to keep in mind in #1065).

[2017-03-23 17:57] jeeftor commented on #1304
I fully agree - no idea what the code sign command is unless you are talking `OS X`

[2017-03-25 04:26] morrme commented on #1246
I have just tested this, and the full-word options work with both single and double dashes.  It may still be useful to go with the conventions used in the documentation of this command, or possibly mention that either way works fine.

[2017-03-25 21:42] rcorrie commented on #1076
signed

[2017-03-30 14:25] edouard-lopez opened #1314 "install should work"
After installation the `tldr` command did not output anything. I had to run `tldr --update` which is nowhere to see in the `README.md`.

Could you add the `tldr --update` to the `postinstall` hook?

[code]

[2017-03-30 15:33] agnivade commented on #1314
Hey @edouard-lopez - couple of things -

- First of all, this is the tldr pages repo. Your issue actually belongs with the tldr-node client repo. :smile:
- Secondly, you don't actually need to run `tldr --update` at all. There was an issue with running `tldr --update` as a postinstall [step](https://github.com/tldr-pages/tldr-node-client/pull/122). So we changed it to update every time when a page

[2017-04-01 21:08] dgadelha opened #1316 "Add losetup"
[man page is available here](https://linux.die.net/man/8/losetup)

[2017-04-02 13:28] edouard-lopez commented on #1314
@agnivade `2.0.0` is the latest available version from NPM.

[2017-04-02 13:31] agnivade commented on #1314
Yes, I know. Which is the reason why this shouldn't happen. But since it *is* happening, I guess there is some installation issue somewhere. That's why I had asked you to delete everything and  reinstall. And btw, I am assuming your node version is greater than 4.7 ?

[2017-04-03 08:58] besseker commented on #1314
Had 100% same issue.
Had to use
`tldr --update`

My node version was 4.2.6.
After that updated to 7.8.0

If the node version is important, why won't mention it in README file?
As "tldr" is quite useful for newbies like me, I believe it is important to make installation clear and understandable for them.

[2017-04-03 09:01] kwhsiung commented on #1314
I have same issue.
But my node version is 6.10.0, which is greater than 4.7.

After I install tldr@1.7.1, the problem solved.

[2017-04-03 09:14] edouard-lopez commented on #1314
@agnivade the version I gave you was after the reinstall

[code]

[code]

[2017-04-03 09:22] agnivade commented on #1314
Sorry, my npm knowledge is still limited. I had mentioned in the package.json
[code]

I had assumed that on machines with node version less than 4.7, it will throw an error. I think on machines where tldr is already installed with node version less than 4.7, on updating the npm package, it goes till the version where lower node versions were allowed. And then it fails silently. I will test it out

[2017-04-03 11:18] kwhsiung commented on #1314
@agnivade - I think I performing a upgrade by `$ npm install -g tldr,` because I uninstall tldr and install tldr@2.0.0 now, the problem solved too.

[2017-04-03 13:22] agnivade commented on #1314
@kwhsiung - Sorry, I am a bit confused. You initially said going back to 1.7.1 solved your problem. Now you are saying that after doing `npm install -g tldr` solved your problem. But `npm install -g tldr` is supposed to install 2.0.0.

So what version do you have now ?

[2017-04-03 14:22] kwhsiung commented on #1314
@agnivade - Sorry about that I didn't explain very clearly.

First of all, I am not installing tldr for the first time, but I forgot about it, so I am doing `$ npm install -g tldr` in the beginning before I want to using tldr, which I think I was performing an upgrade. At this time, I had the same issue here, so I delete everything of my tldr by `$ npm uninstall -g tldr` and freshly install tldr@1

[2017-04-14 07:56] sbrl commented on #787
@waldyrious What happens if you edit the original file and then do a `tldr crontab`? Does it update?

[2017-04-14 21:58] waldyrious commented on #1265
For future reference: this was closed in #1266. I have opened #1323 as I was unable to comment in that discussion.

[2017-04-15 00:13] waldyrious commented on #1246
Let's just use double dashes, no need to reinforce nonstandard option formats :) would you like to submit a PR making that change, @morrme?

[2017-04-15 00:22] morrme commented on #1246
@waldyrious sure. should i remove -v at the same time?

[2017-04-15 00:32] waldyrious commented on #787
@sbrl now it doesn't print anything -- no "Page not found" message, no anything :/

[2017-04-15 02:51] morrme commented on #1246
@waldyrious this is done and ready for review.

[2017-04-15 08:50] waldyrious commented on #1246
This issue is not yet entirely resolved -- the unclarity of --key, --cert and --cacert should probably be resolved. Quoting the first comment:

[2017-04-15 10:37] #1163 closed

[2017-04-15 10:38] sbrl commented on #787
Ouch. Uh oh!

[2017-04-15 11:53] waldyrious opened #1327 "composer: add page"
See #975 and #1230 for previous discussion. @sbrl has expressed interest in doing this.

[2017-04-15 16:02] sbrl commented on #1327
Opened #1329.

[2017-04-15 19:23] morrme commented on #1246
@waldyrious `--cert` is the individual cert file, `--cacert` is the cert of the Certificate Authority (that granted the `cert` )  , and `--key` is the location of the private key.

[2017-04-16 15:36] mflint commented on #784
For any causal readers: _node-client_  looks for command-names in code blocks. So the `csvcut` markdown contains `` `cut` ``, which is identified as the name of another command.

I like this! Copying the idea for my [iOS client](https://github.com/mflint/ios-tldr-viewer).

[2017-04-16 16:43] rudinskizvonimir commented on #1162
Hi, I've started to document some of these.
Should be done very soon.

[2017-04-17 14:43] waldyrious commented on #1246
@morrme thanks for the clarification. Do you have any suggestion about how the example description could be improved to make this clear? I tried to rewrite it, but the best I could come up with was excessively long:

[2017-04-18 08:01] agnivade commented on #1246
Do we really need `--cacert` for it to work ? I am no security expert but AFAIR, I never used this.

[2017-04-18 08:28] morrme commented on #1246
@agnivade --cacert is only required when the CA in question is not already in the "approved"/built in list of CAs, for example an internal CA

[2017-04-18 08:46] xJeremie opened #1338 "Must manual run `--update` to make it work"
I supposed after install `tldr` through `npm`, I just need type `tldr tar` and it will work.

But I see nothing. After I try `tldr --help` and know about `tldr --update`. Tried it and worked as expect.

I didn't know it a bug or feature?

[2017-04-18 09:01] agnivade commented on #1338
What's your tldr version ?

[2017-04-18 09:04] agnivade commented on #1246
Right, so isn't that a rare case ?

[2017-04-18 09:05] morrme commented on #1246
@agnivade i'd say so.

[2017-04-18 12:02] agnivade commented on #1246
Ok, so I suggest we leave it out. Will make the description shorter and simpler.

[2017-04-21 09:47] agnivade commented on #1314
Its not a node version issue. It seems to be a bug from the code. Filed https://github.com/tldr-pages/tldr-node-client/issues/143 for tracking.

[2017-04-21 09:47] #1314 closed

[2017-04-21 09:48] agnivade commented on #1338
Filed https://github.com/tldr-pages/tldr-node-client/issues/143 for tracking.

[2017-04-21 09:48] #1338 closed

[2017-04-23 15:56] sbrl commented on #1327
#1329 is now merged, so this issue can now be closed.

[2017-04-23 15:56] #1327 closed

[2017-04-24 02:25] jonschoning opened #1348 "tldr --update fails after install via `yarn add`"
[code]

https://gist.github.com/jonschoning/3e65ee7311fa55d8cc8d4287ff5707bf

[2017-04-24 04:37] agnivade commented on #1348
I am unable to repro this. Also, actually you dont need to manually run `--update`, tldr will auto-update when it fails to find a command.

Can you try something like this `tldr sshblabla` ?

[2017-04-24 05:37] jonschoning commented on #1348
(Ubuntu 16.10)
[code]

[2017-04-25 21:59] waldyrious commented on #343
@pepa65 while that approach may work now, IMO it's neither scalable nor elegant. But in any case, this issue was created back when clients (especially the node one) were tightly coupled to the tldr-pages repo, and we want to move away from that, by providing a spec that any client can follow.

So, as long as the clients follow the spec's recommendations, they could still use the full zip download

[2017-04-25 22:06] waldyrious commented on #344
I'd say we should close this issue, for the same reason given in #343:

Also, the pages archive is currently being kept in the [tldr-pages/tldr-pages.github.io](https://github.com/tldr-pages/tldr-pages.github.io) repo (in the "assets" folder), so the main tldr-pages repo isn't being polluted by it. Of course, we would rather not pollute either repo, but I don't think it's a big enough deal to warr

[2017-04-25 22:06] #344 closed

[2017-04-26 10:57] waldyrious opened #1350 "Add ping functionaly to tldr-bot"
tldr-bot was first introduced in #1066, as one of the measures identified in #980 to streamline the contribution process. (The idea had been raised as early as #278.)

Besides reporting the linter errors inline for convenience, it would be nice to expand its functionality to automate as much of the maintenance process as possible, in order to avoid burn-out and prevent threads from going stale. Th

[2017-04-26 11:57] waldyrious commented on #1350
Note: we could try the [probot-stale](https://github.com/probot/stale) integration to do this. Of course, we should be careful about closing issues/PRs, both for the reasons described [here](https://github.com/github/choosealicense.com/issues/501#issuecomment-292249558):

but especially because this could become quite aggressive if we're not careful. See [here](https://github.com/benbalter/license

[2017-04-26 12:32] agnivade commented on #1350
Good find. Yes, we need to be careful about the language.

I would like the bot to first ping the contributor asking for any updates. Then on further inactivity close the PR with a polite message, mentioning that it can be reopened anytime. But probot seems to be able to comment only a static message.

Let me first finish #1066 and then will look into it.

[2017-04-26 13:22] jeeftor opened #1351 "Git Checkout clarification"
So i was contemplating adding:

`git checkout -b {{local_branch_name}} {{origin:remote_branch}}`

although we currently have:

`git checkout -b {{branch}}`

@waldyrious / @agnivade  what do you guys think?

I guess we could consider modifying the existing one to:

`git checkout -b {{branch}} {{Optional: Remote branch source}}` or something

[2017-04-26 15:57] waldyrious commented on #1351
So the idea is to allow checking out a branch using a different name than the upstream branch?

If so, I'm not really sure this is a common enough need to warrant inclusion in tldr. Do you need to do this often?

[2017-04-29 19:15] waldyrious commented on #1350
Not sure I fully understand what you mean. Probot can take two actions (first to mark an issue/PR as stale, and second to close it). From the configuration example in the README:

[code]

Additionally, we can configure what messages to use in each case:

[code]

So that covers what we wanted, doesn't it? Or is your concern that the message is not personalized (i.e. pinging the contributor)? If so,

[2017-04-30 05:57] agnivade commented on #1350
Oops, yes it does ! Sorry, I should have RTFM'd :sweat_smile:

[2017-04-30 10:13] waldyrious commented on #1350
Cool :) so let's see if we can agree in the timings, label names and messages to use, and look into activating probot-stale :)

[2017-04-30 10:48] agnivade commented on #1350
Great. I need to complete the finishing touches on the PR bot though.

[2017-04-30 10:55] waldyrious commented on #1350
No worries :) I made a proposal in #1360.

[2017-04-30 13:15] sbrl commented on #1316
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if yo  nee

[2017-04-30 13:16] sbrl commented on #1239
Since the attached PR has been merged, can we close this issue?

[2017-04-30 13:17] sbrl commented on #1175
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of CONTRIBUTING.md, which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if yo need any assistance, just ask :-)

[2017-04-30 14:01] agnivade commented on #1175
Hey @sbrl - we have a lot of issues like this. They aren't really "issues" as such. More like starter tasks if someone wants to take up something.

IIRC, @dikarel had opened these to keep a note of his own TODO page list; and as well as for someone else to pick them up as and when they feel like.

Lets keep this one open :)

[2017-04-30 14:03] agnivade commented on #1239
Yes !

(Ideally, the PR should have the word "Closes #<issue_no>" which auto-closes the issue. In this case, it must have missed out)

[2017-04-30 14:03] #1239 closed

[2017-04-30 20:18] sbrl commented on #1175
@agnivade I closed this? Oops! I didn't mean to do that :P

[2017-04-30 20:27] waldyrious commented on #1351
@jeeftor does #1359 affect this issue?

[2017-04-30 20:49] waldyrious commented on #1239
Yeah, it was titled "per issue #1239", which understandably can't be automatically assumed to mean it will close the issue.

[2017-04-30 20:58] agnivade commented on #1175
Haha ok. :)

[2017-04-30 23:34] waldyrious commented on #1348
@agnivade is this related to https://github.com/tldr-pages/tldr-node-client/issues/143?

[2017-04-30 23:43] waldyrious commented on #1175
You're not the first one to click the wrong button, @sbrl :) It would really help if the "close issue" button was properly marked as a destructive action. This sort of issue has happened before in other places, and Github did eventually solve it: https://webapps.stackexchange.com/questions/36816/how-to-delete-a-github-wiki-page

[2017-05-01 03:41] agnivade commented on #1348
No, that is not the case. Here, it atleast enters the cache updating logic. But then, somehow the response it gets is `undefined`. I have not been able to repro it though.

[2017-05-01 04:19] jonschoning commented on #1348
this appears to have been a permsissions issue on `~/.tldr` which i found by printing out the `err` object from `fs.copy(tempFolder, CACHE_FOLDER, {clobber: true}, (err) => { if (err) { return done(err); }`
was confusing because it repored undefined instead of showing the permission error on the terminal

[2017-05-01 08:28] agnivade commented on #1348
wow .. interesting. This used to be a problem on old versions of tldr where we used to populate the cache as a postinstall step. As a result, the cache folder used to have root permissions.

I am assuming you had an older installation of tldr, and then upgraded to this.

I think a `sudo chown -R jon:jon ~/.tldr` should solve the issue.

I will fix the error reporting issue from my side.

[2017-05-01 10:27] waldyrious commented on #784
I think we can come up with a format that displays well in raw markdown, both because that way the simple clients (and directly opening the pages) would also benefit from the additional info, and because it ensures that related content is maintained in the same place, which is easier to keep track of (btw, following this latter argument also means we might want to take a look at fixing our oldest

[2017-05-01 10:33] jeeftor commented on #784
I'm a fan of his idea as well. Man pages end with a see also list of similar commands.

Sent from my iPhone

[2017-05-02 07:18] waldyrious commented on #1350
Ok, looks like this is fixed with #1360. There were some initial hiccups (see the four pingbacks above this comment), but apart from that, the bot seems to be able to work as intended. Closing as fixed :)

[2017-05-02 07:18] #1350 closed

[2017-05-02 07:43] waldyrious commented on #1209
For future reference, here's a [link to a summary](https://gitter.im/tldr-pages/tldr?at=58f8f91a8e4b63533de9ce0a) I made for @sbrl on gitter.

[2017-05-04 07:46] #1172 closed

[2017-05-04 16:14] sbrl commented on #1213
See #1355 - I believe this page has been added!

[2017-05-04 16:14] #1213 closed

[2017-05-04 16:18] sbrl commented on #1162
Update: `mc` and `wordgrinder` are now done, and there's a PR for `mutt` on the way :D

[2017-05-04 16:23] sbrl commented on #1253
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2017-05-04 16:26] waldyrious commented on #1213
Actually, #1333, whose title doesn't even mention pygmentize (it was sneakily added midway through the PR :P)

[2017-05-04 16:28] sbrl commented on #1070
If the tldr client emits a different exit status depending on whether the page exists or not (like [tldr-bash-client](http://github.com/pepa65/tldr-bash-client) does, then we could have an semi-automatic bash script that runs through a list of commands and emits a list of commands that don't exist yet. I could even write something like that quite easily

[2017-05-04 17:42] agnivade commented on #1070
You can always check the files present in the repo itself for parity no ?

[2017-05-04 19:52] sbrl commented on #1213
Oh right! I even contributed to the discussion on that one! That was sneaky :P

[2017-05-04 19:53] sbrl commented on #1070
@agnivade Yeah, we could do that too! Do a `git clone  and then a `find tldr -iname "command.md"` or somethine

[2017-05-06 11:54] waldyrious opened #1368 "git diff: add relative time ranges examples"
git diff 'HEAD@{yesterday morning}'
    git diff 'HEAD@{3 days ago}'
    git diff 'HEAD@{one week ago}'

and

    git diff --since="yesterday morning"
    git diff --since="3 days ago"
    git diff --since="one week ago"

From [this reddit thread](https://redd.it/69j3ir). Not sure exactly what the difference is between the two syntaxes, I'd need to investigate a bit. If anyone knows, please weigh

[2017-05-07 09:25] waldyrious commented on #1065
#1010 (auto-completion) is being closed as the feature is to be implemented by clients, rather than on this repo, which pertains primarily to the tldr-pages content. To clarify its relationship with this issue: auto-completion is to be a *recommended* feature of sanctioned clients, but not a *required* one.

[2017-05-07 09:27] waldyrious commented on #1000
@agnivade shall we close this, in light of #1010's closure?

[2017-05-07 11:37] agnivade commented on #1000
Yes

[2017-05-07 11:37] #1000 closed

[2017-05-07 15:12] agnivade commented on #1348
Hi @jonschoning - Did the chown fix solve your issue ?

[2017-05-07 15:14] jonschoning commented on #1348
chown prevented the error, but i had to debug the source to even figure out what the error was

[2017-05-07 18:56] agnivade commented on #1348
Thanks. Yes, I have fixed that in the [code](https://github.com/tldr-pages/tldr-node-client/pull/146) now.

[2017-05-07 18:56] #1348 closed

[2017-05-09 11:54] #1066 closed

[2017-05-09 11:55] agnivade commented on #1066
Now that its merged, will run some tests to see if it actually works.

[2017-05-09 12:02] waldyrious commented on #1066
Woohoo!! 🎉 🌟

[2017-05-11 15:16] Duologic commented on #1076
signed, for what it's worth :)

[2017-05-12 09:39] waldyrious commented on #1076
@Duologic are you sure? I can't find your name on cla-assistant's list of signataries. Could you go to https://cla-assistant.io/tldr-pages/tldr to confirm, please?

[2017-05-12 11:20] waldyrious commented on #1117
There are interesting notes in http://docs.brew.sh/#maintainers which we could take some inspiration from. But let's try making the whole thing lighter (i.e. less documents to read, and more automated steps).

[2017-05-12 11:51] Duologic commented on #1076
Ah, sorry, I thought it would only be needed to agree in this issue. I was not planning on scrolling back and reading everything, tl;dr;.... :D

[2017-05-12 14:10] waldyrious commented on #1076
Heheh no problem :) it's understandable since the thread is quite long already...

[2017-05-12 17:38] waldyrious commented on #1239
I'm planning to add the `-0` example mentioned above. Do you guys have opinions about whether we could remove one of the existing examples on [the page](https://github.com/tldr-pages/tldr/blob/master/pages/common/perl.md)? I was thinking either the `-c` or the `-d` examples -- any thoughts, @morrme, @agnivade, @assemusr, @sbrl?

[2017-05-12 18:49] agnivade commented on #1239
I vote for `-d`.

[2017-05-12 19:04] morrme commented on #1239
`-c` and `-d` are really useful.  a new example would get the page to 8, right at the example limit, but i'd actually vote for `-M` if we *had* to remove one.

[2017-05-12 22:19] waldyrious commented on #1239
I would rather not push the page to the max limit unless absolutely necessary. I'm fine with removing the `-M` example. If there are no objections, that will be my proposal in a upcoming PR.

[2017-05-13 15:35] waldyrious commented on #1239
For future reference: I considered using 777<sub>8</sub> as a record separator (i.e. `perl -0 777... `) rather than -0, which defaults to NUL (000<sub>8</sub>), for correctness.

This is [recommended](http://perldoc.perl.org/perlrun.html#Command-Switches) because if the file does contain characters with octal value equal to the parameter passed to (or implied by) the -0 option, these characters wi

[2017-05-16 11:26] waldyrious commented on #1109
So... shall we make a decision? The options raised here have been: (1) **tldr-pages**, (2) **tldr pages**, (3) **tldr.sh**, (4) **tldr**, and also (5) **miniman** and (6) **shortman**.

I would be OK with (1), (3) and (5).

(3) depends on @ostera's feedback -- what kind of setup are you planning for the domain? Would you like help keeping the domain registration? (Not sure how expensive it is.) I

[2017-05-16 16:47] ostera commented on #1109
Hey! The domain is up :) should I configure the DNS to point to the github pages?

[2017-05-16 18:02] agnivade commented on #1109
Cool, I am good with tldr.sh. I have a concern though - the org name is "tldr-pages". Are we going to change the org name too ?

[2017-05-16 21:47] waldyrious commented on #1109
It would make sense, I suppose, and I'd personally be fine with that. We'd keep the primary identifier in our name, the "tldr" part, so that doesn't bother me too much.

[2017-05-17 06:57] ostera commented on #1109
@waldyrious domain's A record pointing to Github -- http://tldr.sh -- you can take it from here 👍

[2017-05-17 09:23] waldyrious commented on #1109
Annnd, it's working already :D that was easy :)

So now, **tldr.sh** is a viable option for the project name. Is everyone on board with that? Pinging @rprieto, @rubenvereecken, @igorshubovych.

[2017-05-17 10:27] agnivade commented on #1109
If I try https://tldr.sh, I get a `NET::ERR_CERT_COMMON_NAME_INVALID`. Something we can do about it ?

[2017-05-17 15:44] waldyrious commented on #1109
Hm... acording to this [GitHub help page](https://help.github.com/articles/securing-your-github-pages-site-with-https/):

There might be alternatives, see [here](https://gist.github.com/cvan/8630f847f579f90e0c014dc5199c337b) and [here](https://hackernoon.com/set-up-ssl-on-github-pages-with-custom-domains-for-free-a576bdf51bc).

[2017-05-17 17:29] agnivade commented on #1109
Ah .. going the cloudflare way. @ostera - is this something that you can do ? The nameserver change has to be done from your side.

[2017-05-17 22:10] waldyrious opened #1383 "add page for xmllint"
- http://xmlsoft.org/xmllint.html
- https://linux.die.net/man/1/xmllint
- http://infohost.nmt.edu/tcc/help/xml/lint.html

A practical example from [Extract XML Elements Using xmllint](https://danielmiessler.com/blog/extract-xml-elements-using-xmllint/):

Some examples of using the `--format` option, from [StackOverflow](http://stackoverflow.com/questions/16090869/how-to-pretty-print-xml-from-the-c

[2017-05-18 07:27] ostera commented on #1109
@agnivade @waldyrious Cloudflare setup done 👍 it'll take a few hours to work according to their website.

[2017-05-18 11:08] agnivade commented on #1109
Works now. Can you enable HSTS also ?

[2017-05-18 11:59] rprieto commented on #1109
I'm a little late to the party but I like "tldr pages", akin to "man pages". A single page is then a "tldr page" (man page). I think the name is still compatible with [tldr.sh](https://tldr.sh) which is a cool domain name!

If we choose to go with that, I've heard people pronounce it as `tilder` so we could do as many open-source projects do and mention it in the README `tldr pages (pronounced "ti

[2017-05-18 12:14] rubenvereecken commented on #1109
`miniman` just cracks me up

[2017-05-18 12:25] waldyrious commented on #1109
I haven't pushed for `miniman` much, as I was the one to suggest it, but gotta say I really like it, too: it's self-descriptive, memorable, and very easy to pronounce (it kinda sounds like "minivan", an already existing word). Plus it doesn't include a jargon term, which better aligns with the project's ethos.

It really seems to tick all the boxes -- the only reason I haven't advocate adopting th

[2017-05-22 19:46] sbrl commented on #1117
I'd want to field-test the whole thing for a while first in manual-mode - to make sure we get the right balance.

[2017-05-25 18:02] mflint opened #1392 "301 redirect https to http - blocked by iOS"
Hello team,

I notice you're now doing a 301 redirect from `https://tldr-pages.github.io/assets/tldr.zip` to `http://tldr.sh/assets/tldr.zip`.

Unfortunately this breaks [my iOS client](https://github.com/mflint/ios-tldr-viewer), because iOS blocks plain http requests unless an explcit exception is made. (See [App Transport Security](https://developer.apple.com/news/?id=12212016b)).

However! I se

[2017-05-25 18:17] agnivade commented on #1392
cc /@ostera.

[2017-05-25 18:21] waldyrious commented on #1392
For reference, there's prior discussion related to the custom domain tldr.sh and https, here: https://github.com/tldr-pages/tldr/issues/1109#issuecomment-302050558

I'm afraid github doesn't provide us with the option to redirect to the https domain :(
Here's what I see at https://github.com/tldr-pages/tldr-pages.github.io/settings:

![screen shot 2017-05-25 at 19 19 43](https://cloud.githubuserco

[2017-05-25 18:27] mflint commented on #1392
Ah, got it - thanks for the explanation @waldyrious.

I can switch the iOS app to use `https://tldr.sh/assets/tldr.zip` directly - would that be a safe thing to do?

[2017-05-25 18:29] waldyrious commented on #1392
As long as @ostera keeps the domain up, sure :)

[2017-05-25 18:41] #1392 closed

[2017-05-25 22:17] mflint commented on #1109
Interesting thread!
Would you want the various clients to start using the "tldr.sh" name?

[2017-05-26 14:32] #1183 closed

[2017-05-26 14:35] kaushalmodi commented on #1262
@agnivade I stumbled across this because I am also not getting colors at all even when using the themes.

I tried these but nothing worked:

- `tldr -t ocean tar`
- Copied the example from [here](https://github.com/tldr-pages/tldr-node-client#configuration) and ran both `tldr tar` and `tldr -t ocean tar`

How can I help debug?

[2017-05-26 14:39] agnivade commented on #1351
@jeeftor - I think the current version of the git checkout page is good enough for a tldr level.

[2017-05-26 14:51] waldyrious commented on #1351
I agree with @agnivade. Coincidentally, earlier today I had to look up how to checkout a branch under a different name, and did look for that in the tldr page (I had forgotten about this discussion), yet I felt it was perfectly justifiable that it wasn't included. In fact, it's during daily usage like this that I come up with changes I submit as PRs, if I feel they warrant inclusion on the page, w

[2017-05-26 14:51] #1351 closed

[2017-05-27 05:17] agnivade commented on #266
ping ! Is there still any interest in this ?

cc /@M3kH, @chrisallenlane

[2017-05-27 05:22] agnivade commented on #1059
Hey @ASBaumgarten, I think there is nothing further to be done in this thread. Closing this one. Feel free to reopen if needed.

[2017-05-27 05:22] #1059 closed

[2017-05-30 11:22] mashehu commented on #1168
I think this issue can be closed with respect to #1169

[2017-05-30 13:24] chrisallenlane commented on #266
@agnivade

I still like the idea "on paper". In practice, however, I think there are some issues:

1. I'll confess that I'm quite simply very short on time right now, and will be for at least another two months.
2. It might be somewhat tricky to actually implement this, because `tldr` is built in node, and `cheat` is built in Python. Thus, to share (and seamlessly install) cheatsheets from a commo

[2017-05-30 14:14] #1168 closed

[2017-05-30 23:13] waldyrious commented on #1168
Good catch, @mashehu 👍

[2017-05-30 23:48] waldyrious commented on #266
@chrisallenlane the [tldr clients](https://github.com/tldr-pages/tldr#clients) are already separate from this repo, which pretty much just hosts the pages. Some of them fetch the pages using git (and [there's a case to be made](https://github.com/tldr-pages/tldr-node-client/issues/109) for why such a dependency might make sense), but we also provide a [tldr.zip archive in the assets directory of t

[2017-05-31 00:15] hubsmoke commented on #266
Hey folks, I maintain bropages.org. I have very little time to help, but I am willing to participate in a discussion about possible collaboration. So far, I haven't seen any direct questions for me, so I'm not sure where I can help.

[2017-05-31 07:29] waldyrious commented on #266
@hubsmoke hi! Glad you are open to collaborate :) I believe the main challenge with tldr-pages/bro-pages collaboration is the one I described in the initial comment:

I am not sure how we could address that without fundamentally changing the workflow of either of the projects. The only things that occurs to me, off the top of my head, are (1) bro-pages integrating tldr-pages entries in its databas

[2017-05-31 10:09] agnivade commented on #266
Hmm from what I see, there needs to be a considerable amount of effort spent from both ends to make it work.

For cheat, we can import the cheat pages which are not present in our repo. And have the cheat client fetch pages from our unified repo. Any new page addition needs to be done in this repo from then on.

For bropages, we can also go the same way, which is (2) as @waldyrious suggested.

Alt

[2017-05-31 23:34] waldyrious commented on #266
I suppose you're mostly talking about bropages, right? For cheat this would be a one-time import IIUC.

[2017-06-01 03:42] agnivade commented on #266
For cheat, even if we import, for them to be able to use our combined pages will take work if I am not wrong.

[2017-06-01 06:13] hubsmoke commented on #266
I'm fine with importing a big ol page as an entry and allowing the page to
be subject to the normal upvote and downvotes

Unless there's a better idea 💡

On Wed, May 31, 2017 at 8:43 PM Agniva De Sarker <notifications@github.com>
wrote:

[2017-06-01 23:23] waldyrious commented on #266
Regarding cheat, let's wait for @chrisallenlane's feedback to see whether there's a viable path forward regarding the proposals made above.

As for bropages: could you expand how you envision that process in more detailed steps, @hubsmoke? In particular, we need to ensure both parties are clear on what steps each one needs to take, so we can move forward :)

[2017-06-02 00:35] hubsmoke commented on #266
Correct me if I'm wrong. My understanding of tldr is that each command has
one entry with several examples in it.

For bropages, a command has many entries, each competing for ranking.

My proposal was to display the tldr information for a command as a separate
entry. This could be a one time import, but it's probably better to
integrate with tldrs API and simply treat it as a separate entry.

It'

[2017-06-03 12:14] waldyrious commented on #266
Yes, that sounds quite reasonable.

Well, we do provide a zip file with all pages plus an index file, that us rebuilt for every commit (via the [build.sh script](https://github.com/tldr-pages/tldr/blob/master/scripts/build.sh) which is invoken by our [Travis script](https://github.com/tldr-pages/tldr/blob/efedbb28359321804b2f9be094328e72ecb5a8ef/.travis.yml#L10-L11) and uploads the results to the

[2017-06-05 17:53] hubsmoke commented on #266
This seems like it could work -- I downloaded the zip and I can see the
structure of it. Seems like the import can be done using this approach.

On Sat, Jun 3, 2017 at 5:14 AM, Waldir Pimenta <notifications@github.com>
wrote:

[2017-06-05 19:02] sjackman commented on #731
Is there a web client for TLDR that interprets `{{foo}}`? Both tldr.sh and https://tldr.ostera.io/cut display the raw `{{foo}}`.

[2017-06-06 07:17] waldyrious commented on #266
Yay! Let us know if there's anything else you'd need from our side :)

Later on we will probably want to discuss how to go about importing pages in the opposite direction, if possible.

[2017-06-06 07:20] waldyrious commented on #731
@sjackman those are the same client, by the way. @ostera's client is embedded in tldr.sh. The only other web client I know of is [DistroWatch's](https://distrowatch.com/dwres.php?resource=man-pages), as indicated in the [README](https://github.com/tldr-pages/tldr#clients). It does consume the `{{}}`.

[2017-06-06 16:14] sjackman commented on #731
I've opened a feature request at https://github.com/ostera/tldr.jsx/issues/97

[2017-06-08 07:25] FreifunkerEZ opened #1403 "Create forwards / disambiguation-page for commands in platform sub-dirs"
Hellos.
TLDR: Searched for "rpm" found nothing. Should have searched for "linux/rpm". Fix that.

I was trying to find out about 'rpm' and was kinda surprised that it did not exist.
https://tldr.ostera.io/rpm

But hey, an opportunity to give back! Reading through all the contribution docs, forking, cloning and branching. And I look at the files and find sub-directories. And in them I find 'rpm'. An

[2017-06-08 07:41] agnivade commented on #1403
You are right ! Indeed this seems to be an issue with the web client. The node client automatically searches for platform specific pages first, and then looks under the common folder. So, your concern is already handled in the node client.

I would recommend using the node client, or raising an issue at https://github.com/ostera/tldr.jsx to get a discussion going.

[2017-06-08 07:49] FreifunkerEZ opened #1404 "https://tldr.ostera.io/opensearch.xml is missing an icon"
I really like the web client and I love that it provides an open-search-file to be included in browsers.

Unfortunately there is no icon defined in there, so now, while it IS in my list of search-engines in Firefox, the button cannot be distinguished between the empty one next to it. Which makes it seem like it is not there.
![image](https://user-images.githubusercontent.com/17656471/26917641-5e9a

[2017-06-08 07:51] FreifunkerEZ commented on #1403
Interesting! Will do. Thanks :)

[2017-06-08 07:53] #1403 closed

[2017-06-08 17:20] rubenvereecken opened #1406 "Bug in curl.md"
I have found a wrong command in [`curl.md`](https://github.com/tldr-pages/tldr/blob/87fb4e13bdcd58a465ab2dd7e859e778389d1cab/pages/common/curl.md), though I'm not sure if this goes for all platforms. The `-I` flag does not show just the headers, instead it performs a `HEAD` request. `-i` shows the headers, but not just the headers, also the response body.

Could others have a look at how their `cu

[2017-06-09 21:51] waldyrious commented on #1404
Pinging @ostera

[2017-06-09 22:58] waldyrious commented on #1406
curl is likely the page with most edits we have :) The most relevant PR seems to be #1240 ("add -I parameter to show header information", by @stoneo), but also pinging @jeremyruppel (from #291), @bobstrecansky (from #696) and @ericbn (from #1019/#1023).

[2017-06-10 20:11] stoneo commented on #1406
For me, `curl -I` and `curl -i` show headers, but `-i` show response body too. So I don't know better description than current one.

[2017-06-10 22:29] ericbn commented on #1406
Yeah, looks like both [BSD curl](https://ss64.com/osx/curl.html) and [GNU curl](https://linux.die.net/man/1/curl) have `-I` as the HEAD request. Maybe giving an example with `-v` for verbose, that also shows headers for request and response, could be a more generally useful.

[2017-06-12 13:14] ostera opened #1410 "Move to a Monorepo"
Hey guys! How's it going?

I was wondering if you'd be interested in turning tldr into a monorepo that includes the pages, and also the clients.

The goal would be to centralize issue handling rather than pointing people to other places, or linking issues between repos, and to gain more control over the quality of the clients that are built around the content we host.

Some things we'd have to fig

[2017-06-12 15:40] Leandros commented on #1410
Wouldn't it be better to actually merge the clients and just move to one single client working on all platforms by just adding an executable to your path with no dependencies?
I would love to provide support for the cpp-client, which is able to achieve said goal, but I would need some assistant since time is currently very sparse.

[2017-06-12 16:06] ostera commented on #1410
I agree. A single client that compiles to all platforms would be ideal.

Just keep in mind that we'd still need to move the web client and the mobile clients. Code-sharing between those, to some extent, would be very very nice.

[2017-06-12 19:17] Leandros commented on #1410
Should be somewhat possible, if it's written in C (or C++, or anything that compiles to C) to at least share most of the code between all platforms (WebAssembly / Emscripten for the web, no special treatment required for iOS, native lib for Android, although that's a little cumbersome, and Win/Linux/macOS is obvious).

I don't care about the language to much, though. My preferred language is C, th

[2017-06-14 04:19] bobstrecansky commented on #1406
Agreed. I've used -I extensively when I just want to see the response header. -v gives you a lot more, and II can always save the whole output with -o if you want to inspect the body. -i should be used when you want to see the header and the body at the same time.

[2017-06-15 09:13] waldyrious commented on #1406
So are you proposing replacing `-i` with `-v`, @ericbn? Or replacing `-I` instead? We do need to remove something, since we're already at our maximum number of examples for this page.

What about you @bobstrecansky, what change would you propose?

[2017-06-15 09:18] waldyrious commented on #1109
@mflint I think we already have enough problems form all the clients calling themselves simply "tldr", so I wouldn't recommend going down that road. Of course, once we pick a definitive name for the project, the clients ought to refer to it (the project, not themselves) by that name, yeah.

@rubenvereecken I couldn't figure out whether your reaction to "miniman" is neutral, positive or negative. W

[2017-06-15 09:40] waldyrious commented on #1410
I would be more inclined to go in the direction of *de*centralization, to be honest -- i.e. establishing creating a solid, well-defined ecosystem, rather than a(n even more) centrally managed project. That would give people more flexibility to participate in the project (both as users and as contributors) in the ways that are most comfortable for them, and if we do it right, we wouldn't lose in te

[2017-06-15 19:03] ericbn commented on #1406
We could rearrange things a little bit:

[code]

The above could be merged into one, maybe like:
[code]
As for this one:
[code]

My suggestion is either we remove the `-I` or replace it by `-v`...

[2017-06-15 22:41] waldyrious commented on #1406
I'd rather keep those two separate, for clarity -- see the discussion in #1396.

I suppose it makes sense to remove `-I` from this example, since it's not directly connected to it. It could be used in a separate example, but we've ran out of space for this page, and `-I` is probably less fundamental than the examples already present on the page.

[2017-06-16 05:23] agnivade commented on #1410
I agree with @waldyrious on this. I like the system as it is now. A pages repo and individual clients repo. Having different clients is kinda the fun part and people get to choose what client they want to use.

Re: issue handling - Yea I agree that's slightly painful.
Re: single source of truth - Well actually there are no multiple sources of truth here. We have multiple truths and that's totally

[2017-06-16 06:05] agnivade commented on #1262
hey @kaushalmodi - sorry this slipped under my radar.

Can you verify you are using latest tldr (`tldr --version`) ?

[2017-06-16 09:14] waldyrious commented on #1117
From https://github.com/tldr-pages/tldr/pull/1407#issuecomment-308665847:

[2017-06-16 09:18] waldyrious commented on #1117
From the [Gitter chat room, on 20 April 2017](https://gitter.im/tldr-pages/tldr?at=58f8f91a8e4b63533de9ce0a):

[2017-06-16 09:19] Leandros commented on #1410
I don't understand what the users gain by that? I can only imagine confusion, to chose what client to chose and than later noticing some new feature might not be working, because it's only implemented in other clients.

[2017-06-16 09:20] waldyrious commented on #1209
From https://github.com/tldr-pages/tldr/pull/1407#issuecomment-308665847:

[2017-06-16 10:21] waldyrious commented on #1410
I think we can all agree that doing `brew install foo` (as an example) is much more convenient for a macOS user than, say, `curl+configure+make+make install`, not to mention the ability to update, uninstall, etc. Similarly, for a user who already has `node`, or `pip`, or `cargo`, etc. in their system, the most convenient way to install a tool is to use those ecosystems. What I'm saying is YMMV, an

[2017-06-16 16:19] kaushalmodi commented on #1262
@agnivade Thanks for the follow up. At the time of posting that comment, I had freshly installed `tldr` using `npm install -g tldr`. But since it didn't work, I uninstalled it. Unfortunately I didn't record the version of `tldr` then.

I re-installed it and now it is working with `tldr -t ocean tar`. The version is *2.0.1*.

Thanks!

[2017-06-16 16:47] agnivade commented on #1262
Cool.

On a side note, you uninstalled a tool just because its theming didn't work ?

[2017-06-16 16:49] kaushalmodi commented on #1262
@agnivade

Nope, not *just* that; because I found an equivalent client that works great from within emacs. But not that your app works from the terminal, I'll keep it too :)

[1]: https://github.com/kuanyui/tldr.el

[2017-06-17 11:57] Leandros commented on #1410
Having a single client doesn't mean we're going to drop convenient ways of installing. It's the exact opposite.

Having a single client ensures that we can focus on properly delivering it to the users, instead of trying to maintain multiple clients with multiple ways of installing, we can focus on delivering our client via a host of different methods:

- Package managers on Linux, one for each pop

[2017-06-19 00:07] luk3yx commented on #1162
@waldyrious `mutt` and `tpp` seem to exist. Will this be updated?

[2017-06-19 04:09] agnivade commented on #1162
Thanks, updated.

[2017-06-19 18:52] sbrl commented on #1410
I think I should weigh in on this discussion. Personally, I think that having multiple clients and the tldr-pages repo for just the pages themselves makes more sense - and not just because of the single responsibility principle. What if I find a terrible terrible bug in the client that I use? I'll report it, sure, but I still want to be able to use tldr-pages easily (what about a REST api too? Jus

[2017-06-20 10:01] rubenvereecken commented on #1109
Let's say I'm neutral about it.

[2017-06-20 15:04] Leandros commented on #1410
That's a case which should never happen in a stable release, that's what beta versions are for: to discover this sort of bugs.

A single client can, without any problems, run on any of the most used platforms (Windows, macOS, Linux, *BSD).
Why would you want to use tldr on an embedded platform, to begin with? You very likely, never work directly on it, and therefore always have a host, where you c

[2017-06-23 18:13] sbrl commented on #1406
`-I` is useful if you don't care about the request method, because it cuts out a lots of the clutter. `-v` is useful when you do, as it can be used with any request method.

[2017-06-23 18:14] sbrl commented on #1316
Should we remove the `up for grabs` label now that someone's opened a PR, @waldyrious/

[2017-06-23 18:16] sbrl commented on #1192
I think that something to emphasise the simplified nature of the tldr-pages is also important.

[2017-06-24 08:45] ostera commented on #1410
Hey! Amazing discussion everybody. Thanks for chiming in :) I'll try to clarify some of my points and comment directly to some of the things you said.

#### On a _single client_

Just to clarify a small point, when I said:

I meant as _platform_ also runtimes like Ruby, Python, or Node.

So that changes the view from

[code]

To

[code]

Which means we generate interpreted clients:
* Python
* Ruby

[2017-06-24 10:21] rprieto commented on #1410
Hi, I'm still not sold on the usefulness of having multiple clients. Can someone explain what the benefit is?

For me the parallel is if https://git-scm.com/ showed a choice of a Ruby client, C++ client, Python client... As a consumer, I don't really care about the language it was written in, I just want to download it the easiest way. That way is typically `brew install` or `apt-get install`, or

[2017-06-25 19:44] waldyrious commented on #1316
@sbrl uh, right, my bad.

Also, closing now that #1415 has been merged :)

[2017-06-25 19:44] #1316 closed

[2017-06-25 19:45] waldyrious commented on #1406
So what do you suggest @sbrl? Unfortunately the space is limited and we won't be able to cover all use cases, so we have to choose which ones to prioritize.

[2017-06-25 19:47] waldyrious commented on #1406
By the way, I hadn't received a notification of the reactions to my comment -- if @sbrl doesn't have objections, it looks like we'd have consensus to go ahead and remove `-I` from that example.

[2017-06-25 21:39] sbrl commented on #1406
@waldyrious Yeah, go ahead.

[2017-06-26 10:13] #1406 closed

[2017-06-28 14:20] sbrl commented on #1404
tldr-pages could do with an official icon!

[2017-06-28 14:22] sbrl commented on #1071
Having a list of most searched-for commands that we don't currently have sounds like some invaluable information right there. In addition it would give contributors some ideas about pages we could create.

Also, what's mixpanel?

[2017-06-28 14:54] sbrl commented on #1099
Hey! Are there any updates on this? Can anyone still reproduce this issue?

(and shouldn't it be moved to be against tldr-pages/tldr-python-client?)

[2017-06-28 20:46] voyeg3r opened #1419 "Add range option at curl command"
Download a range of files using curl
curl -O http://somelocation/wallpaper-[1-33].jpg

[2017-06-29 03:03] ramwin commented on #1099
This problem still exists. And I posted it in the [tldr-pages/tldr-python-client](https://github.com/tldr-pages/tldr-python-client/issues/45)

[2017-06-29 03:03] #1099 closed

[2017-06-29 04:06] agnivade commented on #1419
Hi @voyeg3r, we limit the no. of options of each page to 8 (because our scope is limited). Currently, the curl page is at 8, so we wouldn't be able to add any more examples without removing one of them.

[2017-06-29 12:50] sbrl commented on #1070
Executing

[code]

on http://linux.die.net/man/1/, gives this file: [linux-commands.txt](https://github.com/tldr-pages/tldr/files/1112076/linux-commands.txt)

This is obviously pending sorting, which I'll do soon.

[2017-06-29 18:35] sethwoodworth opened #1421 "Question: `wall` super-user only wording"
The current page on `wall` says:

But according to the wall man page:

IMO, I think it makes sense to remove the current sentence about super-user entirely.  If folks agree I'll put up a PR.

[2017-06-30 18:15] agnivade commented on #1421
Hmm interesting, so even a normal user can write on other user's terminals ? That doesn't sound right. Can you verify this ?

[2017-06-30 18:21] slicer69 commented on #1421
Normal users can use "wall" to write to other people's terminal if (and only if) other users enable the feature. If the other use does not turn on the wall feature then messages from non-root users are blocked.
The TDLR page is correct for default situations.

[2017-06-30 20:03] agnivade commented on #1421
Got it. How about we clarify the line to explain it better ?
[code]

[2017-06-30 20:35] slicer69 commented on #1421
Or perhaps something like, "Users can block incoming wall messages from other users via the mesg command. Only messages from root override this block."

[2017-07-01 05:36] agnivade commented on #1421
That sounds like a mouthful. Can we shorten it ? (in the spirit of tldr :wink: )

[2017-07-01 09:12] sbrl commented on #1070
Sorting complete! Here's what I came up with:

[code]

Running the above reveals that:

 - We've got 328 commands documented
 - We've got 9497 to go
 - We've done ~3.34% so far

[2017-07-01 12:56] slicer69 commented on #1421
Or, since showing the message is the default, we could simply drop the part about the root user.

[2017-07-01 14:47] agnivade commented on #1421
Agree, makes sense.

[2017-07-02 12:35] deekim opened #1423 "question: automated example runner testing framework"
I was just wondering if any thought was ever given to possibly running the examples for commands in a docker container or travis build, and have the results be part of the PR checks.

Pros:
- The ability to validate the description.
- Checks the command syntax.
- Automated notification if the command syntax ever changes.

Cons:
- High barrier for entry into contributing.
- Longer build times.
- Ad

[2017-07-03 03:47] agnivade commented on #1423
This is very close to impossible IMO.

Because, the project contains non-builtin commands too.  Which means one would have to install _all_ of the commands before even trying to test them. And the installation steps are not specified in the pages.

For eg. - `rustc`. Do you plan to download the rust compiler, create a dummy rust program on-the-fly and then execute it ? Same for `Go` ?

How would y

[2017-07-04 11:37] deekim commented on #1423
Yeah, I understand where you are coming from.

In the workflow for a _add page_,
I feel like the contributor typically has the command installed for the documentation they wish to add (no evidence to back this claim). I was more so envisioning you only run tests on the command you are updating/adding, similar to how some build tools only run the tests affected by a change set.

I totally agree wit

[2017-07-04 12:25] agnivade commented on #1423
No worries, glad to see my view. I understand your wanting to run tests only on the command added/changed, but that runs into the same problem if the command is not a built-in. Even if it was a built-in, you would have to test whether it actually works or not.

Not at all. Disagreements are bound to happen in any collaborative project. But that shouldn't stop development work.

I hope this does no

[2017-07-04 12:25] #1423 closed

[2017-07-14 08:36] #1383 closed

[2017-07-20 16:03] agnivade commented on #1421
@sethwoodworth - Would you like to file a PR for it ?

[2017-07-20 16:05] agnivade commented on #1419
@voyeg3r - I am guessing you do not have any other concerns after my reply. I am going ahead and closing this issue.

Please feel free to reopen any time you have any other questions about our process or you want any clarifications.

[2017-07-20 16:05] #1419 closed

[2017-07-20 16:09] agnivade commented on #1246
@waldyrious / @morrme - I believe this can be closed. We agreed that `--cacert` is not needed for tldr's scope.

[2017-07-21 17:36] sethwoodworth commented on #1410
In my personal opinion, the bash client has the lowest requirements and widest possible install base.  I'd like to see it as the default command line client, but I also feel like it needs more work to correctly implement caching before it should be seriously considered as the CLI default.
Contrawise, the mobile and web clients are also supremely important and handles use cases the bash client will

[2017-07-21 18:59] sbrl commented on #1410
@ostera You say

How can you automatically generate a client in all those languages? Transpiling in particular just sounds messy. In addition, how would you manage to get a single codebase to act both as a webpage, for example, and a command line client at the same time? I can't see how it's possible. You'd need some platform-specific code at _least_, which already breaks your theory if I'm readin

[2017-07-21 22:06] rprieto commented on #1410
Regarding package manager, I meant an official binary we can distribute via `apt-get`, `apk` (Alpine), `homebrew` etc... Assuming it won't be an official package we'll simply have to say (like many projects) "please run brew tap <...> && brew install <...>".

That would be for the CLI tool. I agree there's obviously other platforms, such as Web / Desktop / iOS / Android / Windows phone, which coul

[2017-07-25 18:50] #1253 closed

[2017-07-25 18:55] #1421 closed

[2017-07-29 13:04] russellg commented on #1177
I've had a go at this. Let me know if I can improve it in any way.

[2017-08-07 03:49] pepa65 commented on #1065
I would like to implement `-a|--list-all` in the bash tldr client, which is supposed to list all pages for the current platform. I would assume that includes `common` -- is that correct??

[2017-08-07 04:43] agnivade commented on #1065
Yes

[2017-08-07 05:45] pepa65 commented on #1065
Allright, implemented in version 0.34 https://github.com/pepa65/tldr-bash-client

[2017-08-22 12:03] waldyrious commented on #1404
@sbrl what do you mean? The website at https://tldr-pages.github.io / https://tldr.sh already has a favicon, which is the same image that shows up at https://github.com/tldr-pages.

Am I missing something,or are you? :smile:

[2017-08-22 12:06] waldyrious commented on #1404
In any case, this is an issue for [ostera/tldr.jsx](https://github.com/ostera/tldr.jsx); there's nothing we can do about it in this repo. Can you please report the issue [there](https://github.com/ostera/tldr.jsx/issues), @FreifunkerEZ? Thanks :)

[2017-08-22 12:06] #1404 closed

[2017-08-22 12:09] waldyrious commented on #1099
Thanks @sbrl and @ramwin for revisiting this. @zero-jack please check the suggestion I left in the issue @ramwin linked above, as that may fix the issue until @felixonmars makes a new release (that's now tracked in https://github.com/tldr-pages/tldr-python-client/issues/47)

[2017-08-22 12:32] #1067 closed

[2017-08-22 13:11] waldyrious commented on #1067
:tada: @agnivade :D

[2017-08-22 13:17] waldyrious commented on #1246
@agnivade right, good catch. This was fixed in cf046b5. I'm not sure why I made a direct commit rather than a PR, but either it was a mistake (pressed the wrong button) or I considered that the discussion had already reached a consensus here -- in which case, I should have added "(closes #1246)" to the commit message, and didn't as an overlook. Either way, closing now. Thanks all!

[2017-08-22 13:17] #1246 closed

[2017-08-22 13:38] waldyrious commented on #1410
Just leaving two quick notes here:

1) the **transpiling** stuff sure sounds interesting, although I have no experience in that, so I don't have an opinion on whether that's reasonably feasible (or desirable wrt hand-written clients in the languages that natively target specific runtimes such as Python). Still, I'd like to mention the obvious [Haxe](https://haxe.org/), and this [interactive graph

[2017-08-22 13:52] waldyrious commented on #1209
From https://github.com/tldr-pages/tldr/pull/1429#issuecomment-324032251:

[2017-08-22 18:30] sbrl commented on #1404
HUh! Must have been some weirdness on my end, @waldyrious :P

[2017-08-25 08:49] jasonxia23 opened #1455 "Manage tldr Commands"
Very glad to use this tool :)
Sometimes I find myself want to remember some commands for daily use, so I build [tldr-management](https://github.com/jasonxia23/tldr-management), which can be embed to Chrome Extension, so people can manage their daily used commands.

[2017-08-25 09:13] agnivade commented on #1455
Thank you for the kind words :)

Though I am not sure if there is anything you wanted us to do, since you raised an issue ? If you just want to generally chat or share info, you can always use our gitter channel - https://gitter.im/tldr-pages/tldr

[2017-08-25 10:58] jasonxia23 commented on #1455
Sorry for the misunderstanding :)
It would be nice to me if I can customize my tldr commands.(so I can review them)

[2017-08-25 12:24] agnivade commented on #1455
I am sorry, I still do not get what you want to mean. What do you mean by "customize" here ? Are you saying you want to edit the tldr pages ?

[2017-08-25 15:42] jasonxia23 commented on #1455
I mean you can store tldr commands locally, and no need to search for commands you have searched, next time you can review the commands you have stored.

[2017-08-25 15:52] agnivade commented on #1455
Oh I see, so you want to maintain a search history of commands. Well, that depends on which client you are using. You need to file an issue on that client's repo. This repo is only for the tldr pages.

[2017-08-25 15:58] jasonxia23 commented on #1455
I wish the chrome extension will have this function :)

[2017-08-25 17:44] jasonxia23 commented on #1455
I thought it has been done.
So @ostera , wish the chrome extension under development could support storing tldr commands locally.

[2017-08-25 18:34] agnivade commented on #1455
Ah I see. Ok then, I would recommend to place your request on that issue instead as that's the right place.

Going ahead and closing this now.

[2017-08-25 18:34] #1455 closed

[2017-08-26 04:23] zero-jack commented on #1099
@waldyrious I have turned to node client and it works. I don't know whether it's ok for python-client because I had uninstalled(`pip3 uninstall tldr`)

[2017-08-26 08:37] waldyrious commented on #1099
That's understandable. Thanks for confirming :)

[2017-09-03 02:29] greggb opened #1464 "Grats"
Just wanted to say congrats - I was your 10,000th star!

[2017-09-03 05:29] agnivade commented on #1464
Thank you !

[2017-09-03 05:29] #1464 closed

[2017-09-03 17:12] waldyrious commented on #1464
Much appreciated, @greggb! I took the liberty to make the title of this issue more descriptive, hopefully you're OK with that :)

[2017-09-03 17:26] waldyrious commented on #1076
Re-pinging @Cvetomird91, @mumumu, @Larry850806, @egilkh, @matthewgao, @fordhurley, @pranavraja, @jezeniel, @jlinder, @AdamSulucz, @jkbrzt, @shybovycha, @jlems, @byjord, @RoryCrispin, @axelcdv, @jeanleonino, @rnas, @gwanii, @zhengqm, and @livioso; pinging (for the first time) @smevawala, @robyoung, @atweiden, @matkoniecz, and @cnu:

We need your collaboration :) please visit https://cla-assistant.i

[2017-09-03 17:34] waldyrious commented on #1069
@ostera, now that we have a nice [PR template](https://github.com/tldr-pages/tldr/blob/master/.github/PULL_REQUEST_TEMPLATE.md) (#1434 / #1067), I wonder if we still need an issue template. @agnivade and @sbrl, your thoughts would be appreciated as well.

[2017-09-03 17:51] waldyrious commented on #1073
To make this issue more actionable, I changed the title, and will summarize the gist of the proposal here. @ostera is suggesting a custom web-based editor, tightly integrated with GitHub (via OAuth), that will allow a smoother way to propose new commands. In detail:

I'll add the proposed behavior for linking to an existing issue requesting a command (or to the new issue page, if such an issue doe

[2017-09-03 18:06] waldyrious commented on #1065
As suggested in #1073, the spec could also *recommend* that when the user searches for a command that doesn't exist, the client should either (A) link to the issue requesting that command, if it exists, so that the user can add their voice to that conversation, or (B) link to the new issue page so the can request it.

For (B), we could even use a custom "new issue" link to pre-fill the content wit

[2017-09-03 18:07] waldyrious commented on #1069
Note that in #1073, @ostera commented:

which I tend to agree with. Does anyone feel we need to provide specific instructions for issues requesting new commands?

[2017-09-03 18:24] waldyrious commented on #1109
@rprieto, @agnivade, @ostera, @sbrl, @zdroid, @Leandros, @ericbn: I'd like to hear your thoughts on renaming the project `miniman` so we can make a decision here. I've already [listed a bunch of reasons](https://github.com/tldr-pages/tldr/issues/1109#issuecomment-302388562) that compel me to favor it above `tldr` / `tldr.sh`; @rubenvereecken is neutral about it per the comment immediately above, a

[2017-09-03 18:32] pepa65 commented on #1065
The API/URL should be the same for A and B, unless there is an easy way to check whether we're dealing with A or B.

[2017-09-03 18:34] zdroid commented on #1109
I really support miniman. Never thought about it before, but it's pretty descriptive. :1st_place_medal: :+1:

[2017-09-03 19:00] waldyrious commented on #1192
Revisiting this issue, I think the main traits we should emphasise are the **simplicity** and the **community** aspects. The fact that the tldr-pages are example-based is kind of subsumed in the "simplicity" part, and we can always describe the project in prose in the README and elsewhere. The community-driven, community-curated, etc. can be neatly contained in the adjective "collaborative", which

[2017-09-03 19:06] waldyrious commented on #1065
I don't think we can use a `issues/new` URL and have github redirect to the existing issue automatically -- the client would have to somehow be able to detect whether there's an open issue in our repo for the command, either by fetching the list of open issues and parsing the titles (looking for those ending in "add page"), or perhaps we could maintain a list similar to [index.json](https://github

[2017-09-03 19:16] pepa65 commented on #1065
No, it can't be done on Github. But it is getting really complicated if all clients now also need to keep track of all the Issues for a missing tldr page that have been posted. This is not a core function of a tldr clients, but a nice extra. It could help because it clarifies which missing pages are requested most often.

I think setting up a counter for requested missing pages would be the easies

[2017-09-03 19:18] waldyrious commented on #1423
I actually think it would be really neat if we could have a minimal example for each command page that would be tested whenever that page is edited (or we could go crazy and test all commands in every commit). For example, for the `youtube-dl` command, we'd have, say, a `tests/common/youtube-dl.sh` file that Travis would run, that would install the command and test every example.

This wouldn't be

[2017-09-03 19:33] agnivade commented on #1423
Well, anything which makes a request outside the machine is hairy to test. I am comfortable with testing commands like `date`, `find`, `grep` etc.

But if you want to properly test `youtube-dl`, you will have to actually download a video, check that indeed the video has been downloaded by confirming that the hashes match. And now what if the video is taken down ? Are we going to maintain our own v

[2017-09-03 20:06] ericbn commented on #1109
Besides the "brand change" factor that @waldyrious mentioned [before](https://github.com/tldr-pages/tldr/issues/1109#issuecomment-302388562), I like `miniman`. Easier to remember than `tldr`...

Although the creative use of the TL;DR jargon gave the project something we can instantly attach to, maybe they way it's not easily pronounceable or beginner-friendly also lead to all the discussion above.

[2017-09-03 20:18] agnivade commented on #1192
I favor the first one. But can we add the word 'curated' please ? That gives the impression that the content is specially tailored.

[2017-09-03 20:52] waldyrious commented on #1070
I wonder if, after we've compiled one or more lists of commands to add, we could somehow calculate the completeness percentages automatically and display them in the README with a badge.

If we do compile multiple lists, we could even organize the completion badges in a table to provide a dashboard similar to the progress table of Wikipedia's [WikiProject Missing encyclopedic articles](https://en.

[2017-09-03 20:58] waldyrious commented on #1423
Yeah, I was thinking that the test script for the `youtube-dl` case would indeed download a video and confirm that the command worked as expected by whatever tests would make sense in that case.

I don't think it's that hard to cater to each command's specific behavior for testing, since the automation of the tests would only be in their execution, not in their writing. That is, I'm not envisionin

[2017-09-03 21:56] waldyrious commented on #1065
@pepa65 that's why I highligted the "recommend" part of my comment :) I didn't mean it to be a mandatory feature, just a nice-to-have as you say. We can mandate a link to the `...issues/new` URL, though.

[2017-09-03 22:02] waldyrious commented on #1192
We can re-introduce it, but I wanted to avoid a less common word and shorten the description as much as possible. But mainly, I confess I'm a little puzzled by your comments in this thread regarding the word "curated" -- why do you think it's important convey the notion that the project's content is specially tailored? Also, specially tailored to what, exactly?

[2017-09-04 04:36] agnivade commented on #1109
Sorry to be "that" guy here 😛 , but I don't like miniman. Strong negative on that. I would really like to keep some part of "tldr" in the name. Losing that feels like losing the core identity of this project.

[2017-09-04 04:42] agnivade commented on #1192
Haha, sure. I love the "awesome" series of repos, if you are aware of them ? All of them have the word "curated". https://github.com/vuejs/awesome-vue, https://github.com/avelino/awesome-go. I kinda like that. Hence this preference.

I hope it's not not too uncommon a word. It's okay if you think it stretches the description too much, we can drop it.

[2017-09-04 04:46] agnivade commented on #1423
I see. IMHO, it's not worth doing it. I can see this quickly growing out of bounds and becoming a maintenance nightmare. But that's just me. Would love to hear other opinions. /cc @sbrl.

[2017-09-04 04:51] rprieto commented on #1109
What about `howto`? Then on the CLI you'd type `howto tar`, `howto du` etc.

[2017-09-04 04:51] agnivade commented on #1070
I would like to take a stab at this. I am thinking of just taking the GNU coreutils list and test parity against it. The linux.die.net page contains a lot commands which have to be installed separately.

The badge thing can be easily done with a custom svg element.

[2017-09-04 04:53] agnivade commented on #1069
Yes, I still still it would be nice to have the issue template too. Just for completeness' sake.

[2017-09-04 06:48] Leandros commented on #1109
I like howto! It's descriptive and short.

[2017-09-04 07:34] waldyrious commented on #1192
I do know the awesome series of repos (I've [created one myself](https://github.com/opencompany/awesome-open-company) :)), and I understand why they use the word "curated" — to mean that there's a selection of items that are considered awesome, i.e. standing out from the rest, rather than being merely lists aiming at complete coverage.

In our case, we do have curated content *within* the pages th

[2017-09-04 07:38] waldyrious commented on #1423
Again, just to be sure, I did mention I don't think we, the current maintainers, should focus on this at the moment — we have several meaty items in our todo list that have priority over this. But I'd be happy to incorporate such a system in case someone offers an implementation.

I don't think it would be too big of a maintenance burden once in place: we can always drop individual tests that stop

[2017-09-04 07:40] waldyrious commented on #1070
@agnivade I can't wait to see what you come up with! I'm more than willing to provide the actual content of the lists if that takes some work off your plate (I have a bunch of notes and links in a google doc, besides the resources I listed above).

[2017-09-04 07:43] waldyrious commented on #1069
Ok, sure. I still think it's overkill, and that we must be careful with the contents of the template to avoid making participation in the project too bureaucratic or burdensome. With that in mind, feel free to suggest a wording you think would work well, at your leisure :)

[2017-09-04 08:07] waldyrious commented on #1109
`howto` is descriptive and potentially even more self-explanatory than `miniman` (both are better than `tldr` IMO), because it subtly conveys what to expect (usage examples).

My only fear is that it's too generic and thus basically ungoogleable. Here's a table based on [the nominology post](http://messymatters.com/nominology/) I linked above:

Property | Description | tldr.sh | miniman | howto
--

[2017-09-04 08:09] waldyrious commented on #1109
@agnivade can you clarify whether you dislike "miniman" in particular, or dislike anything that doesn't include "tldr" in general?

[2017-09-04 08:36] agnivade commented on #1109
The latter.

[2017-09-04 08:38] agnivade commented on #1070
Sure, that would be great.

[2017-09-04 10:36] waldyrious commented on #190
Quoting a comment by @agnivade in #1436, which replaced all references to OS X with the new name, macOS:

[2017-09-04 12:38] agnivade commented on #1192
Fair enough. I withdraw my objections. I go with the first choice then !
[code]

[2017-09-04 14:00] deekim commented on #1423
@agnivade and @waldyrious, thanks for your input :)
i completely understand that there are a lot of other meatier items for the current maintainers to work on. i will be vacationing for a large part of september, but ill try to whip up a prototype towards the end of the month if you guys would be interested in reviewing.

[2017-09-04 14:32] sbrl commented on #1070
Oooh, awesome :D

[2017-09-04 14:35] sbrl commented on #1109
Nice table! I'm inclined to say no to "howto", since it not only is difficult to google, but is additionally awkward to say - since it sounds like the beginning of a sentence.

[2017-09-04 14:42] sbrl commented on #1069
I think that the PR template serves a useful purpose for contributors, but while there is a clear category of issues requesting particular commands, there are also a bunch of other types of issues that wouldn't necessarily benefit from an issue template - such as this one, or #1410, or #1263. I suspect that there isn't a 'one size fits all' solution here, so I'd vote to not have an issue template.

[2017-09-04 14:43] sbrl commented on #1410
1. Transpiling can be rather unstable, from what I've seen / heard. We'd have to do some practical investigation.

[2017-09-04 14:46] sbrl commented on #1065
So in RFC 2119 terms, it would be a MAY / OPTIONAL.

[2017-09-04 14:55] sbrl commented on #1073
That would be cool, and might also simplify matters in #1065 a bit.

[2017-09-04 15:53] waldyrious commented on #1192
That's great to hear, thanks for understanding. Waiting for @ostera and @sbrl to comment, then.

[2017-09-04 16:06] waldyrious commented on #1109
Good point @sbrl: the natural sentence would indeed be "how to use gcc?", not "how to gcc?". That said, most command names are pretty short and I could kind of see them used as a verb, e.g. "how to gcc <a file>" as a stand-in for "how to compile a file with gcc". This doesn't work in all cases, though.

[2017-09-04 16:11] waldyrious commented on #1069
That was my concern as well. We can always use the approach I mentioned [here](https://github.com/tldr-pages/tldr/issues/1073#issuecomment-253673426), which allows multiple templates, one per issue type, but to be honest I don't think the influx of issues is neither large enough, nor neatly separable into a few bins, to justify the apparatus.

[2017-09-04 18:05] sbrl commented on #1069
I agree.

[2017-09-04 19:03] waldyrious commented on #1192
You guys are no fun :P let's wait for @ostera (and maybe @rprieto) for the final tally.

[2017-09-04 22:49] rprieto commented on #1192
Great discussion. I like the "collaborative collection" part, but not sure if `simplified man pages` reflects the truth. I think this project aims to complement man pages with concrete usable examples (given the absence of examples in most man pages, and the high-barrier to contribution). What about `a collaborative collection of CLI examples to complement man pages`?

[2017-09-04 23:00] rprieto commented on #1109
That's true @waldyrious, I think it probably be the case with every name we have: it's hard to form a valid sentence on the command line :smile:.

The only thing I dislike about `miniman` is that it doesn't sound very serious. Will that put off part of the target audience? (although it might be hard to please both novice *nix users, and people who are command-line fans but need the occasional remi

[2017-09-04 23:12] waldyrious commented on #1192
Well, the manpage format does include an optional [`EXAMPLES`](https://en.wikipedia.org/wiki/Man_page#Layout) section that pretty much covers the same ground as we do here,<sup>†</sup> so I'm not sure we can be considered _complementary_ to man pages other than the fact that many manpages lack that section, which is incidental, rather than deliberate. So in my view it's neither necessary nor accur

[2017-09-04 23:17] waldyrious commented on #1192
That said, I do get the appeal of mentioning "examples" rather than merely "simplified". My only concern is making the short description not so short after all, hence my proposal to have a quick slogan-like description, with a more detailed (say, a one or two sentences) in the README, home page, etc.

Or we could go full descriptive and less evocative, dropping the reference to manpages entirely:

[2017-09-04 23:20] waldyrious commented on #1192
Maybe we could re-introduce some fun with a little alliteration :stuck_out_tongue:

    collaborative collection of common (use) cases for console commands

[2017-09-04 23:35] waldyrious commented on #1109
While "miniman" certainly has a playfulness to it, I also find it to be quite a good objective description of what we provide: compact manuals for the commands.

Yes, "mini-" is often used in a humorous/child-like context, but it is also used without any diminutive conotation (besides its literal meaning) in many common words, such as "minibar", "miniskirt", "minidisc", "miniseries", "Mini SUV", a

[2017-09-05 00:16] rprieto commented on #1109
Never realised that Markdown was wordplay on Markup 😲 D'oh!

[2017-09-05 06:29] ostera commented on #1109
`tldr(.sh) > miniman > anything else > tldr[-]pages > howto`

That’d be my short answer. So if we ain’t sticking to tldr for legacy reasons, I’d friggin love miniman to be the name.

[2017-09-05 06:35] ostera commented on #1192
_cromulent_ indeed, good sire!

Hello everyone, I’m late to this too. My half øre (because two cents is too mainstream) would be to go with something that has pizzazz.

I like the alliterations! I do indeed. So in order of preference:

1 - self vote.
2 - alliterations.
3 - other more specific and less playful alternatives.

My reason behind this is that even thou we may be serving experienced but

[2017-09-05 06:37] ostera commented on #1192
s/ he last thing/ the last thing

Can’t edit on GitHub for mobile?! Outrageous!

(ノಥ,_｣ಥ)ノ彡┻━┻

[2017-09-05 08:09] waldyrious commented on #1109
Great comment, @ostera. For a moment I was tempted to convert the other comments into a similar ranking for each participant in the discussion, tally up the votes and provide a table with numbers and total scores according to [various ranked-ballot counting methods](http://www.cs.wustl.edu/~legrand/rbvote/calc.html) (Borda, Schulze, etc.) — however, in my experience making these decisions based on

[2017-09-05 08:34] ostera commented on #1109
I'd like to bring this from the [other discussion](https://github.com/tldr-pages/tldr/issues/1192#issuecomment-327084294), that I feel is very relevant to this conversation as well

So keep in mind that this is a _branding_ discussion.

[2017-09-05 09:56] egilkh commented on #1076
Done.

Sorry for the long wait. Kinda turned off most notifications lately.

[2017-09-05 10:56] sbrl commented on #1192
I do like `collaborative collection of compact cheatsheets for console commands` a lot!

[2017-09-05 12:45] waldyrious commented on #1076
It's quite alright, @egilkh -- we all have periods where we need to step aside for a while :) Thanks for signing!

[2017-09-06 16:08] waldyrious commented on #1068
Mention-bot doesn't seem to be working lately... any hints to what could be the problem? /cc @agnivade, @vjeux.

Perhaps we could try [running it ourselves](https://github.com/facebook/mention-bot#how-to-contribute-or-run-your-own-bot)? /cc @sbrl.

[2017-09-06 18:34] agnivade commented on #1068
Tracking issue here - https://github.com/facebook/mention-bot/issues/230

[2017-09-07 14:39] sbrl commented on #1068
Looks like it's broken for other people too, so I'd want to wait until that issue is fixed / we have more information before running it myself. I wonder how difficult it would be to build the functionality into our existing `tldr-bot`? We can list the committers for a file in git with something like this already:

[code]

....though I suspect that it would be the GitHub API that we'd need to deal

[2017-09-07 15:42] waldyrious commented on #1068
As a side note, it would be great if we could use [github's "owners" bot](https://github.com/probot/owners) (or the now natively integrated [code owners](https://github.com/blog/2392-introducing-code-owners) feature. Unfortunately, neither has an option to automatically detect appropriate owners (original committer of a file and all those who modified it). The they are implemented, we would have t

[2017-09-07 15:43] waldyrious commented on #1068
Maybe https://github.com/probot/github-app could help in this regard?

[2017-09-07 16:10] bkeepers commented on #1068
Still to be determined if it will be deprecated. I know some people don't love how the new code owners feature is implemented, so I think there is room for both to exist.

I would _love_ to have mention-bot functionality implemented as a GitHub App. I looked into it when building the owners app, but unfortunately mention-bot screen-scrapped the GitHub UI to get blame history (which I suspect is wh

[2017-09-07 16:40] waldyrious commented on #1068
Thanks for the info and quick response! @sbrl does this sound like something you'd want to give a try?

[2017-09-07 21:31] sbrl commented on #1068
@waldyrious Possibly. I've just been looking into the tldr-bot source, and while my python is a bit rusty, it looks like a fairly simple task actually to update it - it's just testing it that might prove challenging! @agnivade, how do you test tldr-bot's logic?

We could use [this github api method](https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository) to search for commits

[2017-09-07 21:35] sbrl commented on #1068
Also, there's a "code owners" feature? What is it and what's wrong with it? Fromt eh description on that blog post, it sounds just like @mention-bot - I'm confused.

[2017-09-08 14:54] waldyrious commented on #1162
Only 3 to go (`notmuch`, `finch` and `rainbowstream`)! Anyone up for checking the last boxes? :grinning:

[2017-09-08 17:53] agnivade commented on #1068
I made a dummy PR. Intentionally made it to fail and confirmed that the bot catches it and updates the PR.

[2017-09-09 14:59] waldyrious commented on #1068
@sbrl I tried to answer precisely that question when I wrote

What part of that do you find confusing?

[2017-09-09 15:53] sbrl commented on #1068
Ah, right! I think I see now! GitHub's official description is rather vauge :P

[2017-09-09 16:13] #1186 closed

[2017-09-09 16:18] sbrl commented on #1068
@agnivade uhh ok! Looks like I may end up creating a bunch of dummy PRs then :package:

Any idea on the current git hook in use?/

[2017-09-09 18:55] agnivade commented on #1068
There's no git hook in use. There's a travis hook in use, if that's what you are asking. It pipes the test result output to send_to_bot.py. The script gets the test results POSTs it to the api endpoint listening on your server.

[2017-09-10 19:11] sbrl commented on #1068
Ahhh ok! I didn't realise :P Ok, in that case then if it's possible, a git(hub?) hook for new PRs would simplify things a whole bunch. Is there such a thing?

[2017-09-11 18:26] agnivade commented on #1068
I don't see how it will simplify things. Its a hook at the end of the day, whether its coming from Travis or Github doesn't really matter.

If you mean it will simplify things if you try to merge the tldr bot with the mention bot, then yes, that might be true because the github hook does send some additional metadata for the PR.

[2017-09-11 20:51] sbrl commented on #1068
@agnivade I assume that we'd want our mentionbot implementation to send it's message every time a commit is made to a PR then?

[2017-09-11 21:07] sbrl commented on #1068
@waldyrious I think it could work in either. I'm a little bit wary of running 2 separate processes /  services on my server though, so if we're talking about the hosted version of probot then probot-owners would probably be my preference.

If probot-owners isn't the publicly-hosted version of probot and would need to run on my server, I'd much prefer to integrate the functionality into tldr-bot in

[2017-09-12 00:26] waldyrious commented on #1068
I think using the hosted version of probot-owners would be the best choice, since we could help identify potential issues that would affect other users as well. If that makes it easier for you, even better :)

[2017-09-12 01:35] opticyclic opened #1487 "page request: stat"
`stat` is useful for showing octal permissions:
https://askubuntu.com/questions/152001/how-can-i-get-octal-file-permissions-from-command-line

[2017-09-12 06:19] agnivade commented on #1068
That would be too much IMO. Just do it only when a new PR is created.

[2017-09-12 10:12] sbrl commented on #1487
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2017-09-12 11:14] waldyrious opened #1488 "Participate in Google Code-in under the umbrella of Coala"
@jayvdb [suggested in Gitter](https://gitter.im/tldr-pages/tldr?at=59b516650cef4fed2eba3c4e) that the tldr project could be a good project for [Google Code-in](https://developers.google.com/open-source/gci/) tasks. The next edition should start [at the end of November](https://developers.google.com/open-source/gci/timeline). For a first experiment, we might consider joining under the umbrella of t

[2017-09-12 11:20] waldyrious commented on #1488
List of linter tools, [provided](https://gitter.im/tldr-pages/tldr?at=59b7bb2e81cd9a5d7e9db99f) by @jayvdb:

- [ ] apertium_lint
- [ ] astyle
- [ ] cppcheck
- [ ] cppclean
- [ ] cpplint
- [ ] flawfinder
- [ ] mcs
- [ ] indent
- [ ] cmakelint
- [ ] coffeelint
- [ ] dockerfile_lint
- [ ] puppet-lint
- [ ] tomlv
- [ ] postcss
- [ ] csscomb
- [ ] csslint
- [ ] stylelint
- [ ] csvlint
- [ ] dartanalyze

[2017-09-12 12:19] jayvdb commented on #1488
cc @sils @yukiisbored

[2017-09-12 12:37] sils commented on #1488
Let me know how I can help with this, I'm very happy about those kinds of cooperations :) A tldr page for `coala` itself might be a good task in addition as well.

[2017-09-12 13:17] waldyrious opened #1489 "Import content from manpages with EXAMPLES sections"
In parallel with #1070 (and as alluded to [here](https://github.com/tldr-pages/tldr/issues/1192#issuecomment-327037693)), it seems like a quick way to add a bunch of additional content could be to locate manpages that already contain an [EXAMPLES section](https://en.wikipedia.org/wiki/Man_page#Layout), and use those as seeds for new tldr pages.

We could even have a bot automatically create those

[2017-09-12 17:33] jayvdb commented on #1488
Recommend finishing https://github.com/tldr-pages/tldr/issues/1076 quickly, otherwise the problem will grow uncontrollably during gci.

[2017-09-12 17:59] waldyrious commented on #1488
@jayvdb that's not a problem, actually :) we currently only merge PRs when the author has signed the CLA, which was written specifically to avoid the bureaucratic nightmare should the project choose to adopt a different license (e.g. precisely the use case of #1076).

[2017-09-12 18:35] agnivade commented on #1488
A project board is fine. I think we decided to submit around 5 tasks right ? So does that mean we should narrow down to 5 tools which don't have a page yet ?

[2017-09-12 21:47] sbrl commented on #1488
@agnivade If we're documenting linters and we can only pick 5, then perhaps we could choose the 5 most popular languages' linters?

[2017-09-12 21:49] sbrl commented on #1071
Ping @ostera

[2017-09-13 03:59] agnivade commented on #1488
Sure

No, in that case, they need to be issues. However, if we shortlist just 5. I think we can create issues and label them as gci.

[2017-09-13 11:52] waldyrious commented on #1488
@jayvdb, @sils, @yukiisbored: if we're going to pick 5 linters only, which ones would you suggest?

[2017-09-14 04:38] agnivade commented on #1070
@waldyrious - I might take a stab at it this weekend. Can you share the links/notes that you have ?

[2017-09-14 08:35] waldyrious commented on #1070
Sure. I'll block off one hour to work on this today, and will post the resulting data.

[2017-09-14 09:30] waldyrious commented on #1410
Cross-referencing #91 (last time I tried to find it I wasn't able to)

[2017-09-14 16:58] #1181 closed

[2017-09-15 13:19] waldyrious commented on #1070
Heads-up: the wiki page "Pages plan" has been deleted to centralize tracking of missing pages in this thread. I've moved all the information that was present there to [this spreadsheet](), which is publicly viewable and anyone can add comments. It's a work in progress (I just started it). I'll give write access to the current maintainers.

[2017-09-15 15:38] sbrl commented on #1070
@waldyrious Wow, that's an impressive spreadsheet! Is there a filter for just the ones that haven't been done yet? How are bulk lists of commands added to the list?

[2017-09-15 15:43] waldyrious commented on #1070
There will be a filter, yeah -- that's one of the reasons I've decided to build it in a spreadsheet. The lists of commands will be added manually (using various helper tools, of course), since the various sources don't use a common format. Let me know on Gitter if you'd like to work on this so we can coordinate.

[2017-09-15 16:00] agnivade commented on #1070
I am concerned about how do I get the total list of commands programmatically. Since I would like to run the list against every commit merged with master.

[2017-09-15 18:18] waldyrious commented on #1070
That document is by no means meant to be the final location of the list. I don't know yet what setup would be the best balance of (1) community maintenance of the data, (2) machine consumption of the contents, (3) automatic synchronization (as much as possible) as new pages are added. Ideas are welcome.

Also, the choice of how to set this up would depend on how often we would want to update the l

[2017-09-15 19:33] agnivade commented on #1070
Umm no .. I think you got the wrong idea. :stuck_out_tongue_closed_eyes: We don't need to synchronize when new pages are added. That would be crazy. It seems like you put a lot of effort into this. Frankly, I didn't need so much details.

Here's what my plan is -
- On every commit to master branch, run a script which will get all the commands in the repo, get a list of target commands we want to m

[2017-09-15 22:16] waldyrious commented on #1070
Hahah, yeah, I got a little carried away there. Although I might have given off the wrong impression.

The way I was planning to have this "automatic sync" feature was to simply open one issue per command to add, and assign them to milestones according to the lists they appear in. That way we'd get a nice live overview page with progress bars for each of the lists we'd want to reach parity with. F

[2017-09-16 04:19] agnivade commented on #1070
Your idea seems like a lot of manual work, something which I personally would want to avoid. I was planning for that "completeness" metric and be done with it. If we indeed decide that it's just gonna be 1000 commands, then we might as well compute the list and check it in in the repo, so that my code can easily compare with it.

[2017-09-16 07:14] waldyrious commented on #1070
Sure, as I said, the list will probably not change much after we compile it. My idea is just a nice-to-have I might do on my own later on (unless you guys object).

For the master list, we just need to decide what is the criteria we'll use to define its contents -- from there it's just a matter of collecting the rest of the data and applying the filters.

So in that regard, what are your thoughts

[2017-09-16 08:48] waldyrious commented on #1070
Update: the [table](https://docs.google.com/spreadsheets/d/1d6fWrgbjxdXcGLLuTKeWW032-UtKFe25U2Lq_isOovE/edit#gid=0) is pretty much ready now. Some areas that still need some help:

- cells painted yellow indicate sources that haven't been integrated yet. There are four of them. Any help in that regard would be appreciated (just parsing those sources into a plaintext list of commands would suffice)

[2017-09-16 08:55] waldyrious commented on #1070
By the way, the plan to use milestones won't be possible after all. I had already reached this conclusion [before](#issuecomment-247763567), but forgot it in the meantime: it turns out GitHub only allows a single milestone per issue, so there would be no way to simultaneously track progress towards multiple coverage parity goals :(

That said, we could still have a milestone for the master parity

[2017-09-16 17:47] agnivade commented on #1070
So are you saying you have manually counted each 'x' just to verify the automated count ? That's some dedication ! Why bother with the manual count at all if there is already automation for it ? Unless you suspect that `=COUNTIF(L5:L,"x")` is wrong ?

[2017-09-16 18:06] waldyrious commented on #1070
Oh god no, haha :P I'm not _that_ crazy ;)
I had the correct count from the actual lists (number of lines, basically, which any decent text editor will provide), which gives me more confidence in the result than using the formulas. Besides, some of the automated counts indeed are correct. I found some duplicated entries before, due to imperfect filtering, but I can't figure out what's causing the

[2017-09-16 18:47] agnivade commented on #1070
Ah I see :) Didn't notice that there was another sheet.

[2017-09-16 21:25] sbrl commented on #1070
Awesome work! Yeah, perhaps we could have a 'current goal' to document all the commands in a given list, and keep moving to new lists as we complete old ones. Having a list of commands auto-generated that have yet to be documented for the 'current goal' parity list would be helpful for newcomers, yeah.

The sheet is rather unwieldy though on my screen, since the frozen panes take up about 60% of m

[2017-09-17 08:24] agnivade commented on #1070
I think we should move the orange and yellow cells to a new row below. Because its in the same row as coverage. And it just signifies the expected count, not coverage.

And lastly, our current coverage % is 52 right ?

[2017-09-17 09:48] waldyrious commented on #1070
I made the heading more compact. Is that workable now?

Agreed, I just did that. Ideally we won't even have to include the expected count on the table, but until we figure out what's going on with the mismatched values, we'll need those cells.

[2017-09-17 10:31] waldyrious commented on #1070
Ok, I've filled the table some more.
Also, apparently I can't reproduce the count mismatch anymore, so ¯\\\_(ツ)\_/¯

The two sources that need parsing into a plain list of command names are [Inconsolation](https://inconsolation.wordpress.com/index/) and [ArchWiki's List of applications](https://wiki.archlinux.org/index.php/List_of_applications).

Yes, but that's a plain fraction that doesn't consi

[2017-09-17 13:58] sbrl commented on #1070
Through weird es6 magic, I bring you a list of commands for the Inconsolation lists! Here's the code I used in the firefox console for reference:

[code]

...I've pasted them into the spreadsheet. They might need a little bit of tidy-up work though, since the input was messy.

[2017-09-17 20:35] sbrl commented on #1070
It is a bit messy, isn't it! :stuck_out_tongue: What it does is extract the names of the commands listed on the page, since I assumed that it was an index of all the commands the author had talked about. It discards the following:

 - Items in the list with a capital letter at the beginning
 - Items without a colon

Once done, it extracts the bit before the colon and does the following:

 - Splits

[2017-09-19 10:03] bibirico opened #1498 "[ToBeRemoved]Generated files should not be committed"
Implement a mechanism (based on names ?) to prevent default committing of generated files.

[2017-09-19 10:14] agnivade commented on #1488
ping @jayvdb , @sils , @yukiisbored

[2017-09-19 10:18] agnivade commented on #1498
Which generated file are you talking about ? This repo only contains `.md` files and some scripts.

We can always add some paths to `.gitignore` if that file is not meant to be committed.

[2017-09-19 22:58] yukiisbored commented on #1488
@waldyrious I think it's better to make the student choose the linters so it'll be a reproducible task

[2017-09-20 07:52] sils commented on #1488
Agree with @yukiisbored make it part of the task to search the issue database, find out if somebody is already working on a linter and file and issue about it if it doesn't exist, get an assignment. That's the open source contribution path that they have to learn as well right?

[2017-09-20 07:57] agnivade commented on #1488
The problem might be that every student might choose a different linter and now we have 20-30 separate tasks being worked on.

[2017-09-20 08:05] sils commented on #1488
Yes, if you have lots of students you don't want them to redo the same task again wasting their time, no? With the assignments you can easily scale and even give them a title scheme so you can filter and manage all issues of that kind, see who's working on what, encourage them to review each other even.

[2017-09-20 08:12] agnivade commented on #1488
The concern was that we (atleast I) might not have the bandwidth to review 20-30 separate commands.

And I believe @jayvdb mentioned that it might be good to have students work on the same pages, that way we can make the task of completing a particular page to be reproducible.

Let me know your thoughts.

[2017-09-20 08:27] sils commented on #1488
What I've learned from @jayvdb last year is that the key is to have really
really well defined tasks that they can work on with almost no interaction.
At coala we even had them self assign issues with a bot, i.e. automating as
much as possible and letting people start on their own and also review each
other so they can do iterations with maintainers looking at higher grade
PRs due to that.

[2017-09-20 13:15] sbrl commented on #1488
I've got the bandwidth (esp. since I'll be spending a lot of time at uni :stuck_out_tongue:) - it's just the time that is limited on my end.

[2017-09-21 07:39] waldyrious commented on #1488
Do you mean the tldr-pages' issue database? That means we first need to create issues for each of the linters listed [here](https://github.com/tldr-pages/tldr/issues/1488#issuecomment-328822771), right? That would answer one of the questions of the opening comment, but we need to figure out the others as well:

[2017-09-21 07:42] waldyrious commented on #1488
By the way, the 2017 edition has been announced in the Google Open Source Blog: [Announcing Google Code-in 2017: The Latest and Greatest for Year Eight](https://opensource.googleblog.com/2017/09/announcing-google-code-in-2017.html).

[2017-09-21 07:58] agnivade commented on #1488
All this would not be required if we can just decide on 5 linters. Then we can add the man page links, create issues (maybe create a project board for GCI) and be done with it. But I see there is a bit of indecision on how to go forward.

alright ! its happening !

[2017-09-22 11:57] bibirico commented on #1498
Waow, sorry, I really don't know how this issue get there... a very strange misclick.
Sorry about this, not intended to be posted here...

[2017-09-22 12:06] #1498 closed

[2017-09-22 12:28] sbrl commented on #1498
No problem, @bibirico :smiley_cat:

[2017-09-24 13:59] the-c0d3r opened #1503 "Screenshot font name"
I just saw your screenshot and couldn't help but notice the font looks so good on it. Can you please tell me what font you are using? I have tried looking it up myself since I don't want to bother other people, but I just can't seem to identify it.

[2017-09-24 17:41] waldyrious commented on #1503
On the repository's [main page](https://github.com/tldr-pages/tldr) (or on the [README](https://github.com/tldr-pages/tldr/blob/master/README.md)) you can click the screenshot image, which will take you to [its location in the source](https://github.com/tldr-pages/tldr/blob/master/screenshot.png). There, you'll see in the banner above the file that the last person to edit it was @agnivade, in #957

[2017-09-25 16:53] jedahan commented on #1503
I believe its Inconsolatas or InconsolataForPowerline Nerd Font https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Inconsolata/complete

[2017-09-26 12:33] the-c0d3r commented on #1503
I believe it is. Thank you so much. Fonts really do matter in programming environment. I'm always looking for better fonts to help my coding.

[2017-09-26 12:33] #1503 closed

[2017-09-28 10:08] waldyrious opened #1508 "split CONTRIBUTING.md into main guidelines and auxiliary docs"
This has been discussed in a couple PRs now -- most recently in #1495 (/cc @vivekkrish).

#1018 is the only issue specifically related to additions to the CONTRIBUTING.md file that I could find in a quick search (I'm pretty sure there have been discussions to that effect in a few other threads). Such tasks should be included/considered when performing the split.

Links to other discussions where t

[2017-09-28 21:35] mdew192837 commented on #1368
Here may be something useful. I'll take a look at this though.

[2017-10-02 16:48] jayvdb commented on #1488
Sorry for causing some confusion here and then running away.
I'm not sure where the idea of students working on the same page came from; that will cause problems, and is actually something to avoid.

Ideally you have a list of all possible linters , and students are assigned to one of them.

That way you have only one 'task' description, but and it can be repeated 99 times by 99 different students

[2017-10-03 02:29] juan88 opened #1510 "page request: popd"
There is a `pushd` tldr page for what I found out to be a very useful command but there is no `popd` page for the command that pops the directory out of the stacks and cd-in.

I could give it a try if you want. Cheers!

[2017-10-03 02:32] juan88 commented on #1487
Hello! Can I give it a go?

[2017-10-03 04:04] agnivade commented on #1487
By all means, yes. :)

[2017-10-03 04:05] agnivade commented on #1510
Sure. Go ahead.

[2017-10-04 20:19] sbrl commented on #1488
I'm sure we might be able to write a script that auto-assigns pre-existing issues to people, say, if they left a comment saying something like

[code]

[2017-10-04 20:20] sbrl commented on #1510
Go for it! :smiley_cat:

[2017-10-06 21:42] YangVincent commented on #1304
Can I do this?

[2017-10-06 21:53] YangVincent commented on #1176
Can I do this?

[2017-10-07 12:46] mfrw opened #1529 "page request: sar"
The system activity reporter `sar` is not documented. I want to give it a try :)

[2017-10-07 16:22] agnivade commented on #1488
The 2nd approach is better but error prone. Because you would be making the wiki page editable by students. About creating an app to automate that or adding new features to tldr-bot, I don't know who will work on it. I will not be able to allocate time to do something like that.

I think safest bet is with 1st approach, each of us can divide 5 issues amongst us. That gives us 15 issues (Feel free

[2017-10-07 21:40] #1176 closed

[2017-10-07 21:43] sbrl commented on #1529
Go right ahead, @mfrw :smiley_cat:

[2017-10-08 02:13] yukiisbored commented on #1488
@sbrl You can use our corobo not to do that ;) github.com/coala/corobo

[2017-10-09 20:00] #1184 closed

[2017-10-11 10:42] #1529 closed

[2017-10-12 06:39] agnivade commented on #1068
@sbrl - We can set up mention bot ourselves in your server. I was going to do that, but I forgot the username I used to log in to your server. Can you remind me ? :sweat_smile:

[2017-10-12 18:12] lamar-frankie commented on #1180
Hi, @waldyrious I'd like to work on this.

[2017-10-13 03:19] lamar-frankie commented on #1218
I can work on this.

[2017-10-13 16:13] lamar-frankie commented on #1218
Done Page astyle #1543

[2017-10-13 20:34] sbrl commented on #1068
@agnivade It's the `tldr-bot` user. Also, if it's going to be running on my server, I'd like to keep a very close eye on it. It's a Node.JS application - and I've experienced memory leaks with those before. Also, that's a _lot_ of heavy dependencies it requires - like multiple `babel` packages, according to the `package.json`. Are those _really_ necessary? It's a lot of weight for something that c

[2017-10-13 22:16] agnivade commented on #1068
Yes, those are necessary. Until we rewrite the logic ourselves, we are tied to this unfortunately. Let me know what you decide.

[2017-10-16 15:09] mashehu opened #1550 "page request: ssh-add"
Just realized that this is missing. I will try to add it as soon as possible.

[2017-10-17 13:31] lamar-frankie commented on #1175
If this is still needed. I can work on it.

[2017-10-18 13:47] #1550 closed

[2017-10-18 13:49] #1487 closed

[2017-10-18 13:55] sbrl commented on #1175
@lamar-frankie Doesn't look like anyone else has taken it! We're always interested in documenting new commands, so go ahead :smiley_cat:

[2017-10-18 14:09] lamar-frankie commented on #1175
I'll get on it. Thanks!

[2017-10-18 14:43] lamar-frankie opened #1554 "Add upstream config to Contributing.MD"
The command line section is missing a step. After the contributor creates a feature branch locally they need to set the remote upstream or else attempts to push will fail.

Example:

`git push --set-upstream origin {{feature_branch_name}}`

[2017-10-18 15:29] agnivade commented on #1554
Hi @lamar-frankie,

I am a bit confused. `--set-upstream` or `-u` is used to set the remote branch name when pushing. This is used in case when your local branch is different from the remote branch where you want to push. But you are saying unless the `-u` is set, attempts to push will fail. I have personally never seen this.

Also, you are interchangeably using the words remote upstream with remo

[2017-10-19 23:56] mfrw opened #1556 "page request: perf"
The `perf` (Performance analysis tools for Linux) command is not documented here.
How about I give it a shot ?

[2017-10-20 13:51] mfrw commented on #1554
@agnivade In my opinion what @lamar-frankie wants to say is
`git push origin {{feature_branch_name}}`
The walk through given in the CONTRIBUTING.md first instructs to fork the main repo, then create a local branch for modification and fiinally push to the fork.
Then create a pull request from it.

[2017-10-20 14:01] #1175 closed

[2017-10-20 14:33] lamar-frankie commented on #1554
Following the steps on the Contributing page gives you a local branch that isn't connected to a remote.

[2017-10-20 15:11] agnivade commented on #1554
I see the issue. This is a change in git behavior.

[code]

Earlier, by default, `git push` meant `git push origin <current_branch>`. But now, that does not seem to be the case. Thanks for bringing to notice.

This does not need the `--set-upstream` flag however. A simple `git push origin <branch>` is sufficient. Hence, my confusion earlier.

I will update the page.

[2017-10-20 16:33] mfrw commented on #1554
@agnivade ohh are you going to update the page yourself,
actually, I had almost made a pr.
Should I continue with the pr or you would do the changes yourself?

cheers

[2017-10-20 16:42] agnivade commented on #1554
Sure, please send a PR.

[2017-10-21 09:32] sbrl commented on #1554
Running it with `--set-upstream` means that you don't have to use the full `git push {{origin}} {{master}}`, and instead you can use simply `git push`.

[2017-10-21 12:26] agnivade commented on #1554
Yea it's a one-off thing. I prefer the full command since the page is going to be read by a lot of people using git for the first time.

[2017-10-21 20:57] sbrl commented on #1554
With #1560, does that mean that this issue can be closed?

[2017-10-21 21:14] mfrw commented on #1554
@sbrl I think we should close it

[2017-10-21 21:20] sbrl commented on #1554
@mfrw Yeah, you're probably right. Closing now.

[2017-10-21 21:20] #1554 closed

[2017-10-22 04:52] agnivade commented on #1554
Ah, I forgot to add the "Closes" magic word in the PR.

[2017-10-23 18:55] mfrw commented on #1556
Closing this issue

[2017-10-23 18:55] #1556 closed

[2017-10-24 10:02] sbrl commented on #1556
Good spot - we must have forgotten the magic `close word` there :P

[2017-10-25 19:35] sbrl commented on #1510
All done! Looks like this issue wasn't automagically closed by #1517.

[2017-10-25 19:35] #1510 closed

[2017-10-25 19:41] sbrl opened #1579 "Let's get the new windows section started!"
As a sort of celebration of the new `windows` platform folder, here's a list of 10 useful commands that are specific to windows machines.

 - [x] sfc
 - [x] sigverif
 - [x] driverquery
 - [x] nslookup
 - [x] ping
 - [x] pathping
 - [x] ipconfig
 - [x] repair-bde
 - [x] tasklist
 - [x] taskkill

_From [this tech republic article](http://www.techrepublic.com/blog/10-things/10-windows-7-commands-ever

[2017-10-26 05:48] itsjzt commented on #1579
some more are

- [ ] cls
- [ ] color
- [ ] set
- [ ]  systeminfo
- [ ] tree
- [ ] wmic

[2017-10-26 10:42] waldyrious commented on #1488
@sbrl just so we're all in the same page, are you planning to implement (2) using the corobo bot?

[2017-10-26 17:49] sbrl commented on #1488
@waldyrious I wouldn't be averse to collaborating with someone with more python experience than I in testing it on my server without docker.

[2017-10-27 13:30] josephernest opened #1588 "One-line install of tldr, without any node server"
`tldr` looks very nice, especially

    $ tldr tar

which is a good example.

Question: is there a one-line install solution like

    apt-get install tldr-pages

i.e. for people who don't have (or don't want to install) a node server.

I imagine it's possible: after all docs can be just plain text files, and

    $ tldr tar

could just display one of these files.

Is there a version without the n

[2017-10-27 15:30] agnivade commented on #1588
There are a whole plethora of clients other than node. https://github.com/tldr-pages/tldr#clients. So, yes you can have tldr without installing node.

Now, regarding a debian package, note that a debian package will only work for debian operating systems. But tldr aims to be a platform independent tool. Therefore, we would ideally want a solution which works on all platforms. Please check the disc

[2017-10-27 15:41] josephernest commented on #1588
Thanks for your answer.

The term "client" led to a misunderstanding for me: I thought that even if I use another *client* (such as one in your list), there would still be the need of a  *server* running. (client/server). Is this true or false?

But anyway, why is a server needed? I don't know anything about how `tldr` works internally, but isn't it possible to have just a collection of hundreds o

[2017-10-27 16:03] josephernest opened #1592 "Add "Easy install" instructions paragraph in README.me, that works on most fresh-installed Linux (don't assume everyone knows npm, brew, etc.)"
I really love the project, I'm [not](https://github.com/josephernest/) a newbie in Linux or Windows, but still I'm a bit lost when trying to set up `tldr`, so I think I'm probably not the only one.

It seems that the README.me could be a little bit clearer about the mechanism. Is it:

1. Client (=your own computer) / Server (= one repo like Github pages), i.e. each time you do `tldr tar` on your c

[2017-10-27 17:35] agnivade commented on #1588
False. There is no server running anywhere. The "client" is just code written to display the markdown page.

[2017-10-27 17:47] agnivade commented on #1592
It is 3. All files are stored locally. It is not just a shortcut though, the clients have to parse the page. We use a custom format to signify certain things. And also they color the output for beautification.

There is no mention of the word "server" anywhere. So, I am not sure where is the misunderstanding here. But if there is a confusion, please let us know what should be changed so that we ca

[2017-10-27 18:21] josephernest commented on #1592
Thanks for your answer.

This is the reason:

* I saw "client" (very often used in client/server situations, such as email clients (i.e. that connects to a mail server), web client / connected to a server)

* then I saw `Install it with sudo npm install -g tldr`, and I thought "that's Node", then I looked at the clients list, and saw `Node.js client : npm install -g tldr`, this was the confirmatio

[2017-10-27 19:02] agnivade commented on #1592
A "client" does not necessarily mean a client - server situation. By now, I think we have used "client" so ubiquitously, it will be too late to change it to anything else.

`npm install -g tldr` does not mean in any way that a node.js server has to be running. It just install a couple of javascript files in your system.

Regarding which client to use, the 2nd line itself mentions to install the no

[2017-10-27 20:54] josephernest commented on #1592
Yes of course, but when you see "clients" + you hear about node.js, it *can* make think of a client/server scheme.

That's right, I totally understand this.

What I mean is that nor `npm` nor `brew` are installed by default on a Debian or Ubuntu.

So maybe a case of [curse of knowledge](https://en.wikipedia.org/wiki/Curse_of_knowledge), but for a new user coming, he'll think:

Let's install it! `n

[2017-10-28 04:43] agnivade commented on #1592
Right. It would be great if we had something like that. But unfortunately we don't. You are most welcome to start and maintain a ppa for the C++ client. We will gladly add that.

Regarding your error with the bash client, feel free to open an issue in the bash client repo.

[2017-10-28 09:43] #1592 closed

[2017-10-28 09:52] sbrl commented on #1588
The "server" you speak of is actually the GitHub repository - The clients just pull down content from there.

[2017-10-28 09:58] sbrl commented on #1592
Node / npm does not mean that a node server has to be running. In fact, a large number of packages available today are command-line applications that are set to 'prefer global', such that when you `npm install` them, they are immediately available in your path.

As for 'easy install' instructions, that's a tricky one. We could, for example, include instructions for installing node, like `sudo apt

[2017-10-28 10:00] sbrl commented on #1592
In fact, there's even an [online client](https://tldr.sh/) that we link to in the repository that yo  can use that requires no installation at all :P

[2017-10-28 10:05] josephernest commented on #1588
I don't think so: according to @agnivade said [here](https://github.com/tldr-pages/tldr/issues/1592#issuecomment-340039060), you only pull data from the repo *once*. Then everything happens on the local machine and there is no client/server request anymore each time you do `tldr <command>`. So I think it's better to say "there's no server involved" (after initial install or except updating once in

[2017-10-28 10:08] sbrl commented on #1588
Actually, that's not true. Yeah, most clients cache it locally, but most periodically update (you can do it manually via `--update`). Who knows - some clients might actually make a request for every page you ask for. There no set way of doing it, and so everyone does it differently. There's another issue about that (I forget which one) and talk of an 'official' reference client.

[2017-10-28 11:17] agnivade commented on #1588
Yes, I just tried to give a overall idea without going into details. @sbrl is right.

[2017-10-28 17:16] mstruebing commented on #1410
I don't think the transpiling idea could work in a reasonable amount of work/time and would not be stable I think, every language moves on and that would be a huge amount of work to be maintained.
A single client would be great if it would be working *perfectly*, I remember I had issues the first time I tried tldr and heard the same from a colleague whom I showed my client. That's why I think the

[2017-10-28 17:43] agnivade opened #1596 "page request: postcss"
webpage here - http://postcss.org/
cli documentation here - https://github.com/postcss/postcss-cli#usage

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:45] agnivade opened #1597 "page request: csscomb"
webpage here - http://csscomb.com/
cli documentation here - http://csscomb.com/docs/usage-cli

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:47] agnivade opened #1598 "page request: csslint"
webpage here - http://csslint.net/
cli documentation here - https://github.com/CSSLint/csslint/wiki/Command-line-interface

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:48] agnivade opened #1599 "page request: cppclean"
webpage here - https://pypi.python.org/pypi/cppclean
cli documentation here - https://github.com/myint/cppclean#run

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:50] agnivade opened #1600 "page request: cpplint"
webpage here - https://pypi.python.org/pypi/cpplint
cli documentation here - https://github.com/cpplint/cpplint#cpplint---static-code-checker-for-c

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:52] agnivade opened #1601 "page request: ruby"
webpage here - https://www.ruby-lang.org/en/
documentation here - https://www.ruby-lang.org/en/documentation/

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 17:54] waldyrious opened #1602 "Move clients in the tldr-pages org back to the original authors"
I'm creating this issue for future reference, because I always have a hard time finding the appropriate discussion threads.

This was first suggested in [a comment in #1104](https://github.com/tldr-pages/tldr/issues/1104#issuecomment-251525707); various comments in that thread then continue the discussion. In addition, #1115 is relevant, and to a lesser extent, [other issues with the "clients" lab

[2017-10-28 17:56] #1602 closed

[2017-10-28 18:00] agnivade opened #1603 "page request: pyflakes"
Webpage here - https://pypi.python.org/pypi/pyflakes

Specific documentation on how to invoke from command line is sparse. Installation step is here - https://github.com/PyCQA/pyflakes#installation. One has to install and and find out the parameters.

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use fo

[2017-10-28 18:01] agnivade opened #1604 "page request: pycodestyle"
webpage here - https://pypi.python.org/pypi/pycodestyle/
cli documentation here - https://github.com/pycqa/pycodestyle#example-usage-and-output

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 18:03] agnivade opened #1605 "page request: pylint"
webpage here - https://www.pylint.org/
cli documentation here - https://pylint.readthedocs.io/en/latest/user_guide/run.html

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 18:04] agnivade opened #1606 "page request: eslint"
webpage here - https://eslint.org/
cli documentation here - https://eslint.org/docs/user-guide/command-line-interface

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 18:06] agnivade opened #1607 "page request: gofmt"
webpage and cli documentation here - https://golang.org/cmd/gofmt/

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-28 18:07] agnivade opened #1608 "page request: golint"
cli documentation here - https://github.com/golang/lint#usage

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-10-29 04:38] pepa65 commented on #1410
@sethwoodworth How does the bash client not correctly do caching?? I'd welcome any [issues](https://github.com/pepa65/bash-tldr-client) you find.

[2017-10-29 08:56] amitsharma928 opened #1610 "ps: add more CLI options"
Need to add more command line options for ps command.

[2017-10-29 11:28] agnivade commented on #1610
Feel free to send a PR. We will be happy to take a look at it.

[2017-10-29 13:21] sbrl commented on #1610
Thanks for requesting this edit Do you want to have a go yourself?

Pages are best created and edited by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2017-10-30 08:32] phillip055 commented on #1606
Hi, I would like to try and take this up! 👍

[2017-10-30 09:24] agnivade commented on #1606
Umm, this was part of the issue list for the Google Code-In event. Hence the gci tag. But sure, go ahead. I guess we will add new issues.

[2017-10-30 18:56] sbrl commented on #1606
Should we remove the `gci` tag?

[2017-11-01 07:13] jitakirin commented on #1368
BTW, I didn't have much luck with the `--since=` syntax with `diff`, it gives me empty results for any expression I tried. `git rev-parse --since='4 days ago'` gives `--max-age=1509142638`, so this works very well with `log`. For comparison `git rev-parse 'HEAD@{4 days ago}'` gives an actual commit ID.

[2017-11-03 23:06] #1368 closed

[2017-11-04 05:25] mfrw opened #1622 "page request: join"
There isn't a page for the good ol' `join`.

[2017-11-04 11:38] #1606 closed

[2017-11-07 08:04] soulomoon opened #1624 "It is possible to configure my tldr to be offline, avoiding checking every time on the internet if the command I feed is not valid?"
Due to my poor network, tldr takes a long time to fetch from internet,
Is it possible from me to switch it off,
and manually update my source in my will?

Additional information:
[code]

[2017-11-07 12:14] agnivade commented on #1624
If the command you feed is not valid, you won't get an output anyway. You can just press ctrl-c to cancel the network fetch operation.

For valid commands, they are always fetched locally.

To answer your question - no its not possible to do that. If a page you enter is not there, you would almost always want to update your cache and check whether the page has been added to the remote repo or not.

[2017-11-07 12:45] thegreyfellow opened #1626 "tldr --update not working, tldr -update works"
Hi guys,

Just a quick thing I noticed it's when I try to update it says this message:

`Local data is older than two weeks, use --update to update it.`

If I try it with `tldr --update` it does not update, but if I try it with one dash `tldr -update` it works. Thanks for your hard work.

[2017-11-07 14:35] agnivade commented on #1626
I am assuming you are talking about the node client. That message used to come in a very old version of the client. Please upgrade to a newer version and check.

Please close the issue here and open a new issue in the node-client repo if you still see the issue. This repo is only used for pages.

[2017-11-07 15:24] thegreyfellow commented on #1626
I installed tldr using homebrew, I'm sorry I couldn't understand the relationship of node-client to this.

[2017-11-07 20:02] YangVincent opened #1627 "page request: zeek"
http://bro.org

[2017-11-07 20:02] YangVincent opened #1628 "page request: ipsumdump, ipaggmanip, ipaggcreate"
http://read.seas.harvard.edu/~kohler/ipsumdump/

[2017-11-08 03:14] agnivade commented on #1626
Ah its the cpp client then. Please file an issue in that [repo.](https://github.com/tldr-pages/tldr-cpp-client) /cc @Leandros

[2017-11-08 03:41] soulomoon commented on #1624
Thanks

[2017-11-08 03:41] #1624 closed

[2017-11-08 19:33] #1304 closed

[2017-11-08 19:40] sbrl commented on #1627
Looks interesting! I'm actually building something related to this for my final year project, so I'll take a little look at this project. Thanks :smiley_cat:

[2017-11-10 16:09] agnivade commented on #1263
The linter actually gives error for scenarios like this. Maybe at that time, somehow it didnt work properly. Closing this until it happens again.

[2017-11-10 16:09] #1263 closed

[2017-11-13 07:36] agnivade commented on #1626
Closing this issue now. Please file an issue in the cpp-client repo to get clarifications.

[2017-11-13 07:36] #1626 closed

[2017-11-13 07:37] agnivade commented on #273
A WIP version of this has been started in https://github.com/tldr-pages/tldr-node-client/pull/161

[2017-11-15 20:59] sbrl commented on #1488
I've got a bit of spare time, so I've investigated corobo - and I've got a few questions:

1. If it's a project under the coala organisation, won't coala be using this? In that case, couldn't we use their instance?
2. Does it work with virtualenv?
3. Should the `COBOT_ROOT` env variable point to the corobo repo itself (https://github.com/coala/corobo), or the repo you want it to operate on?
4. Wha

[2017-11-16 00:25] yukiisbored commented on #1488
@sbrl

1. Yes we're using it, but due to how it's written it can only see the coala organization and nothing else.
2. Yes, but we recommend using Docker.
3. `COBOT_ROOT` is set to the location of the folder where corobo is located
4. It's our attempt to answer questions in a natural language fashion.
5. You use it via chat like Gitter, Telegram, etc. But atm it only works best on Gitter.

[2017-11-16 00:27] yukiisbored commented on #1488
If you need any help deploying corobo to your server, don't hesitate to contact me.

[2017-11-18 05:36] agnivade commented on #273
PR is merged now. The node client has the search functionality. I am going to close this now as at least one client supports it.

[2017-11-18 05:36] #273 closed

[2017-11-23 01:56] jonnywang opened #1643 "pull request iptables"
Feel free to send a pull request to: https://github.com/tldr-pages/tldr

[2017-11-23 03:07] agnivade commented on #1643
We already have a page for iptables. Can you explain the purpose of this issue ?

[2017-11-23 13:11] sena73 opened #1645 "page request: mdadm"
http://www.ducea.com/2009/03/08/mdadm-cheat-sheet/

[2017-11-23 17:56] sbrl commented on #1645
Hey, thanks for the request! It looks like we've already go ta page on `mdadm` [here](https://github.com/tldr-pages/tldr/blob/master/pages/linux/mdadm.md).

 - If you're not on linux, is this command available on platforms other than linux?
 - Depending on your client, try running `tldr --update` and `tldr --cache` to update your local copy of tldr-pages.

[2017-11-24 02:49] kshammer opened #1648 "page request: fork"
http://man7.org/linux/man-pages/man2/fork.2.html

[2017-11-24 04:57] agnivade commented on #1648
Hi,

Sorry about this, but we only create pages for command line tools. Not linux library function calls.

I am going to close this issue now as this is outside the scope of the project. But feel free to reopen if you feel otherwise.

[2017-11-24 04:57] #1648 closed

[2017-11-24 06:35] aksaha2311 opened #1649 "page request:kubectl"
https://kubernetes.io/docs/user-guide/kubectl-cheatsheet/

[2017-11-24 18:43] sbrl commented on #1649
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2017-11-25 14:15] agnivade commented on #1643
Hi @jonnywang - I will go ahead and close this issue. Feel free to reopen if you had something else in mind.

[2017-11-25 14:15] #1643 closed

[2017-11-25 14:48] agnivade opened #1659 "page request: dep"
Webpage here - https://github.com/golang/dep#usage

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:50] agnivade opened #1660 "page request: rubocop"
Webpage here - http://rubocop.readthedocs.io/en/latest/basic_usage/

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:51] #1600 closed

[2017-11-25 14:52] #1597 closed

[2017-11-25 14:53] agnivade opened #1661 "page request: g++"
Webpage here - https://linux.die.net/man/1/g++

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:54] agnivade opened #1662 "page request: autoflake"
Webpage here - https://github.com/myint/autoflake#example

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:56] agnivade opened #1663 "page request: grunt"
Webpage here - https://gruntjs.com/getting-started

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:57] agnivade opened #1664 "page request: gulp"
Webpage here - https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-25 14:58] #1608 closed

[2017-11-25 14:58] #1605 closed

[2017-11-25 21:39] navjotjsingh opened #1666 "Installation warnings and errors"
While trying to install tldr on Ubuntu 16.04 with nodejs v8.9.1, I get the following warning

Also the following errors

Please look into it.

[2017-11-26 04:04] agnivade commented on #1666
You should not be using root to install a global module. If you have to, use `--unsafe-perm`. More info here - https://github.com/tldr-pages/tldr-node-client#npm-install--g-tldr-throws-an-error.

I am going to close this issue now as its related to the node client and not the tldr repo. If your issue still persists after trying out the options above, feel free to raise an issue in the node client

[2017-11-26 04:04] #1666 closed

[2017-11-26 05:02] gabrie30 opened #1667 "page request: elixir"
mix commands

[2017-11-26 14:04] feimosi opened #1673 "Error: ENOENT: no such file or directory"
This happens on the first run:
[code]

Steps to reproduce:
- `npm i -g tldr`
- `tldr tar`

My environment:
- Arch Linux (kernel 4.13.12-1)
- npm: v5.5.1
- node: v8.9.1

[2017-11-26 15:11] agnivade commented on #1673
Yes, that happens for the first time. The command works fine though. So its not a blocker. I will close this and create a separate tracking issue on the node client repo.

Thanks for reporting.

[2017-11-26 15:11] #1673 closed

[2017-11-26 17:04] feimosi commented on #1673
Sure, I know it's a minor issue. Thanks for a quick reply 👍

[2017-11-26 18:09] navjotjsingh commented on #1666
Not using root also gave errors.

[2017-11-26 23:43] rachelkelly opened #1678 "page request: eval"
`eval` resources here:
- https://ss64.com/bash/eval.html
- https://ss64.com/osx/eval.html
- https://linux.die.net/man/1/eval
- https://www.unix.com/man-page/posix/1posix/eval/

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-27 00:05] JacobCallahan opened #1679 "Change background color formatting"
The current background color formatting can clash with different terminal emulator color profiles. For example, see the output in this image, which is a screenshot from my terminal (Fedora 27, default emulator, monokai dark color profile).
https://i.imgur.com/EuJTEXL.png
If possible, don't specify a background color, or use general codes which override a user's color profile for a consistent look

[2017-11-27 02:28] freesouls commented on #1679
similar problem occurred!

[2017-11-27 03:20] agnivade commented on #1666
Did you first try what is mentioned here - https://docs.npmjs.com/getting-started/fixing-npm-permissions ? Or you just tried the same command without root ?

[2017-11-27 03:32] agnivade commented on #1679
Which client are you using ? Please file an issue in that client's repo. This repo is only for the tldr pages.

[2017-11-27 04:09] JacobCallahan commented on #1679
@agnivade python client, and i certainly can move the issue over there. Thanks for pointing me in the right direction.
@freesouls, if you are using a different client, would you mind opening an issue for yours?

[2017-11-27 04:09] #1679 closed

[2017-11-27 04:26] freesouls commented on #1679
@JacobCallahan same python client under linux

[2017-11-27 08:17] navjotjsingh commented on #1666
Thanks. That worked.

[2017-11-27 10:03] achikin opened #1684 "page request: git"
`git` resources:
- https://git-scm.com/doc
- https://services.github.com/on-demand/downloads/github-git-cheat-sheet/
- https://www.git-tower.com/blog/posts/git-cheat-sheet
- https://www.atlassian.com/git/tutorials/atlassian-git-cheatsheet

Please go through the [CONTRIBUTING](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md) page to understand what is the format we use for our pages.

[2017-11-27 10:15] agnivade commented on #1684
We already have pages for git and its subcommands. See `tldr git`, `tldr git commit`, `tldr git push` etc. What is this issue for ?

[2017-11-27 11:52] achikin commented on #1684
@agnivade `tldr git` returns very basic information. Like `git --help`. I think it should contain at least a list of basic operations like `checkout`, `commit`, `push` and `status`.

[2017-11-27 11:54] achikin commented on #1684
[code]

[2017-11-27 11:56] achikin commented on #1684
Compare to `docker`
[code]

[2017-11-27 12:02] juan88 commented on #1607
Can I give it a go?

[2017-11-27 12:14] agnivade commented on #1684
Please look into this conversation - https://github.com/tldr-pages/tldr/pull/1675#issuecomment-347082938

[2017-11-27 12:17] agnivade commented on #1607
Are you participating in GCI (Google Code-In) or is this a general request to add a page ?

[2017-11-27 12:23] fcpexpert opened #1685 "page request: authconfig"

[2017-11-27 12:32] juan88 commented on #1607
Oh no, I'm not. Just googled Google Code-In and I think it's better to
leave that issue for that :)

2017-11-27 9:17 GMT-03:00 Agniva De Sarker <notifications@github.com>:

[2017-11-27 14:29] yaquawa opened #1688 "No syntax highlighting"
I'v just installed tldr with `npm install -g tldr`.
But seems like the syntax highlight didn't work like the screenshot on the readme page.

![img](https://camo.githubusercontent.com/878ccf29c2a0f34a663b568604bfd26d76623f09/687474703a2f2f7261772e6769746875622e636f6d2f746c64722d70616765732f746c64722f6d61737465722f73637265656e73686f742e706e67)

[2017-11-27 14:45] dospunk commented on #1688
Providing some more information might be helpful

- What terminal emulator are you using?
- What OS are you using?
- Could you provide a screenshot of your output?
- Have you taken any steps to try and troubleshoot that have not worked?

[2017-11-27 15:07] agnivade commented on #1607
Thanks. Appreciate it. :)

[2017-11-27 15:14] agnivade commented on #1688
The screenshot uses a custom theme. By default we do not add any coloring because there are large varieties of terminals and themes. So adding any text coloring from itself might clash with the terminal theme.

Please look into this section - https://github.com/tldr-pages/tldr-node-client#configuration if you want to use a preset theme or even you can create your own theme.

[2017-11-27 17:33] yaquawa commented on #1688
@agnivade Problem solved ! Thank you so much!!

[2017-11-27 17:44] sbrl commented on #1667
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2017-11-27 18:01] sbrl commented on #1673
The issue that @agnivade opened I think was tldr-pages/tldr-node-client#180 - though it appears to have been fixed and closed now.

[2017-11-27 18:02] sbrl commented on #1678
Thanks for requesting this page, @rachelkelly! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository -

[2017-11-27 18:04] agnivade commented on #1688
That won't make a difference really. You still have to edit the `.tldrrc` file.

I am a fan of softwares that just work out of the box without any need for configurations or customizations. Only if needed, the user should be able to configure it appropriately.

[2017-11-27 18:04] #1688 closed

[2017-11-27 18:05] agnivade commented on #1673
Right. I should have linked it here though.

[2017-11-27 18:12] sbrl commented on #1685
Thanks for requesting this page, @fcpexpert! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - an

[2017-11-27 18:23] sbrl commented on #1607
We've still got load of other pages that need doing if you'd still like to help out, @juan88 :P

[2017-11-27 18:24] jakeNiemiec commented on #1673
No such luck on OSX 11:
![image](https://user-images.githubusercontent.com/16782063/33282270-c7a9d818-d36d-11e7-8940-36a443b291e6.png)

[2017-11-27 18:57] agnivade commented on #1673
@jakeNiemiec - You have to be a bit more specific with your issue. The issue you linked talks about a bash client. But this issue deals with the node client.  Which client are you using ?

Please file an issue in the respective client's repo with appropriate debug information about your setup and the steps to repro your issue.

[2017-11-27 20:22] jakeNiemiec commented on #1673
@agnivade Thanks for the reply, it turned out that another package created an alias for tldr.

If anyone has the same problem, debug with: `which tldr`

[2017-11-27 23:38] dospunk opened #1695 "Grep page has 10 examples"
This might be overly pedantic, but the contribution guidelines specify no more than 8 examples. Grep has 10.

[2017-11-28 04:06] agnivade commented on #1218
Closing.

[2017-11-28 04:06] #1218 closed

[2017-11-28 05:41] angsuman commented on #1695
grep probably needs even more examples. Similar commands which needs lot of examples are are awk, sed.

[2017-11-28 05:57] agnivade commented on #1695
You are right. Actually its a relic from the past. Initially there was no limit on the no. of examples. Over the course of time, we decided that we should keep an explicit hard limit to force ourselves to be more precise and focus on the most useful examples.

The grep page was one of the first pages. So the limit was not applied at that time. And our linter is not updated to throw an error if the

[2017-11-28 16:32] ahmetb opened #1703 "page request: where"

[2017-11-28 16:44] ahmetb opened #1704 "page request: whence"

[2017-11-28 18:30] scottwhudson opened #1706 "Adding PSQL shell commands?"
Wanted to get an opinion before opening a PR, are you open to adding PSQL shell commands to the psql doc or creating a new command dedicated to working in the PSQL shell? Happy to write it up myself. I'm constantly referencing cheat sheets in the browser and I'd prefer to have a CLI option.

[2017-11-28 19:14] agnivade commented on #1706
I get your point. However, our scope here in tldr is very limited. We do not aim to be a command line cheat sheet reference. While we do aim to keep the most useful and practical examples, we try to refrain from adding sneaky one-liners which, may do a task very quickly, but maybe daunting to a newcomer to linux.

With that in mind, note that the page for `psql` should be limited to psql commands

[2017-11-28 19:24] #1610 closed

[2017-11-28 19:27] sbrl commented on #1703
Thanks for requesting this page! Do you want to have a go yourself, @ahmetb?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and i

[2017-11-28 19:28] sbrl commented on #1704
Thanks for requesting this page! Do you want to have a go yourself, @ahmetb?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and i

[2017-11-28 19:36] sbrl commented on #1706
I certainly wouldn't be averse to a link to a quick command-line reference in another repository here in GH.

[2017-11-28 19:42] scottwhudson commented on #1706
That's understandable, I noticed that these docs stay in the *nix realm which was why I asked.

Would adding a subcommand to output tool-specific sheets make sense (i.e. something like `tldr tools psql`)?  That might be outside of your desired scope though. It might be worth rolling a separate tool for this.

[2017-11-28 22:31] ahmetb commented on #1704
I wish I understood this command well enough to write about it but I currently do not.

[2017-11-28 22:31] ahmetb commented on #1703
I wish I understood this command well enough to write about it but I currently do not.

[2017-11-29 03:20] agnivade commented on #1706
It is very much outside the scope of the current tool. The idea is that you should be able to replace `man`  with `tldr` in a command and it should work. Doing a `tldr tools <tool>` would break that convention.

I would recommend that you look into other tools like `cheat` which is more suited for purposes like these.

[2017-11-29 05:07] sudoio commented on #1703
Did you mean the `whereis` command? I can neither find `where` in `man` nor in the web.

[2017-11-29 06:06] ahmetb commented on #1703
Try it on your bash. There might not be a manpage for it, but it’s a command.

[2017-11-29 06:10] sudoio commented on #1703
![where](https://user-images.githubusercontent.com/19972511/33360536-261af7a6-d4e5-11e7-82e1-33ee0cc2c1b1.png)

[2017-11-29 08:53] ahmetb commented on #1703
Hmm it works in my macOS + bash/zsh, I use it all the time. `man where` brings up BSD General Commands Manual.

[code]

[2017-11-29 09:12] sudoio commented on #1703
Looks like this command is simillar to `whereis` in linux:
[code]

But I think there is some difference, so we need two separate _tldr_'s:
- `osx/where.md`.
- `linux/whereis.md` (#1708).

[2017-11-29 15:27] #1706 closed

[2017-11-29 16:22] agnivade commented on #1706
Thanks for understanding @scottwhudson. I hope this does not discourage you from contributing to this project !

[2017-11-29 17:55] agnivade commented on #1703
Yes, we need 2 separate pages in that case.

[2017-11-29 19:59] agnivade commented on #1684
I am going to close this issue now. PR #1675 has a plan to tackle this. Let's continue the discussion there.

[2017-11-29 19:59] #1684 closed

[2017-11-30 04:55] nalinbhardwaj commented on #1661
Taking this(as GCI task).

[2017-11-30 10:05] #1661 closed

[2017-11-30 10:16] sbrl commented on #1661
I've merged your PR, @nalinbhardwaj! I couldn't find the associated task in the GCI dashboard though :confused:

[2017-11-30 10:22] sbrl commented on #1704
Ah, ok! We'll leave this issue open until someone with the necessary experience comes along ☺️

[2017-11-30 10:27] nalinbhardwaj commented on #1661
yep, that's because I'm still waiting for the previous task and "Parent's Consent" to get accepted.

[2017-11-30 11:40] fangyi-zhou commented on #1703
`where` is a `csh` built in, but it seems `zsh` has it as well

`man 1 csh`
[code]

[2017-11-30 11:42] fangyi-zhou commented on #1703
Note that `where` is not available in `bash`
Previous commands seem to suggest this is an osx thing, I believe that is incorrect.

[2017-11-30 11:43] fangyi-zhou commented on #1703
Also notice the difference between `where` and `whereis`
![image](https://user-images.githubusercontent.com/7815439/33429195-b49d6bce-d5c3-11e7-8cc8-451086df53b9.png)

[2017-11-30 11:46] fangyi-zhou commented on #1704
`whence` is found in `man 1 ksh`

[code]

[2017-11-30 12:23] gganley opened #1721 "Page request: dd"

[2017-11-30 12:27] agnivade commented on #1721
There is already a page for dd. What is this issue for ?

[2017-11-30 13:03] gganley commented on #1721
[Safari - Nov 30, 2017 at 08:02.pdf](https://github.com/tldr-pages/tldr/files/1517849/Safari.-.Nov.30.2017.at.08.02.pdf)

For some reason it is not working on my end

https://tldr.ostera.io/dd

[2017-11-30 13:17] sbrl commented on #1661
Ah, ok. As soon as I see it pop up, I'll accept it for you :-)

[2017-11-30 14:53] #1601 closed

[2017-11-30 14:54] sbrl commented on #1721
@gganley Which client are you using?

[2017-11-30 15:06] #1604 closed

[2017-11-30 15:13] agnivade commented on #1721
He is using the web client.

@gganley - I would suggest raising an issue in the web client's repo. This repo is only for the pages.

[2017-11-30 15:18] sbrl commented on #1721
@agnivade Ahh, I see. I believe tha tth  web client only updates every so often - I get a message that @igorshubovych has committed to the web-pages web repo on the GH dashboard every so often. I think it's automated

[2017-12-01 00:59] ibnesayeed opened #1726 "Can not-so-common commands be added?"
Are there some specific criteria to decide what commands can be added and what can't?

Let me put it this way, can we provide TL;DR examples for commands that are usually not available in machines by default, but distributed separately for a specific user community? If so, then how do you resolve possible naming conflicts?

[2017-12-01 06:25] #1598 closed

[2017-12-01 06:38] agnivade commented on #1726
The general rule of thumb is whatever command has a man page can and should have a tldr page. That obviously includes commands are not available in machines and needs to be installed - for eg - `docker`, `tesseract`, `ffmpeg` etc.

There has been exceptions however to the man page rule. Mainly tools that are installed by `npm install -g`. We have also come community specific tools related to worki

[2017-12-01 09:46] #1667 closed

[2017-12-01 09:52] #1703 closed

[2017-12-01 16:16] ibnesayeed commented on #1726
Many CLI tools written in languages like Go, Python, Ruby, JS etc. these days utilize some sort of argument parser library that generates built-in help, so they don't bother creating man pages for them. These tools are often distributed using language-specific repositories such as npm, go get, bundle, pip and whatnot. So, I am not sure I understood the policy around such tools well.

One solution

[2017-12-01 16:27] agnivade commented on #1726
Tools like that are totally welcome.

Regarding your solution to conflicting names, simply adding a separate page in a new directory won't work. There is a pages lookup index which needs to be updated. And all the tldr clients need to be updated too to incorporate this logic. That is not a trivial task. I would suggest that you comment on this issue which tracks a new pages structure https://githu

[2017-12-01 16:44] ibnesayeed commented on #190
While we are here talking about the new page structure, we should also consider the possibility of adding custom tldrs that are not maintained by the shared repository, but a place where users can add their own overrides or additions for quick references. A note around this approach can be seen in https://github.com/tldr-pages/tldr/issues/1726#issuecomment-348537478.

[2017-12-02 08:26] #1607 closed

[2017-12-02 11:59] vitalkanev opened #1732 "command-request: xman"
Original man page: [here](https://gist.github.com/vitalkanev/d7e6e829524da089aa784a443d423bea)

[2017-12-02 19:57] Akronix opened #1734 "SyntaxError: Unexpected token = on Ubuntu 17.04"
I installed tldr using `sudo npm install -g tldr `, but when I try to use it for any argument I get this error:
[code]

I'm on Ubuntu 17.04 and my npm version is 3.5.2.

[2017-12-02 19:58] Akronix commented on #1643
Why it doesn't work here: https://tldr.ostera.io/iptables ? or here http://tldr.sh/?

[2017-12-02 20:40] agnivade commented on #1643
Please raise an issue in that repo.

[2017-12-02 20:43] agnivade commented on #1734
Our minimum required node version is 6. You must have got a warning when installing the package. Please upgrade to the latest LTS version.

I will close this issue now. But if you still have problems, please raise a separate issue in the tldr-node-client repo with details about your environment and proper repro steps. This repo is only for the tldr pages not clients.

[2017-12-02 20:43] #1734 closed

[2017-12-02 20:47] waldyrious opened #1735 "Merge linux/latexmk.md into common/latexmk.md"
The common page was created earlier (#655), but seems to have been missed in the PR that introduced the linux page (#1428). /cc @85pando, @Nagiza.

[2017-12-02 20:54] waldyrious opened #1736 "page request: pdftotext"
Would nicely complement the existing [pdftk.md](https://github.com/tldr-pages/tldr/blob/master/pages/common/pdftk.md) page and other pdf-related commands.

Relevant links: [Wikipedia article](https://en.wikipedia.org/wiki/Pdftotext), [man page](https://linux.die.net/man/1/pdftotext).