[2020-10-04 20:41] glenacota commented on #4363
Solved with #4431. Thanks, everyone :)

[2020-10-04 20:41] #4363 closed

[2020-10-04 20:45] axelson commented on #4428
You're welcome! Thanks for maintaining tldr, I find it extremely helpful in my day-to-day work, and the contribution process is great too.

[2020-10-05 08:31] agnivade commented on #3245
@waldyrious - Wondering if you can take a look at this whenever you get a chance? Perhaps it slipped through the cracks.

[2020-10-05 14:07] sbrl commented on #4218
Ah, I see @cr33dx, so this is a new feature as of Catalina? We should definitely mention that in the page then. Unfortunately, I don't have access to a mac, so I can't write the page. Do you want to have a go?

[2020-10-05 15:51] Phrohdoh commented on #4218
This confusion is entirely my fault as I was not sufficiently clear, I apologize.

I am using `rename` which was installed via `brew install rename` and am requesting a tldr entry for that `rename`.  I know nothing about the syscall.

[2020-10-05 16:42] sbrl opened #4504 "Add org member: @navarroaxel"
Hi, @navarroaxel! After joining as a collaborator in the repository, you have been regularly performing maintenance tasks.
Thank you for that!
According to [COMMUNITY-ROLES.md](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), you've now met the thresholds to be effectively considered an active maintainer of the project.
To publicly acknowledge that fact, we'd like to add you to

[2020-10-05 17:00] schneiderl commented on #4504
Be welcome @navarroaxel 💯 👍

[2020-10-05 17:07] cr33dx commented on #4218
@sbrl apologies for confusion, by older i meant earlier version too did not have rename in cli, it's a syscall.
i have macos catalina and it too does not have rename command.

I think the latest comment by @Phrohdoh clears out the confusion.

[2020-10-05 18:35] navarroaxel commented on #4504
@sbrl yeah that's awesome!

[2020-10-05 18:55] sbrl commented on #4504
Invite sent :D

[2020-10-05 19:47] #4504 closed

[2020-10-05 19:47] navarroaxel commented on #4504
Accepted!

[2020-10-06 00:48] vtvh opened #4515 "page request: <chroma>, with added samples"
### Chroma is a general purpose syntax highlighting library and corresponding command
Repo: https://github.com/alecthomas/chroma

### Samples
[code]

[2020-10-06 13:33] gutjuri commented on #1627
bro is now called "zeek" (https://zeek.org/).
Maybe @sbrl or @YangVincent can update this issue's title.

[2020-10-06 15:38] sbrl commented on #4218
I see! Thanks for clearing that up :-)

[2020-10-06 15:48] sbrl commented on #4515
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-06 16:32] Sadeeed commented on #4380
closing the issue since the pull request was merged

[2020-10-06 16:32] #4380 closed

[2020-10-06 16:33] sbrl commented on #1627
Great spot, @gutjuri!

Anyone want to give this page a go?

[2020-10-06 20:23] Sadeeed opened #4539 "page request: mmdc"
A command-line interface (CLI) for mermaid. It takes a mermaid definition file as input and generates svg/png/pdf file as output.

https://mermaid-js.github.io/mermaid/#/

[2020-10-06 20:49] waldyrious commented on #3648
How so, @zlatanvasovic? Do we have a way to get the data that ?committer was supposed to provide? Or do we rely manualy running @sbrl's script? If so, I'd prefer to keep this open until we either add that functionality to the bot, or we include information about on this script in the documentation.

[2020-10-06 20:52] zlatanvasovic commented on #3648
@waldyrious I just wanted to close my own issues, but you can open a new one if you think it's still an issue. :smile:

[2020-10-06 20:57] waldyrious commented on #3648
Well, the issues are not really "owned" by anyone — either they represent a legitimate issue with the project, or they don't. In this case, I'm trying to understand what in your view "resolved" the initial problem that was raised:

That is still the case, isn't it?

[2020-10-06 22:09] waldyrious commented on #3245
Yeah, let's wrap this up. I'm thinking it would be good to add a sentence at the end of point 3 of [GOVERNANCE.md](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md), "All communications are public", mentioning a way to privately report abusive behavior. Does that seem adequate to you all?

We could use the mailing list we initially created for the Season of Docs program, `tldr-pages@go

[2020-10-06 22:54] mebeim commented on #3245
@waldyrious agree, between the two, I like the mailing list idea better since that would be more transparent for us internally.

[2020-10-07 04:38] agnivade commented on #3245
Agree. Personally, I prefer mail though. I don't open gitter that frequently.

[2020-10-07 08:05] owenvoke commented on #3245
Just interested, is there a way to check if I'm in the mailing list? 🤔

[2020-10-07 08:30] waldyrious commented on #3245
Good point, @mebeim, I agree that a mailing list is better in that respect. 👍 And given @agnivade's preference, and the notifications issue @owenvoke raised, I'd say it's best if we move ahead with that approach, then.

The list of members can be seen [here](https://groups.google.com/g/tldr-pages/members) (and you're in there), but now that you mention that, it reminds me: we probably should inclu

[2020-10-07 10:20] seenukarthi opened #4552 "Wikipedia article in the README doesn't exists."
The Wikipedia link (https://en.wikipedia.org/wiki/TL;DR) in README does not exists.

![image](https://user-images.githubusercontent.com/1208295/95318884-30221500-08a8-11eb-8634-20a24fe039f4.png)

[2020-10-07 10:34] endearingyoungcharms commented on #4552
I think that it should link to the essay: https://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn%27t_read

[2020-10-07 11:39] #4104 closed

[2020-10-07 19:42] sbrl commented on #4552
Hey, great spot! Thanks for bringing this up. Would you  like to open a pull request to fix it? You can do so through  the GitHub web interface :-)

If there's anything we can do to help you out with the process, let us know :D

[2020-10-07 19:53] sbrl commented on #4539
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-07 20:11] sesam commented on #4218
[code]

Can tldr distinguish between these somehow? Something like a *disambiguation* flagging that Wikipedia uses.

[2020-10-07 20:15] sbrl commented on #3245
I keep Gitter open as a persistent tab, so that works better for me personally. Perhaps we should add both methods, just in case.

[2020-10-07 20:45] sbrl commented on #4218
Hrm. At the moment [this algorithm](https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#page-resolution) is used to resolve page names. We've got a name conflict with `dep` in #4476, but that one was easily solved because 1 command was deprecated.

[2020-10-08 04:37] seenukarthi commented on #4552
@sbrl opened a PR #4570

[2020-10-09 09:48] npalladium commented on #2068
It looks like all of them have not been added. I'll try to do that in the coming few days as I'm working with slurm right now.

[2020-10-09 10:13] #4552 closed

[2020-10-09 23:27] #1772 closed

[2020-10-09 23:47] sbrl commented on #2068
Thanks, @npalladium! That would be great :heart: I'm using Slurm myself too.

[2020-10-10 14:12] Gau02 opened #4616 "page request: docker-network"
I would like to give it a go if issue is valid 🙂
Official document: https://docs.docker.com/engine/reference/commandline/network/

[2020-10-11 02:49] endearingyoungcharms opened #4629 "page request: Lynx (web browser)"
I think that this is a bit niche, but there are times when other things won't work.

[2020-10-11 08:44] #4515 closed

[2020-10-11 14:36] gutjuri commented on #2695
This issue can be closed, since the page for uvcdyncrtl exists now.

[2020-10-11 14:40] gutjuri commented on #1790
This issue can be closed, since the hlint page exists now (#3480)

[2020-10-11 14:41] #2695 closed

[2020-10-11 14:41] #1790 closed

[2020-10-11 16:38] gutjuri opened #4637 "page request: openconnect"
For the [openconnect](https://www.infradead.org/openconnect/) VPN client

[2020-10-11 16:40] gutjuri opened #4638 "page request: calendar"
For the [calendar](https://linux.die.net/man/1/calendar) command.

[2020-10-11 16:43] gutjuri opened #4639 "page request: exif"
For the [exif](https://libexif.github.io/) library and command.

[2020-10-11 16:45] gutjuri opened #4640 "page request: gcov"
For the [gcov](https://linux.die.net/man/1/gcov) command. Especially important for students of C++.

[2020-10-11 16:46] gutjuri opened #4641 "page request: jpegtran"
For the [jpegtran](https://linux.die.net/man/1/jpegtran) command line tool.

[2020-10-11 16:48] gutjuri opened #4642 "page request: newsboat"
For the [newsboat](https://newsboat.org/) RSS reader.

[2020-10-11 16:51] gutjuri opened #4643 "page request: strip-nondeterminism"
For the [strip-nondeterminism](https://packages.debian.org/sid/strip-nondeterminism) command line tool.

[2020-10-11 16:53] gutjuri opened #4644 "page request: diffoscope"
For the [diffoscope](https://diffoscope.org/) command line utility.

[2020-10-11 19:15] navarroaxel commented on #4639
@gutjuri Is this command covered by https://github.com/tldr-pages/tldr/blob/master/pages/common/exiftool.md?

[2020-10-11 19:24] gutjuri commented on #4639
No, that's a different tool.

[2020-10-12 21:10] sbrl commented on #4616
Feel free to go ahead :D

[2020-10-12 21:16] sbrl commented on #4629
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-12 21:28] #4539 closed

[2020-10-12 21:33] sbrl commented on #4637
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-12 21:33] sbrl commented on #4638
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-12 21:33] sbrl commented on #4640
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-12 21:33] sbrl commented on #4641
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-12 21:37] #4643 closed

[2020-10-12 21:42] ostera commented on #4428
Hej folks! Should be solved now. I had a hiccup setting things up but now my Stripe is fully connected. Sorry for the inconvenience 🙌🏼  🌈

[2020-10-12 22:17] #4644 closed

[2020-10-12 23:44] npalladium commented on #2068
A few more commands are left. The only one that I actually use and that is not is `sstat`, I think. Will do that later today.

[2020-10-13 00:07] axelson commented on #4428
Okay, my payment just went through so I think the issue can now be closed :+1:

[2020-10-13 10:58] #4616 closed

[2020-10-13 11:22] npalladium commented on #2068
@navarroaxel, I think there are a few more commands remaining. Could you consider keeping this issue open?

[2020-10-13 11:32] navarroaxel commented on #2068
@npalladium sure, the merge closed this, not me :smile:.
Could you list the commands like is done in issue 3953 to know when this is done?

[2020-10-13 21:23] waldyrious commented on #4428
Great! Glad we sorted it out :)

[2020-10-13 21:23] #4428 closed

[2020-10-13 22:03] waldyrious commented on #3245
Alright, thanks for the input! I'll make a PR to edit GOVERNANCE.md as soon as #4516 is merged.

[2020-10-14 00:30] hrai opened #4685 "page request: zmv"
A page for zsh's utility function - [zmv](http://zsh.sourceforge.net/Doc/Release/User-Contributions.html)

[2020-10-14 08:45] npalladium commented on #3689
We should reach parity for slurm once #4689 and #4646 are merged.

[2020-10-14 08:49] npalladium commented on #2068
One #4689 is merged, that should leave us with the following:
[ ] - sbcast
[ ] - salloc

(Not quite sure this is what you wanted though.)

[2020-10-14 08:51] npalladium commented on #2068
One #4689 and #4646 are merged, that should leave us with the following:
- [ ] sbcast
- [ ] salloc

(Not quite sure this is what you wanted though.)

[2020-10-14 10:19] navarroaxel commented on #4685
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of CONTRIBUTING.md, which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you need any assistance, just ask :-)

[2020-10-14 14:19] Phuker commented on #4344
Hey guys, I am making a new Python client [Phuker/multi-tldr](https://github.com/Phuker/multi-tldr) which support private pages. If you prefer Python, you may try it out, and tell me how do you like it.

Maybe someday when it is mature and stable enough, I will create a PR to add it to the community clients list.

[2020-10-14 14:22] Phuker commented on #3269
Hey guys, I am making a new Python client [Phuker/multi-tldr](https://github.com/Phuker/multi-tldr) which support private pages. If you prefer Python, you may try it out, and tell me how do you like it.

Maybe someday when it is mature and stable enough, I will create a PR to add it to the community clients list.

（Sorry for my duplicated comment in #4344)

[2020-10-14 22:17] sbrl commented on #2068
Merged #4689 & #4646 :D

[2020-10-15 11:27] #4642 closed

[2020-10-15 17:13] antoine-amara opened #4701 "Let's document! GitHub CLI (gh)"
I used the github client (gh) and I consult the tldr documentation and it is already very good, but I think we can improve a little bit this command documentation.

First, they're some little mistake on `gh pr view` and `gh issue view`, we can update the command to correspond to the description.

Moreover, we can create other examples to cover the entire github process from repo creation to releas

[2020-10-16 19:33] #4639 closed

[2020-10-16 19:34] #4641 closed

[2020-10-16 22:30] ivorysoap opened #4714 "Grammar in French - verbs"
In the French translations, some pages use infinitive verbs while others don't.  Example:

 [ftp.md](https://github.com/tldr-pages/tldr/blob/master/pages.fr/common/ftp.md) uses infinitive verbs:
* **Passer** au mode de transfert binaire (medias, fichiers compressés, etc) :
* **Transférer** plusieurs fichiers sans demander de confirmation pour chaque :
* **Télécharger** plusieurs fichiers :

[cat.m

[2020-10-17 09:41] #4115 closed

[2020-10-17 11:04] mebeim commented on #4714
Hi @ivorysoap, thanks for asking. I hope it's okay for you if I answer in English. I can mostly understand written French, but I don't speak the language so I definitely cannot write in it. If you know English well enough, I would ask you to please write in English so that the most people (specially the maintainers) can understand.

We definitely prefer present indicative (présent de l'indicatif)

[2020-10-17 17:56] navarroaxel commented on #4701
I think you should implement the same structure that the ticket #3953 to create pages for all the `gh` subcommands

[2020-10-17 18:49] annashorthead commented on #4629
Hey! I would like to work on this.

[2020-10-18 05:37] ivorysoap commented on #4714
Hi @mebeim, thanks for the quick response, and English is totally fine (I edited my comment to add an English version so others can see too).  Sounds good, I'll be sure to use present indicative for future contributions.

[2020-10-18 08:36] glenacota opened #4746 "Token inconsistencies: enforce snake_case in token"
The [token syntax guideline](https://github.com/tldr-pages/tldr/blob/master/contributing-guides/style-guide.md#token-syntax) for multi-word tokens is to use the_snake_case_form. However, in some pages, words in tokens are separated by whitespace (e.g., buku, gist, man, [git-send-email](https://github.com/tldr-pages/tldr/pull/4737#discussion_r507013716), ...) and in others dashes (e.g., dexter, git

[2020-10-18 08:41] glenacota commented on #4746
BTW, I'm not sure this is the right place where to ask, but as I'm very fond of this project and lately I've got some more time to contribute to it, I'd like to ask the org owners how does it work to apply for a [regular contributor position](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md)  :)

[2020-10-19 05:49] seenukarthi commented on #4746
@glenacota there is [gitter room](https://gitter.im/tldr-pages/tldr) I think general discussion can be done there.

[2020-10-19 15:47] sbrl commented on #4746
Hey there, @glenacota! We'd love to have you onboard. According to our [community roles](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md) document, you need to have 5 non-trivial PRs merged. From the pull request history, I notice you have the following non-trivial PRs merged: #4364, #4362, #2464, #2458, #2452, and #2440. This qualifies you to become a contributor according to th

[2020-10-19 15:49] sbrl commented on #4746
And to answer the original question in this issue, a PR would be appreciated! Though do be careful to check each one: there may be some instances of concrete examples where the space is essential to the page. And also yes, this does seem related to that issue

[2020-10-19 15:50] sbrl opened #4763 "add contributor: @glenacota"
Hi, @glenacota! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#4364, #4362, #2464, #2458, #2452, and #2440)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collaborator, you will have co

[2020-10-19 15:51] sbrl commented on #4746
Opened #4763

[2020-10-19 16:54] sbrl commented on #4629
You're most welcome to, @annashorthead! Don't forget to include `Fixes #4629` in the description of your pull request to auto-close this issue when it's merged :-)

[2020-10-19 17:12] antoine-amara commented on #4701
After some discussions , it is better to create sub-pages for the `gh` command:

For those not in the know, tldr-pages is about more than just commands. Those commands that are too expansive to fit on 1 page often have multiple subcommands - which we can document on their own pages. For example, try these:

[code]

So, let's document `gh`, at least we need:

- [ ] `gh auth`
- [ ] `gh config`
- [ ]

[2020-10-19 17:23] sbrl commented on #4714
I don't speak the language, but thanks for opening an issue. I'd suggest @mentioning some of the other french translation contributors :-)

[2020-10-19 18:18] sbrl commented on #1162
Just 1 left - so close!

[2020-10-19 18:20] sbrl commented on #4701
Cool, @antoine-amara! Perhaps you could update the original issue description with that list, to make it easier for people to find?

[2020-10-20 06:58] glenacota commented on #4763
Hi, @sbrl, fantastic Maintainer's guide! Sure, I'd be really happy to be added as a collaborator.

Like most of you, there are periods that I can invest more time on it (like recently) and some period less time, but `tldr` it's a community I've always loved to come back to and support!

[2020-10-20 08:41] waldyrious commented on #1162
@sbrl I've edited the opening comment to add two links to guides to using ´finch` that seem easier to parse than their official documentation — hopefully that helps whoever wants to work on that page!

[2020-10-20 14:19] michaeldbianchi opened #4779 "page request: hadolint"
A page for the [hadolint](https://github.com/hadolint/hadolint) Docker linter

[2020-10-20 14:24] michaeldbianchi commented on #4779
I can try to submit a PR for this new command

[2020-10-20 14:41] mebeim commented on #4714
Closing this as the question has been answered.

[2020-10-20 14:41] #4714 closed

[2020-10-24 12:10] sbrl commented on #4763
Invite sent!

There's a bit of a lead time at the moment on my reading of notifications, because it's both hacktoberfest and I'm busy setting up a new laptop.

[2020-10-24 12:13] #4640 closed

[2020-10-24 12:47] #4637 closed

[2020-10-28 15:43] tactlessfish opened #4885 "README: Link to a more relevant article explaining "tl;dr""
The last section of the README (What does "tldr" mean?) links to [Wikipedia's internal essay regarding "Too long; didn't read"](https://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn%27t_read). While the essay does contain some general information about the phrase, its focus is on wordiness in Wikipedia articles:

For that reason, it's not the most relevant article to link for readers that want to

[2020-10-28 18:51] sbrl commented on #4885
Hey, that looks like a good article! Perhaps we could link to that one, but add the existing wikipedia one as a secondary link in brackets next to it or something. Would you like to open a pull request @tactlessfish?

[2020-10-29 00:26] tactlessfish commented on #4885
Sure, I would love to! I'm just a bit confused though—why should we keep the Wikipedia essay? Its information about article conciseness and advice for editors are specific to Wikipedia, and that may cause confusion for users reading the README.

[2020-10-29 03:19] endearingyoungcharms commented on #4885
Hello, someone who originally changed the link here.
Originally, the link led to a now-defunct Wikipedia article, which I suggested we should change to the essay. The reason for changing it to the essay was to keep it in Wikipedia and avoid changing the whole thing.
That being said, your article is much better.

[2020-10-29 11:53] Starkiller645 opened #4891 "page request: electron-packager"
A page for the electron-packager tool used to package Electron apps into standalone executables.

https://github.com/electron/electron-packager

[2020-10-29 11:58] navarroaxel commented on #4891
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md](CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-10-29 21:04] tactlessfish commented on #4885
Ah okay, thanks for the explanation. In that case, @sbrl would it be alright to remove the Wikipedia essay in my PR?

[2020-10-30 21:03] #4891 closed

[2020-11-01 13:15] sbrl commented on #4885
Ah, maybe it would. That sounds like a good plan - let's do that.

[2020-11-02 12:00] #4885 closed

[2020-11-02 12:20] owenvoke commented on #4779
Closed by #4782

[2020-11-02 12:20] #4779 closed

[2020-11-04 19:24] schneiderl commented on #4763
Welcome @glenacota 😄

Was the invite already accepted? If so, can we close this issue?

[2020-11-05 18:46] navarroaxel opened #4934 "Let's document! Android edition 🤖"
For those not in the know, the `adb shell` command forward commands to a remote shell on an Android emulator instance or connected Android devices.

Try these:
[code]

In the case of Android 🤖, it has quite a number of specific platform commands. We should include this pages into the `common/` folder because `tldr` and `adb shell` are used in Windows, Linux and macOS. Let's document them all!

- [

[2020-11-10 09:01] rickythefox opened #4947 "Make the upper limit for the number of examples soft"
Most commands follow the Unix philosophy of doing one thing and doing it well. Othes have more functionality and thus more ways to use them (`ssh-keygen` and `openssl` come to mind). I think that for these the upper limit of eight examples is not sufficient. Referring users to `man` in this case is even worse - the man pages for these super-tools are usually rather long and hard to navigate - an i

[2020-11-10 15:56] FukurouMakoto opened #4948 "page request: kjv"
Hello all,

Would like to contribute to the project by writing a guide for using the [KJV program ](https://github.com/bontibon/kjv).

Please let me know if it would be okay to go ahead and do this.

[2020-11-10 19:07] sbrl commented on #4947
Hey there, @rickythefox! We like to keep the example limit hard, because it helps to distill a command's functionalit into the 8 most useful examples. Generally, with commands such as `openssl` and `docker` they have many subcommands - but these can be documented in separate subpages.

Of course, there are exceptions like `awk` and `sed`, but in these cases we keep in mind the beginner user in par

[2020-11-10 19:18] sbrl commented on #4948
Hey there! you're absolutely ok to go ahead - everyone is welcome to contribute to tldr-pages.

Pages are best created by people who understand the command they are about.

If you'd like a starting point, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a

[2020-11-11 18:45] FukurouMakoto opened #4951 "Page request: i3"
I haven't seen anything in the current repo for [i3](https://i3wm.org/docs/userguide.html), so I'd like to do one if that's the case.
If possible however I would like some guidance on this.
For this command, mod1 by default is the Super key and is customizable by the user.
This being the case, if I am to write the guide, should I use the default mod1 key or should I label it as Super?

[2020-11-11 19:10] tminei opened #4952 "Youtube dl github not avialble"
Youtube dl github not avialble. What to do? https://github.com/tldr-pages/tldr/blob/4b06377bad69922dc63d93cf8e9979cb218652ca/pages/common/youtube-dl.md

[2020-11-12 10:49] navarroaxel commented on #4952
Yeah, we known but the project is not closed, Arch Linux is still upgrading the [youtube-dl](https://www.archlinux.org/packages/community/any/youtube-dl/) package in the official repository and the project itself has made 2 releases after the repository was closed by GitHub. So, I think they will move to another platform sooner. We should wait a little.

In the Arch Linux [PKGBUILD file](https://g

[2020-11-12 12:41] #4952 closed

[2020-11-13 09:48] #4629 closed

[2020-11-16 18:23] sbrl commented on #4951
Hey, it'd be great if you could write a page for that! Don't forget that tldr-pages is command based, so you'd want to document the functionality of the associated commands in different pages, rather than the keyboard shortcuts. This said, we do have examples of pages that document keyboard shortcuts - `vim` comes to mind off the top of my head. So in this instance you'd want to document the comma

[2020-11-16 18:25] sbrl commented on #4952
Looks like youtube-dll is back: https://github.com/ytdl-org/youtube-dl

[2020-11-18 09:52] sahilister opened #4963 "tldr CI failing due to changes with GitHub actions"
As seen [here](https://github.com/tldr-pages/tldr/pull/4962/checks?check_run_id=1417255927), [here](https://github.com/tldr-pages/tldr/pull/4961/checks?check_run_id=1416271461) and [here](https://github.com/tldr-pages/tldr/pull/4960/checks?check_run_id=1412592520), all new CI checks are failing.

The error logs  points towards issue due to `set-env` used during setting up pull request environment

[2020-11-18 10:39] einverne commented on #4963
I haven't dug into the details. But it seems to work in my branch.

[2020-11-18 11:54] #4963 closed

[2020-11-19 12:44] older-pack opened #4969 "Update the PDF version?"
Latest pdf version is 4 years old?

[2020-11-19 12:45] older-pack opened #4970 "Add version number or date stamp to title page of PDF"
Help easily identify what version of the PDF you have.

[2020-11-19 16:09] ifuchs opened #4972 "tldr error"
Installed on MacOS (14.6, bash 5)

tldr tar
â  Page not found. Updating cache...Error: read ECONNRESET
    at TLSWrap.onStreamRead (internal/stream_base_commons.js:208:20) {
  errno: -54,
  code: 'ECONNRESET',
  syscall: 'read'
}

[2020-11-19 16:20] ifuchs commented on #4972
Reinstalled with pip and fixed the problem.

[2020-11-19 19:49] SmithJohnTaylor opened #4973 "The clients wiki page does not exist"
The README files references https://github.com/tldr-pages/tldr/wiki/tldr-pages-clients, which directs you to create a new page.

From the readme:

[2020-11-19 19:54] sbrl commented on #4973
Sorted via Gitter. The wiki page for the list of clients was merged into the README, IIRC :-)

(I can't figure out how to get a link out of Gitter, but if anyone else does please paste a link to the conversation here)

[2020-11-19 19:55] #4973 closed

[2020-11-19 19:56] SmithJohnTaylor commented on #4973
https://gitter.im/tldr-pages/tldr?at=5fb6ca4e8d286f2076bcbf05

[2020-11-20 22:10] sbrl commented on #4969
Hrm, I'm not sure how that is generated or where it's located. Do you have a link to that?

[2020-11-20 22:11] sbrl commented on #4970
Great idea! I'm not sure where the script is that generates the PDF (or even where the PDF itself is located),, but if you can find it, would you like to open a PR to add this?

[2020-11-20 22:16] sbrl commented on #4972
Hey! Glad you fixed the problem. I'll close this issue for now, but if you experience any further issues please open  a new issue against the repository for the client you're using.

It looks like you're now using the Python client, so you'd want to open an issue over here if you run into trouble: https://github.com/tldr-pages/tldr-python-client

[2020-11-20 22:31] #4972 closed

[2020-11-21 21:32] older-pack commented on #4969
I think its [here](https://github.com/tldr-pages/tldr-pages.github.io/blob/master/assets/tldr-book.pdf). There's a [closed bug](https://github.com/tldr-pages/tldr-pages.github.io/issues/40) that talks about auto updating the PDF. Doesn't seem to have been implemented?

[2020-11-21 21:41] older-pack commented on #4970
Link to the PDF in #4969.
I don't know where the script is.

I'd like to but I wouldn't know how :confused:

[2020-11-21 21:44] older-pack opened #4975 "List the pdf version on the README.md"
I don't think the PDF version is actually listed on the main [README.md](https://github.com/tldr-pages/tldr/blob/master/README.md). It would be good to have it there.

[2020-11-21 21:57] older-pack commented on #4970
[This](https://github.com/tldr-pages/tldr/tree/master/scripts/pdf) might be the PDF script?

[2020-11-24 12:45] RichardBronosky opened #4986 "Document how to use the tldr command against a local git repo"
If this is documented anywhere, I could not find it.

Many users will install tldr using a package manager at the recommendation of a colleague. Eventually they will find a command/page that is missing and will visit the [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md). There they will find lots of information about how to create and submit a new page. They will no

[2020-11-24 14:18] older-pack commented on #4969
Originally I came across the PDF on the main website.
https://tldr.sh/
https://tldr.sh/assets/tldr-book.pdf

[2020-11-27 00:49] sbrl commented on #4970
Open a PR to add this :D

[2020-11-27 00:54] sbrl commented on #4969
We should probably merge #4993 before looking at this. Anyway, I'm unsure about how auto-updating the pdf version would actually work. @owenvoke, could GitHub Actions do it?

In the mean time, you can build a local copy yourself. The instructions are present here that tell you how to do it: https://github.com/tldr-pages/tldr/tree/master/scripts/pdf

All you need is a Python 3 installation with pip

[2020-11-27 01:08] sbrl commented on #4975
Hey, thanks for opening this! I suggest that we ensure it's auto-updating regularly over in #4969 first before updating the README.

[2020-11-27 01:41] sbrl opened #4994 "Add collaborator: @sahilister"
Hi, @sahilister! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#4962, #4954, #4511, #4348, #4335, and [many more](https://github.com/tldr-pages/tldr/pulls?q=is%3Apr+author%3Asahilister+is%3Aclosed))!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://githu

[2020-11-27 01:42] sbrl commented on #4994
Gosh, you must have slipped through the net - that's a lot of PRs - thanks so much!

[2020-11-27 01:50] sbrl commented on #4986
Hey there, @RichardBronosky! How you test a new page with the tldr command itself is highly client dependent. Some clients support it, and others don't.

However, if you want to lint your page before submission, [our style guide](https://github.com/tldr-pages/tldr/blob/master/contributing-guides/style-guide.md) documents how you can run the official tldr linter on a page - although this is done au

[2020-11-27 08:55] owenvoke commented on #4969
Yes, we could pretty easily do this with a GitHub Action. I'd be happy to have a look at this later.

[2020-11-27 15:07] sahilister commented on #4994
Thanks @sbrl for the invite. Would be honored to be take more active role in the project.

[2020-11-28 23:45] older-pack commented on #4969
Something is *very* wrong there. The current one on the website is only 481 KB

If you have ghostscript try passing it through
`gs -sDEVICE=pdfwrite -dDetectDuplicateImages=true -dCompatibilityLevel=1.4 -dNOPAUSE -dQUIET -dBATCH -dPrinted=false -dPDFSETTINGS=/default -sOutputFile=output.pdf input.pdf`

[2020-11-28 23:52] older-pack commented on #4970
If that's to me I'm not a programmer. I don't know how to do a pull request nor how to do the script and then do the pull request. Sorry. :confused:

[2020-11-29 00:08] owenvoke commented on #4969
Well, it's gone from 274 pages to 2000+, and also includes styling on the pages which might change it. But that definitely does seem a lot larger. 🤔

[2020-11-30 11:33] einverne commented on #4994
Welcome~~

[2020-11-30 19:52] RichardBronosky commented on #4986
I understand how this question would get a "well it depends" answer. However, on [line 54 of the README](https://github.com/tldr-pages/tldr/blame/master/README.md#L54) the suggestion is to install via `npm install -g tldr` and the next most common way people are going to install is likely to be `brew install tldr` as suggested [on line 74](https://github.com/tldr-pages/tldr/blame/master/README.md#

[2020-11-30 22:07] RichardBronosky commented on #4986
I just noticed that https://github.com/tldr-pages/tldr-node-client uses `~/.tldrc/cache` and https://github.com/tldr-pages/tldr-c-client uses `~/.tldrc/tldr-master`. So, it is "a little complicated", but not impossible.

I think that there should also be an additional requirement added to https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md which states that clients that implemen

[2020-12-03 01:35] sljedeer opened #5002 "Add kb to the list of similar projects"
Probably you should add kb to the list of similar projects!
https://github.com/gnebbia/kb (~2.5k stars).

[2020-12-03 21:37] older-pack commented on #4969
I took a look at the sample PDF you made on #4996. Running it through the above ghostscript doesn't do a lot. Taking a look at it with poppler's 'pdffonts' there seems to be _quite_ a lot of embedded fonts: 6336 to be exact. :open_mouth:

I'm not a PDF expert but shouldn't one embedded font do the entire PDF?  Ok, maybe two or three more if you want different styles for code or headings but >6000

[2020-12-03 23:33] owenvoke commented on #4969
Yes, one don't should do... I wonder if it's embedding the font for every page or something...

[2020-12-04 12:46] older-pack commented on #4969
That'd be my guess too.

You're probably right.
What about three columns per page for the index and maybe a slightly smaller font?

Or what about three primary clickable headings on the first page:  Common, OSX, Linux SunOS etc.
Click on one of them and they take you to another clickable sub-index at the start of each section within the PDF?
'Common' would still be pretty big I guess. Along with t

[2020-12-04 12:51] owenvoke commented on #4969
No problem at all, just because I haven't seen anyone use it doesn't mean people don't. It's definitely worth updating it if it exists. And it's not too much effort. 👍🏻 Just need to sort out the size issue. I'm not sure who implemented the PDF scripts originally, but they might know what Weasyprint is doing.

[2020-12-04 18:52] sbrl commented on #4970
No worries, @older-pack! What I meant to say was that I have already opened #4993 to add support for this. As soon as it's merged, as can close this issue :-)

[2020-12-04 19:04] sbrl commented on #4994
Invite sent, @sahilister! Sorry it's so late. Welcome to tldr-pages :D

[2020-12-04 19:08] sbrl commented on #4986
Hey there, @RichardBronosky!

For issues relating to the different clients (e.g. the Node client, the C client, etc), I'd suggest opening issues against their respective repositories.

Great catch about the command-line flags there - I suggest opening separate issues against the respective repositories to notify them and give them a chance to fix it (or even better, open a pull request!). Keeping

[2020-12-04 19:14] sbrl commented on #5002
Hey, that looks like a cool project! It seems to have more of a focus on note taking and organising than documenting functionality / creating cheat sheets / etc, but that isn't necessarily a blocking issue. Let's wait to see what others think.

[2020-12-04 19:19] #4969 closed

[2020-12-04 19:20] sbrl commented on #4969
No worries, @older-pack!

Hrm, I wonder if we can do something about the size of that PDF. If we could do some debugging we may be able to open an issue against Weasyprint to improve encoding efficiency.

[2020-12-04 20:51] older-pack commented on #4969
I found an [open bug](https://github.com/Kozea/WeasyPrint/issues/551) from 2017 about embedding fonts. It kind of implies fonts might be a work-in-progress in Weasyprint.

This is just some brainstorming, but the original pdf was made with a Latex based script - I think. What about reverting to that script? It managed fonts and size just fine. It had a nice simple clean layout?
If it ain't broke..

[2020-12-04 20:53] older-pack commented on #4970
Sorry, my bad.

[2020-12-04 21:37] older-pack commented on #4969
Passing it through 'pdftocairo' reduces it from 43MB to 36MB
`pdftocairo -pdf input.pdf output.pdf`
but hyperlinks aren't clickable anymore.

[2020-12-05 11:42] sahilister opened #5010 "@navarroaxel 's name missing from MAINTAINERS.md"
@navarroaxel has been part of tldr-pages starting with #4291 and later added as Organization member with #4504. Their name needs to be added in [Maintainers List](https://github.com/tldr-pages/tldr/blob/master/MAINTAINERS.md).

[2020-12-05 15:51] bl-ue opened #5013 "Rename: pages/{osx => macos}"
With macOS Big Sur, the major version of macOS has changed from 10 to 11.  Now the `osx` folder is wrong because it's macOS 11, not macOS X.

[2020-12-05 18:43] bl-ue commented on #5013
[`CLIENT-SPECIFICATION.md`](https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md) needs to be updated.

[2020-12-05 18:47] bl-ue commented on #5013
Theses page need to be updated too:
[code]

[2020-12-05 18:50] bl-ue commented on #4120
We also need to rename `osx/` to `macos/` because of macOS Big Sur 11.0. #5013

[2020-12-11 20:25] #4970 closed

[2020-12-11 20:25] sbrl commented on #4970
Support added! :slightly_smiling_face:

[2020-12-11 20:41] sbrl commented on #4969
The problem with a latex-based script is that it requires complex dependencies to run. The aim of the weasyprint-based solution was simplify the overall process and make it easier to maintain.

[2020-12-11 20:43] #4994 closed

[2020-12-11 20:44] sbrl commented on #5010
Oh, great point! We should totally do that. @navarroaxel, would you like to do the honours?

[2020-12-11 20:53] sbrl commented on #5013
Hey there, @bl-ue! Thanks for bringing this up. Unfortunately, this is a difficult problem, as a platform rename will result in a breaking change for tldr clients. Updating all of the tldr clients out there is a big task that will take quite a long time. Furthermore, we'll need to figure out a way to do this in a non-breaking fashion, to avoid causing issues for clients during the transition perio

[2020-12-11 20:55] bl-ue commented on #5013
@sbrl Are there more clients then the [Node.js client](https://github.com/tldr-pages/tldr-node-client), the [Python](https://github.com/tldr-pages/tldr-python-client) client, and the [C client](https://github.com/tldr-pages/tldr-c-client)?

[2020-12-11 21:28] sbrl commented on #5013
Absolutely! Check out the list here: https://github.com/tldr-pages/tldr/#how-do-i-use-it

[2020-12-11 21:40] bl-ue commented on #5013
Wow, I can't believe I didn't notice that section.  Hm...we could just merge this issue into #4120, @sbrl?

[2020-12-12 22:50] #5010 closed

[2020-12-14 13:58] bl-ue commented on #5002
@sbrl I agree with that, but it _is_ similar, and "similar" doesn't mean "same" :)

[2020-12-14 18:00] sljedeer commented on #5002
Yeah, at the end it's in line with the other suggested alternatives, plus, having one more suggestion for other users it's always cool imho!

[2020-12-16 00:44] GingkathFox opened #5031 "page request: pacman"
[Docs](https://www.archlinux.org/pacman/)

[2020-12-16 10:05] navarroaxel commented on #5031
Hi @GingkathFox the `pacman` command is available here: https://github.com/tldr-pages/tldr/blob/master/pages/linux/pacman.md

Do you think we should update or change some examples in that page?

[2020-12-17 16:24] GingkathFox commented on #5031
are the pages unique to a OS? my tldr installation on macOS cant find it

[2020-12-17 19:38] waldyrious commented on #4685
Fixed in #4705! 🎉

[2020-12-17 19:38] #4685 closed

[2020-12-17 19:42] navarroaxel commented on #5031
the pages in the `common/` folder are for all the OS, but you have platform specific folders like `linux/`.

I don't know which client are you using, but there is a `--platform` argument to request pages for specific platforms. https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#arguments

Maybe you need to access `linux/` pages from your macOS to use the commands in a Linux VM,

[2020-12-18 03:19] GingkathFox commented on #5031
kindof? i have a manjaro vm in my linux boot but whenever i try to spoof my mac address on mint it breaks the wifi, so i have to rely on macos to read the docs. Thanks!

[2020-12-18 15:19] sbrl commented on #5031
Hey there, @GingkathFox! `tldr pacman` works for me:

![sbrl@Ramblewood: ~_2020-12-18_15:16:18_001_e5128e3](https://user-images.githubusercontent.com/9929737/102630066-fbea9080-4143-11eb-860b-f514e2b0b583.png)

Depending on your client, it won't search other platforms for pages - e.g. if you're on macOS it won't show you `linux` pages. This is an issue you need to take up with the client you've in

[2020-12-18 16:21] GingkathFox commented on #5031
ye, i wish i could see the tldr for other platforms without the -p option

[2020-12-19 18:53] sbrl commented on #5013
Ah, no worries!

Yeah, probably. It's a large and complex operation that requires lots of co-ordination. Somehow I don't think it's going to happen anytime soon, I'm afraid.

[2020-12-19 19:07] sbrl commented on #5002
Ok, sounds cool! Want to open a pull request, @sljedeer?

[2020-12-19 19:26] sbrl commented on #5031
Some clients do support that @GingkathFox. For example, I use [tldr-bash-client](https://github.com/pepa65/tldr-bash-client) myself.

[2020-12-19 20:41] bl-ue commented on #5013
I might be able to coordinate it some time :)

[2020-12-20 16:13] #5031 closed

[2020-12-21 17:24] sljedeer commented on #5002
Ok!

[2020-12-21 19:21] bl-ue commented on #5002
@sljedeer https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/overview

[2020-12-22 11:14] sljedeer commented on #5002
@sbrl @bl-ue i should have done it now! Thanks for the references!
It just needs to be merged.

[2020-12-23 13:50] owenvoke opened #5046 "Update to tldr-lint v0.0.9"
We currently can't update as we need to clean up some of the pages. The new release now does the following:
- Validates the spelling of "More information: " (`TLDR016`)
- Validates that the URL uses angle brackets (`TLDR017`)
- Validates that there is only a single link per page (`TLDR018`)
- Validates that there are a maximum of 8 examples per page (`TLDR019`)

Currently when running `tldr-lint p

[2020-12-23 18:13] owenvoke commented on #5046
We may also need to check any of the translations that exist for these pages, to ensure that they follow the updates (although we can't run the linter against them).

[2020-12-25 07:24] diohabara opened #5047 "page request: dust"
I haven't seen anything in the current repo for `dust`. If it's the case, I'd like to add a page for it.

Here is the link to dust.
https://github.com/bootandy/dust

[2020-12-25 13:02] bl-ue commented on #5047
@diohabara Great idea! Add it!

[2020-12-26 13:54] waldyrious commented on #5046
@owenvoke so maybe this PR should be kept in draft status until then, right?

[2020-12-30 13:17] sbrl commented on #5047
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2020-12-30 13:19] sbrl opened #5056 "add collaborator: @bl-ue"
Hi, @bl-ue! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#5006, #5007, #5008, #5011, #5015)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collaborator, you will have commit access to

[2020-12-30 13:54] #5002 closed

[2020-12-30 15:42] bl-ue commented on #5056
Hi @sbrl, thank you!  I'm afraid I really won't be able to do very for the project at all, because I'm recently quite busy, and next year I have a lot to do so I probably won't get a lot done. However, I can probably fit things in here and there, so

Sure!

[2020-12-31 14:24] bl-ue commented on #5056
@sbrl...I'd love to be part of tldr.  I'm waiting to get some stuff done while I have time... 😸

[2021-01-01 17:54] bl-ue commented on #5056
@navarroaxel @sbrl the week is almost over could you please add me??

[2021-01-01 20:03] navarroaxel commented on #5056
@bl-ue I think only the org owners can add you. I'll ask.

[2021-01-01 20:05] sbrl commented on #5056
Hey there, @bl-ue! I'll send the invite now. Great to have you onboard! :D

[2021-01-01 20:06] sbrl commented on #5056
Invite sent!

[2021-01-01 20:09] sbrl commented on #5056
When you've accepted it, would you like to open a PR to add yourself to the contributors list in MAINTAINERS.md, @bl-ue?

[2021-01-01 20:19] bl-ue commented on #5056
@sbrl Sure!  I'll open one later today.

[2021-01-01 21:02] #5056 closed

[2021-01-01 21:33] #1162 closed

[2021-01-01 21:41] bl-ue commented on #1162
Great jobs guys!

Thank you @qhyun2 for finishing this up!

[2021-01-01 21:47] #5047 closed

[2021-01-01 23:11] bl-ue commented on #4051
It looks like this should have been closed.  Thank you @ev-john!

[2021-01-01 23:11] #4051 closed

[2021-01-01 23:13] bl-ue commented on #4095
@WhileLoop added the page, but GitHub didn't close this issue.

[2021-01-01 23:13] #4095 closed

[2021-01-01 23:16] bl-ue commented on #4948
@FukurouMakoto still working on this?

[2021-01-01 23:23] bl-ue commented on #4951
@FukurouMakoto thank you for fixing this!  Next time when you open a PR that fixes an issue add "Closes #<issue number>" to the end of the description so that GitHub will automatically close the issue when the PR gets merged.  I see you opened #4960 to fix this but the issue was left open because GitHub didn't know this issue and that PR were related.

[2021-01-01 23:23] #4951 closed

[2021-01-01 23:30] bl-ue commented on #4948
Nevermind @FukurouMakoto I see you're done with #4949.  Next time link the issue number in the PR description to auto-close this issue once the PR is merged.

[2021-01-01 23:30] #4948 closed

[2021-01-01 23:31] bl-ue commented on #4190
Thank you @ev-john! Please link the issue number in the PR description so that GitHub automatically closes this issue when the PR is merged.

Closed by PR #4625

[2021-01-01 23:31] #4190 closed

[2021-01-01 23:35] bl-ue commented on #4107
Thank you @GingkathFox for fixing this in PR #5054! Next time, please link the issue number in the PR description so that GitHub automatically closes the issue when the PR is merged.

Looks like "@ gottabeleGIT" is gone :-)

[2021-01-01 23:35] #4107 closed

[2021-01-02 01:09] bl-ue commented on #4218
Thank you @nikisix for fixing this in PR #4946! Next time, please link the issue number in the PR description so that GitHub automatically closes the issue when the PR is merged.

[2021-01-02 01:09] #4218 closed

[2021-01-02 01:27] bl-ue commented on #4638
Thank you @silentmatt for fixing this in PR #4716! Next time, please link the issue number in the PR description with "Closes #<issue number>" instead of "See issue #<issue number>".

[2021-01-02 01:27] #4638 closed

[2021-01-02 01:28] bl-ue commented on #4763
@glenacota are you a collaborator yet?

[2021-01-02 03:41] bl-ue commented on #2680
`iex` and `elixir` were added by #4658 and #4693.  Thank you @Schoonology!

[2021-01-02 03:41] #2680 closed

[2021-01-02 04:19] GingkathFox commented on #4107
oh, i didnt realize this was open, i just wanted to make a page for tmutil @bl-ue xD

[2021-01-02 12:07] bl-ue commented on #4107
Cool @GingkathFox! Thank you anyway!

[2021-01-02 13:42] glenacota commented on #4746
issue solved with https://github.com/tldr-pages/tldr/pull/4788

[2021-01-02 13:42] #4746 closed

[2021-01-02 14:02] bl-ue commented on #2068
I'm going to edit this issue's description and add all slurm commands that we have done/need to do.

[2021-01-02 14:08] bl-ue commented on #2068
So we've got done 10 of 21 slurm commands, and 0 of 6 daemon commands.  The description is updated.

[2021-01-02 14:24] bl-ue commented on #2130
@ldorigo have you ever gotten back to this?

[2021-01-02 14:53] #2865 closed

[2021-01-02 14:58] bl-ue commented on #4947
Excellent point @sbrl, I think that's what @rickythefox (and myself frequently, too) is missing here.

[2021-01-02 14:58] #4947 closed

[2021-01-02 15:18] #4763 closed

[2021-01-02 16:25] bl-ue commented on #2214
We're down to 35 missing (of 70 @Wesalius listed).

[2021-01-02 16:55] bl-ue commented on #2068
@npalladium feel up to adding some more?

[2021-01-02 17:05] npalladium commented on #2068
Of the commands left, I only use `slurm` and `salloc`. I can add those in the coming couple of days. As for the daemons, I'm not quite sure what to add.

[2021-01-02 17:05] bl-ue commented on #2068
We don't have to add the daemon (although it would be nice).  I just saw them and though it would be nice to suggest them.

[2021-01-02 17:16] npalladium commented on #2068
That still leaves some commands that I don't use at all. I could try them
out and see if I can add something as a first attempt, but I don't think
that is ideal.

On Sat, Jan 2, 2021, 22:36 bl-ue <notifications@github.com> wrote:

--

Disclaimer:- This footer text is to convey that this email is sent by one
of the users of IITH. So, do not mark it as SPAM.

[2021-01-02 17:44] bl-ue commented on #2068
Don't bother @npalladium.  Someone will come along, maybe me myself!

[2021-01-02 19:01] bl-ue opened #5070 "Let's document! vcpkg & conan"
[vcpkg](https://github.com/microsoft/vcpkg) and [conan](https://conan.io/) are popular C++ package managers.  I've used both myself.  I've written pages for each of them, but in reality they probably need a page for each sub command since there are many.

vcpkg:

- [ ] `contact`
- [ ] `create`
- [ ] `depend-info`
- [ ] `edit`
- [ ] `env`
- [ ] `export`
- [ ] `hash`
- [ ] `help`
- [ ] `help`
- [ ]

[2021-01-02 19:08] bl-ue commented on #4319
Obviously not @sbrl!

[2021-01-02 19:08] #4319 closed

[2021-01-02 19:19] bl-ue commented on #4250
2 left!  @teeteejo @amitech @samuel-w any time/familiarity with the commands to add pages for `e2undo` and `findsuper`?

[2021-01-02 19:29] bl-ue commented on #4177
@marcin-chwedczuk do want to fix this?

[2021-01-02 20:08] bl-ue commented on #3953
@Alison-Li @samuel-w @jn64 only one more -- `git range-diff`.  Any of you feel up to adding it?

[2021-01-02 20:29] bl-ue commented on #4701
There are a few more `gh` subcommands not documented by tldr, and since this issue is relatively recent (Oct. 2020), I decided to edit it and reopen it.

[2021-01-02 21:36] MasterOdin opened #5071 "Pages where the title does not match the filename"
I originally posted this in https://github.com/tldr-pages/tldr-lint/issues/32#issuecomment-753515366, but moving this into an issue in the main repo to give it more visibility and community feedback.

One of the open issues for tldr-lint is https://github.com/tldr-pages/tldr-lint/issues/26: "Assert that the filename is the same as the page title". On implementing this lint rule, it introduces the

[2021-01-02 21:39] bl-ue commented on #5071
@MasterOdin, it's interesting that you brought this up, because I was earlier today thinking about proposing to remove the title entirely.  It really doesn't make that much sense to have it, because the clients themselves can easily add it.  It also prevents discrepancies like the ones you've pointed out.

[2021-01-02 21:41] bl-ue commented on #5071
Do you mean "add `ripgrep` to the description"?

[2021-01-02 21:56] bl-ue commented on #5071
@navarroaxel thoughts?

[2021-01-02 22:26] MasterOdin commented on #5071
Yup, fixed.

[2021-01-03 03:16] navarroaxel commented on #5071
I think the title is a basic lint or rule when you create a `markdown` file, so if someone wants to use the pages from `tldr` to build some website (e.g using jekyll) we need to have a title to avoid extra code.

[2021-01-03 03:19] bl-ue commented on #5071
I never thought of that.  Good point.  I wasn't even thinking of the pages in terms of basic markdown files.

[2021-01-03 04:07] bl-ue commented on #5071
@MasterOdin, here's what I've concluded, please correct me if I'm wrong:

1. For `g++`/`gplusplus`, change the title to match the filename, `g++`. If the filename can have `+`'s in, so can the title.

2. For `gpg2`/`gpg1`/`gpg`, [`gpg.md`]() and [`gpg2.md`]() are identical execept for example and wording choices.  I think one of them should be removed, and the other one renamed to `gpg.md`.  The t

[2021-01-03 04:08] bl-ue commented on #5071
@navarroaxel do we support symlinks, so `gpg2.md -> gpg.md`?  It seems like we should.  Maybe I should open a separate issue for that.

[2021-01-03 04:19] MasterOdin commented on #5071
I am very much against symlinks in git repos as they do not work on Windows machines using cmd.exe (which I use here and there). I would ask very much that they do not be added here. If anything, I would suggest modifying `gpg2.md` to just say "Please refer to gpg instead for documentation" instead of the symlink.

[2021-01-03 12:44] bl-ue commented on #5071
I think so too @MasterOdin, I was just wondering if we have some solution that I'm not familiar with that @navarroaxel would point out.  As for modifying `gpg2.md`, it seems to me like we should probably just make them indentical, because that's what we do here.  (That should eventually be improved...)

[2021-01-03 13:49] bl-ue commented on #2816
`create_ap` was added almost 2 years ago on April 14, 2019 in #2884.  Thank you @7vikpeculiar!

[2021-01-03 13:49] #2816 closed

[2021-01-03 13:50] bl-ue commented on #2816
As of July 22, 2020, `create_ap` is no longer maintained...I'll add that to the page's description.

[2021-01-03 13:56] bl-ue commented on #1704
I'm closing this because `whence` was added in May 2020 with #4021.  Thank you @danielbayley  !!

Glad to get an old issue like this closed! 😄

[2021-01-03 13:56] #1704 closed

[2021-01-03 14:00] bl-ue commented on #1200
I agree with @agnivade.  This is a very old issue&mdash;@waldyrious, do you mind if we close it?

[2021-01-03 14:03] bl-ue commented on #1628
Thanks for requesting this page, @YangVincent! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository -

[2021-01-03 14:16] bl-ue commented on #4975
@sbrl It seems to be auto updating now. https://github.com/tldr-pages/tldr-pages.github.io/blob/master/assets/tldr-book.pdf

[2021-01-03 19:10] bl-ue commented on #4044
I know no one probably is going to agree with this :), but I always have and do think that we shouldn't have a "Node.js" client or "Python" client but a "CLI" client, and a "Keypirinha" client, and a "web" client, etc.  Of course, it's much easier said than done, but having fewer clients makes it easier to make big changes such as #4120.

[2021-01-04 09:36] owenvoke commented on #5071
I think it's worth keeping the seperate `gpg` and `gpg2` pages. 👍🏻 And we can just have the title as the same as the page title. I think there's nothing wrong with it being `gpg2` (people still know it's GPG). We could even have a note in each page saying something such as this:

[2021-01-04 12:06] bl-ue commented on #5046
@owenvoke all of the 9-example pages are trimmed to 8! Go ahead and procede!

[2021-01-04 13:23] #5046 closed

[2021-01-04 13:47] bl-ue commented on #3876
This is currently not possible because `tldr-lint` only allows capital letters at the beginning of examples:
[code]

[2021-01-04 13:48] bl-ue commented on #3876
@sbrl @owenvoke @navarroaxel how about amending the linter to allow `[` and `*` at the beginning?

I'd like to do this:
[code]
because that makes it really clear and obvious.

[2021-01-04 13:52] bl-ue commented on #3245
@waldyrious #4516 was merged 2 months ago, could you do this now?

[2021-01-04 14:03] bl-ue commented on #3876
Oops! I didn't notice tldr-pages/tldr-lint#12

[2021-01-04 16:50] sbrl commented on #2865
Just sent an email to DistroWatch's contact email address, just in case.

[2021-01-04 16:59] sbrl commented on #2068
Does anyone else with access to a Slurm system have an `interactive` command, or is it something specific to my University's HPC? If it's common, I'll write a page for it.

[2021-01-04 17:09] sbrl commented on #4975
Now that the PDF version is auto-updating, I think we can close this issue. Since the PDF version will now always be up-to-date, there's no need to display what the latest version is in the README I don't think.

Feel free to comment though if you think otherwise and I'll reopen this issue.

[2021-01-04 17:30] sbrl commented on #4044
@bl-ue that's an interesting idea, but even within the idea of a CLI client you'll have a job developing a universal client that works on all platforms: Windows, macOS, Linux, BSD, Solaris, Haiku, .... the list of OSes goes on an on. And with Go you also have to worry about CPU architectures. [This page](https://wiki.debian.org/SupportedArchitectures) is a favourite reference of mine for that. So

[2021-01-04 17:33] MasterOdin opened #5085 "How to handle mixed casing of titles and filenames"
Typing this issue up from recent discussion on gitter.

Currently, most pages use filenames that are lowercased, even if the command that they document utilizes capital letters.

[common/pages/R.md](https://github.com/tldr-pages/tldr/blob/master/pages/common/R.md) is an example of a page who has the file name and title using capitals.

[windows/pages/get-content.md](https://github.com/tldr-pages/t

[2021-01-04 17:39] sbrl commented on #5085
I think for the linter to work the page name must exactly and case-sensitively match the page name, but I can't remember. So the linter needs to be considered here.

I like the idea of having page name in lowercase, but I'm somewhat concerned that if we encounter 2 commands with different functions but the same name and different casings we'll have an issue.

Murphy's Law: If it can happen, it wil

[2021-01-04 17:46] bl-ue commented on #5085
+1 for title = pagename = lower.  @sbrl I can't think of any example where two commands _with the same name, but different casing, have different functionality_.  That **does not** seem likely at all, to me.

[2021-01-04 17:48] sbrl commented on #5071
I think @bl-ue and  has the right idea there.

1. `gplusplus` → `g++`
2. `ripgrep` → `rg`, but mentioning `ripgrep` in the page content
3. `stolonctl`: rename filename and title to the exact name of the command

GPG: @owenvoke's suggestion is sensible here. Let's keep separate `gpg` / `gpg2` pages, with `See also` references.

The `rename` situation is altogether very odd, and I'd need to read up

[2021-01-04 17:51] MasterOdin commented on #5085
To add to this, letting in pages with different cases, but same letters (say `common/R.md` and `common/r.md`) will lead to weird irregularities in working on this repo (and maybe also clients) for people on Windows and macOS.

[2021-01-04 18:00] sbrl commented on #5085
Oops, looks like my previoous comments didn't come out right. I'm in favour of:

 - **filename:** lowercase
 - **page title:** exactly matching the command name (case-sensitive)

[2021-01-04 18:02] sbrl commented on #5085
Example of different commands, same letters:

[code]

[2021-01-04 18:06] bl-ue commented on #5085
Hmm...that's tricky.  I'm not sure what to do about that.  As @MasterOdin said, macOS is case-insensitive, and so is Windows, so that situation isn't possible on those OSes.

[2021-01-04 18:06] #3876 closed

[2021-01-04 18:18] bl-ue commented on #5047
@diohabara I now use `dust` instead of `du` because of this!  thank you for adding it!! (a lot)

[2021-01-04 18:32] MasterOdin commented on #5085
@sbrl The linter currently does not do anything with file names. Support for that is being added in https://github.com/tldr-pages/tldr-lint/pull/32 which I will update to support with the decision on this topic.

[2021-01-04 19:01] bl-ue commented on #5071
@sbrl #3125, #3126.  We should probably just set the title to the page name, and since they're the same thing mirror the contents among the three.

[2021-01-04 22:39] bl-ue opened #5092 "Client option to display short options instead of long options"
I was just about to go through and convert all examples that use short options to long options (if available for each command), when I thought of a cool idea to add a option to all clients to display short options in examples if the user specifies, instead of long options.  In the markdown, we would need some new syntax to store short and long options, I was thinking something like this:
[code]

A

[2021-01-04 22:48] bl-ue commented on #4250
Thank you @navarroaxel for `e2undo`!  Can anyone do `findsuper`?

[2021-01-05 12:17] bl-ue commented on #2068
I can't find a reference to it on the Slurm docs @sbrl so maybe you do only have it.  Can you send the output of `--version`, `--help`, etc., or whatever is appropriate for it?

[2021-01-05 13:48] bl-ue commented on #4044
@sbrl

1. Does the tldr client need to be supported on any other platforms besides the major ones, which Go supports?  Most tools, including most tools documented in this tldr repo, don't support any other OSes.
2. If some people do use those operating systems, how likely is it that they would ever use tldr on them?
3. Why does the tldr client need to run on operating systems that many other tools

[2021-01-05 21:03] sbrl commented on #2865
Update: They've replied with the following:

repository to get new page versions, but I appreciate knowing the index
file has moved.

Looks like DistroWatch is absolutely fine, and we don't need to worry about them. I've updated the list in the original issue.

[2021-01-05 21:56] bl-ue commented on #2865
Nice! Thank you @sbrl.

[2021-01-05 21:57] bl-ue commented on #2865
Should I have kept this open until all clients are okay @sbrl?

[2021-01-05 23:29] mebeim commented on #2865
@bl-ue I think this is fine as is. We used this to mainly track clients *before* applying the change.  It was useful before as an indicator to know if or how much we needed to wait, but now that the change is applied, keeping this up until the last client updates their code does not really have any advantage.

[2021-01-05 23:59] MasterOdin commented on #5085
I have updated the PR above to include a rule mandating lowercase file names. Similar to what was done with 0.0.9 release, once 0.0.10 (or whatever) is released, I will make a new issue that bundles all pages that now fail validation into a single master issue to track updating them all.

[2021-01-06 00:59] navarroaxel commented on #4250
Looks like `findsuper` was dropped.
https://github.com/tytso/e2fsprogs/blob/master/misc/findsuper.c
In e2fsprogs 1.19
https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs/+/v1.42.7/debian/changelog

[2021-01-06 01:19] bl-ue commented on #5085
Nice.

[2021-01-06 01:20] bl-ue commented on #4250
Looks like you're right @navarroaxel! [Here's the specific line.](https://kernel.googlesource.com/pub/scm/fs/ext2/e2fsprogs/+/v1.42.7/debian/changelog#2881)

In this case, would we add a page, and say it was deprecated?  Or still add a page?

[2021-01-06 11:46] navarroaxel commented on #4250
It's a similar scenario like `dep` https://github.com/golang/dep, this is deprecated and archived and was removed from tldr pages.

[2021-01-06 12:00] bl-ue commented on #4250
Okay.  And `findsuper` was deprecated long before dep was even started.  So I'll check that one off, and say we're done!

[2021-01-06 12:01] #4250 closed

[2021-01-06 12:02] bl-ue commented on #4250
Thank you @navarroaxel! ❤️

[2021-01-06 13:28] bl-ue commented on #3953
Hi guys, I found several more commands by running `git help -a`, then I used a tiny script [`tldr-find.sh`](https://github.com/tldr-pages/tldr/files/5775973/tldr-find.sh.zip) + VS Code multi-cursor to produce a grand list of 140 commands, with links to each commands docs page.

So the command count went from what @sbrl called quite a few, 20, to 140 (❗❗❗), so we have quite a bit of work to do.  65

[2021-01-06 13:53] bl-ue commented on #5013
@sbrl

We could temporarily symlink `osx` -> `macos`.

[2021-01-07 01:31] sbrl commented on #5092
Hrm, an interesting thought, but I'm wary of adding additional complexities to custom syntax - especially in the syntax for a command. Generally the rule of thumb at the moment is to use short options on commands a user will be using a lot (e.g. `ls`), and long options for everything else. The `[c]reate` convention is also used in places too. Maybe that would be worth applying to the ripgrep/`rg`

[2021-01-07 01:35] sbrl commented on #2068
Oh, that's interesting. It's a symlink to `salloc`.

[code]

I think the symlink is in place to make it easy for researchers who don't have as much Linux experience. It's also convenient to remember :D

[2021-01-07 01:39] sbrl commented on #4044
You raise some good points. We do have a reference client in Node.js over in the tldr-node-client repo. But writing a new client requires lots of effort and work - and also programmers with skills in Go for example if Go were to be picked.

In my opinion, I think it's far too late to change what's already happened.

Despite this, there is room for improvement. Some way of tracking compliance with

[2021-01-07 01:48] sbrl commented on #5013
I believe symlinks are an issue. Check out #787, and also potentially #1966 (but that one is long and complicated).

[2021-01-07 02:31] sbrl opened #5103 "Let's document: next-gen filesystems (btrfs/zfs)"
Since #4250 was recently closed, I thought that maybe we could start tracking a new list of file-system related commands. This time, the theme is the next-generation filesystems [btrfs](https://btrfs.wiki.kernel.org/) and (open [zfs](https://openzfs.org/wiki/Main_Page) - please feel free to update this list if I've made a mistake.

## Btrfs

 - [ ] `btrfs subvolume`
 - [ ] `btrfs filesystem` (#510

[2021-01-07 03:03] MasterOdin commented on #4044
There may be value though in at least having the major package managers of the big distributions / OS all use the same client though (which is ideally maintained by tldr?). A quick look at the ecosystem:

| OS        | tldr client |
|--------|----------------|
| Debian | https://github.com/psibi/tldr-hs#readme |
| macOS | https://github.com/tldr-pages/tldr-c-client |
| arch      | https://github.c

[2021-01-07 10:55] waldyrious commented on #5085
According to [this comment](https://github.com/tldr-pages/tldr-lint/pull/32#discussion_r553061948), a consensus hasn't been reached yet. Let's reopen and close once there's a clear agreement on how to proceed.

[2021-01-07 11:04] waldyrious commented on #5085
My 2 cents: yes, there will be pages with the same name and different casing, but it's equally possible for two tools to exist with exactly the same name in the same platform (see https://github.com/Homebrew/homebrew-core/pull/65438 for an example). That means that allowing case differences may alleviate the problem somewhat, but will not solve it completely, while making things way too nuanced an

[2021-01-07 12:02] MasterOdin commented on #5085
The situation already exists within tldr of multiple commands with the same name:
* https://github.com/tldr-pages/tldr/blob/master/pages/linux/file-rename.md
* https://github.com/tldr-pages/tldr/blob/master/pages/linux/rename.md
* https://github.com/tldr-pages/tldr/blob/master/pages/linux/perl-rename.md
* https://github.com/tldr-pages/tldr/blob/master/pages/linux/prename.md

I would also like to e

[2021-01-07 12:21] bl-ue commented on #5085
There will also be some commands with the exact same name and casing, for example the more [popular bat](https://github.com/sharkdp/bat) and less [popular bat](https://github.com/astaxie/bat), and the relevant issue: https://github.com/sharkdp/bat/issues/164 😄

[2021-01-07 12:49] bl-ue commented on #3245
Hey @waldyrious! Will you please make the edit to [GOVERNANCE.md](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md) so we can close this issue?

[2021-01-07 12:57] schneiderl commented on #5085
My opinion on this would be similar to @waldyrious.
But when this issue does happen, when someone tries to create a document with a name that is already being used by another command, how we plan on fixing it?
Or will we consider that the first command to get there will own that page forever?

[2021-01-07 13:54] sbrl commented on #5085
That sounds like a sensible thing to do. The filename should match the command name in lowercase then, I take it?

[2021-01-07 16:12] schneiderl opened #5110 "Rename `master` branch to `main`"
According to our [Inclusive Language](https://github.com/tldr-pages/tldr/blob/0c9f1209d1e7192b76d992d7f947e76d190b6ed9/CONTRIBUTING.md#inclusive-language) section on the Contributing Guide, we should always try to use inclusive language.
According to the Guide,

I believe that if that is in our Contributing Guide, we should follow it in our main repositories at least. That includes how we name our

[2021-01-07 16:40] bl-ue opened #5111 "Pages with bad "More information" link syntax"
There are some pages with bad "More information" links:

- [`jwt.md`](https://github.com/tldr-pages/tldr/blob/master/pages/common/jwt.md)
- [`carbon-now.md`](https://github.com/tldr-pages/tldr/blob/master/pages/common/carbon-now.md)
- [`topgrade.md`](https://github.com/tldr-pages/tldr/blob/master/pages/common/topgrade.md)

Why were these missed in #5043, #5046, and #5050?

[2021-01-07 16:42] schneiderl commented on #5111
Why are they bad?

[2021-01-07 16:42] schneiderl commented on #5111
They do not seem broken and the pages look like the GitHub page from the tool.

[2021-01-07 17:22] bl-ue commented on #5111
@schneiderl most of the pages have links like this:
[code]
But those are link this:
[code]
or
[code]
I'm not talking about the links themselves, just the syntax.

[2021-01-07 17:45] schneiderl commented on #5111
Oh, I understand now.
Would you tackle this?

[2021-01-07 18:05] bl-ue commented on #5111
Absolutely! I was just wondering why `tldr-lint` didn't catch this.  See `TLDR016` "Label for information link should be spelled exactly More information:" at [its README](https://github.com/tldr-pages/tldr-lint).

[2021-01-07 19:11] waldyrious commented on #5085
In most cases, yes, but we we can't make that an absolute rule because of the additional cases that @MasterOdin mentioned in [his comment](https://github.com/tldr-pages/tldr/issues/5085#issuecomment-756075176). More on this below.

A better approach IMO would be to handle these in a case-by-case basis. But maybe we can come up with a strategy that allows for disambiguation in all cases. Typically

[2021-01-07 20:15] MasterOdin commented on #5085
This discussion is now veering into territory covered by #5071, which is directly discussing how to handle an actual existing instance of this (rename commands) that exists in the tldr repo.

[2021-01-07 21:45] sbrl commented on #3245
@bl-ue 1 reminder is enough :-) @ waldyrious is quite busy - there's no rush to close this issue :-)

Generally speaking tldr-pages has a number of longer-running tracking issues open about various things, since none of us have ever met in person and here (and Gitter) are the only places we have to communicate. This is one of them :-)

[2021-01-07 21:48] bl-ue commented on #3245
Okay @sbrl!!  Apologies for being so persistent :)

[2021-01-07 21:58] sbrl commented on #5110
Great point. Yeah, I think `main` is fast becoming the new standard. Is there any word on whether Git itself will be changing its default too, and if so in what version?

@owenvoke, will this result in an impact on any of our GitHub actions or automation?

@agnivade: would this have an impact on the tldr-bot at all?

[2021-01-07 22:26] sbrl commented on #5085
Hrm. Sounds like the issue is complex enough that we can't really enforce any of this via linter rules, except maybe the "always lowercase" bit.

[2021-01-07 22:29] sbrl commented on #3245
Ah, no worries :-)

[2021-01-07 22:30] sbrl commented on #5111
I think it's a new feature that hasn't been enabled yet? @owenvoke?

[2021-01-07 22:47] schneiderl commented on #5111
**Off-topic (kind of) -**  I was quickly looking at the code to get this implemented and a question came to my mind: does tldr-lint only works with en pages?

[2021-01-07 22:53] bl-ue commented on #5111
@schneiderl it appears to: when I make bad changes to a file in a translation other than `en`, it throws the appropriate `TLDRXXX` errors, but I think I see what your getting at: "More information: " isn't going to appear in a Spanish page.

[2021-01-07 22:58] schneiderl commented on #5110
The only thing I could find on Git is that they are really cautious about renamings of the sort.

See: [this](https://git-scm.com/book/en/v2/Git-Branching-Branch-Management) under **Changing the master branch name** section.

Either way, this section only shows how one should proceed while changing this. I could not find anything about making "main" standard.

[2021-01-07 23:05] sbrl opened #5116 "Detecting dead "more information" links"
I was inspired by #5111, and I developed another of my bash one-liners to detect broken more information links in tldr pages. Broken links are defined as having a HTTP status code lower than 200, or greater than or equal to 400. Connection issues (e.g. DNS resolution failures, TLS certificate misconfigurations, etc) are also considered dead links

Here's the one-liner:

[code]

`cd` to the root of

[2021-01-07 23:10] bl-ue commented on #5116
Really cool @sbrl.  I though of this idea just today!

https://mailutils.org/manual/html_chapter/Programs.html#frm-and-from &mdash; @sahilister found this just [27 days ago](https://github.com/tldr-pages/tldr/pull/5011#discussion_r536779415)!

[2021-01-07 23:11] waldyrious commented on #5085
Drat! Sorry for the diversion. I'll try to follow the discussion there. In any case, for this one, I think we can all agree with (1) making all filenames lowercase, and (2) not forcing the filename to match the title within. All in favor say "aye"! :P

[2021-01-07 23:12] bl-ue commented on #5116
A lot of those links are false actually, because you have curl's `-I` flag, which sets the method to `HEAD`, and that causes 404s/500s on sites like https://crates.io/ and https://redis.io.

[2021-01-07 23:13] bl-ue commented on #5110
@sbrl @schneiderl See the Git project's official [statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/) and [code change](https://lore.kernel.org/git/pull.656.v4.git.1593009996.gitgitgadget@gmail.com/). I found that at GH's [Blog Post](https://github.blog/changelog/2020-07-22-github-actions-better-support-for-alternative-default-branch-names/) -> [Repo](https://github.com/github/re

[2021-01-07 23:14] bl-ue commented on #5085
Aye! 😄

[2021-01-07 23:15] waldyrious commented on #5071
I agree with what's been said above for the less tricky cases.

As for the `rename` pages, I'll copy my comment from [here](https://github.com/tldr-pages/tldr/issues/5085#issuecomment-756320458):

[2021-01-07 23:17] waldyrious commented on #5056
Hey @bl-ue, I think you might like to join the [Gitter chat](https://gitter.im/tldr-pages/tldr), which is where we coordinate in a more informal manner and outside the scope of specific issues / PRs. Come join us! 🙂

[2021-01-07 23:47] sbrl commented on #5116
Oh really? That's very unusual. According to the HTTP spec HEAD should return _exactly_ the same HTTP headers as a `GET`, just without the body IIRC.

We can remove links that actually work from the list.

[2021-01-07 23:51] sbrl commented on #5116
Updated my comment with a revised list

[2021-01-07 23:51] bl-ue commented on #5116
I see that.  Looks good.

[2021-01-07 23:53] bl-ue commented on #5116
You say

[code]

[2021-01-08 03:47] agnivade commented on #5110
Don't think so it's going to cause issues with tldr-bot.

[2021-01-08 08:16] owenvoke commented on #5111
Yes, we aren't really able to parse other language pages. So we only parse the main `pages` directory.

Regarding the feature, it is currently enabled on v0.0.9 of `tldr-lint`, however it only checks certain formatting of the line. And doesn't check for completely different wording at the moment (just variations of `More info(rmation)`).

[2021-01-08 09:29] owenvoke commented on #5110
So, the only required changes for GitHub Actions would be a couple of references to `master` in the `if` blocks. We do however reference `master` in quite a few other places.

I've created a branch to show the differences that would be required: https://github.com/tldr-pages/tldr/compare/master...owenvoke:feature/main

One thing to note, I think when changing the default branch, we'd have to go th

[2021-01-08 11:50] schneiderl commented on #5085
Aye! 😃

[2021-01-08 11:52] schneiderl commented on #5111
Then shall we enforce the wording "More Information"?

If so, I would like to tackle this. I've never messed around with the linter but I would like to give it a try 😄.

[2021-01-08 13:07] schneiderl commented on #5116
That is very cool 👍

[2021-01-08 15:15] bl-ue commented on #3953
I just added all 69 commands from [tj/git-extras](https://github.com/tj/git-extras) to the TODO list, making for a monolithic list of **208** subcommands, **75** of which are done. I'm working on powering through! 😊

[2021-01-09 12:11] bl-ue opened #5122 "add collaborator: @MasterOdin"
Hi, @MasterOdin! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#2141, #2278, #2422, #2451, and #5063)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collaborator, you will have commit a

[2021-01-09 13:53] MasterOdin commented on #5122
Sure

[2021-01-09 14:46] sbrl commented on #5122
Invite sent, @MasterOdin :D

[2021-01-09 15:09] MasterOdin commented on #5122
Accepted

[2021-01-09 15:12] bl-ue commented on #5122
:tada:
<img width="294" alt="Screen Shot 2021-01-09 at 10 10 31 AM" src="https://user-images.githubusercontent.com/54780737/104095127-24f1d300-5263-11eb-982c-b40bef54d6db.png">

[2021-01-09 15:19] bl-ue commented on #5122
@MasterOdin would you like to open a PR adding yourself to [MAINTAINERS.md](https://github.com/tldr-pages/tldr/blob/master/MAINTAINERS.md)?

[2021-01-10 01:13] #5122 closed

[2021-01-10 01:40] bl-ue commented on #5116
We should add this to `tldr-lint` 🤔

[2021-01-11 12:54] bl-ue commented on #5111
@schneiderl definitely enforec "More information". It's what we do 99%+ of the time, it seems.

[2021-01-11 13:01] owenvoke commented on #5111
@schneiderl, I'd say yes. 👍🏻 Good luck!

[2021-01-11 15:51] waldyrious commented on #5111
How will do you plan on doing it, though? We can't test any possible variations of the prefix, can we? An excessively broad matcher would catch false positives. Or would it be OK to force (in the main description section) any line ending with `<http...>` to start with "More information:"?

Here are all the variations I could find in the main (English) pages:

[code]

The culprits are:

- https://g

[2021-01-11 15:52] waldyrious commented on #5111
(By the way, `jwt.md` needs a space after "HS256," in the list of encryption algorithms 😜)

[2021-01-11 15:55] bl-ue commented on #5111
@waldyrious, `git pull`, because with #5112 and #5120 I fixed some of those 😉

[2021-01-11 15:59] bl-ue commented on #5111
@waldyrious we could just assert that the last line of the descripion MUST start with `More information:`. That way there would always be a link on each page, and we wouldn't have to remove the `Tutorial:` lines in the vala pages.

IMO that's the easiest and most stable way, aka the best way 😄

[2021-01-11 16:05] waldyrious commented on #5111
I honestly would prefer to have only a single link in the main description, to keep with tldr-pages' spirit of conciseness and visual simplicity, but I'm open to be convinced otherwise.

[2021-01-11 16:13] owenvoke commented on #5111
I'm not sure forcing a link on every page is a good idea, as a lot of tools don't really have proper docs or information pages (for example most of the old Windows tools).

[2021-01-11 16:18] bl-ue commented on #5111
👍

Just because there's no official link doesn't mean we can't add the _best_ link available?  For example, the Debian manpages that we seem to refer to aren't official. [`svn-changelist.md`](https://github.com/tldr-pages/tldr/blob/master/pages/common/svn-changelist.md), [`git-subtree.md`](https://github.com/tldr-pages/tldr/blob/master/pages/common/git-subtree.md)

[2021-01-11 16:27] owenvoke commented on #5111
True, I have nothing against adding links from non-official sources (I'm all for adding more links that are useful). I just feel like it might lead to adding links that aren't particularly useful just because that's the only thing available.

[2021-01-11 16:34] bl-ue commented on #5111
Couldn't the reviewers just recommend a better link?

[2021-01-11 17:53] schneiderl commented on #5111
I don't think I like forcing to have a link for every page.
In some cases, there is no interesting link to be put on the description.
Also, in some cases, we might be just repeating ourselves (see #3041).

I prefer @waldyrious solution: we only have maintain one link per command description. That being, we can check if the syntax is correct as described above.

[2021-01-11 18:02] bl-ue commented on #5111
You guys all think links should be optional? 👍 I was mainly suggesting it because I think it would make it easier to implement in tldr-lint :)

Perhaps we could check if the last line contains `<http` and then insist it begin with "More information: " ?

[2021-01-11 22:15] waldyrious commented on #3953
@bl-ue I think we should have [git-extras](https://github.com/tj/git-extras) subcommands tracked in a separate issue, especially since there are many such git enhancers:

- [x] [hub](https://hub.github.com) → #4701
- [ ] [gh](https://cli.github.com)
- [ ] [gitsome](https://github.com/donnemartin/gitsome)
- [ ] [git town](https://git-town.com)
- [ ] [git-utils](https://github.com/ddollar/git-utils)

[2021-01-11 22:20] bl-ue commented on #3953
Gosh, you're right! I thought the same thing when I added those...but...

:shrug:

is what I did.  :smile:

and I thought about it no more.

[2021-01-11 22:25] bl-ue opened #5137 "Let's document: tj/git-extras"
We should add the commands from [tj/git-extras](https://github.com/tj/git-extras) (73):

- [x] [`abort`](https://github.com/tj/git-extras/blob/main/Commands.md#git-abort) → #6243
- [x] [`alias`](https://github.com/tj/git-extras/blob/main/Commands.md#git-alias) → #5979
- [x] [`archive-file`](https://github.com/tj/git-extras/blob/main/Commands.md#git-archive-file) → #5960
- [x] [`authors`](https://g

[2021-01-12 14:58] bl-ue commented on #3016
@waldyrious your PR #2990 was merged a few days after you opened this issue&mdash;do you still consider the page to not be clear enough?

[2021-01-13 13:38] bl-ue commented on #4120
IMO the biggest problem with any architectural changes like this is keeping clients working while we and they make change over to a new spec. 🤔

[2021-01-14 00:04] ysl2 opened #5141 "Error fetching from tldr: <urlopen error [Errno 104] Connection reset by peer>"
I use `pip install tldr`to install, after installing, I tried to run `tldr ls` and got this tips:
![image](https://user-images.githubusercontent.com/39717545/104527222-2b0af980-563f-11eb-9778-7bf543ff8881.png)

[2021-01-14 11:58] navarroaxel commented on #5141
The `tldr` package in Manjaro is based on the python-client . Could you please test `tldr` using the client provided by pacman?

[2021-01-14 12:04] MasterOdin commented on #5141
This issue should be moved to the tldr-pages/tldr-python-client repository as `pip install tldr` installs the latest version of it.

@ysl2 Do you see any error when doing `curl https://raw.githubusercontent.com/tldr-pages/tldr/master/pages/common/ls.md`?

[2021-01-14 12:53] bl-ue commented on #5141
@navarroaxel they are using `pip` to install tldr.

@navarroaxel will you please transfer this issue to the tldr-pages/tldr-python-client repo?

[2021-01-14 13:01] navarroaxel commented on #5141
@bl-ue I know, I just wonder if the same client code works via `pacman` than the `pip install`.

[2021-01-14 15:10] mebeim opened #5143 "Replace die.net links with better resources where applicable"
There was [a short discussion](https://gitter.im/tldr-pages/tldr?at=600008e514cec811ec998765) today on Gitter about pages which have "more information" links pointing to `die.net`. As @navarroaxel showed there is man.archlinux.org, which is for Arch Linux programs, and which could be better suited for Arch Linux specific utilities.

In general though, we have the same distro-generic set of manual

[2021-01-16 15:24] bl-ue commented on #5110
I think only org owners change the default branch.

@owenvoke / @sbrl / @agnivade will you please change the default branch on the following repos to `main`?:

- [.github](https://github.com/tldr-pages/.github)
- [tldr-bot](https://github.com/tldr-pages/tldr-bot)
- [tldr-c-client](https://github.com/tldr-pages/tldr-c-client)
- [tldr-lint](https://github.com/tldr-pages/tldr-lint)
- [tldr-node-clien

[2021-01-16 15:42] sbrl commented on #5085
Aye!

lol

[2021-01-16 16:17] owenvoke commented on #5110
@bl-ue, are we sure that there are no issues with this? If so, I'll open my PR in this repository.

[2021-01-16 16:25] sbrl commented on #5116
That's odd. I get an error when I load those links:

![Selection_2021-01-16_16:23:31_001_58ccf2c](https://user-images.githubusercontent.com/9929737/104817132-3ca6f980-5817-11eb-8f30-b8656b8f8b25.png)

Thanks!

That'd be cool, but also annoying when tldr-lint randomly fails because of a link that just went dead. It's best I think if its run periodically.

[2021-01-16 16:27] bl-ue commented on #5116
So do I...I don't know what happened! 🤷

[2021-01-16 16:40] sbrl commented on #5111
Adding links is nice, but it's not suitable for all commands. Take `arch` or `nproc`  for example. I think this is best left out of the linter.

_If_ a link is present, then it should be in the form `> More Information: <URL_HERE>.`, which is what we agreed on.

[2021-01-16 16:42] sbrl commented on #5137
Is there any overlap with #3953? if so, we should edit #3953 and move the relevant ones over here.

[2021-01-16 16:45] sbrl commented on #5143
Sounds like a good idea!

[2021-01-16 16:48] bl-ue commented on #5137
@sbrl no.  I added the commands copied directly from [the git-extras readme](https://github.com/tj/git-extras) into #3953, but then per @waldyrious's suggestion moved them here.

[2021-01-16 17:03] sbrl commented on #5110
I've changed `.github` has I don't think that one will cause any issues, but it showed a message to notify me that this won't (of course) rename local working copies of repositories, which could be a particular problem for the main tldr repo.

[2021-01-16 17:04] sbrl commented on #4701
All done!

[2021-01-16 17:04] #4701 closed

[2021-01-16 17:25] bl-ue commented on #4701
Thank you @navarroaxel! 🎉

[2021-01-16 18:51] bl-ue opened #5154 "Spaces in file names"
The linter should catch the following bad pages:
[code]

[2021-01-16 19:24] owenvoke commented on #5110
I've renamed the branch in `tldr-lint` as I don't think this affects anything either.

[2021-01-16 19:27] owenvoke commented on #5154
I think the reason this might have come up is because we don't lint translated pages. However, we currently don't have a rule for spaces in filenames in the linter... I'm happy to add this as a rule.

[2021-01-16 19:44] owenvoke commented on #5154
I've opened a PR for this in the linter. 👍🏻 https://github.com/tldr-pages/tldr-lint/pull/39

[2021-01-17 22:36] waldyrious commented on #5111
Just a nit: The "I" in "information" is not to be capitalized.

[2021-01-18 02:52] sbrl commented on #5110
I think the `tldr-node-client`, `tldr-c-client`, and of course the main  `tldr` repo could pose some considerable issues.

For the former 2, developers probably have it checked out with the `master` branch, so it might be wise to open separate issues there and potentially set a date in the future the change will occur (and also check the GitHub actions).

For the latter, it is of course our main r

[2021-01-22 22:32] sbrl commented on #5111
Oh yeah lol, that's right! Comment updated.

[2021-01-23 11:40] waldyrious commented on #5085
In retrospect, I should have asked whether anyone has objections :)

Anyway, there doesn't seem to be objections, so the only thing left to do is to implement the rules in the linter repo. We can close this issue once that's done :)

[2021-01-23 22:56] older-pack commented on #4975
No, you misunderstood.
I was asking for the PDF version to be listed along with all the other versions on the[ README.md](https://github.com/tldr-pages/tldr/blob/master/README.md).
I didn't mention anything about PDF _version_ to be listed or updated.

[2021-01-24 02:25] bl-ue commented on #4975
Oh oops!  My fault.  I only understood we wanted it auto-updating :)

I'll take care of that now.

[2021-01-24 02:27] bl-ue commented on #4975
@older-pack if you have any particular way you're thinking it should be added, will you please do it?

[2021-01-25 12:43] bl-ue commented on #4975
Don't worry!  You don't need to use git&mdash;use can use the GitHub UI, which will handle the Git stuff for yout:
1. Click the little pencil icon on the README or click [here](https://github.com/tldr-pages/tldr/edit/master/README.md)
2. Make your changes
3. As the commit message, enter "README: add PDF version to clients list"
4. You can optionally add a longer description in the larger text box

[2021-01-25 15:48] bl-ue commented on #5085
@waldyrious

You mean they don't have to match case or they don't have to match at all?

[2021-01-25 18:36] aleksandrs-ledovskis opened #5184 "Ensure HTTPS is used for definition cache download"
Basically this is request to re-evaluate findings from https://github.com/tldr-pages/tldr/issues/2253#issuecomment-417184655

When default `tldr` client requests definition cache it does download https://tldr-pages.github.io/assets/tldr.zip

**Problem**: The link has an unsecure/plain HTTP hop which can be seen using cURL:

[code]

The problem, obviously is `location: http://tldr.sh/assets/tldr.zi

[2021-01-25 18:46] bl-ue commented on #5184
cc @agnivade @sbrl @ostera @mflint @MasterOdin

[2021-01-25 21:18] older-pack commented on #4975
Thanks for the step-by-step guide. That wasn't too hard after all. Hope it's ok. Feel free to change or edit or bin it...

[2021-01-25 21:44] bl-ue commented on #4975
You're welcome!  I left some comments on it.

[2021-01-25 21:44] older-pack opened #5186 "Reduce the PDF file size"
As discussed on #4969 (size discussion started [here](https://github.com/tldr-pages/tldr/issues/4969#issuecomment-735305938)) the PDF version is unusually large at ~45MB.  It's probably because there are over 6000 fonts embed in the PDF !
There really shouldn't be any need for more that three or four embedded fonts in it.

Apparently, for development reasons, tldr uses Weasyprint to generate the P

[2021-01-26 22:28] dreua opened #5190 "Indicate available subcommand pages"
For rarely used command like `nmcli` it would be nice to indicate the availability of tldr pages for subcommands. (The current nmcli page is not adding much value imo and I did not expect it to have subcommand pages until I stumbled upon them here on the repo.)

I checked git and aws for examples but couldn't find an indication. May I add something like "See also: `tldr nmcli device` or `tldr nmcl

[2021-01-27 13:33] VincentTam opened #5194 "[Bug] Live demo not working"
# Steps
1. I opened the official page https://tldr.sh/
2. I clicked on the link "live demo".
3. A new page popped up, saying that the service wasn't available.
# Screenshot
![out](https://user-images.githubusercontent.com/5748535/105997697-31bc5680-60ac-11eb-929d-307eb7222324.gif)
# Technical info
Version:71.0.3770.198
Opera is up to date
Update stream:Stable
System:Ubuntu 20.04.1 LTS (x86_64; ubu

[2021-01-27 13:41] bl-ue commented on #5194
This is likely because @ostera is not maintaining that site anymore 🤷🏻&mdash;@ostera, could you possible please transfer this issue to [ostera/tldr.jsx](https://github.com/ostera/tldr.jsx)?

[2021-01-27 17:25] jakevossen5 opened #5195 "Page request: `pueue`"
Would love to see a page for [pueue](https://github.com/Nukesor/pueue). I would document it, but I am fairly new to the program myself and am probably not qualified. They have a decent help page already that can probably be pretty easily translated: https://github.com/Nukesor/pueue#how-to-use-it

[2021-01-27 23:39] metov opened #5196 "xargs page malformed on Linux"
The page for `xargs` doesn't show up right for me:

![Screen Shot 2021-01-27 at 3 38 04 PM](https://user-images.githubusercontent.com/51468504/106068663-bd86b080-60b5-11eb-81ed-facbeaf1214f.png)

However I don't see anything too wrong with the markdown: https://github.com/tldr-pages/tldr/blob/7c681eea51f59c42391e0eacd3f4d91f19552bd7/pages/common/xargs.md

I guess the inline backticks are being wro

[2021-01-28 00:00] MasterOdin commented on #5196
The Ubuntu `tldr` apt package is a very out of date [psibi/tldr-hs](https://github.com/psibi/tldr-hs). Any issues with it should be filed in that repo. It looks like the bug causing the bad rendering was https://github.com/psibi/tldr-hs/issues/11 which was fixed in the 0.3.1 release.

[2021-01-28 01:09] ThisNekoGuy opened #5197 "Page request: virt-manager"
[https://virt-manager.org/documentation/](https://virt-manager.org/documentation/)

Honestly, I don't understand how this virtual machine works at all, which is kind of why I was hoping there was a TLDR for it :/
The website barely explains anything about it at all:
![Screenshot_2021-01-28 Virtual Machine Manager Documentation](https://user-images.githubusercontent.com/28468662/106075220-1df10e80-

[2021-01-28 12:53] schneiderl commented on #5194
Apparently, this is now fixed. https://tldr.ostera.io/ is up and running again.

[2021-01-28 12:54] schneiderl commented on #5194
I believe this issue can be closed as it is not happening anymore. If the issue comes back, please reopen this incident.

[2021-01-28 12:54] #5194 closed

[2021-01-28 12:58] ostera commented on #5194
Oops! I had a problem with my DNS records. Should be up now!

[2021-01-30 16:30] bl-ue commented on #5190
I would love for this feature to implement client-side. 👍🏻

Of course, with our monolith network of clients, it would take a while to get them all updated...but since it's just an optional feature we could probably add it at any time to the [tldr-node-client](https://github.com/tldr-pages/tldr-node-client), and maybe the [tldr-python-client](https://github.com/tldr-pages/tldr-python-client), too.

[2021-01-30 21:56] schneiderl commented on #5190
If we decide to do this, how would it be done?

Should we assume that any pages that start with the current page name are subcommands of the command the page describes? (I'm sorry about how this sentence was written, I could not find any way to make it clearer haha)

[2021-01-30 22:36] dreua commented on #5190
Sounds reasonable to me, do you see a problem with that approach?

[2021-01-30 23:12] bl-ue commented on #5190
Also, for the pages that seem to be possible subcommands, check if the title has a space or dash&mdash;a space would indicate a command and a subcommand like `git status` while a dash would indicate a command only like `gpg-zip`.

Of course, we would need to check for cases where there's a dash _and_ a space, e.g. in `my-cmd-subcommand.md` the title would be `my-cmd subcommand`, etc.

[2021-01-30 23:21] bl-ue commented on #5190
I wonder if we would ever introduce YAML frontmatter into our markdown files...I know that's a big change (@waldyrious @sbrl) but it would be really useful for this sort of thing, and also for marking translated languages, supported OS's, etc.

[2021-01-31 13:09] bl-ue opened #5211 "Let's document: donnemartin/gitsome"
A new bundle of 29 more git-related commands from [donnemartin/gitsome](https://github.com/donnemartin/gitsome/blob/master/COMMANDS.md) :D

These commands are extensions to [`gh`](https://cli.github.com/).

- [ ] [`configure`](https://github.com/donnemartin/gitsome/blob/master/COMMANDS.md#gh-configure)
- [ ] [`create-comment`](https://github.com/donnemartin/gitsome/blob/master/COMMANDS.md#gh-creat

[2021-01-31 13:16] bl-ue opened #5212 "donnemartin/saws"
I found this: https://github.com/donnemartin/saws/blob/master/saws/data/SOURCES.txt, and I fearfully realized that there are about 5293 subcommands??

Can anyone, including @donnemartin, help me to understand what this means?  Are those all AWS command, and if so, are they official?
**Do we need to document them?**
Could we generate examples?

[2021-01-31 13:41] sbrl commented on #5212
Oof. Hrm, that would be an enormous undertaking. I think it's a case of documenting those that are used most often. I don't think we need to explicitly open an issue about it.

Not using AWS myself, I'm not much help here.

[2021-01-31 15:38] bl-ue commented on #5212
I agree.  It wouldn't be very useful to 5k commands amidst many much smaller groups...Also that repo gets updated frequently, with more new commands!

[2021-01-31 15:39] bl-ue commented on #5212
The commands over at https://docs.aws.amazon.com/cli/latest/index.html look more reasonable...I will open a Let's document issue for them if you think so.

[2021-01-31 15:54] sbrl commented on #5085
@bl-ue I think the idea there is that they don't have to match case.

[2021-01-31 15:59] sbrl commented on #5186
Hrm, I'm unsure. We could potentially try using `pandoc` instead of weasyprint to convert MD → HTML and then add the css, followed by HTML → PDF, but I can't remember if `pandoc` supports CSS in HTML or not (probably not, but I haven't checked).

[2021-01-31 16:01] bl-ue commented on #5186
@sbrl Check this again: https://github.com/Kozea/WeasyPrint/issues/551

[2021-01-31 16:11] sbrl commented on #5184
Just checked the repository settings. Apparently Enforce HTTPS is not available "because your domain is not configured to support HTTPS:

![image](https://user-images.githubusercontent.com/9929737/106390060-83cbe780-63de-11eb-9651-0b757f66d4e4.png)

I think this has come up before. I guess we're waiting on @ostera to reply here. According to the GitHub docs:

I didn't set it up, but I think the id

[2021-01-31 16:14] sbrl commented on #5195
Thanks for requesting this page!

Pages are best created by people who understand the command they are about, so I'd suggest we wait for someone more qualified to come along and write the page. This may take a considerably long period of time though, so it's possible that once you're more familiar with the command you could attempt to write a page yourself.

Pages don't have to start fully fleshed

[2021-01-31 16:16] sbrl commented on #5196
Closing as a duplicate of https://github.com/psibi/tldr-hs/issues/11. If the issue persists, please open a new issue against the repository associated with the client you're using :-)

[2021-01-31 16:16] #5196 closed

[2021-01-31 16:18] aleksandrs-ledovskis commented on #5184
If TLDR's CloudFlare traffic is reasonably below 100 GB/month, then it fits withing GitHub page usage [guidelines](https://docs.github.com/en/github/working-with-github-pages/about-github-pages#usage-limits) "GitHub Pages sites have a soft bandwidth limit of 100GB per month."

Alternatively (for high traffic situations), GitHub suggests "... making use of other GitHub features such as releases".
P

[2021-01-31 16:18] sbrl commented on #5197
Looks like `virt-manager` is a GUI, rather than a CLI @ThisNekoGuy. Despite this, invoking `virt-manager --help` does yield something useful:

[code]

...though I suspect that you'd get on best just launching `virt-manager` like this:

[code]

...and then using the GUI. Even so, a tldr page for `virt-manager` would be a welcome addition!

[2021-01-31 16:19] sbrl commented on #5194
Thanks, @ostera!

(do you think you could look into #5184 too? thanks :D)

[2021-01-31 16:31] sbrl commented on #5190
Some clients have a search feature, that allows you to search for a specific substring in a page. This could be used as a workaround for now.

For indicating a see also, we do have  a general convention on that. It goes in the description directly above any more information link like this:

[code]

...optionally with a description:

[code]

Obviously this isn't useful for a large number of subcomm

[2021-01-31 16:32] sbrl commented on #5211
Any that already exist from the parent command, I suggest we prefer the parent implementation over a child implementation.

[2021-01-31 16:33] ostera commented on #5184
The domain is currently using the CloudFlare DNS, but I didn't do that set up. I only pointed the domain there. 🤔

Perhaps @waldyrious or @agnivade know more about that part of the infra?

[2021-01-31 16:41] sbrl commented on #5186
Nice, @bl-ue! Would you like to open that new issue, or shall I?

[2021-01-31 16:43] aleksandrs-ledovskis commented on #5184
The DNS part of Cloudflare can stay. You just need to ensure that "orange cloud"/proxying part of CloudFlare is disabled for said domain record.

See  https://community.cloudflare.com/t/step-3-enabling-the-orange-cloud/52715

[2021-01-31 17:30] bl-ue commented on #5186
Honestly I've never even taken one look at the script before yesterday :smile: so maybe you should.

[2021-01-31 17:52] bl-ue commented on #5143
How about https://man7.org? It's seems distro-agnostic (at least the url is), and it's updated very frequently.  Two days ago as of 1/31/2021.

Once we decide, I'll go through and fix everything.

[2021-01-31 18:44] agnivade commented on #5184
I have access to Cloudflare. Will take a look.

[2021-01-31 19:10] bl-ue commented on #5143
Oops sorry I barely even read your message @mebeim! man7.org it is.

[2021-02-01 03:57] agnivade commented on #5184
Total bandwidth last month was 47.88 GB, in which 11.91 GB was cached. So CF is essentially serving 23% of the traffic only. We can bypass Cloudflare for sure, but wondering if it's possible to just point to `https://tldr.sh/assets/tldr.zip` instead?

[2021-02-01 08:14] VincentTam commented on #5194
Thx @ostera for fixing.  It's now working again :v:

[2021-02-01 10:42] aleksandrs-ledovskis commented on #5184
@agnivade

If by "point to" you mean exchange link for definition cache in clients - that's doable. [Several](https://github.com/search?q=%22tldr.zip%22&type=Code) TLDR clients (official Python and Node included) currently use "http://tldr-pages.github.io/assets/tldr.zip".

On another hand, I think(?) that TLDR client's are not auto-updated so anyone stuck on with older versions (pre such link cha

[2021-02-01 18:36] agnivade commented on #5184
Great points. Agree with all of them.

- We can open an issue ccing all client owners to update the cache location to the CF one. (We did this before already once)
- We would also need to update the client spec.

Since this is anyways a cache, temporary outages in CF, if any, should be bearable.

@sbrl @mebeim @owenvoke - if the above sounds reasonable to you, we should go ahead with the changes.

[2021-02-02 17:38] bl-ue commented on #5143
I'll tackle this now.

[2021-02-02 18:22] navarroaxel opened #5219 "Add org member: @bl-ue"
Hi, @bl-ue! After joining as a collaborator in the repository, you have been regularly performing maintenance tasks (#5140, #5150, #5152, #5163, #5200).
Thank you for that!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), you've now met the thresholds to be effectively considered an active maintainer of the project.
To publicly ac

[2021-02-02 19:14] bl-ue commented on #5219
@navarroaxel I'd love to!  I'd sure appreciate having write access to the other repositories :)

I've been watching all of our repos for some time now.

[2021-02-02 19:21] sbrl commented on #5219
Invite sent, @bl-ue!

Great! That is a preset message from our [community roles](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md) document :slightly_smiling_face:

[2021-02-02 19:27] schneiderl commented on #5219
I thought @bl-ue already was an org member haha.

Welcome!

[2021-02-02 19:28] bl-ue commented on #5219
@sbrl sure!

[2021-02-02 20:21] #5219 closed

[2021-02-02 23:06] sbrl commented on #5186
Looks like a fix has already landed in weasyprint - we just need to wait for the next release and this issue should take care of itself.

[2021-02-02 23:16] sbrl commented on #5184
This sounds like a reasonable solution. tldr.sh still points at GitHub - it's just a different domain name, correct?

[2021-02-02 23:29] sbrl commented on #5143
Sounds good to me. Although, should a command be distribution specific (e.g. `dpkg`, or `apt`) we should reference the source distribution (in the case of that example, it would be the Debian website I'd assume).

[2021-02-03 03:59] agnivade commented on #5184
Yes, a different domain name fronted by CloudFlare.

[2021-02-03 12:21] bl-ue opened #5221 "American vs. British English spelling differences"
We ought to normalize the [American vs. British English spelling differences](https://en.wikipedia.org/wiki/American_and_British_English_spelling_differences) of words across all of our English pages.

For example: organization vs. organisation, color vs. colour.

Question is: which to go with?

[2021-02-03 12:28] bl-ue commented on #5221
I'm inclined to pick the American spelling, because:
1. You can probably guess # 1 :smile:
2. It's more common across developer-oriented sites and projects
3. It's what we use in our official documents like [`COMMUNITY-ROLES.md`](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md)

[2021-02-03 12:28] bl-ue commented on #5221
Once decided, I will take the issue in hand ;)

[2021-02-03 12:56] bl-ue opened #5224 "Add organization owner: @schneiderl"
Hi, @schneiderl! You've been an active tldr-pages organization member for over 6 months (actually 12 months :smile:).
Thanks for sticking around this far and helping out!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), you're now eligible for becoming an owner in the organization.

That means you will, from now on, be part of the

[2021-02-03 13:23] #4975 closed

[2021-02-03 16:09] schneiderl commented on #5224
Oh, I'm blushing 😊.

I'm very glad about this invite. And I sure do accept it.
If everyone agrees I'll open the PR updating MAINTAINERS.md.

[2021-02-03 16:26] sbrl commented on #5224
Role changed, @schneiderl!

[2021-02-03 22:46] Rudloff commented on #4934
logcat already has a page since https://github.com/tldr-pages/tldr/pull/3562.

[2021-02-04 20:11] older-pack commented on #5186
I really like the simpler style (white background) in the example on the weasyprint [bug page](https://github.com/Kozea/WeasyPrint/issues/551#issuecomment-771209173)
Maybe the command code examples could be a slightly stronger or brighter color.

[2021-02-05 00:53] #5224 closed

[2021-02-06 18:19] sbrl commented on #5221
This was discussed previously I think. It was decided that we should use American English. I'm in the UK myself, so I don't always remember.

[2021-02-06 18:28] bl-ue commented on #5221
Perhaps here: https://github.com/tldr-pages/tldr/pull/294#discussion-diff-37821775

[2021-02-06 22:27] dkasak opened #5251 "netstat: duplicate example for routing table"
It seems that the pages for `netstat` have a duplicated example for printing the routing table, with the order of the flags switched and a slightly different description.

[code]

vs

[code]

[2021-02-06 22:29] bl-ue commented on #5251
I believe you're correct @dkasak! https://github.com/tldr-pages/tldr/blob/master/pages/linux/netstat.md

Would you like to open a PR to remove one of the examples?

[2021-02-08 01:02] schneiderl opened #5255 "Fix filename casing"
I'm opening this issue to keep tracking of the following page names, which need to be fixed:

[code]

Associated PR: https://github.com/tldr-pages/tldr-lint/pull/42

[2021-02-08 01:02] #5085 closed

[2021-02-08 01:07] schneiderl commented on #5085
This got closed after [this](https://github.com/tldr-pages/tldr-lint/pull/42)got merged.

I believe the merged PR covers all the topics we discussed here.
Fixes for the aforementioned pages will be kept track of [here.](https://github.com/tldr-pages/tldr/issues/5255)

If anyone still have anything to discuss on this matter, please reopen the issue.

[2021-02-08 13:01] navarroaxel opened #5256 "Let's document: pacman"
The `pacman` command is a Swiss army knife to manage packages in Arch Linux-based OS and we should extend the current [`pacman`](https://github.com/tldr-pages/tldr/blob/master/pages/linux/pacman.md) page in `tldr` creating specific pages for its subcommands.

The issue with `pacman` is that its subcommands are arguments in uppercase and the lowercased arguments are specific for that subcommand. If

[2021-02-08 13:10] bl-ue commented on #5256
I thought of somthing else, `pacman--sync.md`.  It's slightly uglier, but it would clearly distinguish between `pacman sync` and `pacman --sync`.

[2021-02-08 14:38] bl-ue commented on #5110
So what would we do for the clients?  Set a date several months in the future, notify all the clients and request that they update to use `main`, and then change the repo, and then just deal with the potential load of issues opened by users needing to update their clients?

[2021-02-08 15:27] MasterOdin commented on #5110
Please set `main` as the default branch for tldr-python-client, thanks.

[2021-02-08 15:30] owenvoke commented on #5110
@MasterOdin, I'm happy to change this. However, I can't rename it as `main` already exists, so it won't show the prompt to anyone who visits the repository. If you don't mind it not having the notice (or redirect, afaik), then I'll update it to `main` manually. 👍🏻

[2021-02-08 15:33] bl-ue commented on #5110
I think the redirect is important. @owenvoke `main` already exists because @MasterOdin is testing with it.  Don't rename it yet&mdash;wait untill he's done so that the redirect is there.

[2021-02-08 15:40] MasterOdin commented on #5110
@owenvoke I failed to realize that GitHub was offering a rename / redirect service on their settings page. I've gotten rid of the `main` branch, and feel free to rename `master` to `main` now.

[2021-02-08 15:47] owenvoke commented on #5110
@MasterOdin done! 👍🏻

[2021-02-08 16:38] bl-ue opened #5257 "New issue label `waiting for linter update`?"
We occasionally have PRs that can't be merged because they're waiting for a linter update, such as #5205 and #5088, atm.

If we decide to go forward with this, how about some eye-catching new color like: `#9FFC5A`?

[2021-02-08 16:39] bl-ue commented on #5257
It's not as if we'll have a PR that needs a linter update every week or so, but we have many such labels like that, e.g. "gci" or "invalid".

[2021-02-08 16:40] bl-ue commented on #5257
The referenced PR's also get poked at by the stale bot every 2 weeks which is annoying because we're not just ignoring them.  I'd like to (if it's possible) configure the stale CI task to ignore issues/PR's with this label.

[2021-02-12 19:25] nikisix commented on #5256
The git man documentation uses a single-dash separator between man `<command>-<subcommand>`.

Wouldn't the `--sync` flag be defined within the top-level `pacman.md` file?

I definitely understand `pacman-sync.md` being a thing.

[2021-02-12 19:29] bl-ue commented on #5256
@nikisix in an ordinary command, yes, but with `pacman`, `-S/--sync` is just like a subcommand.  There's a lot of options for it, and the same for `-D/--database`, `-F/--files`, etc. so there's not nearly enough space in `pacman.md` to document the useful capabilities of those "subcommands" (though they're not really subcommands)

[2021-02-12 20:29] sbrl commented on #5184
Cool. Let's do it!

/cc @owenvoke, @mebeim

[2021-02-12 20:41] sbrl commented on #5186
That's interesting, @older-pack. I assume that's because of the newer version of weasyprint, since they are probably generating it with the same script?

[2021-02-12 21:01] sbrl commented on #5221
Wow, great searching skills! That wasn't the one I was thinking of, but it'll definitely do as input here. I would guess from reading that the general consensus is to correct things when we see it, but don't go out of our way to change it.

[2021-02-12 21:02] bl-ue commented on #5221
So you don't think I should open a PR to normalize this?

[2021-02-12 21:07] sbrl commented on #5221
Hrm, I'm not sure. Let's wait for others to weigh in on this.

[2021-02-12 21:33] sbrl commented on #5256
Since I assume that pacman has long-form options for each of the "subcommands", I think `pacman-SUBCOMMAND_NAME` is a good option. e.g. `pacman --sync` becomes `pacman-sync` for example.

A bit unusual yes, but pacman doesn't appear to follow norms established by other subcommand-based applications.

[2021-02-12 21:40] bl-ue commented on #5256
@sbrl did you see [my `pacman--sync.md` idea](https://github.com/tldr-pages/tldr/issues/5256#issuecomment-775139414)?

[2021-02-12 21:44] sbrl commented on #5256
I did, but I think keeping it similar to the existing subcommand system is perhaps better. But I do like the distinction you make there, I just think we should keep it simple.

[2021-02-14 14:08] bl-ue commented on #5116
Just for reference (because I just discovered this): https://github.com/tldr-pages/tldr/pull/2684#pullrequestreview-195338362

[2021-02-14 15:20] bl-ue commented on #5257
I'll update `stale.yml` as soon as the okay is given:
https://github.com/tldr-pages/tldr/blob/0155fb60babf4f1016647e33161c750cfa2b3c47/.github/workflows/stale.yml#L25

[2021-02-14 17:38] navarroaxel commented on #5257
Maybe we can make more generic label like `blocked`, because we have one PR waiting for the decision in #5036.

[2021-02-14 17:46] bl-ue commented on #5257
I think it's good for the stale CI to remind of ones like those because there's nothing actually stopping us from taking care of them other than our interest/availability.

[2021-02-15 17:11] sbrl commented on #5110
Related reading: <https://github.com/github/renaming>

[2021-02-15 21:59] MasterOdin commented on #5110
In my opinion, the best option for the main repos (tldr-pages/tldr and tldr-pages/tldr.github.io) would be to set a date in the future (e.g. 03/01/21) where main is the new default branch, but keep master around for a couple of years to allow ecosystems to move on (e.g. ubuntu/debian packages, individual clients) and then have a GH action that runs on pushes to `main` that then fast-forward merges

[2021-02-16 19:40] sbrl commented on #5110
Sounds like a plan, @MasterOdin! The 3rd January 2021 has already passed though, so I'd suggest something like 1st April 2021 or something.

[2021-02-16 19:42] bl-ue commented on #5110
@sbrl he means March 1st, maybe we're getting American vs. European date formats mixed up?

[2021-02-16 19:43] MasterOdin commented on #5110
Yup, I meant March 1st, 2021.

[2021-02-18 23:16] #5251 closed

[2021-02-18 23:23] sbrl commented on #5110
Oh, I see. Yeah, we could do that. It doesn't give too much time to update the GitHub actions automation etc, so I'd suggest we have a PR ready to merge at the time before committing to a date.

[2021-02-18 23:30] MasterOdin commented on #5110
Perhaps a better notion would be to make a PR to set it up so that pushes to `master` get mirrored to `main`, and then let that go for a month or so to work any kinks out and then reverse it once `main` gets promoted to default.

[2021-02-18 23:34] #5195 closed

[2021-02-18 23:38] sbrl commented on #5110
That's a cool idea too, @MasterOdin! @owenvoke, is that feasible with GitHub Actions at all?

[2021-02-18 23:52] MasterOdin commented on #5110
Yes, it should be, and should be as simple as doing:

[code]

given that it's a `--ff` merge, might be able to drop the `git config` lines, but not totally sure. From there, could add a PAT with repo scope to use here to trigger other actions if so desired, but that's the gist of it anyway.

[2021-02-19 09:17] owenvoke commented on #5110
We could always use this action as well. 🤷🏻 https://github.com/marketplace/actions/mirror-branch

[2021-02-20 06:38] finzzz opened #5287 "New web client"
I have made simple web client for tldr-pages, it does not use any analytics. Here is the site, <https://tldr.finzzz.net> and also the source code can be found at <https://git.finzzz.net/tldr/>

[2021-02-20 13:00] bl-ue commented on #5287
@finzzz cool!  Would you like to open a PR to [add it](https://github.com/tldr-pages/tldr/edit/master/README.md) to the README?  You can also add to the [tldr pages clients wiki page](https://github.com/tldr-pages/tldr/wiki/tldr-pages-clients).

[2021-02-20 13:01] bl-ue commented on #5287
Hmmm, I can't get to your Git repo @ https://git.finzzz.net/tldr:
[code]

[2021-02-20 13:03] bl-ue commented on #5287
@finzzz also, `code` in the example/page descriptions doesn't render well:

<img width="205" alt="Screen Shot 2021-02-20 at 7 59 24 AM" src="https://user-images.githubusercontent.com/54780737/108596272-f1ba5d80-7351-11eb-8072-e4e51e2ccdcd.png">

e.g.
[code]

[2021-02-20 13:20] finzzz commented on #5287
I forgot to add slash at the end. It should be <https://git.finzzz.net/tldr/>

[2021-02-20 13:20] finzzz commented on #5287
Uh, I didn't notice that, I'll look into that

[2021-02-20 13:51] finzzz commented on #5287
Fixed that!

[2021-02-21 17:21] bl-ue commented on #4120
@fejx I've got a solution to that.  The linter could check the date that that line was last modified at in the English page, and check the date that that line was last modified at in the translated page, and if the former is newer than the latter, a translation update for that line is needed. Sounds like it will work to me 👍🏻

[2021-02-21 18:06] bl-ue opened #5299 "Proposal: mechanism for command aliases"
We need a system for command aliases.  For a very few examples:

- Some shells have a `chdir` command which is internally aliased to `cd`
- Docker Desktop (for Mac, at least), provides a command `com.docker.cli` which is aliased to `docker`
- On macOS (with Homebrew, at least), `gcc` has aliases `gcc-10` and `x86_64-apple-darwin20-gcc-10`
- many, many, many more, _particularly with commands and ve

[2021-02-21 19:47] bl-ue commented on #5212
I'll close this for right now.  If we want to take up the aws commands, we can do this in another issue.

[2021-02-21 19:47] #5212 closed

[2021-02-21 22:37] bl-ue commented on #5256
Wow great job @navarroaxel&mdash;you actually got it all done and really quickly (less than a week!)

You get a 🥇 and a ⭐✖️5️⃣!

[2021-02-22 10:27] dkasak commented on #5251
Sorry, I missed the email for this, but thanks for handling it!

[2021-02-24 10:49] willsheppard opened #5309 "page request: [, [[, (, $, {"
Usage of brackets in logical expressions in Bash can be challenging. The following all have distinct meanings, sometimes with subtle differences, and they are not necessarily intuitive or easy to remember.

For beginners, even the names are hard to pin down, with people mistakenly using the same word (brackets/braces/parentheses) for all the different types:

* `[` - (square) bracket
* `]`
* `[[`

[2021-02-24 12:38] bl-ue commented on #5309
@willsheppard interesting.  We already have a PR adding `[`: #5205.

I think this is a good idea, but tldr-pages may not be the place for it.  tldr-pages is only for _commands_, but all of those tokens (with the exception of `[`, #5205) are shell builtin syntax, not commands.  To demonstrate:

In `zsh`
[code]

In `bash`
[code]

[2021-02-24 12:43] bl-ue commented on #5309
As a matter of fact, `()[]{}$%` are all valid characters for file names on all three major platforms, so technically it's certainly possible.

[2021-02-24 12:47] bl-ue commented on #5309
I really actually like this idea becuse though as I mentioned earlier they aren't really commands, we _could_ fit them in and have them conform exactly to our style.  I agree with you @willsheppard that there is a lot to learn about them and tldr-pages would do shell uses immense good by summing it up here.

If we go forward, we should also add `%` because it's okay for file names on Windows, an t

[2021-02-24 13:45] sbrl commented on #5309
Interesting idea! if we did add them, we'd have to be careful that any examples conform to as many different shells as possible, as people use sh, bash, zsh, fish, etc. So unsure as to how that would be handled.

[2021-02-24 13:49] bl-ue commented on #5309
If you don't mind @willsheppard, I'd like to tackle this.  @sbrl shall we try it?

[2021-02-24 14:20] bl-ue commented on #5309
@sbrl we could just demo the feature that are common first, then, if there happens to be more room, add shell-specific examples saying `- ... (bash only):`, `- ... (zsh only):`, etc.

[2021-02-25 22:20] sbrl commented on #5110
We could even start the ball rolling here by creating the new `main` branch and mirroring from `master` to `main` to start with, and then flip them over at the specified date?

[2021-02-25 22:24] sbrl commented on #5287
Neat client, @finzzz! Great job. Have you considered implementing the [page resolution algorithm](https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#page-resolution)? It might make it more convenient - that way you don't  have to guess which platform it's part of.

[2021-02-25 22:34] #5287 closed

[2021-02-25 22:45] MasterOdin commented on #5110
Agreed. I think we could do that now, with the proposed GH action going to pick up any intermediately made commits before the workflow gets added.

[2021-02-25 22:46] sbrl commented on #5299
I like this idea, though this is almost a duplicate of #787. It uses the existing syntax, and doesn't necessitate a client update.

It doesn't handle copies of a command across multiple platforms, but this issue was previously resolved by putting anyn pages for commands that are present on more than 1 platform in `common`, instead of limiting `common` to commands that run on _all_ existing platfor

[2021-02-25 23:04] sbrl commented on #5251
No worries, @dkasak :slightly_smiling_face:

[2021-02-25 23:19] sbrl commented on #5309
Go ahead, @bl-ue! Shell commands are always difficult to document, but we can give this a go for sure.

[2021-02-26 12:25] mortenfyhn opened #5312 "Bad linebreak in `ls` page"
Hi all! I'm a big fan of this project. Found a small error:

The slash in one of the `ls` examples creates an unwanted linebreak in the output:

![tldr-ls](https://user-images.githubusercontent.com/6639836/109299456-6b13ed80-7835-11eb-98db-a5ff60c9afa1.png)

---

I could probably try to make a fix, I just haven't taken the time to fix/test yet.

[2021-02-26 12:27] bl-ue commented on #5312
What version of `tldr` are you using?  You can check by running `tldr --version` (or `tldr -V`).

[2021-02-26 12:28] mortenfyhn commented on #5312
`0.2.3` on Ubuntu. Very old?

[2021-02-26 12:30] bl-ue commented on #5312
How did you install it?  It probably is old, because I recall that issue happening only on older clients that didn't support backticks (\`) in the example descriptions.

[2021-02-26 12:31] bl-ue commented on #5312
[This](https://github.com/tldr-pages/tldr/blame/a57cc14783160e77e20ddfd9f04dcabdb902e8d9/pages/common/ls.md#L13) is the line question that's causing that output.

[2021-02-26 12:32] mortenfyhn commented on #5312
Aha! I got it through apt on 18.04, so I might be far behind. I didn't realize it could be a problem with the client.

[2021-02-26 12:33] bl-ue commented on #5312
Yes, unfortunately, this is constantly an issue.  `tldr` on apt is far behind the [latest version, v0.9.0](https://github.com/psibi/tldr-hs/releases/tag/v0.9.0).

[2021-02-26 12:35] bl-ue commented on #5312
Some solutions:
- :star: You could use the [Node.js client](https://github.com/tldr-pages/tldr-node-client): `npm install --global tldr`
- You could use the [Python client](https://github.com/tldr-pages/tldr-python-client): `sudo apt install tldr-py`

[2021-02-26 12:44] mortenfyhn commented on #5312
I understand. Trying manual install of tldr-hs no, and it works beautifully! Thanks again for the extremely swift feedback.

[2021-02-26 12:46] bl-ue commented on #5312
You're welcome! 😊   I just happened to be at GH when I noticed a new notification so I went to take care of it, and since I've _very_ recently dealt with a [similar issue](https://github.com/tldr-pages/tldr/pull/5272), I knew what to do right away.

[2021-02-26 12:58] #5312 closed

[2021-02-26 15:54] bl-ue commented on #5110
We we be changing the default branch to `main`? Unless we're doing that, I don't really see the point of @sbrl's suggestion.

[2021-02-28 15:10] bl-ue commented on #5110
I don't really see why we can't switch the default branch to `main`, so long as we're mirroring to `master` on every push.

[2021-02-28 15:10] bl-ue commented on #5110
I don't really see why we can't switch the default branch to `main`, so long as we're mirroring to `master` on every push.

[2021-02-28 23:36] MasterOdin commented on #5110
I think it's a "let's make sure this works as we expect" deal so that we don't just switch over and potentially break a bunch of clients.

[2021-03-01 05:27] yutyo opened #5322 "page request: xcursorgen"
It would be very useful to write possible command variations that can be done by using `xcursorgen`, as its a very capable tool for cursor generation while its [man page](https://linux.die.net/man/1/xcursorgen) is not helping much. I remember searching the entire web to learn how to use it properly for weeks in the past.

[2021-03-01 06:21] yutyo opened #5324 "Missing: SometypeMono Medium-Small-Caps"
The medium-small-caps variation of SometypeMono is not put in images directory therefore banner files in svg don't display properly.
![image](https://user-images.githubusercontent.com/40173707/109459237-79e5e480-7a6f-11eb-9208-534bc6a17afc.png)

[2021-03-01 06:44] Yutyo opened #5325 "page request: Minecraft"
Minecraft is a game that has tons of commands, both simple and complicated. People create unbelievable stuff with them, even with the simplest set of commands. Opening a directory that contains pages regarding different Minecraft commands would be an outstanding feature.

An overall look to Minecraft commands: https://minecraft.gamepedia.com/Commands

A comprehensive repository of creations made w

[2021-03-01 13:58] bl-ue commented on #5324
Hmm...is this something you can fix, @Yutyo?

[2021-03-01 15:34] bl-ue commented on #5085
I wonder if clients will support this.  e.g. `tldr eye3D` might fail for some clients because `eye3D` is documented in `eye3d.md` 🤔

[2021-03-01 17:28] Yutyo commented on #5324
I have made some tweaks in: https://github.com/tldr-pages/tldr/pull/5329

[2021-03-01 19:29] owenvoke commented on #5325
I'm not entirely sure this falls under the purpose of tldr-pages 🤔 Minecraft commands are entered in game, rather than being called via the application (e.g. `minecraft {{command}}`)

[2021-03-01 19:52] bl-ue commented on #5325
The original title was 'Directory request...' so maybe @Yutyo was thinking to add a new folder in `pages/` called `minecraft` e.g. `pages/minecraft/command.md`, which, I confess, I don't think is an entirely bad idea.

[2021-03-01 20:45] Yutyo commented on #5325
Currently in TLDR there are many commands which aren't usable in different OS and shell.

Yes, Minecraft commands are meant to be used in game rather than a separate shell but:
- Since 1.12, the game supports [functions](https://minecraft.gamepedia.com/Function_(Java_Edition)) which are written in files called .mcfunction
- Mods like [Computercraft](http://www.computercraft.info/) and [OpenCompute

[2021-03-02 10:33] owenvoke commented on #5325
I still think that's a bit of a weird thing to add, but open for debate about this obviously. 👍🏻

[2021-03-02 19:43] sbrl commented on #5325
If we're talking about `minecraft` CLI arguments, then we should absolutely write a page on them! But in terms fo in-game commands, I'm unsure as to whether this is in-scope. The problem is that mods such as _WorldEdit_ and others add lots of new commands, so you'd need some way to identify which commands belong to which mod.

I'd suggest here that it would be better served as a separate project?

[2021-03-02 19:48] MasterOdin commented on #5325
I agree with @sbrl, and would say that if you start adding minecraft sections, one might expect you'll also start adding console commands for other games (steam games, warcraft, etc.) and would blow up the scope of this project quite a bit.

[2021-03-02 22:29] Yutyo commented on #5325
Yeah, creating a separate project called `tldr-mc` makes sense.

[2021-03-02 22:36] bl-ue commented on #5325
So I guess close this issue, right?

[2021-03-03 11:54] older-pack commented on #5186
@sbrl I'm not sure. I think someone may have customized tdlr's script's colors and fonts?

I think the updated Weasyprint we're waiting for has been [released](https://github.com/Kozea/WeasyPrint/releases/tag/v52.3)

[2021-03-03 18:30] bl-ue opened #5345 "add collaborator: @Yutyo"
Hi, @Yutyo! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#5341, #5336, #5334, #5333, #5332, and a lot more)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collaborator, you will have c

[2021-03-03 21:33] Yutyo commented on #5345
Sure!

[2021-03-04 01:46] sbrl commented on #5345
Ok, sending invite!

[2021-03-04 06:21] Yutyo opened #5348 "idea: creating our own license"
I think its necessary to make a custom license which will cover both the assets and scripts. That way we can identify both at a single short license.

[2021-03-04 12:59] bl-ue commented on #5348
Interesting. 👍🏻  We'll see what others have to say.  This will likely take a while, though.

[2021-03-04 13:04] Yutyo commented on #5348
I think we can make a license as short as possible while also exactly satisfying free software licensing criteria and call it a "tldr-license", cuz this is a very short license covering everything that others do in tons of complicated lines of words.

[2021-03-04 13:09] bl-ue commented on #5348
I certainly agree, however, there must be "tons of complicated lines of words" words for a reason.  Anyway, you and I are new members to the team so changes like this definitely need to have input from the more seasoned maintainers, @waldyrious, @sbrl, and @zlatanvasovic in particular.

[2021-03-04 13:14] bl-ue commented on #5345
@Yutyo would you like to open a PR adding yourself to [`MAINTAINERS.md`](https://github.com/tldr-pages/tldr/blob/master/MAINTAINERS.md)?

[2021-03-05 13:14] Yutyo commented on #5345
Sure.

[2021-03-05 13:43] Yutyo commented on #5345
https://github.com/tldr-pages/tldr/pull/5352

[2021-03-05 20:57] #5345 closed

[2021-03-05 21:50] bl-ue commented on #5348
Related: https://github.com/tldr-pages/tldr/pull/3687

[2021-03-07 12:55] bl-ue commented on #5299
Does anyone have a preference of the wording: `This command is an alias of ...` vs. `This command is aliased to ...`?

I prefer the former, as the latter implies that this command is actually a real alias (in the shell sense) to an existing command, but in reality, most 'aliased' commands are either shell scripts which run the original, or, in the more unfortunate cases, duplicate binaries.

[2021-03-07 13:12] bl-ue commented on #5299
We might need a new label, too, because users may very well add missing aliases.  I think we should definitely do that.

[2021-03-07 13:39] bl-ue opened #5370 "Removing pages.pt_PT"
I would like to propose to merge `pages.pt_PT` into `pages.pt_BR` and the remove `pages.pt_PT`, and then rename `pages.pt_BR` → `pages.pt` (maybe not rename it though, I'm not sure what effect that might have on clients 🤔).

My reasoning is as follows:

- Notice the difference of `common/xkill.md`, for example:
[code]

- In `touch.md`, for example, every line is different between the two translati

[2021-03-07 13:40] bl-ue commented on #5370
/cc @schneiderl @waldyrious @andrik

[2021-03-07 14:36] navarroaxel commented on #5370
The main difference between Spanish from Spain or LatAm is `fichero` and `archivo`, but I remember to read a comment from @schneiderl saying the `pt_PT` is really different from `pt_BR`.

[2021-03-07 14:45] bl-ue commented on #5370
Likely #3540.  My only issue though, is that there's only 9 pages for `pt_PT`, and there's no way all 3.8k (and growing) pages are going to be translated into both!

[2021-03-07 15:04] sbrl commented on #5257
This seems too specific for a single purpose. As @ waldyrious suggests on Gitter <https://gitter.im/tldr-pages/tldr?at=6044d7e7d74bbe49e0db5846>, a generic solution would be better.

[2021-03-07 15:47] schneiderl commented on #5370
Hmmm, nice thoughts on this.

I would say that I, as a `pt_br` native speaker, in the current state of the projects (with way more pages translated to `pt_br`) would not mind to occasionally come across a `pt_pt` page.
I'm not sure I wouldn't mind if that was the other way around, though.

As @navarroaxel mentioned, the two are very different from each other and it might be really confusing if you

[2021-03-07 15:54] bl-ue commented on #5370
Those are very compelling arguments.  Obviously, this question isn't that important, so I'll close it now, without waiting for others' input.

Thank you @schneiderl!

[2021-03-07 15:54] #5370 closed

[2021-03-07 16:25] bl-ue commented on #4020
Is this what we're looking for, here: https://lukwebsforge.github.io/tldri18n/?

[2021-03-08 19:09] sbrl commented on #5322
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2021-03-08 19:10] sbrl commented on #5110
Yeah. The idea is that we first start with `main` as an extra branch that mirrors `master`, so that clients who pull direct for the GH repo can have a chance to test things out.

Then, we can flip it over to have `main` as the default branch and `master` as the mirror.

Finally, we delete the `master` branch altogether after some time.

[2021-03-08 19:14] sbrl commented on #5325
I'll close this issue for now, but we can always reopen if there's more to discuss.

[2021-03-08 19:14] #5325 closed

[2021-03-08 19:14] bl-ue commented on #5110
What do you mean by that?  Do you mean 'existing, open PRs'?

[2021-03-08 19:22] sbrl commented on #5186
Hrm, I'm not sure then @older-pack.

Ah, in that case the PDF version should be updated automatically :D

[2021-03-08 19:25] owenvoke commented on #5110
@sbrl, when changing branch through the UI it automatically changes the PR base branch. 👍🏻 Or at least it does when you specify a branch rename.

[2021-03-08 19:27] sbrl commented on #5348
I'm really not sure that creating a custom licence is a good idea, @Yutyo. Existing licences are well-tested and written by legal experts. I would say it's preferable to use a combination of existing licences than to write our own.

In addition, to make it easy for others to integrate with our content, pre-existing well known licences are preferable to reduce cognitive load.

[2021-03-08 19:41] sbrl commented on #5299
[code]

Sounds better.

Hrm, I'm not sure a new label will really be needed.

[2021-03-08 19:51] bl-ue commented on #5299
Are you sure? because what if someone opens a new PR _just_ to add an alias.  Actually, I think `new command` would probably work for that 👍🏻

[2021-03-08 19:52] sbrl commented on #4020
It is! Perhaps this issue can be closed now, though a link to it somewhere would be nice.

I wonder if auto-generation of a bade-like image showing a translation progress summary would be possible?

[2021-03-08 19:56] bl-ue commented on #4020
I've added it to the readme in PR #5378.

What do you think it would look like?  An overall percentage where each translation of each page counts?

[2021-03-08 20:28] sbrl commented on #5299
I think `new command` would be fine.

[2021-03-08 20:29] sbrl commented on #4020
Yeah, and overall percentage. An SVG would probably be easiest, as then you could substitute values in using find / replace or something.

[2021-03-08 20:31] bl-ue commented on #4020
But it seems to me like it would update very slowly, and likely _decrease_ over time, because for **one** added English pages, there's a whole new row of ❌s (25 at the moment).

[2021-03-08 20:35] #5256 closed

[2021-03-08 20:38] older-pack commented on #5186
Current PDF is still a heavyweight at 46MB :weight_lifting:

[2021-03-08 20:39] bl-ue commented on #5299
Well, with #5368, I guess we've integrated the system.  Here's a test:
[code]

[2021-03-08 20:39] bl-ue commented on #5256
Oops I forgot to close this 😄

[2021-03-08 20:41] bl-ue commented on #5186
How does the CI know which version of Weasyprint to use? Does it pick the latest version or do we have a `requirements.txt` somewhere?

[2021-03-09 18:02] bl-ue opened #5390 "Add collaborator: @marchersimon"
Hi, @marchersimon! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#5368, #5362, #5361, #5357, #5315, #5305, #5294, #5286, and #5282)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collab

[2021-03-09 19:14] wiwa commented on #5309
Could I add a vote for also including `<`? The first result for googling "bash less than meaning" is pretty much "just read the manual".

[2021-03-09 20:17] bl-ue commented on #5390
Yesterday we discussed raising the minimum PR count for adding new collaborators from 5 to 10, but you already have 9 merged, and you added 2 more, so I think it's fine. 🙂

@sbrl invite?

[2021-03-09 20:26] mebeim commented on #5184
Not sure I understand what exactly you guys are suggesting to do. Do you mean we should contact all clients telling them to use another link? Which one is the "good" one precisely?

[2021-03-09 20:41] sbrl commented on #5390
Invite sent, @marchersimon! Always a pleasure welcoming someone new onboard :fireworks:

We have a [community roles](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md) document that describes how we grant roles to people :-)

[2021-03-09 21:13] bl-ue commented on #5390
@marchersimon I see that you've accepted the invitation and that you're already wielding your new powers!  Be careful though, don't merge more complicated PRs until you've got more experience because we generally have unspoken customs, etc. 😄

Anyway, now that you've accepted, would you like to open a PR adding yourself to [`MAINTAINERS.md`](https://github.com/tldr-pages/tldr/blob/bbbe632af2879718

[2021-03-09 21:39] marchersimon commented on #5390
Sure, thanks for the info.
I've just looked trough some older PRs and saw that there are many unmerged ones, altough they have enough approvals. Is there a reason for that?

[2021-03-09 21:48] bl-ue commented on #5390
Maybe, maybe not.  I'd recommend pinging those PRs 👍🏻

[2021-03-09 22:02] marchersimon commented on #5390
What do you mean by pinging? Re-requesting reviews?

[2021-03-09 22:05] bl-ue commented on #5390
Sure, or just leave a comment asking what's up, etc.

[2021-03-09 22:06] bl-ue commented on #5390
Also @marchersimon, how about you join our [Gitter channel](https://gitter.im/tldr-pages/tldr), where we can communicate on these subjects a bit better?

[2021-03-10 03:23] agnivade commented on #5184
Yes, that was my suggestion. The good link is "https://tldr.sh/assets/tldr.zip". The alternative is to bypass CloudFlare altogether.

[2021-03-10 12:33] bl-ue commented on #5309
Hmm...I don't thing we could do that, because `<` is in the list of characters that aren't valid to be in Window file names: `\ / : * ? " < > |` 😖

[2021-03-10 15:17] bl-ue commented on #5390
Again, welcome @marchersimon!

[2021-03-10 15:17] #5390 closed, assigned to nobody

[2021-03-10 15:18] bl-ue commented on #5348
I agree those points.  I'll close this issue, for now.

[2021-03-10 15:18] #5348 closed

[2021-03-10 16:58] jakevossen5 opened #5400 "`tar` example in README.md is out of date"
If you run `tldr tar`, the result is different than what appears on the README. Obviously not a big deal, but maybe the screenshot should be updated / replaced with text? If you wanted to go all out you could add something to the linter whenever someone changed that file.

[2021-03-10 17:19] jakevossen5 opened #5401 "Change "tldr tldr" -p option to something that is platform specific?"
Currently the `tldr tldr` page has the -p example of `tldr -p {{linux}} {{tar}}`. Maybe there is a rational I don't see, but I feel like the -p option would be better explained if it showed an example of a page specific to linux in this case (the `tar` page is in `common`).

I am not sure of a command that is well known to be different on different platforms (`date` is what first came to mind).

W

[2021-03-10 17:28] jakevossen5 commented on #5400
I like that as well! The only small thing that I would like to see is a plain text version for accessibility - even if it was just a link below to a file that has the exact same text / sequence of commands.

[2021-03-10 19:18] #5255 closed

[2021-03-11 00:40] lamar-frankie commented on #5400
Hey Frank checkin in here

[2021-03-11 13:34] bl-ue opened #5414 "Add organization owner: @einverne"
Hi, @einverne! You've been an active tldr-pages organization member for over 6 months (actually 14!!).
Thanks for sticking around this far and helping out!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), you're now eligible for becoming an owner in the organization.

That means you will, from now on, be part of the team responsib

[2021-03-11 15:12] owenvoke commented on #5414
14 months? 😮 Wow, we need to automate this! Congrats @einverne.

[2021-03-11 15:41] MasterOdin commented on #5071
This issue was not resolved by #5377. The `rename` pages retain having a filename that differs from the page name. Additionally, tldr-lint 0.0.10 does not include any sort of check on ensuring the page name and filename match.

[2021-03-11 15:47] bl-ue commented on #5071
You're right. I forgot about all that 😕

[2021-03-11 16:00] bl-ue commented on #5071
We could use the alias stuff for them, possibly.

[2021-03-11 16:10] bl-ue commented on #5071
I'll clean up the rename situation within this next few days.  Looks like it could really benefit from the alias system we've devised recently. 👍🏻

[2021-03-11 16:10] owenvoke commented on #5071
Not really sure the alias stuff would work, as it's not an alias. It's 2 different versions of `rename`. ☹️ Or do you mean having just a reference to the other page?

[2021-03-11 16:18] MasterOdin commented on #5071
While they all use the same command, they are from different places, so they're not quite true aliases though.

[2021-03-11 16:34] bl-ue commented on #5071
Well, these three are identical, except for their name and origin:
- [`pages/linux/file-rename.md`](https://github.com/tldr-pages/tldr/blob/585e1415c9914457a6fabcee322659845dbd7288/pages/linux/file-rename.md)
- [`pages/linux/perl-rename.md`](https://github.com/tldr-pages/tldr/blob/585e1415c9914457a6fabcee322659845dbd7288/pages/linux/perl-rename.md)
- [`pages/linux/prename.md`](https://github.com/t

[2021-03-12 15:23] #5197 closed

[2021-03-12 15:35] bl-ue opened #5425 "Lets document: virt-manager"
https://virt-manager.org/

See #5197 for the initial request.

- [ ] `virt-admin`
- [ ] `virt-clone`
- [ ] `virt-convert`
- [ ] `virt-host-validate`
- [ ] `virt-install`
- [ ] `virt-login-shell`
- [x] `virt-manager` → #5423
- [ ] `virt-pki-validate`
- [ ] `virt-qemu-run`
- [ ] `virt-sanlock-cleanup`
- [ ] `virt-viewer`
- [ ] `virt-xml`
- [ ] `virt-xml-validate`

[2021-03-12 16:33] bl-ue opened #5426 "Let's document: iovisor/bcc"
I found a large list (98) of incredible system monitoring tools for Linux: https://github.com/iovisor/bcc

Every single one of them is written in Python, so `argdist.py` is the executable (except `read-trace` which only has a `.sh` file and `netqtop` which as a `.c` file in addition to the `.py` file).

- [ ] [`argdist`](https://github.com/iovisor/bcc/blob/8bab454b7d98c1480bbb34bb5c8c0f446202e6fb/

[2021-03-12 18:02] bl-ue opened #5427 "tldr --render: clients or linter?"
It occurred to me this morning that the `--render` option should really be part of the linter, since rendering is really a development function and the linter is really a development tool.  It's also extra work for client developers, if they want to fully implement the spec, including all of the optional parts.

Any thoughts?

[2021-03-13 20:12] sbrl commented on #5186
@older-pack: That's strange. We should check the GitHub actions logs perhaps to see which version is actually been used.

[2021-03-13 20:24] sbrl commented on #5184
Perhaps an update to the client spec is in order.

Specifically in this section: <https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#caching>

....we mention tldr.sh OR raw.githubusercontent?

[2021-03-13 20:27] bl-ue commented on #5184
Haha then we should delay #5428 :)

[2021-03-13 20:28] sbrl commented on #5401
Great spot. What about changing it to `tldr -p {{linux}} {{pstree}}` or something?

[2021-03-13 20:49] sbrl commented on #5400
@jakevossen5 that's one of the beauties of SVG, in that the text therein can be highlighted / selected / read :D

Though  don't have a screen reader, so I'm not sure if your average screen reader is aware of this or not though.

[2021-03-13 20:57] sbrl commented on #5071
Oops! That might have been a typo or misunderstanding on my part. Sorry!

[2021-03-13 21:06] sbrl commented on #5427
The idea here is to see how a specific client renders a page to debug their implementation I think.

[2021-03-13 23:10] waldyrious commented on #5414
Hmm, I suppose it might make sense to clarify the guidelines for this type of transition. The primary motivation for the role transition process is to allow people to perform the roles they show interest in doing, not merely react mechanically to the passage of time or unrelated activity. In particular, this bit from [`COMMUNITY-ROLES.md`](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-R

[2021-03-13 23:14] bl-ue commented on #5414
Just a note @waldyrious: @einverne has been more active than it appears, approving and merging PRs regularly (https://github.com/tldr-pages/tldr/issues?q=einverne may give a hint)

[2021-03-13 23:50] waldyrious commented on #5299
Hmm, I'm tempted. On the one hand it would be nice to save users an unnecessary step to reach the information they want; on the other hand, making an automatic jump (as a symlink would do) can be a little bit too magical, and obscure the fact that the user is seeing the content for a page that's not exactly what they typed.

I'm tentatively in favor of this, but I'd call @chrisallenlane from [chea

[2021-03-14 00:10] waldyrious commented on #5256
Just logging my opinion, after the fact, that I'd initially be inclined to agree with @bl-ue's suggestion to name the pages `pacman--sync.md`, etc.

At the moment we use hyphenated page names for three command formats:

- Actual hyphenated commands, e.g. `docker-compose.md` --> `$ docker-compose ...`
- Space-separated subcommands, e.g. `git-commit.md` --> `$ git commit ...`
- flag-based subcommand

[2021-03-14 00:21] waldyrious commented on #5414
That's an excellent point, @bl-ue! Indeed I missed some of his activity.

That said, I want to reiterate that I'm not objecting to @einverne's role change in particular — if he's up for it, then by all means, I'd be thrilled to see the maintenance team continue to grow! ❤️

What I wouldn't be thrilled about is the prospect of potentially pushing people into positions they haven't shown interest in

[2021-03-14 00:40] waldyrious commented on #5221
My hat's off to you, @bl-ue — great searching skills indeed! 😮

I stand by my suggestion in that thread that US English is more prevalent online, despite not being the "original" (the same way that [Brazilian Portuguese is more prevalent than Iberian Portuguese](https://knowyourmeme.com/photos/1193909-polandball) 😅) so if we're to pick a default, I'd argue that it should be en-US.

That said, I do

[2021-03-14 00:42] srsudar commented on #5299
We first considered literal symlinks but decided against it because git apparently doesn't handle them well on windows. I didn't have a windows machine to try on myself, but you can see a collaborator's comment [here](https://github.com/srsudar/eg/issues/24#issuecomment-100518855).

In the end we went with an [`aliases.json`](https://github.com/srsudar/eg/blob/5263e1cba96a0c4cb878ab16863baccd12618

[2021-03-14 01:02] bl-ue commented on #5299
I like the `aliases.json` approach for mainly one reason: it would allow us to effectively document subcommands even if there are aliases for the parent command (see #5407 for details)

Of course, client updates prevent us from moving quickly (which isn't _always_ wrong).  The benefit of this approach is that, though clients will need to be modified to support this, you're right, they would just i

[2021-03-14 01:06] bl-ue commented on #5256
It's a good idea, because things can start becoming complex if you want to use the names in some way ( subcommand suggestion, etc.) and you have parent commands with dashes and subcommands, e.g. `virt-admin server-update-tls` (#5425) :smile:

[2021-03-14 01:12] bl-ue commented on #5414
Nope.  I think we (maybe just you and the others, I'm pretty new here) should discuss it at some point.

FYI—I did give it some thought before I opened this issue, because I know what you mean.  For example, @ivanhercaz has been an org member a week or two longer than @einverne, but since he's been less active I thought it would be good not to bother or pressure him. 👍🏻

[2021-03-14 01:23] MasterOdin commented on #5184
I would vote strongly for raw.githubusercontent.com. It is a well-known source of truth for GH resources and very unlikely to suffer issues (e.g. domain renewal, DNS, etc.) that wouldn't also affect `tldr.sh`.

[2021-03-14 01:37] einverne commented on #5414
Thank @bl-ue for this nomination. But as @waldyrious said, I personally like to review and merge people's pull requests more. And this is how I participate in the project in the past few months. I'd like to keep my position.

[2021-03-14 02:19] bl-ue commented on #5414
@einverne are you sure...? It seems to me (no pressure intended 🙂), once you're an org member, becoming an org owner simply gives you a few extra permissions, including a quite useful one: force-merging PRs though the CI checks aren't green or the approval minimum isn't met.

[2021-03-14 02:27] einverne commented on #5414
Yes, I'm sure. And I think I do not need the force-merging permissions. In my opinion, if the CI broke, the best way is to check what's wrong and fix it. And I think the best for the community is to have more people to review and discuss.

[2021-03-14 03:20] bl-ue commented on #5414
Okay, thank you for confirming.  Then I guess we should close this issue 👍🏻

[2021-03-14 03:20] #5414 closed

[2021-03-14 03:39] bl-ue commented on #5221
Okay, then I'll close this issues as I'd say a consensus has been reached.  I'll not go normalize them, I'll just fix silenty them in PRs (maybe).

[2021-03-14 03:39] #5221 closed

[2021-03-14 15:01] waldyrious commented on #5414
@einverne thanks for confirming my suspicions, and please excuse any hints my words may have given of disapproval of your work — I know it's hard to disagree online without conveying a negative connotation. I have great respect for the work you've done here — that which I've had the chance to review, anyway! 😅

@bl-ue I must confess I am quite concerned about your insistence in this particular typ

[2021-03-14 15:15] waldyrious commented on #5299
Thanks for the great insights, @srsudar! If I may just add a small note: one of the things in favor of @bl-ue's proposal of alias pages is that they're "low-tech", i.e. even a very dumb "client" that simply `cat`s the contents of the `pages/` directory (or, for that matter, any client that hasn't migrated to support `aliases.json`) would be able to provide the value of aliases to the users.

[2021-03-14 15:26] srsudar commented on #5299
Yeah that makes sense, it's a very nice middle ground. I didn't realize you supported such diverse clients.

One thing I didn't mention but I'm remembering now is that we also display the aliases like so when we `eg --list` (note `clang -> gcc`).

This still doesn't help your very simple clients, but might help reduce the magic factor I think (although I have no idea how many actually care about t

[2021-03-14 15:43] bl-ue commented on #5414
@waldyrious I completely understand why you might be concerned!  As a matter of fact though, I've learned exactly when to use force-merge by watching @sbrl, and I'd never use it in any other, so you need not worry about that.  The reason I'm always talking about the force-merging it because that's the only difference between org owners and org members that I imediately notice.

I'd like to remove

[2021-03-14 16:43] Waples opened #5444 "Page request: tldr-lint"
[code]

[2021-03-14 16:43] Waples commented on #5444
bump @bl-ue

[2021-03-14 16:45] bl-ue commented on #5444
Good call @Waples—I was thinking of adding this just yesterday! :smile:  I'll do so now.

[2021-03-14 16:49] bl-ue commented on #5444
@waldyrious / @sbrl, obviously an alias page is needed.  Which would you recommend: link a new `tldr-lint` page to the existing `tldr` page OR rename `tldr` to `tldr-lint` and link new `tldrl` to `tldr-lint`?

[2021-03-14 16:58] waldyrious commented on #5414
That's great to hear, @bl-ue :) just to be clear, no particular person's words or actions should be taken as final, or a definitive distillation of our guidelines and culture — it is a permanent work in progress, and we all have to occasionally realign or simply check with each other to ensure we're all in the same page. Keep up the great work! 👍

[2021-03-14 17:19] waldyrious commented on #5444
When you write `tldr` above, you mean `tldrl` in all cases, right?

[2021-03-14 18:01] bl-ue commented on #5444
Yes, my mistake hahaha.

[2021-03-14 18:11] jakevossen5 commented on #5400
Alright, who wants to take this up? I should be able to get started on it sometime this week, but if someone who is more familiar with this project wants to take a crack at it I am good with that too. Probably the best thing to do would be open up a PR, then see if someone who uses a screenreader regularly has feedback?

[2021-03-14 20:01] waldyrious commented on #5444
Both binary names seem to be [equally valid](https://github.com/tldr-pages/tldr-lint/blob/81cf0c8d342d0faa3d329cbc64ec8f7779bb7c76/package.json#L18-L19), so it's arbitrary which one we should pick for the canonical name and which should be the alias. In the spirit of explicitness, I'd vote for making `tldrl` the alias.

[2021-03-14 22:24] MasterOdin commented on #5184
Actually, using `tldr.sh` is probably the better move given that it's served from behind the CloudFlare CDN, which helps to avoid the soft limits GitHub has in place on its own services (I think it sort of exists for `raw.githubusercontent.com`, definitely exists for GH pages).

[2021-03-15 20:23] mebeim commented on #5184
I'd say that we can simply add an `s` to the current client spec:

[code]

We can do this before merging #5428 (then update #5428 with the correct permalink) as @bl-ue suggests.

In any case, a mailing list for tldr clients' developers seems like a good idea to notify of changes like this one, we could do this through a Google group.

[2021-03-15 20:25] bl-ue commented on #5184
@mebeim see https://github.com/tldr-pages/tldr/pull/5377#issuecomment-794082345

[2021-03-16 09:19] #5257 closed

[2021-03-16 11:25] #1177 closed

[2021-03-16 11:28] bl-ue commented on #1177
🎉

[2021-03-16 14:20] bl-ue commented on #5400
Yep, go for it.

[2021-03-16 19:58] navarroaxel opened #5462 "Adding Android commands"
Where should we store the pages dedicated to native Android commands that run only inside an shell session running in an Android device or emulator open via `adb shell`?

Alternatives:
* Create an `android` platform folder.
* Store them in `common/` under the `adb-shell-{{command}}.md` structure.
* Add them to `common/` as a regular command like https://github.com/tldr-pages/tldr/blob/master/pages

[2021-03-16 20:01] Yutyo commented on #5462
Makes sense to me. There are many Android-savvy people out there who would be mad about it.

[2021-03-16 20:02] navarroaxel commented on #5462
Which option do you like?

[2021-03-16 20:02] navarroaxel commented on #4934
Blocked by #5462

[2021-03-16 20:09] bl-ue commented on #5462
I'm inclinded towards option 2, because the way most people call these commands is via `adb shell <command>`—correct?

Also, can any Linux commands like `cat`, `tar`, `ps`, etc. be called from the same shell where these commands can be called like normal commands?  Or is the shell special, so that only these commands e.g. `logcat` can be called within?

[2021-03-16 20:10] Yutyo commented on #5462
create an `android` folder.

[2021-03-16 20:14] bl-ue commented on #5462
The reason I'm not keen on making a `pages/android` folder is: how many commands will we put in? Only a few, like 10, probably.  Also, are these actually available in the Android OS _without_ the debugging (i.e. can any normal user run them from a terminal app, if such a thing exists on Android?)

[2021-03-16 20:20] navarroaxel commented on #5462
@bl-ue you can install Termux https://play.google.com/store/apps/details?id=com.termux and run android commands using just the phone.

[2021-03-16 20:24] bl-ue commented on #5462
Ah okay, I didn't know that (I'm not a Droid guy 🙂).  Can any user run `logcat` that way, regardless of whether or not they're a developer?

[2021-03-16 20:25] Rudloff commented on #5462
Android is a Linux-based OS and it can run most Linux CLI tools.
So I would put the Android-specific commands in `linux/` (same as we have some Debian-specific commands in there).

You can totally run a terminal on Android. [Termux](https://termux.com/) is the most popular app for doing that. (It also come with `apt` so you can install additional tools.)

The Android is shell is a classic Linux sh

[2021-03-16 20:29] bl-ue commented on #5462
Okay, I didn't know this.  Thanks for the explanation @Rudloff.

@Rudloff:
Can any user run logcat that way, regardless of whether or not they're a developer?

[2021-03-16 20:34] Rudloff commented on #5462
Any user can open a terminal app and then call `logcat`.
(Some other Android commands require the user to have root privileges.)

![Screenshot_20210316-212856_Termux](https://user-images.githubusercontent.com/840125/111375684-d87da600-869e-11eb-9ea5-fc131f74cb3b.png)

Not everyone agrees, but the Linux Foundation considers Android a Linux distribution.

[2021-03-16 20:43] bl-ue commented on #5462
Okay, then I strongly vote for option 3.  If they're normal commands on Android, then definitely we should treat them as such.

[2021-03-16 20:54] navarroaxel commented on #5462
cool @bl-ue, but @Rudloff propone to leave this command under the `linux/` platform.

[2021-03-16 21:09] bl-ue commented on #5462
Yeah, sorry, I concur.  I mean "option 3 but under `pages/linux`" 👍🏻

[2021-03-16 21:55] Yutyo commented on #5462
Android doesn't have GNU utils tho. Its also not a Linux OS but only uses Linux as a kernel, and uses a modified one.

[2021-03-16 22:01] #5444 closed

[2021-03-16 23:57] mebeim commented on #5184
@bl-ue I think it makes sense, I like the idea!

[2021-03-17 03:01] #5184 closed

[2021-03-17 15:21] bl-ue commented on #5110
The mirroring is working well.  It takes ~20 seconds for commits pushed to master to be mirror-pushed to [main](https://github.com/tldr-pages/tldr/tree/main).  The next thing to do would be to switch them over.  That shouldn't cause problems for clients because the two branches are almost always indentical.  When should we set the date? April 1st?

[2021-03-17 22:26] bl-ue opened #5471 "Let's document: dolt"
Really cool tool. https://www.dolthub.com/

- [ ] `dolt`
- [ ] `dolt add`
- [ ] `dolt blame`
- [ ] `dolt branch`
- [ ] `dolt checkout`
- [ ] `dolt clone`
- [ ] `dolt commit`
- [ ] `dolt config`
- [ ] `dolt conflicts`
- [ ] `dolt creds`
- [ ] `dolt diff`
- [ ] `dolt fetch`
- [ ] `dolt filter-branch`
- [ ] `dolt gc`
- [ ] `dolt init`
- [ ] `dolt log`
- [ ] `dolt login`
- [ ] `dolt ls`
- [ ] `dolt me

[2021-03-18 00:52] #1627 closed

[2021-03-18 01:59] MasterOdin commented on #5110
Need to also set-up a similar thing for https://github.com/tldr-pages/tldr-pages.github.io for people grabbing the zip through the githubrawcontent link. Will do that tomorrow.

[2021-03-18 12:21] bl-ue commented on #1627
Finally! 🎉 😅

[2021-03-18 15:32] sbrl commented on #5462
Great discussion here. So we've established that commands like `logcat` are normal commands that you can run in a shell on an Android device. In this case, we do not want to file then as `asb-shell-{{command_name}}` as I initially thought.

In terms On the one hand, Android uses a (modified) Linux kernel, suggesting we should put pages in `linux`, and you cna use a Bash shell as with any other Lin

[2021-03-18 21:36] bl-ue opened #5473 "Add organization member: @MasterOdin"
Hi, @MasterOdin! After joining as a collaborator in the repository, you have been regularly performing maintenance tasks.
Thank you for that!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), you've now met the thresholds to be effectively considered an active maintainer of the project.
To publicly acknowledge that fact, we'd like

[2021-03-18 21:49] MasterOdin commented on #5473
I'd point out that I have not merged 10 PRs or provided 5 non-trivial reviews to PRs within the main tldr-pages/tldr repo which the COMMUNITY-ROLES.md file seems to indicate. I do not have an interest in really reviewing PRs here, having more interest in working on clients and surrounding infrastructure stuff.

[2021-03-18 21:54] bl-ue commented on #5473
That's a good point, and if you'd like to close I'd be happy to do so. _But_ I have noticed that you contribute a lot the repos such as [tldr-lint](https://github.com/tldr-pages/tldr-lint) and [tldr-node-client](https://github.com/tldr-pages/tldr-node-client), and among other things, being an organization member (to my knowledge) extends your collaborator's permissions to all repositories under th

[2021-03-19 01:15] bl-ue opened #5474 "Let's document: go"
- [x] [`go bug`](https://golang.org/cmd/go/#hdr-Start_a_bug_report) → #4003
- [x] [`go build`](https://golang.org/cmd/go/#hdr-Compile_packages_and_dependencies) → #4003
- [x] [`go clean`](https://golang.org/cmd/go/#hdr-Remove_object_files_and_cached_files) → #4003
- [x] [`go doc`](https://golang.org/cmd/go/#hdr-Show_documentation_for_package_or_symbol) → #4003
- [x] [`go env`](https://golang.org/c

[2021-03-19 21:13] Rudloff commented on #5462
I don't mind having a new `android` platform. (It's just that it will not have a lot of pages.)

[2021-03-19 21:13] Rudloff commented on #4934
I added some of them in https://github.com/tldr-pages/tldr/pull/5481.

[2021-03-19 21:15] bl-ue commented on #5462
It'll probably have more than [`sunos`](https://github.com/tldr-pages/tldr/tree/master/pages/sunos) does :)

[2021-03-20 21:40] marchersimon commented on #5462
Is there even a tldr client for android? Because otherwise you'd have to specify `--os android` every time. But we also can't put it to `linux` since the `adb shell` works under windows and macos as well.

[2021-03-20 21:43] navarroaxel commented on #5462
I don't know how it works, but I use the python client in Arch Linux with the default installation options and I can request macOS pages without extra params just:
[code]
If a user change it to use a specific platform I think the expect result for Android platform pages (not found) it's correct.

[2021-03-20 21:43] bl-ue commented on #5462
Huh, good point.  Yes, we have an Android client: https://github.com/Techno-Disaster/tldr-flutter.  You can see all of our known clients [here](https://github.com/tldr-pages/tldr#how-do-i-use-it).

As for `adb shell`, I just though of an idea: we could create `common/adb-shell-<command>.md` as a link to `linux/<command>.md`.

Thoughts?

[2021-03-20 21:47] Rudloff commented on #5462
Technically, it is also possible to run the Node or Python CLI clients in an Android shell.

[2021-03-20 22:02] Rudloff commented on #5462
On one hand, most users will run Android commands through `adb shell`, so I guess it makes sense to document it.

On the other hand, any command can be called through `adb shell`, so were do we draw the line? Should we create `adb-shell-ls.md`?
(It is a bit like saying that you can call Linux commands through SSH, so we should create `ssh-<command>.md`.)

Maybe if we have an `android` platform, `a

[2021-03-20 22:05] bl-ue commented on #5462
Yeah, let's do something like.  I didn't realize that `adb shell` could execute _any_ command.  Ignore my above idea, then.

[2021-03-22 16:58] navarroaxel commented on #5462
@bl-ue maybe we should let that clear in the `adb-shell` page.

So, could we unblock the android command pages and close this ticket?

[2021-03-23 13:38] tomadojuice commented on #5400
This seems interesting. Can I give it a go?

[2021-03-23 14:45] bl-ue commented on #5400
Go ahead, @tomadojuice!

[2021-03-24 20:21] bl-ue opened #5499 "tldr.ooops.me is down"
https://tldr.ooops.me, [listed on README.md](https://github.com/tldr-pages/tldr#how-do-i-use-it), is down. @kosmgco?

https://github.com/kosmgco/tldr-web/issues/11

[2021-03-24 22:20] Yutyo opened #5500 "Let's document: SerenityOS"
Its quite a neat OS born in Github.

[2021-03-24 23:37] sbrl commented on #5221
Agreed - I don't think it's particularly important to standardise this.

[2021-03-24 23:42] bl-ue commented on #5500
Ha! Yes, I've been seeing it.  https://github.com/SerenityOS/serenity

I've even opened a discussion on it :) https://github.com/SerenityOS/serenity/discussions/5845

Is it a command/set of commands, thought, @Yutyo?  How are you proposing to document it?

[2021-03-24 23:48] sbrl commented on #5256
Hmm, interesting ideas here

It's an awkward one, because there's no set standard for how it's done. If we included any underscores, I'd suggest a client update because it's extra work to do <kbd>shift</kbd> + <kbd>-</kdb> as opposed to just hitting the space as we have currently.

Currently clients basically do `echo "${page_name}" | tr ' ' '-'`, so perhaps `pacman--sync` would be the better solu

[2021-03-24 23:53] sbrl commented on #5299
Haha yeah @srsudar, we have an [absolutely enormous list of clients](https://github.com/tldr-pages/tldr#how-do-i-use-it) lol, and they are all developed by different people :P

[2021-03-24 23:59] sbrl commented on #5414
I generally force-merge in 2 specific situations:

1. For very trivial changes (e.g. typo corrections) to reduce notification load on others
2. For extremely urgent security matters (I have not yet had to do this in all the time I've been an owner, as far as I can remember)

The frequency at which I do (1) here is defined by how busy my notifications list is.

The other thing @bl-ue you get to be

[2021-03-25 00:16] #1774 closed

[2021-03-25 00:28] bl-ue commented on #1774
🚀

[2021-03-25 00:32] sbrl commented on #5473
Yeah, it does extend privileges to all repos. The community roles we have in this repo are really tailored towards the `tldr` repo here, and they don't specifically talk about other repos. With that in mind, I'd suggest that the process for regular contributors of other repos is much more of a case-by-case ad-hoc basis.

If @MasterOdin would like to be an org member to remove barriers in other rep

[2021-03-25 00:47] sbrl commented on #5462
I'd suggest we create a new platform for `android` here. This will in some clients necessitate a minor client update - specifically our Android clients (which will have to update their page resolution algorithms to pull from the `android` platform first), so we'll probably want to @mention their authors here.

Despite this, it shouldn't break anything if we just start merging PRs that add the new

[2021-03-25 01:06] sbrl commented on #5499
I get this:

![Selection_2021-03-25_01:05:46_001_3dec81d](https://user-images.githubusercontent.com/9929737/112403399-3f860500-8d06-11eb-8d9a-80015a316ccf.png)

[2021-03-25 01:21] sbrl commented on #5500
Oooh, nice! Looks like a cool OS there - and that's a solid set of core libraries implemented too! Not sure I'd use it as a daily driver or for anything serious, but it does look interesting. Documenting it in tldr-pages might be a good way for new users to quickly get up and running with it. I assume that at least 1 of our existing clients would run on it lol - the advantages of having a diverse

[2021-03-25 01:43] bl-ue commented on #5462
cc @Techno-Disaster @hidroh

[2021-03-25 07:50] Techno-Disaster commented on #5462
The flutter client should not be affected. I don't check the OS there and show those commands first. Have a small script updating [this](https://github.com/Techno-Disaster/tldr-flutter/blob/master/tldrdict/static/commands.txt) txt file every 6 hours. New commands get added in a key(command) and value(platform) pair, and I show this in the search page.

[2021-03-25 21:45] bl-ue commented on #5462
@Techno-Disaster all Android clients should be updated to check the `android` folder (if it exists) first, before any others.

[2021-03-25 23:14] Techno-Disaster commented on #5462
I'll look into this soon.

[2021-03-26 08:39] mflint commented on #4044
This is client for iOS.
Supported: yes
Supports spec 1.2: no (I really should do that)

[2021-03-26 15:03] waldyrious opened #5510 "Epic: Add links to all existing pages"
Since #2649, tldr pages support adding a link to the tool's homepage, and [substantial efforts to backfill links into existing pages](https://github.com/tldr-pages/tldr/pulls?q=is%3Apr+sort%3Aupdated-desc+multiple+pages%3A+add+homepages+is%3Aclosed) have been made, but many are still lacking it.

We should ensure that all pages have a link that people can follow to learn more about the tool and ex

[2021-03-26 15:07] navarroaxel commented on #5510
Question: What we should do with pages like https://github.com/tldr-pages/tldr/blob/master/pages/linux/ksvgtopng5.md? This is an internal command/util from the KDE Plasma desktop and doesn't have a man page. Should we use the link to the git repository?

[2021-03-26 15:16] bl-ue commented on #5510
I'd say the Git repository for that tool (or group of related tools), or the parent project's page (e.g. the KDE Plasma Desktop's page).  We link to Git repos (e.g. [GitHub](https://github.com/tldr-pages/tldr/search?q=more+information+github.com), [GitLab](https://github.com/tldr-pages/tldr/search?q=more+information+gitlab.com)) a lot.

[2021-03-26 16:57] waldyrious commented on #5370
As a pt-PT speaker, let me add for future reference that as @mebeim said, there are lots of terminology differences, especially in the tech world (`ficheiro` vs. `arquivo`, `rato` vs. `mouse`, etc.). So not only merging the two variants would be a lossy operation, as @schneiderl rightly points out, but it would also actively make things harder/confusing for speakers of either variant.

I would tak

[2021-03-26 17:02] waldyrious opened #5512 "Merge the lists of clients on the wiki and the README"
There are currently two lists of clients, each maintained independently: one in the [README](https://github.com/tldr-pages/tldr/blob/master/README.md#how-do-i-use-it), and one in a [wiki page](https://github.com/tldr-pages/tldr/wiki/tldr-pages-clients). (There actually used to be a _third_ one 😱 in the website, but it was merged a while ago by @20manas in https://github.com/tldr-pages/tldr-pages.g

[2021-03-26 18:09] MasterOdin commented on #5512
My vote would be on having it just be in the wiki, which allows people to self add clients. For most projects I've seen that go this route, I'm not sure I've really seen any instance of spam or whatever on the wiki even though its publicly editable.

[2021-03-26 18:15] bl-ue commented on #5512
The only part-issue I see with that approach is that maintainers wouldn't know when there's a new client unless they're watching the repository (because GH adds an entry to your feed about users modifiying the wiki of a repo if you watching it), and they take the time to check what the user changed.

[2021-03-26 18:16] sbrl commented on #5512
Yeah, we really need to tidy this up.

The wiki would be a sensible place to put it, but we would of course need a prominent link to it in the README

[2021-03-26 19:24] sbrl commented on #4044
@mflint if you have any queries when you're working on implementing the new versions of the spec, do get in touch! We'd love to help. Quick link to the client spec changelog for convenience: <https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#changelog> (we're on v1.5 now, but the versions in between are relatively minor changes)

[2021-03-26 20:11] sbrl commented on #5370
In theory @waldyrious if you had `LANG` set to `pt_PT` and `LANGUAGE` set to `pt_PT:pt_BR`, it should try `pt_PT` first, then `pt_BR`, and then finally `en` as a fallback according to the [language resolution of the client spec](https://github.com/tldr-pages/tldr/blob/master/CLIENT-SPECIFICATION.md#language)

[2021-03-27 18:36] bl-ue commented on #4044
I completely agree with this.  In my opinion, an official client written in an interpreted language conflicts a lot with this goal, because in order to run the client Node.js, Python, etc. has to be installed

That's why I was advocating for Go (https://github.com/tldr-pages/tldr/issues/4044#issuecomment-753662999).  In my opinion, Go is not difficult to learn, being similar in many ways to common

[2021-03-28 12:01] marchersimon opened #5517 "Let's document: platformio"
- [x] [`pio`](https://docs.platformio.org/en/latest/core/userguide/index.html) → #5404
- [x] [`pio access`](https://docs.platformio.org/en/latest/core/userguide/access/index.html) → #5518
- [x] [`pio account`](https://docs.platformio.org/en/latest/core/userguide/account/index.html) → #5410
- [x] [`pio boards`](https://docs.platformio.org/en/latest/core/userguide/cmd_boards.html) → #5409
- [x] [`pi

[2021-03-28 21:16] #5462 closed

[2021-03-28 21:27] marchersimon commented on #5322
I found <https://wiki.archlinux.org/index.php/Xcursorgen> and <http://manpages.ubuntu.com/manpages/trusty/man1/xcursorgen.1.html>, which both seem very useful. However, the command is mostly about the configuration file you pass, so I'm not really sure how to document it.

[2021-03-28 21:28] #5154 closed

[2021-03-28 22:37] marchersimon commented on #5143
Oh, sorry I didn't see you were working on this.

[2021-03-28 23:42] bl-ue commented on #5143
Don't be sorry—I'm glad! I have a lot of things I've assigned myself and I'm glad an energetic helper has shouldered one of the burdens! 🙂

[2021-03-29 00:55] vladimyr commented on #5143
Arch manpages are not exclusively used for Arch utilities. Take [`vmstat(8)`](https://man.archlinux.org/man/vmstat.8) for example. It is part of an independent project (`procps`) living at https://gitlab.com/procps-ng/procps. In other words, Arch folks host distro-generic stuff too.

Oh, you are concerned about quirky HTML conversions and rendering, I feel your pain. Let me show you something real

[2021-03-29 01:06] vladimyr commented on #5143
For the record here is a complete (check)list of pages pointing to `linux.die.net`:
- [ ] addpart
- [ ] aplay
- [ ] arecord
- [ ] cfdisk
- [ ] dumpe2fs
- [ ] e2freefrag
- [ ] e2image
- [ ] efibootmgr
- [ ] expect
- [ ] filefrag
- [ ] ifdown
- [ ] iftop
- [ ] ifup
- [ ] iotop
- [ ] isosize
- [ ] iwconfig
- [ ] jpegtran
- [ ] lftp
- [ ] logsave
- [ ] ltrace
- [ ] mdadm
- [ ] named
- [ ] pdflatex
- [

[2021-03-29 02:21] vladimyr commented on #5143
I wrote a quick and dirty script to check for manpages on Arch end:

<details>
<summary><code>check-manpages</code></summary>

[code]
</details>

And here is what I got:
[code]

`xar` is obviously an outlier here because it is macOS specific and for the rest, it seems that only `semanage(8)` is available on man7.org (checked using [`inurl:"iotop.1" OR inurl:"ifdown.8" OR inurl:"ifup.8" OR inurl:"p

[2021-03-29 03:19] vladimyr commented on #5143
`ifup` and `ifdown` are part of `ifupdown` suite maintained by Debian:
- https://manpages.debian.org/latest/ifupdown/ifup.8
- https://manpages.debian.org/latest/ifupdown/ifdown.8

`pmount` is also maintained by Debian folks:
- https://manpages.debian.org/latest/pmount/pmount.1

`iotop` is an independent project - http://guichaz.free.fr/iotop/ but the author in the [manpage](https://repo.or.cz/ioto

[2021-03-29 04:25] vladimyr commented on #5500
tl;dr Way too soon my friend, Serenity isn't even at _kindergarten age_ yet

---

If someone told me about this issue I wouldn't have believed them. And rest assured that I have high regards for Serenity and the whole community led by Andreas. :upside_down_face:

You officially made me laughing out loud. :rofl: Thing is, there is no Serenity iso, you aren't supposed to run it on bare metal (yet) s

[2021-03-29 04:38] vladimyr commented on #4044
Keep in mind that as long as clients are installed using respective package managers those runtimes might get installed automatically due to being listed as dependencies. Also in the world of Linux and macOS Python is already there.

That holds true from a regular user's perspective but isn't technically correct. Go binaries are rather large exactly because they bundle (statically link) that _miss

[2021-03-29 04:53] vladimyr commented on #5499
Seems like a classic case of misconfigured (HTTPS) Apache/Nginx redirect:
[code]

[2021-03-29 05:01] vladimyr commented on #5116
@sbrl That's some lovely _one-liner_ :heart: I especially like your user agent :100:

[2021-03-29 06:14] vladimyr commented on #5116
@sbrl https://gist.github.com/vladimyr/d7bb314b14a59ca5fbefda3498fac81a :wink:

[2021-03-29 06:16] vladimyr commented on #5116
I don't know for Redis but crates.io won't let you scrape their content. You'll get the same response even with regular 'GET' because they maintain UA allowlist on their end.

[2021-03-29 09:35] marchersimon commented on #5143
@vladimyr I now replaced all links with the arch man page where possible in my PR (#5528). Should I search alternatives for the other `man7.org` pages too?

[2021-03-29 12:57] marchersimon commented on #5510
- [ ] android/settings
- [ ] android/cmd
- [ ] common/fortune
- [ ] common/ed
- [ ] common/where
- [ ] common/calendar
- [ ] common/sed
- [ ] common/for
- [ ] common/banner
- [ ] common/sha512sum
- [ ] common/nl
- [ ] common/jhat
- [ ] common/cd
- [ ] common/fmt
- [ ] common/batch
- [ ] common/waitress-serve
- [ ] common/echo
- [ ] common/mkfifo
- [ ] common/cmp
- [ ] common/ldapsearch
- [ ] commo

[2021-03-29 12:58] marchersimon commented on #5510
I'm not sure if this was a good idea though...

[2021-03-29 13:24] vladimyr commented on #5143
@marchersimon Well, I like that you appreciate my opinion on the subject but let's wait for others to have their say and reach a consensus.

[2021-03-29 15:40] bl-ue commented on #5510
Yeah, that's a crazily long list 😂

@marchersimon I'd open PRs fixing pages in batches of 10 or so, to reduce the PR count given these are simple changes.

[2021-03-29 15:46] marchersimon commented on #5510
@bl-ue what about @waldyrious's suggestion?

[2021-03-29 16:37] bl-ue commented on #5510
I'm fine with that, the only thing I'm not sure about of is opening a bunch of PRs that each add one line to one file...I'm not sure if that's a great idea.  But if that's okay with @waldyrious it's okay with me.

[2021-03-29 16:42] waldyrious commented on #5510
If multiple PRs are adding links to the same site, or add links to pages that are related to each other, then by all means, it makes more sense to group those changes into a single PR.

Other than that, I don't see any problems with having lots of small PRs that are indeed unrelated to each other. Simple PRs are easy to review, and allow a fast turnaround, which is good both for maintainers and co

[2021-03-29 17:17] tomadojuice commented on #5510
For the GNU coreutils (cd, mv, ...) should we add the link to the respective page on gnu.org? Example [https://www.gnu.org/software/coreutils/manual/html_node/mv-invocation.html](https://www.gnu.org/software/coreutils/manual/html_node/mv-invocation.html) for mv.

[2021-03-29 17:21] bl-ue commented on #5510
Yes definitely.  Those pages are very informative.

[2021-03-29 18:10] marchersimon commented on #5510
Should we also change the links of the current coreutils? (`chmod, dd, dir, mkdir, touch, b2sum, cat, basename`)

[2021-03-29 18:11] tomadojuice commented on #5510
@marchersimon It's certainly helpful but then again you could just look it up in the man page.

[2021-03-29 18:46] bl-ue commented on #5510
If they're man7.org ones I think we should move them to the gnu pages. I like those ones better; they're official and informative (and a contrast to man7.org that's all over tons of pages)

[2021-03-29 18:53] marchersimon opened #5545 "Change the link of all GNU coreutils pages"
Ref: https://github.com/tldr-pages/tldr/issues/5510#issuecomment-809595868

- [ ] chmod
- [ ] dd
- [ ] dir
- [ ] mkdir
- [ ] touch
- [ ] b2sum
- [ ] cat
- [ ] basename

[2021-03-29 18:58] bl-ue commented on #5510
@marchersimon that's a really nice table you've made up there, but there's one problem with that you couldn't have avoided: in French, a special thin, unbreakable space is used before most punctution including colons, but it's hard (if not impossible) to copy the French space from the GitHub UI, so you might need to get it manually.

It's code `160` (`0xa0`, → ` `), and the best way to get it is t

[2021-03-29 19:01] marchersimon commented on #5510
@bl-ue could I also add a note that it should be copied from another french page?

[2021-03-29 19:02] bl-ue commented on #5510
Certainly @marchersimon please feel free and you don't need to ask 👍🏻

[2021-03-29 20:09] marchersimon commented on #5545
<https://www.gnu.org/software/coreutils/manual/html_node/b2sum-invocation.html> gives almost no information, should we use <https://man.archlinux.org/man/b2sum.1.en> instead?

[2021-03-29 20:28] bl-ue commented on #5510
@marchersimon try this for changing/adding links: https://gist.github.com/bl-ue/5b52c9f80dd21074c0633a2bcdeb01fb

Usage:
[code]

[2021-03-29 20:31] marchersimon commented on #5510
This is really cool, thanks!

[2021-03-30 07:48] tomadojuice commented on #5400
We could also maybe replace the image on the [sponsor website](https://liberapay.com/tldr-pages) with the new SVG. Is it possible to change this aswell? Should we adress this in a seperate issue?

[2021-03-30 09:51] waldyrious commented on #5143
I'd rather we reach explicit consensus here before making the changes. I'd suggest holding off that PR for now, until we reach a decision.

@mebeim, @sbrl — you two expressed preference towards man7.org; any thoughts on @vladimyr's comments?

[2021-03-30 14:51] bl-ue commented on #5510
Hey @marchersimon can you wait for a second before updating that comment? I'm trying to add some stuff 🙂

[2021-03-30 14:54] marchersimon commented on #5510
Did you remove the section or did I mess something up? Because I can't revert it

[2021-03-30 14:55] bl-ue commented on #5510
You removed the sections (according to GH).  We both hit "update comment" at the exact same time :D

[2021-03-30 14:56] bl-ue commented on #5510
I like it better without the letter grouping, so will you please leave it all open?  It's easier to find items, I think.

[2021-03-30 16:28] waldyrious commented on #5510
@marchersimon just to be clear, when I said

...I had in mind precisely a case such as the GNU coreutils pages, which all follow the same pattern an link to the same base site. In that case, rather than opening one PR per page, it would be OK to have all changes in a single PR (even if you keep the changes to each page on its own commit in the PR branch). Can you do so for the remaining ones, plea

[2021-03-30 21:42] sbrl commented on #5116
@vladimyr Nice one! Don't forget to sleep though in between each call. Many of the links are GitHub, and you'll get rate-limited if you hit GitHub too fast. Alternatively you could group the URLs by domain and do each group of urls in parallel to go real quick, but to do that I'd probably write it in Node.js instead with [phin](https://www.npmjs.com/package/phin) with async/await.

[2021-03-30 21:49] bl-ue commented on #5116
Yeah, @sbrl it would probably be better to use a standard UA like
[code]
thought yours is nice, it wouldn't work for some sites like @vladimyr mentioned.

[2021-03-30 22:17] vladimyr commented on #5116
I like living on the edge 😂

I was pretty sure that I'm aware of all node http clients but TIL about phin. Thank you!
Yeah, there are many ways how to make it faster, I just wanted to unroll it to proper script as a starting point.

Am I not doing that already? First HEAD and then fallback to GET on receiving 405 (method not allowed).

[2021-03-30 22:32] mebeim commented on #5143
Thanks for the ping @waldyrious.

@vladimyr I see your point and I must agree, it seems that Arch man pages are a way better alternative to `man7`. I'd suggest pointing to those if they provide arch-agnostic pages, or to the appropriate distro (e.g. Debian/Ubuntu/etc) if the tool is distro specific.

[2021-03-30 22:59] sbrl commented on #5462
This issue was closed as the issue at hand has been resolved: the new `android` platform has been created.

(@marchersimon, next time perhaps you could leave a comment when closing issues to explain why for the record? It helps keep everyone on the same page :slightly_smiling_face:)

[2021-03-30 23:02] sbrl commented on #5154
Any reason this was closed, @marchersimon? I'm confused.

[2021-03-30 23:09] marchersimon commented on #5154
The issue was about linter to catch whitespaces, which was resolved in https://github.com/tldr-pages/tldr-lint/pull/39. Or did I miss something?

[2021-03-30 23:18] sbrl commented on #4044
Given the way the Debian folks package Go stuff, it might actually be a bad idea. From my (very limited) experience, they seem to package Go stuff like C binaries - i.e. dynamically linked to library files.

Despite this, I'd suggest that the client we pick for this @bl-ue is not the "one and only client", but one of our "reference clients", though even here that doesn't completely resolve the iss

[2021-03-30 23:19] sbrl commented on #5154
Oh, I see! Thanks for explaining @marchersimon :-)

[2021-03-30 23:28] sbrl commented on #5400
@tomadojuice yeah, that's absolutely possible - anyone whose part of the Liberapay should be able to edit the statement here: <https://liberapay.com/tldr-pages/edit/statement>

Let's wait until the README PR is closed though before doing that.

[2021-03-31 01:31] bl-ue commented on #5154
No, you missed nothing. I opened this issue because I was amused to find a few files with spaces in their names 🙂

[2021-03-31 01:36] bl-ue commented on #4044
Agreed—Python is good and simple **but** not installed by default on Windows :/

Rust I'd definitely say no to because it's not that intuitive to learn—Go on the other hand it quite easy to learn as it really borrows from Python/JavaScript a lot, and has "pointers" but not really C-style pointers, you can't use pointer arithmetic with them; they're mostly equivalent to references in C++, and I'd s

[2021-03-31 11:04] Waples opened #5653 "Let's document: aws"
- [ ] accessanalyzer →
- [ ] acm →
- [x] acm-pca → #13327
- [ ] alexaforbusiness →
- [ ] amplify →
- [ ] amplifybackend →
- [ ] apigateway →
- [ ] apigatewaymanagementapi →
- [ ] apigatewayv2 →
- [ ] appconfig →
- [ ] appflow →
- [ ] appintegrations →
- [ ] application-autoscaling →
- [ ] application-insights →
- [ ] appmesh →
- [ ] appstream →
- [ ] appsync →
- [ ] athena →
- [ ] auditmanager →
-

[2021-03-31 11:05] Waples commented on #5653
@bl-ue whenever you are bored :P #HelpWanted :p

[2021-03-31 13:28] waldyrious commented on #5143
@mebeim do you also think we should prefer Ubuntu manpages over unix.com? I'm trying to understand the motivation for [this comment](https://github.com/tldr-pages/tldr/pull/5528#discussion_r604477703).

[2021-03-31 13:58] vladimyr commented on #5143
Folks, just a quick heads up, I have made some recent discoveries that actually made me alter my proposal 🙃
I'm AFK at the moment but expect a proper update on this in a few hours...

[2021-03-31 14:29] bl-ue commented on #5653
Haha @Waples did you happen to see this: #5212?

[2021-03-31 17:34] bl-ue commented on #5653
@Waples it looks like you might have removed all occurences of the letter `o` in the above command list 😄, e.g. `alexafrbusiness`, `wrkmailmessageflw`, `applicatin-autscaling`

[2021-03-31 17:49] bl-ue commented on #5510
Related: #5111

[2021-03-31 18:15] bl-ue commented on #4044
Back to the point—I'm compiling a detailed table of all of the clients listed on the readme and whether or not they're maintained and whether or note they support pages that use non-English punctuation (e.g. a Chinese colon at the end) for #5240.  I'll post it here when I'm done and then we can trim off the unmaintained ones.

[2021-03-31 19:24] waldyrious commented on #3041
My deepest apologies, everyone — I ended up taking so long to get back to this issue that (1) GitHub removed this entry from my notifications inbox when it lingered there for 6 months (I hate when tools do that!!), thus throwing it off my radar completely; and (2) we seem to have reached consensus elsewhere (in #5510, from [this comment](https://github.com/tldr-pages/tldr/issues/5510#issuecomment-

[2021-03-31 19:33] waldyrious commented on #5510
Thanks for cross-linking the threads! I believe you may be referring to the following comments (please correct me if not):

@owenvoke:

@schneiderl

In some cases, there is no interesting link to be put on the description.
Also, in some cases, we might be just repeating ourselves (see #3041).

@sbrl:

The conversation in #3041 which @schneiderl linked to (and which I've shamefully ended up never r

[2021-03-31 20:05] bl-ue commented on #5510
Yes, those exactly were the comments I was thinking.

I like the idea of using `N/A`—I think it would solve all the problems **without** requiring a spec revision / client update.

[2021-03-31 20:29] vladimyr commented on #4044
@sbrl I follow your reasoning here but I would like to add that if there are multiple good candidates from a maintenance perspective, we should favor the one that is best from the user's perspective i.e. fastest. I'd argue that both Python and Node tick the former box but let's see how they compare in regular workflows using something like this for instance: https://github.com/dbrgn/tealdeer/issue

[2021-03-31 20:31] vladimyr commented on #4044
I understand the sentiment and personally find golang easier to work with but let's be objective. This is pretty much a biased statement 🙃

[2021-03-31 22:52] yutyo opened #5657 "Let's document: plan9"
[plan 9](https://p9f.org/) is not dead, its just resting.

[2021-04-01 00:02] MasterOdin commented on #4044
Python 3.5 is also not installed by default on macOS and maybe a number of LTS Ubuntu releases if we want to get pedantic. However, I disagree on that being a disqualifying criteria as installing the right version of python is extremely straight forward (same as node).

Additionally, using the benchmark above for it:

[code]

So 30ms behind tealdeer and faster than man, seems fine to me on speed.

[2021-04-01 00:43] vladimyr commented on #4044
@MasterOdin Factual, nuanced, practical. 💯 👍

[2021-04-01 05:04] vladimyr commented on #5143
Ok, I'm back...

First I need to clear things up. I wasn't precise enough stating:

They do host stuff that is not necessarily Arch specific but only if it is part of the core Arch package set or distributed through AUR so there is some truth in @mebeim's earlier statement:

What it means is that we still need to fallback to other manpage frontends in cases like the ones I described here: https://

[2021-04-01 07:29] Waples commented on #5653
Owh haha, think i was a bit too agressive with my `%s/\so^/g` ish replace then xD will fix that in a second

[2021-04-01 07:37] Waples commented on #5653
Fixed it =D

[2021-04-01 07:48] Waples commented on #5653
@bl-ue didn't see that issue before, but that goes in a bit too deep with ALL the commands.
I was thinking more like, for example [aws-ec2.md](https://github.com/tldr-pages/tldr/blob/master/pages/common/aws-ec2.md).

[2021-04-01 08:35] aadrian opened #5659 "Latest version not working behind proxy!"
Hi,

The latest version of TLDR (3.3.7) does not work behind proxy :(.

Below the errors that are displayed (proxy host and user masked).

Thank you.

[code]

[2021-04-01 09:30] waldyrious commented on #5510
Next time I'd appreciate if you saved me the duplicated work, then 😅

[2021-04-01 11:17] Waples commented on #5659
Which version (python/r/etc..) of the client are you using?

[2021-04-01 11:43] bl-ue commented on #5143
Wow @vladimyr that's a great find! The formatting is nice and simple, and sure enough I found `ip link` with all of it's full documentation and even examples at the bottom: https://manned.org/ip-link

Also this is what they say on the homepage:

Unfortunately, we need to use some other source for Gentoo pages because as they source towards the bottom of the [about page](https://manned.org/info/abo

[2021-04-01 11:47] bl-ue commented on #5653
You're right, that's why I closed it.  But I wanted to link it for reference 👍🏻

[2021-04-01 11:59] waldyrious commented on #5143
Do we even _have_ any Gentoo-only pages?

[2021-04-01 12:11] bl-ue commented on #5143
In fact, I have no idea! 😄 I was just giving a heads up.

[2021-04-01 12:14] MasterOdin commented on #5659
Looks like Node: `'User-Agent': 'tldr-node-client',`