[2017-12-02 23:08] Akronix commented on #1734
Yep, indeed there was a warning.
I've upgraded both npm and node and now it's working. Thanks.

[2017-12-03 09:35] sbrl commented on #1732
Thanks for requesting this page, @vitalkanev! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - a

[2017-12-04 13:59] Neph0 opened #1744 "[Discussion] Commands that can't be shortened to a one-liner"
Hello,

I want to create an entry for `getopt`, which is a very useful program for shell programming, allowing you to cleanly inspect whatever command line arguments are being passed to your script. The main issue is that while its simple use can be shortened to a one-liner (`getopt -o f: -l file: -- "--file=abc"`), it's literally impossible to showcase how it's supposed to be used ([which whould

[2017-12-04 15:26] waldyrious commented on #1744
Interesting question. We have considered how to handle nonstandard commands before, e.g. in #1130 and #1200, where we didn't get consensus to move ahead with adding a page that doesn't match the tldr format (a list of examples).

On the other hand, the project has successfully handled challenging commands like `git` (which requires multiple pages for its sub-commands), `less` / `vim` (whose "comma

[2017-12-04 15:41] Neph0 commented on #1744
Could you please expand on this? Are there people using `tldr` for more than a simplified and quick `man`-check from the command line?

[2017-12-04 15:51] waldyrious commented on #1744
It's not particularly about the ends, but the means. People have written [multiple](https://github.com/tldr-pages/tldr/blob/master/README.md#clients) [clients](https://github.com/tldr-pages/tldr/wiki/TLDR-clients) to cater to specific needs/wants, ranging from specific functionality (e.g. search, auto-update, easy installation, fewer dependencies...), to the programming language or frameworks used

[2017-12-04 15:56] Neph0 commented on #1744
That makes sense, thanks for the complete answer.

[2017-12-04 15:57] #1744 closed

[2017-12-04 19:48] axelitus opened #1748 "Issue when installing in Ubuntu 17.10"
When I try installing tldr globally in Ubuntu 17.10 as root I get the following error:

[code]

I'm using
- Node: v8.7.0
- Npm: 5.5.1

![screenshot from 2017-12-04 13-43-44](https://user-images.githubusercontent.com/732441/33572702-4fce5f30-d8f9-11e7-8c46-ec667640ffd5.png)

The installation seems to get stuck in a loop trying to reinstall that module as the image shows. I need to stop the process

[2017-12-05 03:18] agnivade commented on #1748
Please have a look here - https://github.com/tldr-pages/tldr-node-client#installation-issues.

I will close the issue now as this repo is only for pages. If your problem still persists, please open an issue in the node client's repo with proper environment details and repro steps.

[2017-12-05 03:18] #1748 closed

[2017-12-05 06:47] agnivade commented on #1721
@gganley - I am going to close the issue now as it's related to the web client. Please file an issue on that repo.

[2017-12-05 06:47] #1721 closed

[2017-12-05 06:48] agnivade commented on #1726
Closing this now. Feel free to reopen if you have something else to discuss that is not under #190.

[2017-12-05 06:48] #1726 closed

[2017-12-05 09:25] waldyrious commented on #1744
Thanks for understanding :) I know it's frustrating to want to extend tldr's convenient approach to other tools other than traditional commands, and be unable to do so.

It was good to have this discussion explicitly, as well, rather than split among various threads, so this will also serve as future reference. :books: :ok_hand:

[2017-12-05 09:36] Neph0 opened #1751 "[Discussion] Add a command-line option/syntax for tldr-style info regarding file extensions."
I think that this project's scope could be extended a bit, by providing `tldr` informations about more than commands/softwares.

I just downloaded a `.tgz` file, which pretty much is a `.tar.gz` file. I typed `tldr .tgz`, but nothing came up.

Could we make this a thing?

Example:

[code]

For other types of files, there could be some examples to show how to interact with such a file from the comm

[2017-12-05 09:37] Neph0 commented on #1751
Note that the command syntax would be anything starting with a `.` (dot) character.

[2017-12-05 12:31] agnivade commented on #1751
Hey @Neph0, you can do `tldr search ".tar.gz"` with the node client and you will get "tar" as the top result. This is the closest solution that I can think of.

I am a bit reluctant to add this feature because you are just matching tools with their associated file extensions. There are lots of tools which do not work on files at all. And there might be multiple tools which work on a single file ty

[2017-12-05 13:27] Neph0 commented on #1751
The idea would just be to hand-pick a bunch of command-line programs, completely arbitrarily, to give an idea to the user about what he could use with this file.

It's true that the concept of file extension doesn't have much sense in an unix environment, but when you're a human being getting a file from someone else, you might not know what to do with it, unless it's properly tagged by its file e

[2017-12-05 13:31] pepa65 commented on #1281
BTW, in the [tldr-bash-client](https://github.com/pepa65/tldr-bash-client), when `less` is available, it is used when the page is larger than the display.

[2017-12-05 14:54] #1599 closed

[2017-12-05 15:18] sbrl commented on #1751
I like the idea! Perhaps we could have a `files` platform that contains information about file type extensions? The only websites that do this currently that I'm aware of aren't actually helpful and are stuffed full of ads.

I am aware though that this might be better as a sub-project of tldr perhaps though or something.

[2017-12-05 15:31] agnivade commented on #1751
I do not see much benefit of this. More specifically, I do not see the value in this. Practically speaking, if I have a file and I don't know how to open a file, I will do a google search. So, I don't see tldr providing anything extra other than a unified place for the command examples and their file associations.

You are most welcome to use a pluggable add-on sort of approach. Feel free to use t

[2017-12-05 15:38] Neph0 commented on #1751
You do realize that the whole point of the project is to skip the "read the man" and "search on google" steps when trying to figure something out on your computer?

[2017-12-05 18:47] redant333 commented on #1736
I'll do it.

[2017-12-06 21:20] rachelkelly commented on #1678
Ok thank you I'll give it a go!

[2017-12-07 03:23] #1695 closed

[2017-12-07 06:28] agnivade commented on #1678
eval is already present under linux. Perhaps, you can add a similar page under osx.

[2017-12-07 12:37] gingerbeardman opened #1764 "fsck is different on macOS X"
[code]

https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man8/fsck.8.html

[2017-12-07 14:58] agnivade commented on #1764
A PR would be most welcome. :smile:

[2017-12-07 17:43] gingerbeardman commented on #1764
Will do so.

Would it override the common entry?

[2017-12-07 17:50] agnivade commented on #1764
Please move the page from common to linux and create a separate entry in osx folder.

[2017-12-08 07:57] wisn opened #1770 "page improve: stack"
Improve page for [The Haskell Tool Stack](https://docs.haskellstack.org/en/stable/README/). There is existed but contain a very limited manual content.

[2017-12-08 08:01] wisn opened #1771 "page request: ghc"
Requesting man page for [The Glasgow Haskell Compiler](https://wiki.haskell.org/GHC).

[2017-12-08 08:02] wisn opened #1772 "page request: ghci"
Requesting man page for [GHC Interpreter](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/ghci.html).

[2017-12-08 12:14] agnivade commented on #1770
The `stack` command is already present. What is this issue about ?

[2017-12-08 13:58] wisn commented on #1770
@agnivade Oops! Didn't see that...
I've changed the issue to "improve" instead.

[2017-12-08 15:26] agnivade commented on #1770
Do you have some pointers as to what is to be improved ? If yes, a PR is most welcome.

[2017-12-08 17:12] wisn commented on #1770
I can't find the manual page of it but here is an example of the help message.

[code]

[2017-12-08 17:24] wisn opened #1774 "page request: hakyll-init"
Requesting [Hakyll](https://jaspervdj.be/hakyll/) page.

[2017-12-08 20:00] gingerbeardman commented on #1764
Done https://github.com/tldr-pages/tldr/pull/1775

[2017-12-08 20:22] gingerbeardman opened #1776 "Add new/blank line at end of output?"
I noticed a new/blank line is added before output for clarity.
So I propose that one be added afterwards for the same reason.

current:
[code]

proposed:
[code]

[2017-12-09 03:54] agnivade commented on #1764
Let's keep this open until the PR is merged.

[2017-12-09 03:56] agnivade commented on #1776
Which client are you using ? Please raise the issue in the corresponding client's repo. This repo is only for tldr pages.

[2017-12-09 07:02] gingerbeardman commented on #1776
I'm using tldr MacOS terminal. I'll look for it

[2017-12-09 08:13] wisn opened #1777 "page request: gatsby"
Requesting [GatsbyJS](https://www.gatsbyjs.org/) page.

[2017-12-09 08:15] wisn opened #1778 "page request: ignite"
Requesting [infinitered/ignite](https://github.com/infinitered/ignite) page.

[2017-12-09 16:55] #1736 closed

[2017-12-09 17:01] sbrl commented on #1771
Thanks for requesting this page, @wisn! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2017-12-09 17:01] sbrl commented on #1772
Thanks for requesting this page, @wisn! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2017-12-09 17:05] sbrl commented on #1770
We generally don't include _everything_ from the help text (or man page), as that would turn the tldr page into the man page itself, just in a different format! We try to distil the most common use-cases into 8 examples or less to aid clarity.

[2017-12-09 17:05] sbrl commented on #1774
Thanks for requesting this page, @wisn! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2017-12-09 17:08] sbrl commented on #1777
Thanks for requesting this page, @wisn! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2017-12-09 17:08] sbrl commented on #1778
Thanks for requesting this page, @wisn! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2017-12-09 17:08] wisn commented on #1770
@sbrl `stack exec` is a common use and it is good to add `stack exec -- --args-passed-here` as well.

[2017-12-09 17:09] wisn commented on #1778
I will take this one by myself.

[2017-12-12 06:40] Scarsz opened #1786 "page request: mysqldump"
Command to dump MySQL databases

Reference: https://dev.mysql.com/doc/refman/5.7/en/mysqldump.html

[2017-12-12 06:41] Scarsz opened #1787 "page request: speedtest-cli"
Test down/uplink connection via Speedtest.net servers with shareable image (`--share`)

Reference: https://github.com/sivel/speedtest-cli#usage

[2017-12-12 06:59] agnivade commented on #1786
This command already exists.

[2017-12-12 15:16] wisn opened #1790 "page request: hlint"
Requesting [Hlint](http://community.haskell.org/~ndm/darcs/hlint/hlint.htm) page.

[2017-12-12 18:23] Scarsz commented on #1786
Whoops, closed.

[2017-12-12 18:23] #1786 closed

[2017-12-12 19:53] #1778 closed

[2017-12-12 20:05] sbrl commented on #1787
Thanks for requesting this page, @Scarsz! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and i

[2017-12-12 20:15] sbrl commented on #1790
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2017-12-13 00:49] Scarsz commented on #1787
Went ahead and did a PR for this. https://github.com/tldr-pages/tldr/pull/1794

[2017-12-13 02:54] hill commented on #1777
See PR #1795

[2017-12-13 10:10] ravernkoh commented on #1659
I'm working on it.

[2017-12-13 11:58] gingerbeardman commented on #1776
Done https://github.com/tldr-pages/tldr-cpp-client/issues/28

[2017-12-13 11:58] #1776 closed

[2017-12-13 12:01] gingerbeardman opened #1798 "Pages already in the system fail the bot checks"
Such as "descriptions must end in a period"

https://github.com/tldr-pages/tldr/pull/1797

[2017-12-13 16:18] #1659 closed

[2017-12-13 19:14] agnivade commented on #1798
I don't understand the issue. The rule says "descriptions must end in a period". Therefore, a whitespace after a period will fail the check. Seems right to me.

[2017-12-13 20:43] sbrl commented on #1787
Cool, thanks! I'll check it out now :D

[2017-12-13 20:44] #1787 closed

[2017-12-13 22:50] gingerbeardman commented on #1798
I shouldn't have added that paragraph and it's confused the issue.

If you click the link and then vote the commit you'll see that the `file` text had a description that ended in a colon. So it would fail the bot check. But it was already in the system. I was modifying that file so I was forced to change it to a period, even though I want editing that section of the file.

So I guess what I'm sayi

[2017-12-14 03:54] agnivade commented on #1798
So I believe the original file was at "pages/common/fsck.md" right ? I just checked the file, and there is no whitespace at the end of line 3. Is it possible that is got introduced somehow through your editor or some other means when copying the file to the osx folder ?

[2017-12-14 11:10] gingerbeardman commented on #1798
They original file was at "pages/common/file.md" and the description ended in a colon.

[2017-12-14 12:18] agnivade commented on #1798
But this is the error that it gave - `pages/osx/fsck.md:3: TLDR004 Command descriptions should end in a period`. Are you sure it was file.md ?

This is what I see in pages/common/file.md - `> Determine file type.`

[2017-12-14 21:43] gingerbeardman commented on #1798
OK ignore me, if it happens again I'll raise a new issue. I've even managed to confuse myself :)

[2017-12-14 21:43] #1798 closed

[2017-12-15 10:20] vitkulov opened #1805 "Explanation of the abbreviation"
Hello. I speak russian and I'm novice in linux. But one thing always interested me.
Why is there no verbatim interpretation of the abbreviation of command, (_where it's possible_) in help/man pages?

e.g.
**pwd** _(print working directory)_
**grep** _(«search **g**lobally for lines matching the **r**egular **e**xpression, and **p**rint them»)_

imho this allows you to better understand and remembe

[2017-12-15 15:48] #1777 closed

[2017-12-15 16:01] agnivade commented on #1805
You raise a valid point. Unix has its quirks. After years of usage, some things have become part of our lives so much that we don't think about it.

The tldr page of `pwd` does say `Print name of current/working directory`. Although, it's not a direct expansion but I think you can figure out what `pwd` stands for. FWIW, my native language is also not English.

I believe acronyms like these are han

[2017-12-15 16:48] vitkulov commented on #1805
No, i don't have more. Anyway I'm trying to search it in google or wiki.
It's just a question that has interested me for a long time. And this is a problem not only for unix.
Almost all the reference books never explain this.

[2017-12-15 19:09] alexbuzzbee opened #1808 "page request: runit"
`runit` is an alternative init system for various Unix-like OSes. It doesn't currently have `tldr` pages for its several commands. The programs in the `runit` suite include:

* `runsv` - The most important part, manages a single service/daemon.
* `runsvdir` - Starts and monitors multiple services using `runsv` from a directory.
* `runsvchdir` - Changes "runlevels."
* `sv` - Talks to `runsv` to con

[2017-12-16 03:46] agnivade commented on #1805
Ok if it is only these 2, I think we can live with it. Thanks for raising the issue.

[2017-12-16 03:46] #1805 closed

[2017-12-17 02:53] hill commented on #948
Hey there, is anyone working on this, and if not, would you like me to have a go???

(this is such a cool project by the way!!)

[2017-12-17 04:16] hill commented on #948
Thinking something like this for selection tooltip:

![mockup-dark](https://user-images.githubusercontent.com/5620045/34076496-b188d274-e31b-11e7-9eee-b3f459adedfd.png)

[2017-12-17 04:29] agnivade commented on #948
AFAIK, nobody is working on it. So you are most welcome to have a go :smile:

[2017-12-17 15:14] agnivade commented on #1770
@wisn - Interested in sending a PR ?

[2017-12-17 15:25] agnivade commented on #1751
Yes, but I see tldr as something more than just a local cache of "search on google". We introduce simple commands first and then slowly build up to more complex examples with a beginner focused language. And we stress on using practical examples that users can quickly identify with rather than mentioning generic words.

This is something you won't get anywhere on google.

But, in the case of file

[2017-12-17 17:23] wisn commented on #1770
@agnivade Ah okay. On my way.

[2017-12-18 10:23] sbrl commented on #1805
Indeed, I'd never thought of that! acronyms.thefreedictionary.com appears to have a category for unix commands, if that helps. Other than that, yeah, explaining the expansion in the description sounds like a good idea.

[2017-12-18 10:23] sbrl commented on #1808
Thanks for requesting this page, @alexbuzzbee! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository -

[2017-12-18 12:15] #1764 closed

[2017-12-18 20:09] lamar-frankie commented on #1663
I can work on this.

[2017-12-18 20:22] lamar-frankie opened #1820 "page request: rpm"
I was using tldr at work today and noticed this was missing. RPM is the default package manager for RedHat and Centos. It is used to build, install, query, verify, update, and erase individual software packages on Linux.

https://linux.die.net/man/8/rpm

[2017-12-18 20:25] lamar-frankie opened #1821 "page request: apt"
I was using tldr at work today and noticed APT was missing. APT is the default package manager for Debian based linux distributions. It is used to build, install, query, verify, update, and erase individual software packages on Linux.

[2017-12-19 03:26] agnivade commented on #1663
Will you be contributing through GCI ? Or just as a normal PR ?

[2017-12-19 03:33] lamar-frankie commented on #1663
What is GCI?

On Dec 18, 2017 10:26 PM, "Agniva De Sarker" <notifications@github.com>
wrote:

[2017-12-19 03:59] agnivade commented on #1663
Google Code-In (https://codein.withgoogle.com/about/). This PR was made for GCI participants. Hence the `gci` tag.

[2017-12-19 06:17] agnivade commented on #1821
We do have a page for apt.

[2017-12-19 12:01] #1770 closed

[2017-12-19 12:10] sbrl commented on #1820
Yeah, I can see how `rpm` would be useful. Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2017-12-19 12:17] sbrl commented on #1820
I've just checked, and we do actually have a page for `rpm`. Perhaps your client isn't configured correctly?

[2017-12-20 11:47] HalisCz commented on #1059
I would like to reopen this issue.

I am using (KDE Plasma 5) Konsole with included colorscheme "Solarized Light", and basic font is almost invisible (as you can see below).

![obrazek](https://user-images.githubusercontent.com/1120890/34205724-d1d83866-e583-11e7-9d83-34aa5ed67e16.png)

I know that "background" color and "color8" are almost the same, but I think that Solarized is so popular, that

[2017-12-20 12:05] agnivade commented on #1059
Please raise the issue in the tldr-cpp-client repo. This repo is only for the pages.

[2017-12-20 12:08] HalisCz commented on #1059
Ok, thank you for quick response ;-)

[2017-12-21 18:56] lamar-frankie commented on #1663
Oh, I'm not apart of that. I'll leave this issue for participants.

[2017-12-22 04:39] hill commented on #948
Hey - just letting you that I have something working here: [https://github.com/hill/tldr-chrome](https://github.com/hill/tldr-chrome) that works on right-click select to open a tooltip ... still needs a bit of work though haha

[2017-12-22 07:47] hvindin commented on #1704
`whence` is also in the output for `man 1 zshall`

[code]

And comparing that to the `man 1 ksh` output, there are some key differences. Namely `-f option skips the search for functions` in ksh but in zsh `-f     Causes the contents of a shell function to be displayed` which are pretty conflicting as far as I can tell.

[2017-12-22 13:13] g-ongenae opened #1836 "mktemp option --directory should be -d"
Hello,
I wanted to create a tempory directory as the [tldr page](https://github.com/tldr-pages/tldr/blob/master/pages/common/mktemp.md) says, I tried running `mktemp --directory` on OSX and got the following output:
[code]

From the manual page of [mktemp](https://www.mktemp.org/manual.html), `--directory` option is not listed and a [linux manual page](http://man7.org/linux/man-pages/man1/mktemp.1

[2017-12-24 20:43] sbrl commented on #1663
Ok. Please feel free to attempt any other page (or even this page once Google Code-In has ended) though!

[2017-12-24 20:49] sbrl commented on #1704
Oooh hrm. I'm not sure what should be done here. Are the two versions available only on different platforms to one another?

[2017-12-24 20:50] sbrl commented on #1836
Good spot - thanks! Perhaps you'd like to send a pull request to update this?

[2017-12-27 03:42] agnivade commented on #948
Great stuff. I see that you are using `XMLHttpRequest`. Any specific reason for not using `fetch()` ?

[2017-12-27 04:02] hill commented on #948
Didn't even know fetch existed until right now. Will certainly look into replacing my current implementation! Thanks @agnivade 😁

[2017-12-27 08:30] agnivade commented on #1704
It seems this is a shell specific command. Currently, we don't have a way to identify multiple commands with the same name if they are in a single platform.

We can have a single page for whence for the more popular shell and mention that there is a separate command for the other shell and create a separate page for that with the name `whence_ksh.md`. Just a thought.

[2017-12-27 11:57] #1836 closed

[2017-12-27 13:56] sbrl commented on #948
What's `fetch()`, @agnivade? Haven't heard of that before, and devdocs.io doesn't appear to have it listed.

[2017-12-27 15:16] agnivade commented on #948
It is essentially a big improvement over `XMLHttpRequest`. Any modern codebase should use `fetch` instead of `XMLHttpRequest`.
MDN - https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
Here it is in devdocs - http://devdocs.io/dom/fetch_api/using_fetch

[2017-12-29 15:25] agnivade commented on #1821
Closing this due to inactivity. Feel free to reopen if you have some other concerns.

[2017-12-29 15:25] #1821 closed

[2017-12-29 15:26] agnivade commented on #1820
Closing this due to inactivity. Feel free to reopen if you have any other concerns.

[2017-12-29 15:26] #1820 closed

[2017-12-29 15:27] agnivade commented on #1508
@waldyrious - Shouldn't this be closed ?

[2017-12-29 18:33] sbrl commented on #948
My.... wow. That's really powerful! Gone are the days of using a `Promise` wrapper for `XMLHttpRequest`....! I must have been looking under the wrong section of devdocs then.

[2017-12-30 16:11] #1069 closed

[2017-12-30 17:23] eukaryote31 opened #1849 "page request: lrzip"
lrzip is a compression program for very large files.

Other commands of lrzip: `lrztar`, `lrz`, `lrzuntar`, `lrunzip`

[2017-12-31 19:59] sbrl commented on #1849
Thanks for requesting this page! Do you want to have a go yourself, @eukaryote31?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository -

[2018-01-02 10:33] #1662 closed

[2018-01-04 18:02] #1735 closed

[2018-01-04 21:55] ahmetb opened #1862 "page request: envsubst"
I don't know how to use it myself so can't contribute.

[2018-01-07 18:39] #1808 closed

[2018-01-07 19:44] alexbuzzbee opened #1868 "suggestion: unix-common platform"
We currently have a `common` platform that contains a number of commands not available on Windows. A number of commands (e.g. `tar`) are available on all Unixes, but not Windows. As such, I suggest we create a `unix-common` platform to contain commands common to Unix platforms. `unix-common` would be checked/cached by clients running on Unix platforms, but not by clients on Windows. Once this is w

[2018-01-08 04:16] agnivade commented on #1868
Good idea. But I fear this will need a lot of manual work of checking which pages are common to all and which are common to unix only. And also, _all_ of the clients need to update their code.

But it's a start nonetheless. Duplicating pages across folders is just plain ugly.

@waldyrious / @sbrl - what do you think ?

[2018-01-09 18:46] #1117 closed

[2018-01-09 22:13] waldyrious commented on #1508
@agnivade indeed. I haven't been able to stay on top of my notifications, hence the delay, but yeah, #1594/#1665 (and to some extent #1694) implemented this.

[2018-01-09 22:13] #1508 closed

[2018-01-09 22:21] waldyrious commented on #1209
@agnivade and @sbrl: now that #1117 was fixed via #1839, which included a brand new [maintainers-guide.md](https://github.com/tldr-pages/tldr/blob/master/contributing-guides/maintainers-guide.md), my next goal is to complete it to close this issue.

Can you review that document and the comments above, and let me know if there's anything that isn't covered?

[2018-01-10 00:11] waldyrious opened #1878 "Role transitions to match new governance guidelines"
Now that the project finally has ~~[explicit criteria for role transitions](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md#ii-role-transitions)~~ ([updated link](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md#when-to-change-roles) after [#1897](https://github.com/tldr-pages/tldr/pull/1897#issuecomment-358395036)), the first thing we need to do is update the current

[2018-01-10 03:59] agnivade commented on #1878
I want to start this as an organic process, going top to bottom, inviting the more active members first, and then slowly working my way down. To that effect, I want to start with @jsonbruce  and @pxgamer who have been contributing actively at this moment.

Yep, @jeeftor can be removed. I had pinged him myself on gitter and did not get any response.

Pts 3,4,5 are also correct. I confirm that those

[2018-01-10 04:04] agnivade commented on #1209
I believe these points were not covered ?

[2018-01-10 09:43] waldyrious commented on #1878
Great, thanks for the detailed response :) A few notes:

- I agree it makes sense to start from the top, and you're right that gut feeling is probably the most likely  trigger for the verification, and indeed preferable to a completely mechanical process. (It is also how the current members have been added, of course, so I fully get that POV). That said, I'll look into fully processing the list wh

[2018-01-10 09:59] agnivade commented on #1878
1. Sure.
2. Hmm, in that case, I fear that we might have a list of stale collaborators since we never remove them from there. I thought of it like you move from collaborator, to member to owner. And similarly, you get demoted from owner, to member to collaborator and then get removed from collaborator too.
3. We had some issues with using the bot token. I will see if I can transfer it to my accoun

[2018-01-10 10:00] waldyrious commented on #1209
Sorry, I wasn't clear. I meant covered by the combination of the current document + the comments above. Meaning that I'll complete that document to include everything mentioned above, plus anything else you guys think is missing.

[2018-01-10 10:39] sbrl commented on #1878
Re making my membership public: I didn't realise I hadn't done yet - I've done that now :P

1. I've approved and merged #1876.
2. Yep - sounds like a good idea to me - especially people pointing out their own fulfillment of our guidelines.
3. Indeed. Perhaps we could add it to the maintainers list? Though I do like the creating an issue about it better.
4. A user's page tells you not only how many

[2018-01-10 10:43] sbrl commented on #1209
Right! Yeah, I think everything is either covered by the comments here or the new maintainers guide 😺

[2018-01-10 11:17] waldyrious commented on #1878
That's possible, but we'd need to define that last step explicitly first, to be consistent. However, let me first tell you why I think that's not necessary.

My view is that it's ok for that to be a permanent status. Unlike the role of maintainer, which implies being active helping out with the repo, the collaborator status is more of a "marker" to indicate that someone has reached a given thresho

[2018-01-10 11:57] agnivade commented on #1878
Ok, fair enough.

[2018-01-10 12:01] agnivade commented on #1209
Oops :sweat_smile: Yep, everything is covered. I dont have anything to add.

[2018-01-10 21:30] sbrl commented on #1878
Absolutely. Though to see anything more than JSON (which firefox does an exemplary job of presenting nicely, btw), we'd (probably) need to write a server-side application - unless of course the GitHub API supports CORS - then we could host something with GH Pages.

[2018-01-10 22:17] waldyrious commented on #1878
That's more than enough! We might want a polished interface later on, but the most important part is to get the actual data. Please share if you can come up with useful queries we can test-drive and hopefully integrate into the process.

[2018-01-10 22:23] waldyrious commented on #1878
Ok, so for 2 there's nothing to be done, and I just did 3 (made @sbrl into an owner). I'll work on a template message to send the ones about to be removed from the org (step 4), as well as one for those about to be added as collaborators (step 1), and will post them below for feedback.

[2018-01-10 23:36] waldyrious commented on #1209
Cool! I'll get to work on this as soon as I can. For self-reference, [Homebrew's invitation message](https://docs.brew.sh/New-Maintainer-Checklist.html) for new maintainers has some useful notes at the end.

[2018-01-10 23:43] waldyrious commented on #1209
Oh, one more thing that just occurred to me: maintainers are expected to hang around in the Gitter chat room on a regular basis, or at least show up every now and then.

[2018-01-10 23:50] waldyrious commented on #1878
So here's what I'd propose the process to be like. For changing one or more contributor's roles, we'd open an issue (similar to this one) with a message like this:

For adding new collaborators:

For adding new org members:

For removing inactive org members:

What do you think?

[2018-01-11 00:00] waldyrious commented on #1878
As for the current org members who are not actively maintaining the project — @danzimm, @edgurgel, @felixonmars, @igorshubovych, @Leandros, @ostera and @rubenvereecken: as you can read above and in #1839, we have just adopted a governance policy aimed at improving the project's long-term maintenance workflow, and making sure the tldr-pages organization membership accurately reflects the active mai

[2018-01-11 01:23] edgurgel commented on #1878
Yes, totally fine 👍

[2018-01-11 03:55] agnivade commented on #1209
Good point, let's add that.

[2018-01-11 03:57] agnivade commented on #1878
@waldyrious - The messages look great. I will start inviting collaborators.

[2018-01-11 05:13] agnivade opened #1885 "New collaborator additions"
Hi, @pxgamer and @jsonbruce! You seem to be enjoying contributing to the tldr-pages project. You now have had at least five distinct pull requests merged each, which qualifies you to become a collaborator in this repository, as explained in our (brand new!) [governance guidelines](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md).

As a collaborator, you will have commit access and can

[2018-01-11 05:51] felixonmars commented on #1878
I thought that I'll be back occasionally, and sometimes review a PR or two, but turns out to be really rarely. Thanks for putting these together and making it easier to attract new members. I'll still keep an eye on the python client.

[2018-01-11 09:24] waldyrious commented on #1878
@felixonmars just to be clear, you will still be able to do that :) Think of this change as the project releasing you of the responsibility of being officially tagged as a maintainer. This simply means that you won't be _expected_ to be available to maintain the project on a regular basis (which matches your real availability), but still can do it whenever you like. We'd appreciate that, in fact!

[2018-01-11 09:30] waldyrious commented on #1878
@agnivade I was wondering if it would make sense to wait until the invitees react to these messages before adding them. Perhaps we could add to the end of the messages "Please reply or thumbs-up this message to confirm."

What do you think?

[2018-01-11 09:33] waldyrious commented on #1885
(I took the liberty to tweak the text above, @agnivade, to adjust the links and the wording a bit.)

[2018-01-11 11:10] jsonbruce commented on #1885
Thanks, I'm so happy to get your invitation. @agnivade

[2018-01-11 11:37] jsonbruce commented on #1878
That's great. So clear roadmap. @waldyrious

[2018-01-11 12:00] agnivade commented on #1878
Um, the invitations are already out :)

[2018-01-11 12:38] waldyrious commented on #1878
Yeah, I meant that as an addition to the templates above :) After all, we'll probably want to keep them somewhere permanent, such as the maintainer's guide or some auxiliary document with template messages (common responses to issues, etc. — /cc @sbrl).

[2018-01-12 21:43] sbrl commented on #1209
Ah, yeah. I have it open as a pinned tab on my home laptop.

[2018-01-12 21:46] Leandros commented on #1579
You forgot the most import ones!

- [ ] dir
- [ ] xcopy
- [ ] rmdir
- [ ] del

and the most important one:

- [ ] How to install gnu coreutils

[2018-01-12 21:54] sbrl commented on #1878
Sounds great to me! Probably better than I could have worded them :P

[2018-01-12 21:57] sbrl commented on #1579
Good thinking, @Leandros! Not sure about `How to install gnu coreutils` though - unless that's a command.

[2018-01-12 21:59] Leandros commented on #1579
More or less a joke. The gnu coreutils are all available on Windows, and work lovely. Often better than their Windows "native" counterparts.

[2018-01-12 22:04] sbrl commented on #1579
Ah, ok! Yeah, they are really good, aren't they?

_(Sorry, I sometimes miss jokes :P)_

[2018-01-13 14:35] agnivade commented on #1885
ping @pxgamer

[2018-01-13 15:50] pxgamer commented on #1885
Apologies for the delay, I have just been thinking about the invite. I'd be happy to help. :+1:

[2018-01-13 17:15] agnivade commented on #1885
Great. Thanks ! Closing this now since both of you have accepted the invitations. Welcome :)

[2018-01-13 17:15] #1885 closed

[2018-01-13 21:58] sbrl commented on #1885
Welcome aboard, @jsonbruce and @pxgamer! :D

[2018-01-17 00:33] waldyrious commented on #1878
@agnivade did you have the chance to experiment with the token change for Travis? I'd like to move forward with the organization-level changes, but I don't want to break any workflows.

[2018-01-17 00:35] waldyrious commented on #1878
Also, where do you guys think the template messages proposed [above](https://github.com/tldr-pages/tldr/issues/1878#issuecomment-356776873) would fit best? GOVERNANCE.md? maintainers-guide.md? Somewhere else?

[2018-01-17 03:35] agnivade commented on #1878
Not yet. I will do them today.

I would say maintainer's guide.

[2018-01-17 09:11] jsonbruce commented on #1878
`maintainer's guide` is a good place. :smile:

[2018-01-17 18:21] waldyrious commented on #1878
Thanks both for the feedback. I started doing as you suggested, but eventually had to go for a different approach, which in the end I think ended up nicer. Please see the details in [this comment](https://github.com/tldr-pages/tldr/pull/1897#issuecomment-358395036).

[2018-01-18 09:27] pxgamer commented on #1579
@sbrl, the `sigverif` command is just a GUI and has no options. Should that still be added?

[2018-01-18 10:13] Leandros commented on #1579
Added a couple more tools, including the super useful `doskey`.

[2018-01-18 10:51] waldyrious commented on #1878
Given #1899 and #1902, I'll go ahead and perform the changes to the organization members mentioned [above](https://github.com/tldr-pages/tldr/issues/1878#issuecomment-356778849), now that a week has passed since that comment.

[2018-01-18 12:08] waldyrious commented on #1878
@sbrl, I've removed you from the list of collaborators in this repository. Can you check and let me know if you still have admin access (i.e. you can access https://github.com/tldr-pages/tldr/settings)?

[2018-01-18 13:13] waldyrious commented on #1878
Regarding other repos in the org, I've invited collaborators for the Python client (https://github.com/tldr-pages/tldr-python-client/issues/55) and for the Node client (https://github.com/tldr-pages/tldr-node-client/issues/197). Let me know if I forgot anyone!

[2018-01-18 13:21] waldyrious commented on #1878
The last step that I can do now is making sure all members of the organization have their membership as public. I missed this before, but it looks like @rprieto's membership is set to private. Only he can change that to public, so I'll ask him here to please do so :)

We can also decide to mark the first item in the list above as done (inviting more collaborators), now that @pxgamer and @jsonbruce

[2018-01-18 13:42] sbrl commented on #1878
Sounds good to me! Thanks for all the hard work, @waldyrious :D

[2018-01-18 13:51] waldyrious commented on #1878
It's been a pleasure to get this long overdue task off my list :) can't wait to get back to reviewing PRs and contributing pages myself! :smile:

[2018-01-19 07:52] pxgamer commented on #1663
@lamar-frankie this is now available if you still want it. :+1:

[2018-01-19 09:39] #1209 closed

[2018-01-19 15:19] lamar-frankie commented on #1663
OK, I'll take care of it this weekend.

[2018-01-21 14:42] viztor opened #1922 "feature request: Allow for proxy to man page"
allow user to bypass -m to access man cmd. useful for users want substitute man with tldr.

[2018-01-21 17:30] agnivade commented on #1922
Firstly, this repo is for the tldr pages. You should file this issue in a client repo.

Secondly, this won't be possible for windows users.

Now coming to your point, frankly its overcomplicating a simple thing when somebody can just type the `man` command instead. Use `tldr` normally, and use `man` when you want the man page. Adding another flag to open the man page does not seem like an elegant

[2018-01-22 11:14] sbrl commented on #1922
What's wrong with something like this?

[code]

[2018-01-22 15:49] chamini2 opened #1924 "page request: trap"
https://www.gnu.org/software/bash/manual/bashref.html
http://basiclinuxcommand.com/linux-command/trap.html

[2018-01-22 16:23] pxgamer commented on #1924
Thanks for requesting this page! Do you want to have a go yourself, @chamini2?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2018-01-23 11:52] #1751 closed

[2018-01-25 10:24] sbrl commented on #1579
@pxgamer Hrm, good question. If it has no options at all, then I'm not sure it would be particularly useful as a page - except to ensure people that its behaviour can be altered through the use of flags. Someone can go ahead if they want I guess!

@agnivade, thoughts?

[2018-01-25 12:13] agnivade commented on #1579
We do have a lot of pages for GUI. Check `rainbowstream` and `rtv`. Originating from this issue - https://github.com/tldr-pages/tldr/issues/1162.

We can go ahead with `sigverify`.

[2018-01-25 12:19] pxgamer commented on #1579
@agnivade, fine with me. 👍

[2018-01-28 23:58] waldyrious opened #1949 "Add collaborators retroactively"
Since #1839 and #1897, we now have [explicit guidelines](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md#when-to-change-roles) for when to invite regular contributors to become collaborators in the repository.

As I mentioned in #1878 (particularly in the opening comment, and in [this one](https://github.com/tldr-pages/tldr/issues/1878#issuecomment-358644482)), for now we just ad

[2018-01-29 00:16] waldyrious commented on #1878
Update: I think we should leave it to @rprieto to decide whether to make his membership in the tldr-pages organization public or not. We already have an exception for the inactivity rule in his case, since he's the creator of the project, so there's precedent for adding an exception to the "publicness" of his membership as well.

Not to mention it might actually convey the incorrect idea that he's

[2018-01-29 00:17] waldyrious commented on #1878
Given the above comment, and the opening of #1949 to track the remaining work to be done for item a), I'll consider this issue resolved. Thanks everyone for the patience and contributions to the discussion!

[2018-01-29 00:17] #1878 closed

[2018-01-29 06:11] stephane-archer opened #1950 "No fsck man page"

[2018-01-29 06:35] agnivade commented on #1950
[code]

Am I missing something ?

[2018-01-29 08:02] stephane-archer commented on #1950
Why https://tldr.ostera.io/fsck is not working?

[2018-01-29 09:27] agnivade commented on #1950
You might want to raise an issue at https://github.com/ostera/tldr.jsx/issues. This repo is only for pages. Alternatively, you can also use our command line clients.

Cheers.

[2018-01-29 09:27] #1950 closed

[2018-01-29 15:45] gingerbeardman opened #1953 "Automated validation of command options per platform"
I'm using tldr less and less because I'm on macOS X and most times I use it I find out the hard way that the arguments are different on macOS X, and I imagine the other supported platforms.

In the past I've filed an update, but that was a very painful process: https://github.com/tldr-pages/tldr/issues/1764

I just hit it again for `find`

So I'm recommending that you do an (automated?) audit of `

[2018-01-29 17:05] agnivade commented on #1953
Thanks for raising the issue. It has been discussed previously. Please look at my comment here -https://github.com/tldr-pages/tldr/issues/1423#issuecomment-312543639.

It would be ideal to have it working for _all_ commands. But I think that's just practically impossible. And even getting it to work for a handful of commands is going to be more work than just manually verifying all the commands, I

[2018-01-29 20:06] gingerbeardman commented on #1953
I was thinking more of simple validation against the platform man pages. That is after all how I check and confirm the correct options when I encounter this issue.

Anyway, regardless of how they are verified, it remains that they do need to be.

[2018-01-30 03:35] agnivade commented on #1953
Is there an API or something through which man page options can be retrieved in a consumable format ?

[2018-01-30 17:31] gingerbeardman commented on #1953
Well you can do it easily on the command line?

`man find | egrep '^\s{5}\-' | grep -v ','`

this took me a couple of minutes to arrive at.

[2018-01-30 17:48] gingerbeardman commented on #1953
Another thought would be to run each command with `--help`, `-H`, `--?` or similar.

`find -H`

[code]

[2018-01-30 17:54] gingerbeardman commented on #1070
Some related discussion here: https://github.com/tldr-pages/tldr/issues/1953

[2018-01-30 17:57] agnivade commented on #1953
A bit hackish for my taste. But certainly better than nothing.

Anyone welcome to take a stab at this.

[2018-01-30 19:47] colinmorris opened #1960 "Rename "common" directory to "unix"?"
According to comments on #1930, pages listed under `common/` must be available (natively) on all platforms, including Windows.

"For historical reasons" (presumably the fact that [the Windows platform was added fairly recently](https://github.com/tldr-pages/tldr/issues/1579)), the commands currently under `common/` don't all meet that requirement.

In fact, if someone did clean up `common/` to enf

[2018-01-30 21:06] pxgamer commented on #1960
I slightly disagree with renaming it due to the massive backwards compatibility issue. I do think though that there could be a `unix-common` directory (which has been mentioned before by @agnivade).

A lot of the commands in `common` I know run on Windows. More than just `whoami`. :thinking:

[2018-01-30 21:15] waldyrious commented on #1953
Using `--help` will probably produce lots of false negatives since that option usually presents only a summary of the available options. Parsing the manpage is more likely to result in a complete list. I did some experiments locally, and found the following combination to produce good results:

    man find | grep -Poi ' -[a-z-]+' | tr -d ' ' | sort | uniq

As @agnivade says, it would be nicer if

[2018-01-30 21:26] gingerbeardman commented on #1953
case in point, your modified command does not work on macOS because grep is different (I used egrep so it would work for everybody).

let me think on it some more, as well as your query in my old PR/issue.

[2018-01-30 21:28] waldyrious commented on #1953
Good point. I used egrep because your option didn't work at first in _my_ machine! 😆

How about `man find | egrep -oi ' -[a-z-]+' | tr -d ' ' | sort | uniq`?

[2018-01-30 21:34] gingerbeardman commented on #1953
it was probably the {5} leading spaces (specific to find and macOS, no doubt)

`man find | egrep -oi ' -[a-z-]+' | tr -d ' ' | sort | uniq`

gives me this, incomplete list

[code]

this modified version captures them all plus a couple of false positives

`man find | egrep -oi " -[^,.'|.]+?\s" | tr -d ' ' | sort | uniq`

[code]

[2018-01-30 21:35] colinmorris commented on #1960
What's the backwards compatibility issue?

Could you give some examples? Just curious - like I said, I'm not very familiar with Windows.

[2018-01-30 21:51] gingerbeardman commented on #1953
`man find | egrep -oi " {2,}-[^,.'|.]+?\s" | tr -d ' ' | sort | uniq`

this grabs all bar two types on macOS:

1. argument on it's own directly followed by a new line
2. argument with underscores in name

sadly i've no more time right now to get improve it

[code]

[2018-01-30 21:59] pxgamer commented on #1960
Most clients use the `common` directory as the common location for finding pages. Suddenly renaming it would probably break quite a few of them. I guess the other thing would be that a lot of them do work on Windows, and therefore wouldn't be available on Windows clients without specifying `--os unix`.

Regarding the commands that run on Windows, there are a load of compilers (clang, cmake, make),

[2018-01-30 22:10] colinmorris commented on #1960
I don't know what the canonical definition of "available natively on Windows" is, but I don't think the one you're working with agrees with the one the commenters on #1930 had in mind. That PR added a page for `case`, which is an sh/bash keyword. If those shells were counted as available on Windows, there wouldn't have been a problem including it in `common/`.

[2018-01-30 22:14] pxgamer commented on #1960
Fair enough. :+1:

I don't use the shells though. Only pure `cmd`. `case` isn't available through cmd. But executables are. I'm sure others can discuss this in a better way than me. :smile:

[2018-01-31 03:38] agnivade commented on #1960
The definition is not "natively" available on windows. Then we wouldn't have any "installable" tools anywhere in our repo. :smile:  Anything that you can "install" or "compile and run" in Windows is fair game. Can you install bash in windows ? If yes, then sure `case` can be added. If not, then no.

Renaming `common` to `unix` will break conventions. We _need_ to have a folder common to all platfo

[2018-01-31 05:16] rowanfreeman commented on #1664
The Gulp CLI has pretty limited features. I feel like it's mostly covered at the moment.

Is there anything else that needs to be listed?

Does tldr deal with example config files (which is mostly what Gulp is about)?

[2018-01-31 06:15] agnivade commented on #1664
Even a single example will be okay. For eg. look at the webpack page. Webpack is also mostly about config files, but we mention minimal examples.

[2018-01-31 07:24] jsonbruce opened #1961 "[RFC] Include additional Information about the command in Pull Request Template"
There are so many softwares and commands in our computer, we don't know how to distinguish some confused commands sometimes.
I think we need more Information about a new command when we review.

So, I suggest we can add additional Information in the [Pull Request Template](https://github.com/tldr-pages/tldr/blob/master/.github/PULL_REQUEST_TEMPLATE.md).
Needed Information like below:

- Official P

[2018-01-31 10:02] pxgamer commented on #1961
I agree that this is often confusing, such as when binary names are shared between different processes or for some very vague commands.

When you asked on #1958 about whether it's for the `standard/standard` Node package, I also thought about this sort of addition to the pull request template. But I also thought I may have just added the link myself, as in a PR, it's not always required (such as p

[2018-01-31 10:25] Majestcx opened #1962 "One command missing"
There is no page for "uname" command, you could create it?

[2018-01-31 11:48] agnivade commented on #1962
It already exists.

[code]

[2018-01-31 15:30] agnivade commented on #1961
Good idea. I like it. I usually do the work of googling the tool myself and looking for the man page. But a link to the official documentation will certainly help.

[2018-01-31 21:03] colinmorris opened #1965 "Criteria for supported platforms should be documented in contributing guidelines"
Forking this as a separate issue off #1960 (/#1930).

When creating a new command, it's not always clear what `pages` subdirectory(s) it should go in.

I think it's especially tricky to judge whether a command is considered to run on Windows. Since it has almost no native commands that overlap with those on the other (unix-based) OSes, but it does have various ways to run many of them via ports, e

[2018-01-31 21:12] colinmorris commented on #1960
Okay, I was just quoting @sbrl's comment on #1930. I don't know if they're working under a different definition or if they just misspoke. Either way, I think this is a good indication that this should be documented somewhere (probably under the contributor guidelines?). I opened an issue for this here: #1965.

As for the original renaming proposal, I just noticed it's basically a dupe of #1868, so

[2018-01-31 21:12] #1960 closed

[2018-02-01 00:36] gingerbeardman commented on #1960
Interesting discussion and some overlap with my issue https://github.com/tldr-pages/tldr/issues/1953

whilst `unix-common` is a noble idea, I do not think it will work for the simple reason that whilst commands of the same name exist across unix platforms the majority of them have different arguments across platforms.

example: synopses for find (i know these don't list all arguments but it demons

[2018-02-01 00:58] gingerbeardman commented on #1950
@stephane-archer if you read that page you have to specify your platform 'osx/fsck' or 'linux/fsck'

https://tldr.ostera.io/osx/fsck

[2018-02-01 01:27] gingerbeardman opened #1966 "Big reorganisation needed"
For those that aren't aware [the tldr project was originally created for just macOS X commands](https://github.com/tldr-pages/tldr/tree/93444b4d839df511da00a33657d5ad3e57dc7179). since then other platforms have been added: linux, sunOS and most recently Windows. as well as the "common" folder.

IMHO the introduction of `common` was a mistake and now we are all suffering because of it. whilst comma

[2018-02-01 01:28] gingerbeardman commented on #1960
Also see https://github.com/tldr-pages/tldr/issues/1966

[2018-02-01 02:50] agnivade commented on #1965
@waldyrious - Do you want to take this up ?

[2018-02-01 13:17] waldyrious commented on #1953
Ah, that makes sense. Using `\s+` rather than `\s{5}` (in the first command line you proposed) now does produce some output, buy also captures content that comes after the actual option names (this is irrelevant since we've evolved the command since then -- I'm just mentioning this for the record)

That's ok (this is all volunteer work after all). We already made some progress here, and anyone who

[2018-02-01 13:34] gingerbeardman commented on #1960
@colinmorris I agree with you 100% - bravo!

[2018-02-01 15:34] agnivade commented on #1488
Closing this now as GCI is over.

[2018-02-01 15:34] #1488 closed

[2018-02-01 15:39] agnivade commented on #1070
This has been pending too long ! I will go on vacation soon, I promise to work on this during that time !

[2018-02-01 15:40] gingerbeardman commented on #1070
Enjoy your vacation! If the two coincide, then so be it 👍

[2018-02-01 16:18] waldyrious commented on #1961
Agreed, that's a good point. We [already recommend this](https://raw.githubusercontent.com/tldr-pages/tldr/master/.github/ISSUE_TEMPLATE.md) for the issues asking for new commands, but many people go straight to propose a PR so they might miss that.

My only concern that the PR template is already white verbose. We run the risk of people simply ignoring it if it looks too much like a wall of text.

[2018-02-01 16:30] waldyrious commented on #1965
I'd be happy to add the note to the docs, and I agree that this is a problem. But do we have a "canonical, consensus definition written down somewhere for what it means for command X to run on platform Y"? I believe the main issue here is to reach that consensus -- writing it down is the easy part. :)

So with that said, does anyone want to make a proposal we could discuss/refine?

[2018-02-01 17:15] NargiT commented on #1966
+1

[2018-02-01 17:21] agnivade commented on #1965
The primary problem is with windows. Since there are bash emulators and then you have things like cygwin. We just need to draw a hard line on what is and what is not permissible by the definition.

Just my thinking.

[2018-02-02 08:15] jsonbruce commented on #1961
Yeah, Thanks for your responses. Considering this point, I think we can make the PR template structured like below:

---

## Basic Check

- [ ] The page (if new), does not already exist in the repo.

- [ ] The page (if new), has been added to the correct platform folder:
      `common/` if it's common to all platforms, `linux/` if it's Linux-specific, and so on.

- [ ] The page has 8 or fewer exam

[2018-02-02 17:31] pxgamer commented on #1922
I'd agree with @agnivade on this. `man` is both 1 character shorter to type, and doesn't require additional bulk in the clients.

Unless you are meaning that you've aliased `man = tldr`. In which case, I'm not sure what would be the best option.

[2018-02-02 17:35] pxgamer commented on #1649
Looks like this has been added in #1954.

[2018-02-02 17:35] #1649 closed

[2018-02-02 23:02] waldyrious commented on #1961
It looks fine rendered, but this is what a contributor will see filling up the text field immediately as they open a PR:

[code]

(For reference, here's the current text of the template:

[code]

To be honest, both look kinda bulky, but the new one even more so. Are we sure we won't be putting people off with too much red tape?

I'd rather look into ways to automate some of those checks (e.g. the

[2018-02-02 23:24] waldyrious commented on #1966
What are your thoughts on #190?

[2018-02-02 23:30] waldyrious commented on #1965
I'm not sure I'm convinced that the common folder should be for commands that are available (installable? compilable? runnable?) on all platforms. For one, the list of platforms we cover is not exhaustive and can always expand as long as people are up to contribute the content.

More importantly, unless we're going for "native" or "traditionally available" definitions, technically pretty much all

[2018-02-02 23:53] gingerbeardman commented on #1966
@waldyrious my thoughts are that a flat structure is a better approach. crazy that that issue is 4 years old!

Another thought I had would be for "us" to implement updates to each client to ensure all clients are onboard with any new structure from day one.

[2018-02-03 03:57] agnivade commented on #1961
Agree. The 8 examples limit can be easily done if we shift to @pepa65's validator.

[2018-02-03 10:32] sbrl commented on #1962
Which client are you using, @Majestcx?

[2018-02-03 11:01] sbrl commented on #1961
We might even be able to automate the checking of whether the command exists already via a new linter.

[2018-02-03 12:13] jsonbruce commented on #1961
Yes, exactly. I think we can perform below basic checks by automatic tools like @tldr-bot with Travis CI.

-  The page (if new), does not already exist in the repo.

-  The page has 8 or fewer examples.

-  The PR is appropriately titled:
      `<command name>: add page` for new pages, or `<command name>: <description of changes>` for pages being edited.

[2018-02-03 12:52] jsonbruce commented on #1961
I think it's time to enhance our [tldr-lint](https://github.com/tldr-pages/tldr-lint) tool first.

[2018-02-03 13:03] waldyrious commented on #1961
Ok, so shall we repurpose this issue to be about implementing those automated checks?

[2018-02-03 13:25] jsonbruce commented on #1961
Agree. But I think we can do this two things at the same time.

- Enhance PR Template as there'll be new PRs before we completed the enhancement of `tldr`
- Implement these new features in `tldr-lint` at the same time

After implementing enhanced `tldr-lint`, we can update PR Template by removing the three basic checks which implemented by `tldr-lint`.

How do you think about that?

[2018-02-03 14:43] waldyrious commented on #1966
I was asking more in the lines of whether you see any overlap in that issue and this one.

(As for the clients, yes, that's always been our policy: we tend to make sure client authors are at least aware of upcoming changes, and give them ample time to adapt if they need so.)

[2018-02-03 15:06] waldyrious commented on #1961
Again, my main fear is that adding more stuff to the PR message would push it to (ironically enough!) TL;DR territory. Don't you think the text block above is too large?

[2018-02-03 15:10] gingerbeardman commented on #1966
Yes 190 is just what I think is needed.

With regards to clients, what I meant is that we make the code changes ans submit PRs in those projects in the clients we use as part of of this endeavor. So the client authors simply have to merge and release.

For example, I use the MacOS shell client, and the Dash docset client. I would be happy to make the changes needed for those clients to meet any ne

[2018-02-03 15:43] pxgamer commented on #1961
I think it's a bit too large. I tested it on my latest PRs, but I think if we could cut out some of the checks (possibly by automating them) this may be easier to update.

Perhaps the linter can check for the number of lines starting with a `-` or something. But I don't know. :+1:

[2018-02-04 14:36] #1924 closed

[2018-02-04 17:01] pepa65 commented on #1961
I am happy to work on enhancing my linter if you'd like to use it, but the requirements aren't entirely clear at this point. Would we want different return codes for particular conditions?

[2018-02-04 17:11] agnivade commented on #1961
The return code will be same- which is 1 for error, 0 for success. You just need to print additional error messages for the new checks.

To start off with, would you like a send a PR adding your linter to the repo and changing the travis test from running tldr-lint to your script ? It already has the check for 8 examples, so that's one less item we can tick off the list right away !

[2018-02-04 18:12] pepa65 commented on #1961
I can't find the travis test, and I my availability is going to be low the coming week,

[2018-02-04 19:59] agnivade commented on #1961
I will take care of it. Thanks.

[2018-02-04 20:57] notpeter commented on #1966
Hi folks,

First, let's not hold any misconceptions, we can go to great lengths to smooth the transition (updating clients, etc) but I don't see how this can be done without impacting existing installed clients.  An old client will always expect an interface (pages/common & pages/platform) which this repo will no longer provide. So at that point those old clients will cease to function. This is ok

[2018-02-04 21:16] gingerbeardman commented on #1966
Superb summary and proposal. I agree with almost all of it.

The only thing I am a little unsure about is how to handle `devfsadm` in your example. I'm not 100% convinced it should be added without the platform qualifier.

Anyway, some further thoughts...

I wonder if the client could scan all the template locations and present the correct one, but let the user know that others exist? For example,

[2018-02-05 05:43] notpeter commented on #1966
I took a stab at it flattening: [notpeter/tldr#uncommon](https://github.com/notpeter/tldr/tree/uncommon/pages)
[code]

With this no platform page gets promoted (ncat.linux.md, devfsadm.sunos.md, etc). That can be handled in its own PR.

Someone wanna take a stab at altering a client so it could consume [notpeter/tldr#uncommon](https://github.com/notpeter/tldr/tree/uncommon/) or a similarly re-org'

[2018-02-05 09:49] gingerbeardman commented on #1966
I'll modify the MacOS shell client today

[2018-02-06 12:21] #1596 closed

[2018-02-06 18:28] sbrl commented on #1965
Personally, I like the ideas presented in #190. Would that solve this issue too? What do you think, @colinmorris?

[2018-02-06 18:44] colinmorris commented on #1965
That's an interesting proposal, but I don't think it eliminates the problem described here, because it still entails making decisions about which commands are supported by which platforms. e.g. in order to judge whether `${foo}.osx.md` should exist. It also talks about putting platform constraints in the pages. e.g.

[2018-02-06 20:33] chamini2 commented on #190
I like @ibnesayeed's idea. Kind of like brew taps?

[2018-02-06 20:58] chamini2 commented on #1966
What about making symbolic links for backwards compatibility?

[code]

This could give chance for the clients to adapt, then we could give some time of backwards compatibility, and finally erase the old directories.

[2018-02-07 10:21] gingerbeardman commented on #1966
@chamini2 good idea, Windows support proves to be a sticking point though?

[2018-02-07 16:40] sbrl commented on #1966
Regarding symlinks, check out #787. I think a PR needs to be made against the node client to support them.

[2018-02-09 09:56] #1663 closed

[2018-02-11 21:34] TheYahya opened #1987 "page request: terminator"
[Terminator](https://linux.die.net/man/1/terminator) - Multiple GNOME terminals in one window

[2018-02-12 22:03] sbrl commented on #1987
Thanks for requesting this page, @TheYahya! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2018-02-13 04:04] TheYahya commented on #1987
Hi @sbrl ,  sure, I will send a PR. ^_^

[2018-02-14 13:18] agnivade commented on #1962
Try - https://tldr.ostera.io/osx/uname or https://tldr.ostera.io/linux/uname

[2018-02-14 13:18] #1962 closed

[2018-02-14 19:57] #1987 closed

[2018-02-14 19:59] sbrl commented on #1962
Perhaps a bug could be filed against tldr-pages/tldr-pages.github.io, @Majestcx?

[2018-02-15 03:49] agnivade commented on #1962
This is a bug in the web client, not the github pages repo. You should file a bug here - https://github.com/ostera/tldr.jsx/

[2018-02-15 09:56] sbrl commented on #1962
Ah, thanks, @agnivade! I had difficulty locating the repo for the web client.

[2018-02-20 17:43] pxgamer commented on #1664
It looks like this already exists?
https://github.com/tldr-pages/tldr/blob/master/pages/common/gulp.md

Unless you're looking to add additional examples. If so, Gulp v4 now adds some actual flags:
https://github.com/gulpjs/gulp-cli#flags

[2018-02-22 21:19] #1685 closed

[2018-02-26 20:37] grzkv opened #2010 "page request: systemctl"
Would be nice to have a page for *systemctl*. Cheers!

[2018-02-27 03:11] agnivade commented on #2010
It's present - https://github.com/tldr-pages/tldr/blob/master/pages/linux/systemctl.md

[2018-02-27 05:31] agnivade commented on #1922
@viztor - Let me know your thoughts on this.

[2018-02-27 05:33] agnivade commented on #1961
ping @pepa65

[2018-02-27 05:33] agnivade commented on #1664
Yep. Closing it.

[2018-02-27 05:33] #1664 closed

[2018-02-27 05:39] pepa65 commented on #1961
Sorry, my linter only checks for the new syntax.

[2018-02-27 05:46] agnivade commented on #1961
Ah, okay. Then I guess it is up for grabs for anyone who is willing to revamp the linter. :smile: There is also another tangential thread to convert the pages to the new syntax. I have not seen any concrete progress on that front though. But I am fine with whichever happens first.

[2018-02-27 05:51] pepa65 commented on #1961
Isn't the conversion just:
[code]

[2018-02-27 05:53] agnivade commented on #1961
Are you saying the linter should convert the pages to the new syntax and then do the check ?

[2018-02-27 05:56] pepa65 commented on #1961
Didn't mean to say that. I was responding to your:

[2018-02-27 06:01] agnivade commented on #1961
Ah ok. Yes, it's not a technical matter. It's a matter of a slow transition to ensure we do not break user's clients and everybody has a chance to upgrade their clients before we start serving new pages.

[2018-02-27 06:13] pepa65 commented on #1961
Wasn't the idea to keep making the old format available while starting to serve the new pages?

[2018-02-27 07:03] agnivade commented on #1961
Yes. Anyone is welcome to take it up.

[2018-03-07 17:22] kevin91liu opened #2018 "page request: gitk"
I haven't used it before, but here's a link to the docs:
https://git-scm.com/docs/gitk

[2018-03-07 17:51] agnivade commented on #2018
https://github.com/tldr-pages/tldr/blob/master/pages/linux/gitk.md

[2018-03-07 18:24] kevin91liu commented on #2018
I'm on OSX.

[code]

Maybe this is because `gitk.md` only exists in the `linux` directory and should instead be put in the [common](https://github.com/tldr-pages/tldr/tree/master/pages/common) directory?

[2018-03-07 19:15] agnivade commented on #2018
You have to pass the os flag to get an os specific page - `tldr --os=linux gitk`.

Can you send a PR moving the file to common ?

[2018-03-07 19:53] kevin91liu commented on #2018
Sure: https://github.com/tldr-pages/tldr/pull/2019

[2018-03-08 12:07] pxgamer commented on #2018
Closed in #2019. Thanks @kevin91liu.

[2018-03-08 12:07] #2018 closed

[2018-03-19 18:33] #1660 closed

[2018-03-31 12:43] driftcrow opened #2051 "support private page repo"
I don't know tldr whether support private page repo. sometimes I want create page
but content is private or not important for others, then can't be merged into
the library.

[2018-03-31 13:35] agnivade commented on #2051
This is the repo for the pages. You need to raise the issue in the repo of the client you are using.

[2018-03-31 14:30] driftcrow commented on #2051
Ok，I know , thanks

[2018-03-31 14:30] #2051 closed

[2018-04-03 11:27] nwochaadim opened #2053 "page request: rvm"
[RVM](https://rvm.io/) is a command-line tool which allows you to easily install, manage, and work with multiple ruby environments from interpreters to sets of gems.

[2018-04-05 11:24] grafuls opened #2056 "page request: ldapsearch"
ldapsearch command can be pretty complex, would be nice to see this here.
https://linux.die.net/man/1/ldapsearch

[2018-04-05 15:34] sbrl commented on #2056
Thanks for requesting this page, @grafuls! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2018-04-07 10:55] #2053 closed

[2018-04-08 04:08] itsjzt commented on #1678
Hey, did @rachelkelly not copied and pasted the same command in OS X section, can I do it

[2018-04-08 04:11] agnivade commented on #1678
Go ahead.

[2018-04-09 06:09] #1678 closed

[2018-04-09 12:43] Zminghua opened #2062 "Error output in python virtualenv environment"
I install tldr with command 'npm install -g tldr', everything is fine with tldr.
then i enter the python virtualenv environment,
when i typed 'tldr tar', i got the following ouptut:

Usage: tldr [OPTIONS] COMMAND [ARGS]...

Error: No such command "tar".

[2018-04-09 12:52] #2062 closed

[2018-04-10 09:51] sbrl commented on #2062
Hey there, @Zminghua! If you're still experiencing issues, I'd recommend heading over to the repository of the python client and submitting an issue there, as this repository is only for the pages themselves.

Thanks! :-)

[2018-04-11 15:14] chamini2 opened #2065 "page request: mail"
`man mail`

[2018-04-11 16:54] chamini2 commented on #2065
When I do `man mail` I get

*****

I do not know how to use it well! I was surprised that it wasn't in tldr already.

[2018-04-11 17:01] pxgamer commented on #2065
Looks like it's different across different Linux distros. :thinking:

[2018-04-11 18:04] willthemoor opened #2066 "history: add expansion commands"
These aren't specific single commands but it's one of those things I find myself looking up. How to get the last argument used, re-running the last command starting with X, etc.

~Since it's not a specific command, I'm not sure 1) if it's out of scope for this project and/or 2) what to use as a trigger (`tldr history`?).~ Edit: missed the existing file.

Not sure if there's value in having both a

[2018-04-11 18:14] agnivade commented on #2066
We already have https://github.com/tldr-pages/tldr/blob/master/pages/common/history.md. Are you referring to something else ?

[2018-04-11 19:44] willthemoor commented on #2066
Oops, I missed that one, sorry @agnivade. Will edit the title.

I guess the updated question is: is it worth updating that with history expansion commands? Or a new, separate history-expansion.md?

[2018-04-11 20:17] sbrl commented on #2065
Looks like we already have a page for that, @chamini2! It's under `mailx` - one of that particular `mail` command's aliases.

[2018-04-11 20:41] agnivade commented on #2066
Yes, feel free to add to the page.

[2018-04-12 16:39] #1862 closed

[2018-04-12 16:44] ahmetb commented on #1862
this doesn't show up on my tldr setup even after updating through --update. I'm using zsh on macOS. I have the gnu gettext package, so I should be able to use it. Any ideas why it's not showing up on macOS?

[2018-04-12 23:18] eviatarbach opened #2068 "page requests: Slurm commands"
Slurm is a job scheduler widely used on supercomputers. There are a few commands used to interface with it that I think it would be useful to add to tldr: https://slurm.schedmd.com/man_index.html, https://slurm.schedmd.com/pdfs/summary.pdf

Commands:

- [x] [`sacct`](https://slurm.schedmd.com/sacct.html) (displays accounting data for all jobs and job steps in the Slurm job accounting log or Slurm

[2018-04-13 22:12] sbrl commented on #1862
@ahmetb Hrm. Sometimes it can take a day or two for it to come through. What client are you using?

[2018-04-13 22:17] sbrl commented on #2068
Thanks for requesting this page, @eviatarbach! It sounds like it would be a great addition to tldr-pages. Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here.

[2018-04-14 16:04] chamini2 commented on #2065
Cool, thanks! Maybe an alias in tldr would be good?

[2018-04-14 16:04] #2065 closed

[2018-04-15 15:40] sbrl commented on #2065
No problem, @chamini2 :-)

If you're interested in alias support, head on over to issue #787!

[2018-04-17 19:38] #937 closed

[2018-04-18 17:08] ahmetb opened #2076 "page request: shuf"
shuf comes with gnu coreutils or something like that.

It can be installed both on Mac and Linux.

[2018-04-26 13:49] macleginn opened #2081 "split: -C option invalid on OSX"
`-C` is an illegal option for the `split` command on OSX. Only `-b` for byte count is provided.

Moreover, the formulation `Split a file with at most 512 bytes of lines in each split` is a bit opaque. Perhaps change to `Split a file with at most 512 bytes in each split without breaking lines`?

[2018-04-26 13:59] agnivade commented on #2081
A PR is most welcome !

[2018-04-30 07:55] #2081 closed

[2018-05-07 18:35] saatchimatt opened #2103 "Feature request: A brief history"
In the tar example in the readme, it shows that the first man page argument deals with tape drives, which these days for majority of people using it is definitely useless. But it may be helpful to include a brief history on each command, like for tar - it could be something like: History: the command tar is derived from Tape Archive and was originally created to write data to tape drives.

Just cu

[2018-05-07 18:54] agnivade commented on #2103
I don't think it will be useful. The spirit of this project is to be short and to the point, aka tldr. We deliberately limit the no. of examples in each page to be 8 just for this reason. Adding a separate section on the history of a command goes against that idea.

Plus, we need to add a new section to display the history. This needs to be implemented by all clients. At this point, it is a non-tr

[2018-05-10 19:51] #646 closed

[2018-05-12 12:09] cryptozeny opened #2109 "color highlighting"
tldr is working, but `color highlighting` is not work as advertised...

[code]

![ADVERTISED...](https://github.com/tldr-pages/tldr/blob/master/screenshot.png)

this command is working, however how to set this theme to default?
[code]

[2018-05-12 13:18] agnivade commented on #2109
See this - https://github.com/tldr-pages/tldr-node-client#configuration.

This is the repo for the pages. If you still face issues - please file an issue on the tldr-node-client repo.

Thanks.

[2018-05-12 13:18] #2109 closed

[2018-05-20 20:14] pshirshov commented on #646
Eh, actually I meant an ebuild available to use but this is fine too, lol.

[2018-05-21 15:03] SpartakusMd commented on #1071
@sbrl who does have this type of access ? Maybe he is willing to give access to the data in order to aggregate it, no ? As you are in the team could you contact the main developers in order to move this further ?

[2018-05-21 20:09] sbrl commented on #646
What do you mean "an ebuild available to use", @pshirshov?

[2018-05-21 20:12] sbrl commented on #1071
I don't currently know any more than you do about this "MixPanel" thing, @SpartakusMd, and while I assume that @ostera is the one responsible for it, I don't have any other way to contact them other than via GitHub or [Gitter](https://gitter.im/tldr-pages/tldr). To that end, I'm happy to take a look as I've said, but I can't if I can't get hold of anyone with access.

[2018-05-21 23:27] pshirshov commented on #646
Ah, an ebuild in overlay or in the main tree, ehm.

[2018-05-22 05:03] ptzz opened #2119 "fswatch command does not work for OS X"
This does nothing for me on macOS X with `fswatch` version 1.11.3. For anything to happen, I need to add either `-n1` or `-I{}` to the `xargs` command.

In the example with xargs at https://github.com/emcrisostomo/fswatch, `-n1 -I{}` are passed to xargs.

[2018-05-22 18:30] sbrl commented on #646
Ah, I think I see. I've done some research, and ebuild appears to be a bit like Arch's AUR I think?

To that end, are you asking for a tldr client available via ebuild, @pshirshov?

[2018-05-22 18:31] sbrl commented on #2119
Hey, good spot! Thanks for flagging this. Would you like to have a go at editing it yourself?

Pages are best edited by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of editing a page. Then, just simply send a pull request to this repository -

[2018-05-22 20:12] pshirshov commented on #646
Yup for both questions. Yes, it's similar to aur, yes I've been asking exactly for that :)

[2018-05-23 15:38] sbrl commented on #646
Ah, ok! This is the repo for just the pages. If you'd like an ebuild package for tldr-pages, you should probably ask in the repository for one of the clients listed in the readme.

[2018-05-23 17:12] josephmcasey opened #2124 "page request: ls"
[Based on an answer provided in this Linux StackExchange conversation](https://unix.stackexchange.com/questions/70614/how-to-output-only-file-names-with-spaces-in-ls-al
), It seems like showing people how to list only the files is particularly useful for anyone planning on using the pipe operator with xargs.

- Lists only file names with one file name per line
`ls -A1`

[2018-05-23 19:06] agnivade commented on #2124
@josephmcasey - Thank you for raising the issue.

With tldr pages, we do not aim to provide all possible usages of a command. We just try to focus on the most useful ones that people will use.

Given this scenario, we already have `ls -1` and `ls -a`. So an user can already construct `ls -a1`. I think this is as far as we should go. The `-A` option is rare and I don't think that should be in a tld

[2018-05-23 19:07] agnivade commented on #2103
@saatchimatt - I am going to close the issue. Feel free to raise a new issue if you have other ideas like these. Thanks !

[2018-05-23 19:07] #2103 closed

[2018-05-23 21:32] sbrl commented on #2124
Hrm, I have `-A` in my various ls aliases, actually. I find the listing of `.` and `..` to be rather annoying. I've vote for changing `-a` to `-A`, actually.

[2018-05-24 03:42] agnivade commented on #2124
ping @CBrowne , @notpeter for more opinions.

[2018-05-24 05:46] #2119 closed

[2018-05-25 06:57] pxgamer commented on #2124
I think this is kind of an interesting point. I've never used `-A`, but it seems like possibly a better option despite seemingly being used less frequently.

I guess the only place without `..` would be `/`? And `.` is always going to exist. :thinking:

Personally I'd vote to stick with `-a`, solely because I prefer listing everything, no matter whether they are semi-useless in a lot of cases.

[2018-05-25 09:06] sbrl commented on #2124
@pxgamer You'd think so, but apparently `/` has a `..` too O.o

Especially when automating things, I feel that `.` and `..` are kind of redundant. I know that they exist - I don't need `ls` to tell me - and technically are _aren't_ actually files in the directory I've invoked `ls` in anyway....

[2018-05-25 10:19] pxgamer commented on #2124
@sbrl, well that's really weird. :joy:

True about your point with automation, if they always exist then you are right about them being virtually redundant, so maybe I'll change my stance to `-A` lol

[2018-05-25 19:12] agnivade commented on #2124
The .. at `/` points to itself. Both the single dot(.) and double dots(..) are bread and butter for command line users. I would rather have tldr show full output than hide it for brevity.

[2018-05-25 19:58] sbrl commented on #2124
Huh, I guess it's down to personal taste, then - I don't find myself using it personally - and I spend quite a bit of time in a terminal.

[2018-05-25 22:02] notpeter commented on #2124
I don't have a strong preference, obviously `ls -la` or `ls -a` are the much more common incantations for most of us, but I'd actually be for `ls -A` replacing `ls -a` because life without seeing `.` and `..` is just better.

Note: there's no need to use `ls -A1` with pipelines, ls detects when stdout is a pipe and automatically puts one entry per line. (ls is fancy like that)

[2018-05-26 03:32] agnivade commented on #2124
Ok, as I see this, the arguments for removing `.` and `..` are just that it looks better. @sbrl - Surely you would use `..` to `cd` to a parent directory ? :smile:

Keeping newbies in mind, who are yet to understand the relevance of `.` and `..`, I would rather keep it and let people understand the significance of them.

If there are no further objections, let us end the discussion and close this

[2018-05-26 10:48] sbrl commented on #2124
Yeah, I do use `cd ..` (actually I have a set of aliases: `..`, `...`, `....`, etc.) - but personally I found it very confusing as to why `.` and `..` were appearing in a list of items in a directory (why would a directory and it's parent be inside said directory? It makes no sense!). To this day I'm still unsure as to why that is - I assume it's an implementation detail or something?

We may as w

[2018-05-26 11:21] agnivade commented on #2124
Those are just entries to the current and parent directory. Don't think of them as items containing inside a directory. Rather, as places you can go from the directory.

Does that make sense ?

[2018-05-28 13:55] lamar-frankie commented on #2056
I'd like to claim this issue. If @grafuls hasn't started working on it.

[2018-05-28 13:56] lamar-frankie commented on #1603
I would like to claim this issue.

[2018-05-28 14:47] agnivade commented on #1603
Feel free to go ahead.

[2018-05-29 06:44] grafuls commented on #2056
@lamar-frankie I haven't got the time to get to it, all yours.

[2018-05-29 09:42] ldorigo opened #2130 "page request: kext* utilities (macOS)"
`kextload`, `kextunload`, `kextfind`, `kextlibs`, `kextstat`, `kextutil` are all command line utilities used to manage Kernel Extensions on macOS. They are all missing from tldr!

- [ ] `kextload`
- [ ] `kextunload`
- [ ] `kextfind`
- [ ] `kextlibs`
- [ ] `kextstat`
- [ ] `kextutil`

[2018-05-29 13:58] sbrl commented on #2130
Thanks for requesting these pages! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you n

[2018-06-12 09:48] SanjanaSunil opened #2142 "page request: nl"
Command to number lines of a file.

Refer:
http://man7.org/linux/man-pages/man1/nl.1.html
https://linux.die.net/man/1/nl

[2018-06-12 09:50] agnivade commented on #2142
We already have a page for `nl`. Are you facing any issues seeing it ?

[2018-06-12 09:51] agnivade commented on #2124
@sbrl - Just checking whether you are good with this.

[2018-06-12 09:51] SanjanaSunil commented on #2142
I was facing issues facing it - but searched and have found it. Thank you and sorry!

[2018-06-12 09:52] agnivade commented on #2142
No probs.

[2018-06-12 09:52] #2142 closed

[2018-06-12 22:59] sbrl commented on #2124
@agnivade Ah, thanks for the reminder! Between final exams and finishing up at University, this must have slipped though the net. Yeah, I'm ok with this :smiley_cat:

[2018-06-12 22:59] #2124 closed

[2018-06-12 23:01] sbrl commented on #2142
@agnivade It seems like we have several issues like this. I assume it's to do with platform-specific pages not displaying on other platforms (e.g. on Windows a `linux` page doesn't show if there isn't one registered in `windows`)? It's client-specific thing, but I was wondering if there's any specific client to blame for this. Perhaps if it could be tracked down, then I could take a look at improv

[2018-06-13 03:57] agnivade commented on #2142
Yea .. maybe the client can point out that the page you are looking for exists for another platform. @SanjanaSunil - what was the issue that you were facing ?

[2018-06-13 04:47] SanjanaSunil commented on #2142
@agnivade The issue is similar to what @sbrl mentioned - platform-specific pages. I was looking at a platform different from the one I was supposed to. Improving the documentation would help this.

[2018-06-13 05:12] agnivade commented on #2142
Which client were you using ?

[2018-06-22 00:35] nbulischeck opened #2151 "Addition of libc functions?"
It's a rather large undertaking and may not be one suited for the goals of the project, but would the developers accept a PR that contained `tl;dr`'s of libc functions? I commonly find myself needing a quick reference to libc functions more often than I do `tar` and friends.

For example:

# free

- Prototype:

`void free(void *ptr);`

- Return Value:

`None`

- Behavior:

`The free() function fre

[2018-06-22 03:44] agnivade commented on #2151
Sorry, I'm afraid this is not the goal of this project. Feel free to fork it though and use it as you feel.

In general, we do not _just_ aim to be a cheat sheet sort of thing where you can just look up something in case you don't remember. Rather, we create pages that is helpful for the user to understand what a command does and learn its basic usage.

Also, there is a command called `free`, whic

[2018-06-22 12:19] nbulischeck commented on #2151
I'd have to say that the description is "community-driven man pages" and the libc programmer manual is a hefty part of the man pages 😉

But if it truly doesn't fit the goals of the project, feel free to close unless anyone else has some input. Thank you for your consideration!

[2018-06-22 15:41] sbrl commented on #2151
Yeah, I'm inclined to agree that this doesn't fit within the aims of this project. Although, if it were to be included, I'd suggest a separate 'platform' for libc pages. It certainly sounds like something useful to have.

I didn't even know the man pages included that kind of thing! Though to be honest, the one for `free()` doesn't look particularly useful (there aren't any examples for one), so t

[2018-06-22 16:36] agnivade commented on #2151
@sbrl - Oh yes, there is extensive documentation (including examples!) for libc functions. :smile:

[2018-06-22 16:36] #2151 closed

[2018-07-04 11:04] Mozart409 opened #2164 "page request: <nokogiri>"
https://www.rubydoc.info/github/sparklemotion/nokogiri

[2018-07-04 21:44] sbrl commented on #2164
Thanks for requesting a page on `nokogiri`, @Mozart409! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repo

[2018-07-09 10:16] chablinOne opened #2171 "未找到命令curl的tldr页面"

[2018-07-09 10:17] chablinOne opened #2172 "未找到命令curl的tldr页面"

[2018-07-09 10:31] sbrl commented on #2172
Hi, @chablinOne! Unfortunately, I don't speak that language. Running your title through Google Translate reveals that you're experiencing an issue whereby you the page for `curl` wasn't found?

It may be that your client is not showing the page as it's in a different platform. In that case, you may wish to file an issue against the repository for your tldr-pages client, as this repository is only

[2018-07-09 10:33] sbrl commented on #2171
Hello, @chablinOne! I can't' understand that language. Running it through Google translate reveals that it is the same as your other issue, #2172.

To that end, I'm closing this one to keep things tidy and organised. If you disagree, feel free to let me know, and I'll reopen this one :-)

[2018-07-09 10:33] #2171 closed

[2018-07-10 07:47] agnivade commented on #2172
@chablinOne - Could you mention the client you are using ? If you are using node client, you need to pass the platform with `--os=linux`.

[2018-07-10 19:55] daylightbrightledlight opened #2179 "page request: svgcleaner"
Command name: `svgcleaner`
Repo: https://github.com/RazrFalcon/svgcleaner
Documentation: https://github.com/RazrFalcon/svgcleaner/blob/master/docs/svgcleaner.adoc
Page:

[code]

[2018-07-10 20:20] daylightbrightledlight opened #2180 "page request: zopflipng"
Command: `zopflipng`
Repo: https://github.com/google/zopfli
Page:

[code]

[2018-07-10 20:41] daylightbrightledlight opened #2181 "page request: guetzli"
Command: `guetzli`
Repo: https://github.com/google/guetzli
Usage:
[code]

Page:

[code]

[2018-07-11 21:11] sbrl commented on #2179
Thanks for requesting this page! Have you considered opening a pull request with that page info?

If you'd like to, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository.

If you need any assistance, just ask :-)

[2018-07-11 21:13] sbrl commented on #2180
Hey, thanks for the page request! Have you considered opening a pull request for this?

If you'd like to, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you need any assistance, just ask :-)

[2018-07-11 21:15] sbrl commented on #2181
Hey, thanks for the page request! Have you considered opening a pull request for this?

If you'd like to, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you need any assistance, just ask :-)

Maybe we can also a

[2018-07-12 02:43] cclauss opened #2185 "print() is a function in Python 3"
Python 3 syntax error:
* https://github.com/cclauss/tldr/blob/master/scripts/send_to_bot.py#L16

[2018-07-12 04:00] agnivade commented on #2185
This code is run inside travis. I think travis runs in python2. Feel free to send a PR updating the `.travis.yml` to explicitly run python3 along with the new code.

[2018-07-12 05:21] itsjzt commented on #2076
hey, can I do this 😏

[2018-07-12 08:04] pxgamer commented on #2076
@itsjzt, of course 👍

[2018-07-12 17:21] sbrl commented on #2185
Updating to Python 3 is probably a good idea :P

[2018-07-13 17:11] Wesalius opened #2189 "page request: aspell"
interactive spell checker - [man page](https://linux.die.net/man/1/aspell), [git repo](https://github.com/GNUAspell/aspell)

[2018-07-14 06:15] Wesalius opened #2191 "page request: ncdu"
NCurses Disk Usage  - [man page](https://linux.die.net/man/1/ncdu)

[2018-07-14 07:22] Wesalius commented on #2191
tried to contribute myself at [this PR](https://github.com/tldr-pages/tldr/pull/2192)

[2018-07-14 07:39] Wesalius commented on #2189
tried to contribute myself at [this PR](https://github.com/tldr-pages/tldr/pull/2193)

[2018-07-14 07:58] Wesalius opened #2194 "page request: gs"
- [home page](https://www.ghostscript.com/)
- [cheat sheet](http://flukylogs.blogspot.com/2012/08/gs-ghostscript-cheat-sheet.html)

I believe I will get working on this (make a PR) in the upcoming 2 weeks, but if someone wants to pursue this in a shorter time period, go for it.

[2018-07-14 10:47] sbrl commented on #2189
Thanks for the contribution, @Wesalius! It looks great. I've left a few comments on the PR though to help bring it closer to what our other pages look like for consistency :smiley_cat:

[2018-07-14 10:53] #948 closed

[2018-07-15 05:47] felixonmars commented on #2172
I believe curl is inside the common/ folder, so no platform issues should apply.

[2018-07-15 09:32] Wesalius commented on #2194
see PR #2199

gs has a whole lot of options and I couldnt fit them into the 8 examples limit, so I added a comment section in PR hoping that the reviewers will help me out with incorporating them into the page

[2018-07-15 09:34] #2191 closed

[2018-07-15 09:34] #2189 closed

[2018-07-16 09:39] #2194 closed

[2018-07-16 22:05] Victor-IT commented on #1805
Where in the source tree can I see how many commands have already been made?
I can try to add abbreviations and create a pull request later.

[2018-07-17 04:23] agnivade commented on #1805
They are inside the pages/ folder.

[2018-07-17 07:45] #2076 closed

[2018-07-18 11:13] sbrl commented on #1805
Each folder in pages/ is a separate platform, with each file in each platform folder being for a different command.

[2018-07-20 03:43] gonejack opened #2209 "example of "at" is incorrect on macOS."
[code]

This is not working on macOS:
[code]

man of at says:

[code]

I would like to make a PR but unfortunately have no Linux machine for compatibility testing.

[2018-07-20 06:10] agnivade commented on #2209
There is a linux specific page for at.md. I think you would be modifying the one in common/. Feel free to send a PR.

IIUC, we just need to change min to minutes ?

[2018-07-20 06:27] gonejack commented on #2209
Yes, changing min to minutes will works, but not sure about other differences.

[2018-07-20 06:35] #2209 closed

[2018-07-22 07:37] Wesalius opened #2213 "List of GNU Core Utilities commands missing in tldr"
I compared [GNU Core Utilities commands list](https://en.wikipedia.org/wiki/List_of_GNU_Core_Utilities_commands) with contents of tldr/pages and found out that the following are missing from tldr:

* [x] arch
* [x] b2sum
* [x] chcon
* [x] csplit
* [x] dircolors
* [x] dirname
* [x] factor
* [x] false
* [x] fmt
* [x] groups
* [x] hostid
* [x] join
* [x] link
* [x] logname
* [x] mknod
* [x] nproc
* [

[2018-07-22 07:57] Wesalius opened #2214 "List of util-linux commands missing in tldr"
I compared [List of util-linux commands](https://en.wikipedia.org/wiki/Util-linux#Included) with contents of tldr/pages and found out that the following are missing from tldr:

* [x] addpart
* [ ] agetty
* [x] blkdiscard
* [x] blkid
* [ ] blockdev
* [x] cfdisk
* [x] chcpu
* [x] chfn
* [x] chrt → #5398
* [ ] col
* [ ] colcrt
* [x] colrm
* [x] ctrlaltdel
* [x] delpart → #11135
* [x] eject
* [ ] fdfo

[2018-07-22 22:44] sbrl commented on #2213
Hey, thanks for the list! I've edited your comment to add checkboxes. Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull reques

[2018-07-22 22:46] sbrl commented on #2214
Thanks for this list! I've updated your comment to add checkboxes. Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request t

[2018-07-22 22:47] sbrl commented on #2214
Erm `fstab` doesn't appear to be a page on my machine though.

[2018-07-23 00:24] skube opened #2216 "tldr update fails"
When I run `tldr --update`, I'm getting the following error:

[code]

If it helps, I'm using:
[code]

[2018-07-23 04:53] agnivade commented on #2216
Woops, that looks bad. I have 10.1.0 and I am unable to reproduce it though.

Anyways, this is the pages repo. Please file a new bug in the tldr-node-client repo with full information about your host environment, tldr version etc. Thanks.

[2018-07-23 04:53] #2216 closed

[2018-08-02 22:48] zbczyvgy opened #2233 "page request: systemd.directives"
systemd tldr variations are not very informative and having a tldr with examples of unit files would have been pretty nice. RHEL has a [good page](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/sect-managing_services_with_systemd-unit_files) on that topic.

[2018-08-07 16:14] sbrl commented on #2233
Hey, thanks for requesting this! Are you suggesting something like we have for `git` - where we have a page for each subcommand?

Do you want to have a go yourself? Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of cre

[2018-08-10 00:02] daylightbrightledlight commented on #2179
So from https://github.com/tldr-pages/tldr/pull/2182#pullrequestreview-136091151, @agnivade mentions that there are a couple more options. Having used the command, I know that there are way too many options to put into the tldr page.

Which options are most commonly used?

[2018-08-10 00:03] daylightbrightledlight commented on #2181
So there are many commands that are available. I'm just going to get this page started.

[2018-08-10 00:10] daylightbrightledlight commented on #2180
I've opened a PR (#2240).

[2018-08-10 07:03] agnivade commented on #2179
Since you have used the command, it is upto you to decide what options are necessary for day to day use.

If you think just 2 is fine, I am good with it. I just saw that there are lot more options, and we have space to accommodate a couple more. There is no requirement to add more options if they are not used commonly.

[2018-08-11 04:39] #1922 closed

[2018-08-21 10:19] sbrl commented on #1868
Hey! This must have slipped through the net. Yeah, I'd be all for a `unix-common`, as there are a considerable number of commands that are common to all unix-like POSIX systems that aren't the same on Windows.

[2018-08-21 14:48] #2164 closed

[2018-08-21 16:40] #2181 closed

[2018-08-23 05:12] coandco-2fa opened #2253 "Main tldr.sh site taken by a domain squatter"
http://tldr.sh currently points to a generic domain-squatting page, and the tldr datafiles don't appear to be hosted anywhere else.  Is this a known issue?

[2018-08-23 05:38] agnivade commented on #2253
Thanks. Did not know that. tldr.sh is owned by @ostera

[2018-08-23 07:27] agnivade commented on #2253
I have removed the CNAME from tldr-pages.github.io. Please give some time for DNS changes to propagate.

[2018-08-23 07:50] agnivade commented on #2253
Looks like it is propagated now. Let us keep this open until we can fix the domain.

[2018-08-23 08:08] ostera commented on #2253
Hello! I've resolved that the domain renewal didn't happen (a.k.a. I missed the emails) and it should be up and running now.

Sorry for any inconvenience it may have caused 🙌🏼

[2018-08-23 15:00] agnivade commented on #2253
@ostera - Can more than one person have access to the dns account ? It would be good to have more than one eye on it.

[2018-08-23 20:07] mflint commented on #2253
So what's the recommended URL for clients to use? My iOS app is currently broken, but I just wanna do the right thing.

[2018-08-23 22:40] MasterOdin commented on #2253
By default, both the official node and python apps download the entire repo from when it's requested (https://tldr-pages.github.io/assets/tldr.zip) and the python app will also use the raw github links when downloading individual pages. Given that the tldr.sh just CNAME to github, it's probably recommended to just use the github links themselves.

[2018-08-24 04:26] agnivade commented on #2253
The recommended url is - https://tldr-pages.github.io/assets/tldr.zip. But I have brought back the CNAME just now. Things should be back to normal in a few hours.

[2018-08-25 04:54] CottonEaster commented on #2109
I think a mention of this matter on the main github page would be a good idea. It's come up twice as an issue - for, see also #1688.

[2018-08-25 05:17] agnivade commented on #2109
That would be catering to the issue of a specific client. There are other clients in different programming languages. We want the main repo to be neutral and focused on just page content.

[2018-08-26 06:07] agnivade opened #2257 "Move @waldyrious to former maintainer"
Hi, @waldyrious ! As you know, our
[governance guidelines](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md)
define processes for keeping the list of organization members
in sync with the actual maintenance team.
Since you haven't been active in the project for a while now,
we'll be moving you to the status of former maintainer.

In practice, not much will change on your side,
since yo

[2018-08-26 06:08] agnivade opened #2258 "Add @pxgamer as org member"
Hi, @pxgamer ! After joining as a collaborator in the repository,
you have been regularly performing maintenance tasks. Thank you for that!
According to
[GOVERNANCE.md](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md),
you've now met the thresholds to be effectively considered
an active maintainer of the project.
To publicly acknowledge that fact, we'll add you to the tldr-pages organ

[2018-08-26 09:10] pxgamer commented on #2258
Thank you very much! :tada:

[2018-08-26 09:41] agnivade commented on #2258
You're welcome. Have fun !

[2018-08-26 09:41] #2258 closed

[2018-08-26 13:48] mflint commented on #2253
Follow-up question for @agnivade: `https://tldr-pages.github.io/assets/tldr.zip` gives me a 301 redirect to `http://tldr.sh/assets/tldr.zip` which, quite correctly, iOS refuses to honour.

Are there any plans to host the zip using https? (Or will I need to add a dirty http exception into my iOS app?)

[2018-08-26 17:39] agnivade commented on #2253
Hmm .. that is strange. I will have to look into github documentation. github pages just allow a CNAME to be specified. So theoretically, it should use the same protocol, given that `https://tldr.sh/assets/tldr.zip` works fine.

Do you have any off-hand knowledge on this ?

[2018-08-26 17:49] agnivade commented on #2257
@waldyrious - Looks like you have accepted the invitation. Going to close out this issue now.

Hoping to see you back as a full time member soon !

[2018-08-26 17:49] #2257 closed

[2018-08-26 17:49] waldyrious commented on #2257
Thanks for doing this, @agnivade -- it's my fault for not informing the community of my reduced availability, especially since I remained active elsewhere on github and gitter. I still have many plans for contributions I want to make to tldr-pages, so I'll definitely be returning as an active maintainer in the future.

It's been a while since I worked on the documentation, but I believe the steps

[2018-08-26 17:55] waldyrious commented on #2257
Btw @agnivade I'm not sure if this is intentional but I only got an invitation to become a collaborator of the website repo (tldr-pages.github.io). I believe the guidelines may be a little ambiguous in this respect, but the passage [here](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md#when-to-change-roles)

...doesn't apply any qualifiers to the "in the past", so I'd interpret i

[2018-08-26 19:33] daylightbrightledlight commented on #2179
I accidentally closed the PR https://github.com/tldr-pages/tldr/pull/2182. Can someone reopen it?

[2018-08-26 19:53] daylightbrightledlight commented on #824
So does this mean that this issue can be closed? I think we can close this issue now.

[2018-08-26 20:16] #2185 closed

[2018-08-26 20:27] daylightbrightledlight opened #2262 "page request: nvim"
- **Command**: `nvim`
- **Name**: Neovim
- **Website**: https://neovim.io/
- **Repo**: https://github.com/neovim/neovim
- **Comments**: So `nvim` and `vim` are very similar. I was thinking about reusing the `vim.md` page for `nvim.md`.
- **Page**:
[code]

[2018-08-26 20:30] sbrl commented on #2253
Enforcing HTTPS sounds like a good thing - and I suspect that it might fix that issue, @mflint. I've just checked, and it looks like there's a bit of a problem:

![selection_055](https://user-images.githubusercontent.com/9929737/44632645-1d714e00-a976-11e8-8ac5-3b29f6029648.png)

Upon investigation, GitHub's official [help page](https://help.github.com/articles/troubleshooting-custom-domains/#http

[2018-08-26 20:38] sbrl commented on #2257
We'll be glad to have you back once you're ready, @waldyrious :smiley_cat:

With respect to updating `COMMUNITY-ROLES.md`, a tracking issue sounds great if you could open one. I'm a little fuzzy on the details myself - so I'd need some clarification on a few points if I  were to  attempt it myself.

[2018-08-26 20:44] sbrl commented on #824
Hrm, I'm not sure @daylightbrightledlight. The thing is that although each client is has the same basic similarities, they also all have their own flags and options. I suspect that this is a case of that. I wonder if there's a formal spec for 'official' tldr clients? Perhaps @waldyrious or @agnivade would know.

[2018-08-26 20:46] sbrl commented on #2262
Go ahead! A PR would be most welcome @daylightbrightledlight :smiley_cat:

[2018-08-26 20:49] mflint commented on #2253
Disclaimer: I'm no DNS expert.

But: you may not need to use `CNAME`. My (GitHub-pages, SSL) domain reports this:

    {mysite}.net.	3600	IN	A	185.199.111.153
    {mysite}.net.	3600	IN	A	185.199.109.153
    {mysite}.net.	3600	IN	A	185.199.110.153
    {mysite}.net.	3600	IN	A	185.199.108.153

Looks like the `185.199.*.153` IPs are GitHub; your `104.18.*.121` IPs are a Cloudflare front. This is getti

[2018-08-26 20:57] waldyrious commented on #2257
Sure, will do. You being fuzzy in the details is precisely the type of situation we want to avoid with clearer documentation of the processes :)

[2018-08-26 21:01] sbrl commented on #2257
Thanks, @waldyrious :smiley:

[2018-08-26 21:01] sbrl commented on #2253
Yeah, maybe not. I think a `CNAME` would update automagically though?

[2018-08-26 22:19] waldyrious opened #2266 "Clarify steps to remove organization owners"
We have detailed descriptions of project governance processes in the [COMMUNITY-ROLES.md](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md) document, but some of them are clearer than others. In particular, the process for retiring inactive organization owners (of which I was a test subject in #2257) is a bit vague.

To fix this ambiguity, describing the process step-by-step would

[2018-08-27 03:39] agnivade commented on #2257
Yes, I closed it once you accepted one of the invitations. Did not bother much with the other one since I thought you would be accepting that anyways after some time. But sure, its good to be done with everything and then close.

[2018-08-27 04:34] agnivade commented on #2253
You cannot set CNAME for root domains. It looks like we need to point to the 185.* series of addresses and then remove and add the CNAME file to trigger the process of enabling HTTPS.

https://help.github.com/articles/setting-up-an-apex-domain/

@ostera  - Can we do that ?

[2018-08-27 04:56] #2179 closed

[2018-08-27 08:32] mflint commented on #2253
True. But some DNS operators have workarounds for it ([ZoneEdit, for example](https://support.zoneedit.com/Knowledgebase/Article/View/1/1/root-domain-aliases-root-aliases-zone-apex-aliases-implemeneted-as-anames)). Again, that's what I'm using for my personal blog.

This is sounding like a non-trivial change - so absolutely _no pressure_ from me to do it :)

[2018-08-27 08:47] agnivade commented on #2253
I don't think setting CNAME or ALIAS is required. I have A record for my own personal blog, and it works perfectly fine.

I just did the method I mentioned in my previous comment and confirmed that it works. We just need to point to all the 4 IP addresses and do a remove and add of the CNAME file to trigger the https cert fetch.

[2018-08-27 08:51] agnivade commented on #824
We do have a minimal page here - https://github.com/tldr-pages/tldr/wiki/Minimum-specifications-for-TLDR-command-line-clients

Some more thoughts here - https://github.com/tldr-pages/tldr/issues/1065

But yes, I agree this is a client specific thing. I would say we should remove the `--update` flag as it is not there in python client.

[2018-08-27 09:06] waldyrious commented on #2257
Yeah, I didn't mean to write that directed as you (I fully trust that you had no ill intentions :slightly_smiling_face:) but rather as a note to make sure that detail would be included in the more specific instructions that are now tracked in #2266.

[2018-08-27 09:46] mflint commented on #2253
Maybe - but there's probably a good reason why @ostera chose to use Cloudflare.

[2018-08-27 09:54] agnivade commented on #2253
Ah, so its pointing to cloudflare. So I think we need to set ssl settings to flexible-ssl and redirect all users to https using a page rule.

[2018-08-27 10:26] ostera commented on #2253
The Apex record is set to Github Pages IPs

<img width="269" alt="screen shot 2018-08-27 at 12 21 08" src="https://user-images.githubusercontent.com/854222/44654999-eb063600-a9f3-11e8-98bb-2fbc319f1a6b.png">

Which I took from a prior version of Github Pages documentation — it's trivial to update to the news ones. Let me know if you want to try this out today, @agnivade

[2018-08-27 10:27] ostera commented on #2253
<img width="992" alt="screen shot 2018-08-27 at 12 26 47" src="https://user-images.githubusercontent.com/854222/44655170-7f709880-a9f4-11e8-8d17-b39ff9d6da27.png">

Full config for transparency.

[2018-08-27 10:32] ostera commented on #2253
Also, I'm happy to configure the domain to someone else's DNS provider 🙌

[2018-08-27 11:47] agnivade commented on #2253
Let's change them to - 185.199.{108-111}.153. i.e. 4 IPs having 108,109,110,111 in the middle.

[2018-08-27 11:50] ostera commented on #2253
Wondering if would've taken more time to write

[code]

Than to explain the expansion 😝 XKCD comes to mind: https://xkcd.com/1205/

IPs changed! 😄

[2018-08-27 11:56] agnivade commented on #2253
Deleted CNAME file. Will revert after a while. Stand by.

[2018-08-27 14:46] agnivade commented on #2253
It did not work. I see that https://tldr.sh is served by a cloudflare cert. Can we set a redirect to https rule in cloudflare page settings ?

[2018-08-28 05:46] agnivade commented on #2266
All good.

I can clarify that. External collaborators is just a collated representation of repo-specific collaborators. So, for example if a user is a collaborator in 2 repos, then he/she would show up as an external collaborator with access to 2 repos.

You cannot add external collaborators from the org page. One has to go to each repo and do that. So I don't think there are 2 ways of doing this.

[2018-08-28 08:02] ostera commented on #2253
@agnivade I went in on CloudFlare and apparently I did have registered the domain there, and that's where the Name Servers are set up in Name.com.

Sent you an invite so you can handle the whole thing from there 🙌

[2018-08-28 08:36] agnivade commented on #2253
Problem solved. Setup an http to https redirect.

@ostera - I also want to enable HSTS. The only issue with that is that once setup, we cannot disable https anymore. I don't see any issue with it. Do you ?

[2018-08-28 08:38] ostera commented on #2253
Not from my end. Go bananas! 🐒

[2018-08-28 08:42] agnivade commented on #2253
Done. Thanks !

[2018-08-28 08:42] #2253 closed

[2018-08-28 09:49] Tadaboody opened #2268 "page request: set"
Requesting a page for the built-in command [set](http://linuxcommand.org/lc3_man_pages/seth.html)

[2018-08-28 12:03] pxgamer commented on #2268
Thanks for requesting this page, @Tadaboody! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - an

[2018-08-28 15:22] sbrl commented on #824
Ah, ok @agnivade. I've opened #2272, which removes the --update flag.

[2018-08-28 15:26] sbrl commented on #2266
Sounds good to me! Go to start somewhere, and this does seem like the most logical place :smiley_cat:

[2018-08-28 15:33] sbrl commented on #2253
Awesome, thanks @ostera and @agnivade :smiley_cat:

[2018-08-28 17:54] mflint commented on #2253
It's still 301 to http. (I'll keep using https://tldr.sh/assets/tldr.zip for now...)

[code]

[2018-08-28 18:15] waldyrious commented on #2266
Ok, that makes things easier :) So the first sentence in my proposal above would be:

Please confirm whether it is a link or a button or some other UI element.

[2018-08-28 18:43] agnivade commented on #2253
Try adding an `-L` and see what happens. :)

[2018-08-28 18:45] agnivade commented on #2266
Its a button in a dropdown menu.
![collab](https://user-images.githubusercontent.com/1774000/44743605-93b1b400-ab20-11e8-85a2-a67006338484.png)

[2018-08-28 19:41] waldyrious commented on #2266
Ok, that makes it perfectly clear. By the way, the image would actually be a great addition to the docs, don't you think?

[2018-08-28 20:14] MasterOdin commented on #1065
So in looking at this, and in implementing commands from the node client into the python client, what's the status of defining a more official specification for how a client should work, especially with regards to how the cache should be handled (ie. the python downloads one page at a time, while the node always gets all pages).

[2018-08-28 21:04] mflint commented on #2253
Hmm, try adding `--proto -http` to explicitly disallow http ;-)

`curl -v -L --proto -http https://tldr-pages.github.io/assets/tldr.zip`

(Not sure how you've set this up, but if there are _any_ requests using http, then some clients will - should - fail)

This is my error from the iOS app:

`Error Domain=NSURLErrorDomain Code=-1022 "The resource could not be loaded because the App Transport Secur

[2018-08-29 03:46] agnivade commented on #2253
Oh I see. Well, we do not control tldr-pages.github.io. So I don't think there is much we can do to ask github to redirect to https:// when an https:// url is requested.

Let me know if you find something, am happy to do it.

[2018-08-29 04:38] agnivade commented on #1065
According to my comment here https://github.com/tldr-pages/tldr/issues/1065#issuecomment-251053184, a client should always download the entire archive. In that respect, the python client is deviating. But it is just a comment and not finalized spec.

[2018-08-29 04:43] #824 closed

[2018-08-29 08:46] YangVincent opened #2275 "Error when command doesn't exist in tldr"
Result on missing command
[code]

[2018-08-29 08:51] agnivade commented on #2275
Ouch.

Let's move this to the node-client repo. Please create a new issue with complete details about your environment, and tldr version.

[2018-08-29 08:51] #2275 closed

[2018-08-29 21:12] sbrl commented on #2253
@agnivade I think that we can enforce HTTPS in the [GitHub Pages settings](https://github.com/tldr-pages/tldr-pages.github.io/settings) as I've mentioned above. However, when I try to do so, I'm still met with this:

![selection_057](https://user-images.githubusercontent.com/9929737/44815775-5d377000-abd8-11e8-8be8-d58bdd7b6182.png)

...I'm confused. I thought we fixed that one?

[2018-08-29 21:14] sbrl commented on #2275
For reference, the repo @agnivade refers to is [over here](https://github.com/tldr-pages/tldr-node-client).

[2018-08-29 21:39] sbrl commented on #2266
Hrm, maybe!

[2018-08-29 23:48] mflint commented on #2253
@sbrl  The DNS "A records" are still pointing to Cloudflare (104.18.*.121); GitHub requires those A records to point to GitHub (185.199.*.153).

[2018-08-30 03:45] agnivade commented on #2253
@sbrl - No we couldn't fix that one. Most probably because we are using cloudflare. What I have done is setup a redirect rule from http://tldr.sh to https://tldr.sh.

I don't know what the solution is if a custom domain is to use cloudflare.

[2018-08-30 04:16] MasterOdin commented on #2253
Do you really need Cloudflare? My understanding was that it was desirable back when Github pages did not support https for custom domains, but now that it does, you're probably better off dropping cloudflare and then having all redirects be https -> https.

[2018-08-30 10:28] sbrl commented on #2253
Won't a redirect like that cause a loop https -> http -> https?

[2018-08-30 22:49] waldyrious commented on #2266
I agree images are ideal, but in the interest of moving things ahead, I proposed the text-only change (#2279) rather than wait for an opportunity to consistently add images to all steps (which I'm not sure about since the document would be quite long anyway).

On a separate note, I found myself reconsidering my position regarding having the list of owners at the end of this document. The [rational

[2018-08-31 16:43] sbrl commented on #2266
Thanks for the PR :D

Hrm, what specifically are you talking about when you say that it feels out of place? My only thought of the subject is that the current and former maintainers lists should be next to each other.

[2018-09-01 22:25] sbrl commented on #2266
Ah, I see. Where else would you propose we put them then?

[2018-09-01 22:30] waldyrious commented on #2266
It could make sense to restore the MAINTAINERS.md file, and simply point to it from the COMMUNITY-ROLES.md page (and perhaps rename the latter to something more descriptive of community dynamics / role changes). Another option is could be to simply add that info to the README. Do any of these make sense to you?

Mind you, I don't have strong opinions on this -- it just feels slightly odd, but noth

[2018-09-02 04:56] agnivade commented on #2266
I don't mind either way.

[2018-09-02 13:53] #1622 closed

[2018-09-03 17:34] mfrw commented on #2268
Since this is **not** a command but a shell _**builtin**_, the options may differ from `zsh` to `bash` etc.
If we are to include this, what should be the correct way of taking this forward?
@agnivade @sbrl @pxgamer what are your suggestions :)

[2018-09-03 17:58] sbrl commented on #2266
I don't particularly mind either way either. If I had to choose, I'd restore `MAINTAINERS.md`, and link to it in `COMMUNITY-ROLES.md`.

[2018-09-03 18:15] sbrl commented on #2268
Ooooh, good question @mfrw. I guess it depends on how different it is in the different shells, and whether we can get away with a selection of examples that work the same in all major popular shells :P

If not, then I'd probably suggest a 'stub' page that points to pages like `set-bash`, `set-zsh`, etc.

[2018-09-03 19:49] mfrw commented on #2268
@sbrl I think if we target the basic options, they probably should be the same but I am not sure.
I am planning to take this with just the bare bones options if i can find them on popular shells like `fish`, `zsh`, `bash` and the likes.

[2018-09-03 22:18] waldyrious commented on #2266
@sbrl I slightly prefer that option too. Do you mind doing the honors? This week is going to be quite busy for me. Otherwise, let's open a separate issue to track that.

[2018-09-04 12:35] sbrl commented on #2266
Oops! I committed to master instead of doing a PR. I'm sure I created a branch..... Said commit is reference just about this comment.

I've restored `MAINTAINERS.md`. If we're restoring it, should it contain a list of all maintainers too, such as the brilliant @pxgamer?

Thoughts?

[2018-09-04 13:28] waldyrious commented on #2266
Hmm, I thought we had configured the repo to make direct commits to master require an explicit admin override (with a red button, etc). Am I misremembering, @agnivade? It looks like the [branch protection interface](https://github.com/tldr-pages/tldr/settings/branches) has changed since last time I used it -- perhaps that particular configuration is not supported anymore. Any hints?

[2018-09-04 14:38] agnivade commented on #2266
Branch protection only disables _force_ pushing. Admins are allowed to push to master.

[2018-09-04 16:39] waldyrious commented on #2266
You're right, I'm probably misremembering. I was thinking of the merge PR button, which turns red if it requires using the admin privilege to skip failing checks, but when doing the commit (before opening the PR) the interface doesn't display such hints. For future reference, here's what it looks like:

![screenshot from 2018-09-04 17-36-55](https://user-images.githubusercontent.com/478237/4504492

[2018-09-05 05:33] mfrw opened #2296 "page request: bat"
https://github.com/sharkdp/bat
A cat(1) clone with syntax highlighting and Git integration.

[2018-09-06 13:27] sbrl commented on #2266
Is there anywhere I can find a list of everyone to update `MAINTAINERS.md` at all?

[2018-09-06 13:37] #2296 closed

[2018-09-06 14:29] sbrl commented on #731
I assume that this issue is resolved now?

[2018-09-06 14:32] sbrl opened #2304 "Automate detection of role changes defined in COMMUNITY-ROLES.md"
With the roles outlined in `COMMUNITY-ROLES.md`, it would be really helpful if we could augment the tldr-bot (which I host, and I believe @agnivade wrote) to automate the detection of role changes. Perhaps we could get it to comment on a user's latest PR if they meet the requirement for changing roles or something?

[2018-09-06 15:06] agnivade commented on #731
Yes. I believe so.

[2018-09-06 15:06] #731 closed

[2018-09-06 16:42] agnivade commented on #2304
It's not like we have too many people contributing that there is a pressing need :laughing: I think the final decision of making the change should be done by a human. But yes, a tool can count contributions and notify if somebody satisfies the criteria. Also, it should notify when to move somebody from a member to an outside contributor.

[2018-09-06 17:45] #2268 closed

[2018-09-06 18:54] sjackman opened #2305 "cp: Oops! Command not found!"
Typing `cp` into either https://tldr.sh or https://tldr.ostera.io returns `Oops! Command not found!`. See for example https://tldr.ostera.io/cp Am I doing something wrong? I'm using Safari 11.1.2 on macOS 10.11.6 El Capitan.

[2018-09-06 19:07] agnivade commented on #2305
Works for me.

[2018-09-06 19:13] sjackman commented on #2305
Mysteriously and magically started working again. Sorry for the hassle. ¯\_(ツ)_/¯

[2018-09-06 19:13] #2305 closed

[2018-09-06 20:35] sbrl opened #2306 "Add @mfrw as a collaborator"
Hi, @mfrw! You seem to be enjoying contributing to the tldr-pages project. You now have had five distinct pull requests merged (#2297, #2294, #2288, #1651, #1532), which qualifies you to become a collaborator in this repository, as explained in our [governance guidelines](https://github.com/tldr-pages/tldr/blob/master/GOVERNANCE.md).

As a collaborator, you will have commit access and can therefor

[2018-09-06 20:37] sbrl commented on #2304
Ah, great points! Indeed, we should automate the detection going the other way too.

Yeah - I absolutely agree that the final decision should be made by a human.

[2018-09-06 20:39] sbrl commented on #2305
No problem! If it happens again and you get more information, let us know and we'll investigate :smiley_cat:

[2018-09-06 21:20] waldyrious commented on #2266
I assume this is the same you asked about in Gitter, so as I said there, the links are available in [COMMUNITY-ROLES.md](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md), although it's possible they're not prominent enough there.

The list of collaborators can found here: https://github.com/tldr-pages/tldr/settings/collaboration; and the list of org members (including owners) is

[2018-09-07 00:01] waldyrious commented on #2306
@sbrl was it intentional that you linked to the PRs in some cases and to the issues in others? I think it would be more consistent to link to the PRs in all cases.

[2018-09-07 02:56] mfrw commented on #2306
Thank you folks for the opportunity.

[2018-09-07 07:54] waldyrious commented on #2306
@mfrw repeating what I said [on Gitter](https://gitter.im/tldr-pages/tldr?at=5b922be1f86b741b05202393), for the record:

[2018-09-07 09:28] sbrl commented on #2306
Nope, not intentional @waldyrious :P

I've corrected that.

I've also actually invited you to be a collaborator now @mfrw, so clicking [this link](https://github.com/tldr-pages/tldr/invitations) should take you to the invite if you don't receive an email.

[2018-09-07 09:30] sbrl commented on #2266
Ah, oops! I don't think I connected the dots :P

I see now. I'll go and open a PR on `MAINTAINERS.md` now.

[2018-09-07 12:17] mfrw opened #2309 "page request: vegeta (common)"
Add documentation for [vegeta]( https://github.com/tsenart/vegeta)

[2018-09-07 12:21] mfrw opened #2310 "page request: diff3"
Add documentation for `diff3`.

[2018-09-07 12:22] mfrw opened #2311 "page request: kubeadm"
Add documentation for `kubeadm`

[2018-09-07 12:24] mfrw opened #2312 "page request: updatedb"
Add documentation for `updatedb`

[2018-09-07 12:24] mfrw opened #2313 "page request: minikube"
Add documentation for `minikube`

[2018-09-07 15:09] mfrw commented on #2306
Should we close this now ?

[2018-09-07 15:40] agnivade commented on #2306
Yep. Welcome aboard !

[2018-09-07 15:40] #2306 closed

[2018-09-08 08:54] mfrw opened #2315 "page request: pprof"
Add documentation for [pprof](https://github.com/google/pprof)

[2018-09-08 11:03] sbrl commented on #2313
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2018-09-08 11:11] sbrl commented on #2315
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2018-09-09 15:01] mfrw opened #2318 "page request: rustfmt"
Add documentation for `rustfmt`

[2018-09-10 19:25] gagarine opened #2320 "page request: clamscan"
add documentation for [clamscan](https://linux.die.net/man/1/clamscan)

[2018-09-10 21:33] sbrl commented on #2320
Thanks for requesting this page, @gagarine! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2018-09-11 18:04] #2318 closed

[2018-09-13 13:41] mfrw opened #2330 "page request: hyperfine"
Add documentation for [hyperfine](https://github.com/sharkdp/hyperfine)

[2018-09-13 14:13] mfrw opened #2331 "page request: miller (mlr)"
Add documentation for [miller](https://github.com/johnkerl/miller).

[2018-09-13 15:25] mfrw opened #2332 "Hacktober Fest 2018: prep repo"
We should start preparing our repo for this year's version of `Hacktober Fest`.
[https://hacktoberfest.digitalocean.com](https://hacktoberfest.digitalocean.com)

For starters, how about we start creating issues for commands not currently documented and adding a `help-wanted` label to them and probably a `hacktober-fest` label as well.

[2018-09-13 16:47] sbrl commented on #2332
I think we had a `hacktoberfest` tag last year, IIRC - so we can definitely recreate it. What's it meant to be called exactly to be counted, @mfrw?

Also, we've got a few issues left over from _Google Code-In_ which we can probably tag too. They are all testing frameworks of one form or another, I think.

[2018-09-13 17:05] mfrw commented on #2332
Could please explain a little more, I could not get the context @sbrl

[2018-09-13 19:40] pxgamer commented on #2332
I'm assuming @sbrl was asking the exact label name, I can't remember if there was a recommended one. But `hacktoberfest` seems to be more common than with a dash. As far as I know, any repositories are included whether or not they have a [`hacktoberfest`](https://github.com/search?q=label%3Ahacktoberfest) label. :thinking:

[2018-09-13 20:45] mfrw commented on #2332
@pxgamer yes, any repo that is public is eligible.

[2018-09-13 20:47] mfrw opened #2333 "page request: xsv"
Add documentation for [xsv](https://github.com/BurntSushi/xsv).
A tool for manipulating csv files.

[2018-09-14 04:03] agnivade commented on #2332
Last time, I had simply renamed help-wanted to hacktoberfest. And then reverted that once it was over. Saves time adding new labels to all issues.

[2018-09-15 12:12] sbrl commented on #1645
I'm closing this issue for now due to inactivity. Let us know if you have any further questions / issues :-)

[2018-09-15 12:12] #1645 closed

[2018-09-17 18:12] arunisaac opened #2339 "Support for multiple (human) languages"
It would be nice if tldr pages existed in other (human) languages too, and not just English. Is there any plan for tldr pages to support multiple languages?

[2018-09-18 07:56] agnivade commented on #2339
I am sorry, but the entire page parsing logic is based around English punctuation marks. Like `:`, `>`.  We cannot _fully_ shift to other languages. English punctuation marks are compulsory.

Just simply converting the pages to other languages is possible. Although it will take architectural changes, which need to be implemented by every client out there. So, even if we make pages in other languag

[2018-09-18 09:08] arunisaac commented on #2339
For the most part, technical documentation is non-existent in most
Indian languages. And, owing to their size, translating existing
technical documentation requires a lot of labour to achieve even a small
degree of completeness. So, my thinking was that due to its small size,
the tldr pages could be translated with less effort and quickly reach
sufficient completeness to attract more translators a

[2018-09-18 10:00] pxgamer commented on #2339
I wonder if something such as [GitLocalize](https://github.com/marketplace/gitlocalize) could help with this?

We could have it in a structure such as:
<details>

[code]

</details>

-----

But yes, as @sbrl mentioned, this would require more reviewers for other languages. 🤔

[2018-09-18 12:05] agnivade commented on #2339
Breaking down into sub-folders will break all clients immediately. I would go with the usual github idiom for storing READMEs in multiple languages.

Like - <filename>_<2-letter-lang-code>.md. And leave the default as english. So that we can add new files without breaking anything. And clients can implement new language support gradually at ease.

[2018-09-18 12:13] pxgamer commented on #2339
Hmm. That would definitely make more sense. 🤔 I wasn't really thinking.

[2018-09-18 13:42] arunisaac commented on #2339
This sounds great. May I send pull requests for translated tldr pages
now?

Review is good to have. But, what do we do if somebody sends in a PR for
a language with no reviewers? Will that PR be indefinitely stalled?

[2018-09-18 13:54] mfrw commented on #2339
@arunisaac
I am not against this idea, but could you please give an example of what language you would choose to translate in? For starters I have some questions:

- What problems would the translated pages solve? Who is our target audience?

- What is the value add of translating as it would be very painful to keep all the translation copies in sync? Just as an example, what if I add/modify a pag

[2018-09-18 15:01] arunisaac commented on #2339
I would translate to Tamil, my mother tongue. It is the only language
other than English that I have any proficiency in. I am ready to send in
at least a few PRs the moment there is some consensus and approval for
this proposal.

The translated pages would make computer knowledge more accessible to
a large section of the population who don't have a good command over
English and would learn much be

[2018-09-19 04:47] agnivade commented on #2339
You can send PRs, but note that without any client support, those pages will be useless. Unless you want people to manually open github pages.

I would recommend that if you want this, fork this repo and add pages in your own repo. And also add support to the client that you are using. Clients can be configured to point to a custom repo instead of the main repo. That way, you can use a client to p

[2018-09-21 18:43] sbrl commented on #2339
@agnivade sounds like a plan. Do keep us up-to-date with your progress, @arunisaac! When you've got a collection of pages, perhaps we can start implementing support in some of the clients?

I am somewhat concerned about keeping 'tldr-pages' unified. It would be awkward if it turned out in the long run that we end up with an English `tldr-pages`, a French `tldr-pages`, etc.

The other awkward quest

[2018-09-22 20:43] sbrl commented on #2339
It's a complex feature! :P I think you've about covered everything I was going to ask you about, @waldyrious.

Yeah, that policy for PRs works for me. I've already got a browser extension that can translate a selection of the page, so that's easy for me to do.

Yeah, standardising a CLI flag & behaviour for clients is definitely a thing we should do. We could then add it to the tldr page for `tldr

[2018-09-23 07:56] arunisaac commented on #2339
I strongly prefer having the translated pages in the main repo. If I
must fork this repo and maintain clients for the forked repo, I gain
very little from the tldr project. I might as well start my own separate
project leading to language based fragmentation of the community.

Would 10 translated pages suffice as a proof of concept before the pages
can be accepted into the main repo?

Exactly, tha

[2018-09-23 11:00] waldyrious commented on #2339
That's #1065, btw :) Note, however, that I'm not suggesting adopting a global standard as a pre-requisite for this functionality, otherwise we'd block progress unnecessarily. I ws speaking in the context of the specific client(s) that decide to implement this feature.

I don't actually like the idea of a straw poll. By our [community principles](https://github.com/tldr-pages/tldr/blob/master/GOVER

[2018-09-28 15:55] MasterOdin commented on #2339
What's the behavior of doing something like `tldr --lang=fr git` and there is no French translation of git page? Fall back to the english version? Display an error? What about when doing something like `TLD_LANG=fr tldr git` (or whatever the way to set settings is for a given client)?

[2018-09-28 17:41] agnivade commented on #2339
I think it should display an error saying no page was found, but the same page exists in English language.

[2018-09-28 21:50] waldyrious commented on #2339
I think it could automatically show the English page, with the warning @agnivade mentioned at the top. That way it is still clear what's happening (no silent "smart" workaround), but convenience for the user is not sacrificed (e.g. by requiring them to run the command twice).

[2018-09-29 03:46] agnivade commented on #2339
OS automatically falls back to common. If the page does not exist in common, but only in multiple platforms, then it becomes an issue. Which page do we show ? We could complicate the logic further by checking if there are multiple pages, or only one page. If one, then show, else show a message. But not sure if we want to go to that extent.

Anyways, this issue is about languages. So let's keep it

[2018-09-29 12:13] waldyrious commented on #2339
Agreed -- let's have that discussion at #1065 or in a dedicated issue -- this thread is long enough already :)

[2018-09-29 14:47] jedahan commented on #2339
I was suggesting that whatever fallback decision we have for one, we keep it consistent for the other.

[2018-09-30 18:16] pxgamer commented on #2332
As Hacktoberfest has started, I have renamed the `help-wanted` label to [`hacktoberfest`](https://github.com/tldr-pages/tldr/labels/hacktoberfest) as per last year.

Ping @agnivade, @sbrl, @mfrw

[2018-09-30 19:11] edsoncelio commented on #2313
Hi,i'll work in it :)

[2018-10-01 16:27] #2313 closed

[2018-10-01 16:31] sbrl commented on #2332
Awesome, thanks @pxgamer! Does that mean that we can close this issue then?

[2018-10-01 16:33] mfrw commented on #2332
@sbrl I guess so..

[2018-10-01 17:36] pxgamer commented on #2332
I'd say so, yeah. :+1: Closing it now.

Just need to remember to change it back in November. :stuck_out_tongue:

[2018-10-01 17:36] #2332 closed

[2018-10-01 20:43] sbrl commented on #2332
I might need to set a reminder email there @pxgamer :P

[2018-10-01 21:04] russsaidwords commented on #2330
I've handled this in #2368.

[2018-10-02 21:02] #2330 closed

[2018-10-03 11:01] sbrl commented on #2333
Hey, @szepnapot! @jedahan already has a pull request open for this command. However, you're welcome to tackle any other command you like :smile:

[2018-10-04 04:11] mfrw opened #2388 "Maintainers: Link for current collaborators broken."
The [link](https://github.com/tldr-pages/tldr/settings/collaboration) for collaborators `https://github.com/tldr-pages/tldr/settings/collaboration`, seems broken.

I think it may only be visible to the owners/members.
Should I send a fix to remove it?

[2018-10-04 05:11] agnivade commented on #2388
The link is fine. Perhaps you can mention that it is visible only for owners and members.

[2018-10-04 06:37] waldyrious commented on #2388
For context, the link is mentioned [here](https://github.com/tldr-pages/tldr/blob/master/MAINTAINERS.md#current-collaborators). I agree that it would be preferable to make it explicit that the link is only visible for org members. Perhaps change that sentence from

to

WDYT?

[2018-10-04 08:59] pxgamer commented on #2388
Is it only owners? 🤔 Cause as a member, that link doesn't work for me.

[2018-10-04 10:26] #2312 closed, assigned to nobody

[2018-10-04 16:27] mfrw commented on #2388
Sure, I think we should update it as per @waldyrious and mention only owners can view it.

[2018-10-04 22:03] LachlanMarnham opened #2393 "page request: vncviewer"
docs: https://tigervnc.org/doc/vncviewer.html
repo (with an 'about' in the README): https://github.com/TigerVNC/tigervnc

I'll take the PR if that's ok?

[2018-10-05 02:12] mfrw commented on #2393
@LachlanMarnham please go right ahead :)

[2018-10-05 07:17] Karacali opened #2394 "page request: sqlmap"
tldr sqlmap
✔ Page not found. Updating cache
✔ Creating index
Page not found.

thank you for everythinf

[2018-10-05 13:11] #2388 closed

[2018-10-05 13:16] sbrl commented on #2394
Thanks for requesting this page, @Karacali! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and

[2018-10-05 19:59] russsaidwords commented on #1180
This was handled in #1526.

[2018-10-05 21:59] sbrl commented on #1180
Good spot - thanks @russsaidwords! If the PR doesn't have a `closes #....` in it, I usually forget to close the associated issue :P

[2018-10-05 21:59] #1180 closed

[2018-10-06 14:44] benboeck opened #2408 "question: inconsistencies in keyboard shortcut formatting"
Hello,
writing a new TLDR client I noticed inconsistencies in the way keyboard shortcuts are formatted.

I am willing to go through the tedious task of preparing a pull request unifying them but want to ask for your agreement on a common style first:
____________
Using a Ctrl shortcut as example, different formats include the following and more:
- `CTRL + K` vs. `Ctrl + K` ("CTRL" in caps or not?)

[2018-10-06 15:03] waldyrious commented on #2408
Hi @benboeck. Many thanks for this research and proposal. I am not home at the moment but I'll make sure to reply in detail in the next couple days.

[2018-10-06 15:12] benboeck commented on #2408
Hello @waldyrious, thank you for your reply, looking forward to it.

[2018-10-06 15:15] jedahan commented on #2408
Hey @benboeck everything about your proposal looks great to me, except the capital letter - it makes me think I need to press `Ctrl + Shift + x` when i see `Ctrl + X`. Might just be me, but +1 to making everything more consistent.

[2018-10-06 15:29] benboeck commented on #2408
Hi @jedahan, I agree with you, this was also my initial reaction. I refrained from proposing a change for the following reasons:
- Looking at the data the `Ctrl + X` style happens to be the most used one; it would mean a lot more changes to implement (and review!) to switch to `Ctrl + x`.
- If you are supposed to enter an upper case letter, it says `Ctrl + Shift + X`.
- It could be easier on the e

[2018-10-06 16:59] jedahan commented on #2408
`Ctrl + X` certainly is easier for me to read, and if it is easier to migrate first to `Ctrl + X` and `Ctrl + Shift + X` we can always revisit later if we feel strongly about `Ctrl + x`. A question to think about:
are we catering to new or experienced commandline users, or rather, which do we care about most? Are people new to the CLI confused by the `x/X` distinction, or is it a red herring? I ca

[2018-10-06 20:05] benboeck commented on #2408
As discussed, I am undecided on `CTRL + X` vs. `CTRL + x` - just tell me which way to go and I would prepare the PR if you are willing to review it.

That said, there are other questions, especially in commands (not descriptions) such as:

common/vim:
- `<Esc>:wq<Enter>`

and common/ed:
- `a<Enter>{{text_to_insert}}<Enter>.`

How would you want to deal with these?

[2018-10-06 22:31] hbostann commented on #2394
I have created a page for `sqlmap` and sent a pull request (#2410 ).

[2018-10-06 23:05] hbostann commented on #2394
I have created a page for sqlmap and sent a pr (#2412)

[2018-10-07 04:59] agnivade commented on #2408
We had discussed this before. We had honed down on a format. But I believe in some pages, this has strayed from the decided convention.

[2018-10-08 06:43] waldyrious commented on #2408
Indeed -- that was why I wanted to set out some time to address this properly. There are related PRs/discussions at #1354 and #1356.

After reviewing @benboeck's proposal more carefully, I agree with everything in it. It's actually perfectly in line with what had been previously discussed.

By the way, since we now have a separate [style guide](https://github.com/tldr-pages/tldr/blob/master/contri

[2018-10-08 07:05] agnivade commented on #2408
Ah thanks for digging up the issue @waldyrious !

Yes, seems reasonable. So anything less than 3 keys, we explicitly mention Shift. If there are more, we just write the upper or lower case to clarify.

Thanks for taking it up.

[2018-10-08 16:40] richardhendricks opened #2416 "Cannot populate cache behind corporate certificate authority"
My company is using self-signed certificates so they can monitor traffic, but that is not allowing tldr to populate its cache.

~$ tldr du
⠸ Page not found. Updating cache{ Error: self signed certificate in certificate chain
    at TLSSocket.<anonymous> (_tls_wrap.js:1105:38)
    at emitNone (events.js:106:13)
    at TLSSocket.emit (events.js:208:7)
    at TLSSocket._finishInit (_tls_wrap.js:639:8

[2018-10-08 17:14] benboeck commented on #2408
Hello @waldyrious and @jedahan,
thank you very much for your feedback.

I sway towards `Ctrl + k` vs. `Ctrl + K` like @jedahan said. What do you think?

Thinking about consistency and the differences between the two use cases (one key combination vs. a number of key combinations and button presses), what about agreeing on just one style (see 2 and 3):

1) For key combinations:
   1) Use a plus sig

[2018-10-08 17:43] jedahan commented on #2408
1.i, 1.ii , 3 lgtm. How about we make a minimal amount of changes + a linter for the changes, then propose style improvements incrementally. If we have okay tooling, it should be okay instead of making a ton of changes all at once.

[2018-10-08 18:08] benboeck commented on #2408
Hello. great proposal,
- 1.i, 1.ii and 3: OK, I will try and fix the current deviations over the weekend.
- Should I also go for a few 3 instances like commons/most `<CTRL-x> o` which would become `<CTRL + X> o`?

This should make future linting easier.

[2018-10-08 18:19] jedahan commented on #2408
Yeah that would be nice to move us closer to unified until we figure out exactly where <> is best balanced

[2018-10-08 20:11] benboeck opened #2418 "question: whoami"
Hello,
I noticed that logname was added to tldr and was immediately intrigued by the difference between logname and whoami (from --help for each on Linux):

- logname: Print the name of the current user.
- whoami: Print the user name associated with the current effective user ID.

Next I looked for an example to showcase the difference (with sudo rights):
- `sudo logname` -> your user name
- `sudo

[2018-10-08 20:48] waldyrious commented on #2408
@benboeck I'm afraid your new comment is not clear to me. It seems as if you're making a number of changes to the initial proposal, whose motivation I can't discern clearly, as well as introducing some new concepts that are ambiguous due to overlapping terminology. In contrast, your initial exposition was crystal clear, so I'm sure we can communicate about this effectively. Would you please take a

[2018-10-08 21:07] benboeck commented on #2408
Hi @waldyrious you are correct I proposed changes to the original proposal but in discussion with @jedahan they were reduced back to (almost like original proposal):
- Use a plus sign `+` surrounded by spaces.
- Start special keys with a capital letter, then lower case letters (example: `Ctrl`).
- Special keys to be pressed on their own (no combination) are also always surrounded by `<...>` (examp

[2018-10-08 22:31] sbrl commented on #2418
Great catch, @benboeck - thanks!

I think that `common/whoami` should probably be updated. Since we've got `windows/whoami`, then I should think that a `sudo` example there should be fine.

A PR would be most welcome :smiley_cat:

[2018-10-09 04:13] agnivade commented on #2416
Yes, you need to add the CA in your local computer. I bet this will be an issue with other sites too. There is no such setting in tldr unfortunately to point to a custom cert file. You just have to add the CA.

Please open a new issue in the https://github.com/tldr-pages/tldr-node-client repo if there is something which can be fixed from tldr side.

[2018-10-09 04:13] #2416 closed

[2018-10-09 14:27] waldyrious commented on #2408
Sounds great, @benboeck. The changes in your latest comment would be very welcome, and later changes can be discussed in due time. Looking forward to the PR.

[2018-10-09 15:21] richardhendricks commented on #2416
Thanks for the pointer, it was a set of narrow twisty passages, all alike, but I managed to make my way through it.

[2018-10-11 13:49] g-ongenae opened #2429 "sed: option -r does not exist on MacOS"
The option `-r` does not exist on MacOS version of `sed`, it does on Linux.

**Error on  MacOS**

[code]

**Official Doc?**

Also, the man page `sed` of Apple does not exist anymore, and the only man pages on `sed` for MacOS I've found doesn't match mine... e.g. there's no option `-E`.

**Proposition?**

A [comment](https://unix.stackexchange.com/a/131940) on Unix StackExchange states that `-r` is

[2018-10-11 13:58] #2429 closed

[2018-10-11 20:24] JZJisawesome opened #2431 "page request: enscript"
Man page can be found at: [https://linux.die.net/man/1/enscript](https://linux.die.net/man/1/enscript)

[2018-10-11 21:20] mfrw commented on #2431
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you need any assistanc

[2018-10-11 23:05] JZJisawesome commented on #2431
Sure, I'll try.

[2018-10-12 14:18] russsaidwords commented on #2331
I'll grab this, and edit this comment when I have a PR in.

[2018-10-12 19:07] rdnlsmith commented on #2233
I took a shot at a page for [systemd.service](https://raw.githubusercontent.com/rdnlsmith/tldr/systemd_service/pages/linux/systemd.service.md), but the linter doesn't like the code blocks:

[code]

Are there any other file types which are currently documented in tldr? If not, is that something that you want to support? What needs to happen to make it work?

[2018-10-13 02:32] russsaidwords commented on #1849
I put in a PR for lrzip, it's at #2436.

[2018-10-13 09:10] agnivade commented on #2233
We cannot have examples of unit files in the page. tldr pages are just meant to describe commands and their usages. Our scope is limited in that regard.

[2018-10-13 13:00] sbrl commented on #1772
Go ahead, @mira01 - no need to ask for permission :smiley_cat:

[2018-10-13 13:00] sbrl commented on #1771
Go ahead, @mira01 - no need to ask for permission :smiley_cat:

[2018-10-13 17:38] rdnlsmith commented on #2233
That’s fair. But that being the case, it sounds like this issue ought to be closed?

[2018-10-13 18:56] agnivade commented on #2233
If that's what @zbczyvgy intended, then yes. Sorry, but tldr pages is not the right place for detailed documentation like that.

[2018-10-14 12:07] sbrl commented on #2233
You're welcome to start your own project or fork ours though :smiley_cat:

[2018-10-15 02:29] JZJisawesome commented on #2431
Pull request for page addition: #2432
Pull request for page fixing (oops): #2446

[2018-10-15 07:10] #2431 closed

[2018-10-15 14:49] agnivade commented on #2172
Going to close the issue due to inactivity. Please feel free to comment if you are still seeing issues.

[2018-10-15 14:49] #2172 closed

[2018-10-18 13:47] #2310 closed

[2018-10-20 14:57] megan201296 opened #2471 "Error in wget.md"
This could be just me not understanding but I believe there is an issue with the description for the first example of https://github.com/tldr-pages/tldr/blob/master/pages/common/wget.md.

I don't believe that command downloads the contents of the file to a file named "foo" (similar to second example). No options outputs the contents to the terminal.

Please correct me if I am wrong with this. Othe

[2018-10-21 00:07] megan201296 commented on #2471
Oops! You are correct. I was getting mixed up with curl. My mistake. Disregard

[2018-10-21 00:07] #2471 closed

[2018-10-21 20:42] sbrl commented on #2471
No problem :-)

[2018-10-23 13:44] arunisaac opened #2481 "mv tldr page disagrees with the mv man page"
The tldr page for the mv command (https://github.com/tldr-pages/tldr/blob/master/pages/common/mv.md) specifies that the -i flag make mv not prompt for confirmation, but print a warning to stderr. However, according to the GNU coreutils man page for mv (https://linux.die.net/man/1/mv), the -i flag is to enable interactive mode and causes mv to prompt before confirmation. Thus the mv tldr page and t

[2018-10-23 15:04] agnivade commented on #2481
Thanks for catching this. A PR will be most welcome :)

[2018-10-23 19:32] arunisaac commented on #2481
Should I just delete the third example (the one about mv -fi) in the mv
tldr page?

Also, I think the second example (the one about mv -f) is also
misleading because mv, by default without any flags, does not prompt for
confirmation. There is no need to supply the -f flag. Should I delete
this example too?

[2018-10-23 19:35] arunisaac opened #2484 "cp: redundant recursive copy examples"
The third and fourth examples in the [cp tldr page](https://github.com/tldr-pages/tldr/blob/9fd6e9cf1/pages/common/cp.md) are the same. They should not be repeated as though they were two different commands.

[2018-10-23 20:13] sbrl commented on #2484
Hey, good spot - thanks @arunisaac! Would you like to send a pull request?

[2018-10-23 22:18] #2481 closed

[2018-10-24 08:19] agnivade commented on #2484
I dont think that is a mistake. @waldyrious wrote that page. See that examples 2 and 4 are of the same variant.

But I do see that functionally there is no difference. @waldyrious ?

[2018-10-24 11:56] arunisaac commented on #2484
Examples 1 and 2 are functionally different. They do different things. But examples 3 and 4 are the exact same command. This would be confusing to the reader, and therefore, I think this is a bug.

[2018-10-25 17:56] wbh1 commented on #2311
I can add this today

[2018-10-27 21:50] glenacota opened #2509 "Inconsistencies in token definitions"
Hello,
I'd like to start uniforming the definition of tokens among TLDR pages, while also enforcing the [syntax guidelines](https://github.com/tldr-pages/tldr/blob/master/contributing-guides/style-guide.md). I believe that more consistency will not only help TLDR users, but also new contributors.

For convenience, I was thinking about creating a number of narrow-scoped pull-requests instead of a s

[2018-10-27 22:10] waldyrious commented on #2509
Hey @glenacota! Your suggestions are most welcome, and individual narrow-scoped pull requests indeed seem like a good approach for mass changes.

I'm not really sure I understand what kinds of changes you have in mind, though. Before starting making PRs, it might be a good idea to lay out your plans here, so they can be discussed and refined if needed.

[2018-10-27 22:18] glenacota commented on #2509
Hi @waldyrious, the kind of changes I had in mind were something like:
- enforce the syntax guidelines, e.g., use only snake case notations, no capital letters
- use a common definition for the same token, e.g., ```filename``` instead of ```file_name```. As a rule of thumb to select the common definition, I'd choose the most recurrent correct definition among all pages

[2018-10-28 04:53] agnivade commented on #2509
Thanks for taking this initiative. I had done that long time ago, after which we actually created the syntax guideline. Before that it was the wild west ! But sometimes things fall through the cracks and it's always good to clean things up.

Your first point seems fine. Regarding the second point, I am willing to let it be. Reason being, it will cause unnecessary churn at no good cost. We also all

[2018-10-28 07:49] waldyrious commented on #2509
I do think changes such as those in #2510 have value (so I think its closure was too hasty). Granted, some of the changes there might be arguable, as the variations in capitalization or choice of word separators might represent conventions in the ecosystem of the corresponding tools; but overall the changes seemed sensible. Even whether we should reflect context-specific naming conventions in tldr

[2018-10-28 08:08] arunisaac commented on #2339
I have submitted a pull request with proof of concept Tamil pages. I have created a separate `pages.ta` directory for Tamil pages. Do we have consensus on this directory organization structure?

If these translated pages are fine, can they be merged into master? That way, it would be easier to convince clients to implement multi-language support.

We also need someone who knows Tamil to review the

[2018-10-28 09:54] glenacota commented on #2509
Thanks for your feedback, I'm glad the issue has some value.
Hehe, yes maybe the closure of #2510 was too hasty, but also it was its creation, which I submitted before listening to the community's opinions. 😄

As a start, I'm willing to go through the application of the token syntax guidelines wherever necessary. For this task, I propose to create one PR per platform folder, to keep the review pro

[2018-10-28 10:53] waldyrious commented on #2509
Cool, sounds good to me. So let's start with fixing violations of the explicit token guidelines first, and then move to additional adjustments that are not encoded there yet.

As for the PR division strategy, I think it would be more useful if you split them by conceptual change rather than by folder. That way even if the number of changes is large, the fact that they're all related makes the revi

[2018-10-28 11:09] arunisaac commented on #2339
Ok. I'm fine with anything. I'll wait for a consensus to emerge.

[2018-10-28 12:16] agnivade commented on #2339
Yeah, I actually suggested using the 2 letter ISO language code. So the length of the suffix is known. So even if a page has `pg_ko_ko.md`, we can construct the target page name from the command and the given language.

Only ambiguity might be just looking at the file names, like `pg_ko.md`, it is not possible to understand whether the command name like `pg_ko` or `pg`. But one can just open such

[2018-10-28 17:12] sbrl commented on #2339
I'd prefer the directory-based approach, as it used in #2512. It provides a clear separation between different languages, so they don't get muddled up.

[2018-10-28 17:49] agnivade commented on #2339
Are you okay with the platform folders being duplicated ?

[2018-10-28 17:58] MasterOdin commented on #2339
I think replicating the folder structure is the best bet for retaining both backwards compatibility for existing clients and not having to ever worry about weird edge cases like "what happens if there's a command `cp` and `cp_es`, how would I translate that page to Spanish?".

[2018-10-29 00:51] neodyma opened #2521 "page request: radare2"
I'd like to request a radare2 tldr page, would be nice if someone who uses it much could have a go at it.
normal man pages are pretty sparse.

[Github Source](https://github.com/radare/radare2)

[2018-10-29 10:51] sbrl commented on #2339
Absolutely, @agnivade, and good point @MasterOdin!

[2018-10-29 11:02] sbrl commented on #2521
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2018-10-29 11:45] arunisaac commented on #2339
We also need standards for commit messages. How about `cp.ta: add page`
instead of `cp: add Tamil page` like I did in the referenced pull
request? The former is shorter and a little more structured.

[2018-10-29 22:31] waldyrious commented on #2339
I don't think `@` is a problematic character in any of the common OSes, but if you guys don't like the idea, I agree that the folder duplication is better than using `_` as a separator.

As for the commit messages, I personally prefer the `cp: add Tamil page` format, as it is more explicit, but I'll go with whatever the majority prefers.

[2018-10-30 04:12] agnivade commented on #2339
Ok then, let's go with the replicated folder structure, and commit message as `cp: add Tamil page`

[2018-10-30 10:00] arunisaac commented on #1065
We need a standardized way for clients to display pages of the appropriate language. Shall we use the LANG and other LC_xxx environment variables as gettext does? This is the standard across many free software applications.
https://www.gnu.org/software/gettext/manual/html_node/Locale-Environment-Variables.html

[2018-10-30 23:57] neodyma commented on #2521
I don't think I understand even half of what radare is capable of, so it would be better if someone else made the page 😅

[2018-10-31 00:17] sbrl commented on #2521
Sure thing, @neodyma! Perhaps someone else has more experience :-)

You could always contribute a basic page to start with, and we could iterate from there, if you wanted?

[2018-10-31 00:29] #2311 closed

[2018-10-31 00:37] sbrl commented on #1065
Sounds like a good idea to me, @arunisaac. What's the difference between the `LANG` and `LC_xxx` environment variables?

[2018-10-31 05:39] pepa65 commented on #1065
I think LANG would apply to the language of the `tldr` pages, but LC_MESSAGES to the messages that are given, and perhaps the help text. I would be interested how the pages archive would change to allow pages in multiple languages.

[2018-11-01 08:19] mfrw commented on #2509
@glenacota should we close the issue now?

[2018-11-01 09:01] waldyrious commented on #2509
@mfrw, if I understood @glenacota's intents, most of the changes he was planning to make were not done yet; #2518 was just the first (and easiest) step.

[2018-11-01 13:17] mfrw commented on #2509
@waldyrious cool. Let's keep it open to track it.

[2018-11-02 21:58] glenacota commented on #2509
Hi @mfrw, sorry for the late reply. The understanding of @waldyrious is right, I wanted to keep working on this issue. Only, I don't have much time these days, and I might need a longer time.

While working on the first PR, I noted down some possible candidates for future style guidelines. I'd like to hear your opinion about them.
- List of values: with an ellipsis (e.g., ‘calibredb’, ‘7za’) or wi

[2018-11-05 23:00] sbrl opened #2556 "AnimiVulpis: add collaborator"
Hi, @AnimiVulpis! You seem to be enjoying contributing to the tldr-pages project. You now have had five distinct pull requests merged (#2544, #2542, #2541, #2540, #2539, #1591, #1590, #1589), which qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/master/COMMUNITY-ROLES.md).

As a collaborator, you

[2018-11-10 17:17] waldyrious commented on #2556
Hmm, reading the message above, I think we should end with an actionable note.

I would suggest such a note to ask them to (1) confirm their agreement that the invitation can be sent, and (2) close the issue once they accept it (thus confirming that the new permissions are in place).

What do you think @sbrl, @agnivade, @pxgamer, @mfrw?

[2018-11-10 18:05] pxgamer commented on #2556
I think that sounds pretty good @waldyrious :+1:

[2018-11-11 06:06] mfrw commented on #2556
Yep that's a good idea.

[2018-11-11 08:15] arunisaac commented on #2339
We need to modify the Travis script `scripts/build-index.js` to also
index language while creating `pages/index.json`. Since we are going
with a replicated folder structure, would it be better to put index.json
outside the `pages` folder, that is, common to all language folders? I
imagine this would instantly break a lot of clients.

We could instead go with separate `index.json` files, one inside

[2018-11-11 11:52] waldyrious commented on #2556
Cool, thanks all for the feedback. I've added a note to self to contribute that change soon-ish.

[2018-11-11 19:03] agnivade commented on #2556
According to this -

Yes.

[2018-11-11 20:30] sbrl commented on #2556
No problem! and yep, go ahead @AnimiVulpis :D

[2018-11-12 01:33] calpa opened #2580 "Let's document: graphviz"
Graphviz is open source graph visualization software.

Graph visualization is a way of representing structural information as diagrams of abstract graphs and networks.

[2018-11-12 09:29] agnivade commented on #2339
For index.json - we can add another key called  "languages" at the same level as "platform", add add whatever extra language support we have. English will be the default.

For shortIndex.json - it is difficult without making a breaking change. Maybe we can have a shortIndex2.json, which adds the language code for the page name.

`"git-svn": {"platform": [], "languages": []}`.

Then each client can

[2018-11-12 10:29] sbrl commented on #2580
Thanks for requesting this page, @calpa! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if

[2018-11-12 10:36] sbrl commented on #2339
It might make things more complex than necessary, but we could have `index.ta.json` for Tamil, and then an "index of indexes"?

Where are these index json files located?

[2018-11-12 16:11] agnivade commented on #2339
That will still break all clients. Which we should ideally avoid.

In the assets folder of tldr-pages.github.io

[2018-11-13 14:53] principis commented on #2339
There is still no index.json file in pages.ta.
I think the folder structure is fine but there should be some index file for languages "lang.json", probably next to the pages.* folders and each language should have their own index.json in their pages folder. As mentioned before.
(Currently I'm just scanning the folders for .md files because it's unclear how the language feature is implemented.)

I

[2018-11-14 20:01] MasterOdin opened #2592 "Restructure docker page"
In #1505, the docker page was restructured such that it has `docker container` in front of every command with the vague line that the old CLI interface might be gotten rid of. It never did (or was going to be) and in most resources I've seen, you'll see people using and recommending the shorter core commands over the longer form (like `docker ps` over `docker container ls`).

Would it restructure

[2018-11-28 13:20] guilhermeleobas opened #2626 "Moving objdump to /common"
In the current layout, `objdump` is only available on Linux systems. However, this command is also available on OS X, sunos and windows through the [gnu binutils](https://www.gnu.org/software/binutils/) project. Can we move it to the `common/` folder? Other commands like `timeout` which are part of [gnu coreutils](https://www.gnu.org/software/coreutils/) are placed on `common/` instead of `linux/`

[2018-11-28 17:20] sbrl commented on #2626
Hrm, interesting proposal. Not sure what we've done before here. How would this handle with the windows built-in command `timeout`?

[2018-11-28 19:47] sbrl commented on #2626
Ahh I see. You're saying that the gnu coreutils `timeout` is already in `common`? Then moving the others from `linux` to `common` shouldn't be an issue. Want to open a PR?

[2018-11-28 19:49] guilhermeleobas commented on #2626
Sure!

[2018-11-29 13:30] #2626 closed

[2018-12-03 22:30] ronniegane commented on #2213
`csplit` added in https://github.com/tldr-pages/tldr/pull/2571

[2018-12-04 12:32] pxgamer commented on #1849
Looks like this was closed by PRs #2436, #2453, #2456 and #2450 👍

[2018-12-04 12:32] #1849 closed

[2018-12-04 12:35] pxgamer commented on #1771
Looked like this was added by #868

[2018-12-04 12:35] #1771 closed

[2018-12-05 04:04] #1603 closed

[2018-12-13 11:33] Jab2870 opened #2649 "Add links to projects / tools"
Firstly, great tool. Thanks for creating it.

Some tools are pretty obsucure. In my case it was `x_x`. I came accross it by acident but I'm glad I did. The description caught my interest but searching for the repo wasn't as easy as a websearch.

It would be very helpful in this case, and I am sure others, if the pages included a link to a repo or a project page.

[2018-12-13 15:06] agnivade commented on #2649
Thanks, I think this was brought before sometime in the past. I am not against this. But this requires a change in the page format, which needs to be discussed and approved and implemented by all clients. A non-trivial amount of work.

[2018-12-13 15:59] waldyrious commented on #784
Adding a reference to #2621 where I proposed the `[[...]]` syntax, which has precedence as internal links in similar lightweight markup languages, such as mediawiki.

Given the edit I made to my previous comment, I'd say we could actually move forward with this one without having too coordinate with the clients. Anyone up for doing the changes? :D

[2018-12-13 16:02] waldyrious commented on #481
Hey @Parth, do you think implementing #784 would solve this issue? If so I'd suggest closing this issue and tracking the implementation there :)

[2018-12-13 16:04] waldyrious commented on #2649
This had originally been proposed in #934. Thanks for opening an issue -- now we can track this properly, as a sub-item of #1082.

[2018-12-13 16:05] waldyrious commented on #1082
The first one (URL) is now properly tracked in #2649.

[2018-12-13 20:16] sbrl commented on #784
Great idea! I'm down for `[[command]]`, as it appears to be a better alternative to graves.

I think a simple find and replaces should do the trick:

[code]

Would that be `sed -e 's/`\b/]]/g' -e 's/\b`/[[/g'` with `sed`? I'm unsure as to whether `sed` supports the `\b` (word boundary) syntax.

[2018-12-13 20:18] sbrl commented on #784
Also, we _really_ need a specification document. Is there a master list of everywhere we've discussed things that should go in the client spec?

It's the end of the University semester, so I _might_ be able to draft something up.

[2018-12-13 20:20] sbrl commented on #2649
Do you have some suggested syntax, @Jab2870? Ideally, it should be something that doesn't break existing clients, feels like markdown, and looks good even if not supported by a particular client.

[2018-12-13 22:53] waldyrious commented on #784
I'm afraid such a bulk replacement method might get us a lot of false positives, but sure, let's try and see. As for the tool to use, I would suggest trying `perl`  instead. The tldr page for `perl` has an example for how to use it as a `sed` replacement (and of course its regex support is much more complete).

Regarding the page spec, IIRC the main discussions have happened in #958 and #1065, plu

[2018-12-14 02:45] mfrw commented on #2592
@MasterOdin Should we close this now?

[2018-12-14 08:51] waldyrious commented on #2592
@mfrw we still need the `docker-container` and `docker-image` pages, for completeness. The former, in particular, would be required for us not to lose information that was on the `docker` page prior to #2597.

[2018-12-14 09:34] Jab2870 commented on #2649
Well, a link in MarkDown is this:

[code]
So that would probably be a startign point.

Perhaps we could have a section called relavent links?

[code]

Potentially a more future proof solution would be addign YAML headers to the files. This would mean that clients would need to be updated but would have the advantage of alowing us to add a lot more "meta" information to the pages. Potentially thing

[2018-12-14 11:05] waldyrious commented on #2649
I like the idea of a metadata section, but perhaps it would make more sense at the bottom of the pages, rather than at the beginning.

[2018-12-14 11:18] Jab2870 commented on #2649
The only reason I say top is that there are other Markdown Syntaxes that use Yaml at the top [Pandoc](https://pandoc.org/MANUAL.html#extension-yaml_metadata_block) is the one I am most familier with although I think R Markdown does this as well.

[2018-12-14 15:30] jedahan commented on #2649
I'd advocate for links to just be part of the natural description up top, where we provide context. A single link to a homepage feels in the spirit of `tl;dr`

[2018-12-14 19:57] sbrl commented on #784
Ah, good thinking. We could use `grep`'s PCRE-compatible mode to check for what would be replaced:

[code]

And thanks! I'll take a look at writing something up if I have time (or don't get distracted :P)

[2018-12-14 21:40] waldyrious commented on #2649
Yes, I agree the main link of the project feels central enough to justify placing it at the top, as part of the main description (rather than inside a metadata block).

From the options you presented, I like the autolink one the best.

[2018-12-15 15:50] sbrl commented on #2649
Hrm. I link the autolink, but I feel like it doesn't give enough context as to what it's doing there. How about this:

[code]

[2018-12-16 20:00] waldyrious commented on #2649
Sure. I personally don't feel it's necessary, but explicit is always better than implicit, so I'm fine with having the label.

[2018-12-17 09:21] Jab2870 commented on #2649
I personally think we should stick to Markdown links. Autolinks are great but this would make the repository CommonMark specific wouldn't it? I may be wrong but it appears that there is currently nothing in the repo that is outside the standard Markdown spec.  I agree with @waldyrious that Explicit is better than implicit to I would prefer to go with

[code]

[2018-12-17 09:22] Jab2870 commented on #2649
Fix Typo

[2018-12-17 10:05] waldyrious commented on #2649
While I agree on principle, I don't think there's anything wrong with following CommonMark, since it's the only actively maintained and widely supported Markdown specification. Besides, the autolink syntax is cleaner to read in plain text mode than the inline link syntax.

That said, I do lament that we can't use the inline link in the actual title line (which would make the most semantic sense IM

[2018-12-17 11:30] Jab2870 commented on #2649
Why wouldn't you consider [pandoc](https://pandoc.org/MANUAL.html#pandocs-markdown] or [github](https://github.github.com/gfm/) flavors of markdown as active or widley supported? Just out of interest as I have just checked and both also support the autolink syntax.

Since the autolink syntax is more widley supported that I previously thought, I would agree that it is the nicest to read of the opti

[2018-12-17 11:46] waldyrious commented on #2649
Because they make no claim to be a generic standard that anyone can use, and are tuned to the specific needs of the projects they're part of. CommonMark, on the other hand, was created explicitly as a project to offer an unambiguous markdown specification fit for general use by any project.

I think additional links can go in a metadata section, which we'll likely add sooner or later in order to s

[2018-12-17 11:54] Jab2870 commented on #2649
Fair enough. Is it now just a matter of going through and adding them? I would be very happy to contribute some time this evening to adding links if we are in agreement.

[2018-12-17 12:13] waldyrious commented on #2649
Let's wait for @sbrl and @agnivade to comment. Once we all agree on the format, yes, it's just a matter of someone rolling up the sleeves and making the changes to the pages :)

[2018-12-17 16:37] agnivade commented on #2649
Sure, I don't have any strong feelings regarding on the specifics of the format. But I think having a prefix like `homepage:` will help clients parse that and display it nicely.

[2018-12-17 17:08] jedahan commented on #2649
More options, if we are okay with autolinks, that don't look awful with `cat`, but still are reasonably easy to parse by different clients

# After title

[code]

# Title inline

[code]

# After Description

[code]

# Footer

[code]

I feel like the footer reads the best with a simple cat, but I am very worried that these pages will become super long as people feel like they can stuff in all sorts

[2018-12-17 17:20] Jab2870 commented on #2649
I definately prefer After Description or Footer. Although, I think as @agnivade has said, we should label them somehow.

Also, should we clarify the types of links we should including?

Off the top of my head:

* Project website
* Git repo

[2018-12-17 17:24] agnivade commented on #2649
We cannot do "after description", "after title" or "footer" without breaking the linter, and possibly other clients. Let us just go with a new line in sub-heading.

And the link should be the home page of the tool if it has one, else the git repo. In short, whatever helps the user to know more about the tool.

[2018-12-17 17:56] agnivade commented on #2649
The linter will obviously break. So that is a bigger problem than the clients. If we are going to add the links in those sections, we need to change the linter first.

[2018-12-17 22:49] waldyrious commented on #2484
@arunisaac, @agnivade, @sbrl -- sorry for the much delayed response. I'm trying to go through my backlog little by little :)

If I recall correctly from #964, the reason for those two examples was that if the target path already exists, the original folder is copied *into* it, keeping its original name; while if the target path does not exist, the copied folder takes the name of the last portion o

[2018-12-17 23:19] waldyrious commented on #2649
I agree with @sbrl that it's best to keep the title line clean, so the "Title inline" (the only one of @jedahan's [second batch of options](https://github.com/tldr-pages/tldr/issues/2649#issuecomment-447921747) that wouldn't break the lexer, as @agnivade mentioned) would be a no go from me.

If I understand correctly, among the options that can be introduced immediately (i.e. that don't break the

[2018-12-18 03:48] agnivade commented on #2649
SGTM.

[2018-12-18 09:13] agnivade commented on #2484
I think people are focusing more on the example rather than the description. Here, both examples are the same `cp -r source destination`.

I think it might be better if we just amend the current description, since we already have a line on copying the contents of a folder into another folder.

[code]

[2018-12-18 09:33] Jab2870 commented on #2649
Looks good to me.

[2018-12-18 10:03] Jab2870 opened #2654 "Original Man Page"
Do you think it would be useful to include a link to the original Man Page? This relates to #1082 .

I think we have decided in #2649 that links to the project page should go at the bottom of the description. If we are making this change, do you think it would make sense to do this at the same time?

[code]

or

[code]

I couldn't find a man page for x_x so have used curl as the example.

[2018-12-18 10:32] waldyrious commented on #2484
I'd argue that the result is significantly different:
- the folder name in the copy changes in one case, but doesn't in the other;
- the location of the copy ends up at different levels of the filesystem hierarchy in both cases
- as you say yourself, the current example can be thought of as copying the _contents_ of a folder to a different location, while the other is about copying the entire fold

[2018-12-18 10:39] waldyrious commented on #2654
Isn't the man page always accessed by running `man <command name>`? I don't think it's good use of space to include information that is essentially the same pattern for every page, since there's barely no new information added to what the page already contains (except perhaps an indication of whether the man page exists or not).

[2018-12-18 10:48] sbrl commented on #2649
Yep! Looks ok to me. Let's do that :smiley_cat:

[2018-12-18 11:34] agnivade commented on #2484
Oops ! sorry.

Yes, it is indeed challenging to convey the model from scratch. Can you give a shot in improving the existing example further ? I would like to see how it looks like (since mine was wrong anyways :P) before  going for a 2 example solution.

[2018-12-18 11:37] agnivade commented on #2654
Yeah, let's just go with the home page. Some pages don't even have a man page. If there is one, then one can always do `man <cmd>`, if there isn't, then there is the home page to look up.

[2018-12-18 11:37] #2654 closed

[2018-12-18 12:11] waldyrious commented on #2484
Sure. I'll mull this over tonight™ and will make a proposal.

[2018-12-18 13:02] sbrl commented on #1065
Hey! I've started the process of writing up an official specification document.

The way I write documents like this is to first take notes in bullet-point form, refine / reorder them, and then convert them to full paragraphs - in this case with full explanations & examples.

Here's a link to what I've got so far: https://ybin.me/p/b2479ea212d37640#TfDX4GziXCR8WcHxMaoA6w83PhtvCvkmRl1KIXMpmec=

I'v

[2018-12-18 15:50] jedahan commented on #2649
So should we all just start creating PRs for different pages?

[2018-12-18 15:58] agnivade commented on #2649
@waldyrious - any concerns before we move ahead ?

[2018-12-18 16:37] waldyrious commented on #2649
@agnivade just a small thing: Do we have a hard limit of two lines for the command description? If so, we probably will want to bump it to 3.

Also, I'd rather have this change done in bulk than one PR for each page. Or at least in batches. @Jab2870 did you have any plans regarding how to perform this mass edit, or were you also planning to do them one by one?

[2018-12-18 17:00] agnivade commented on #1065
I think if the client supports the `--os` flag, then it would need to be updated to recognize that flag. Also, there may not be any direct mapping from the host platform name to the folder name.

I think it should be a `SHOULD`.

Cache location-
The location should be well-defined. But the modus-operandi should be left to the clients. There is an open issue for the node client to use `git fetch` t

[2018-12-18 17:01] agnivade commented on #2649
Nope, I tested it.

[2018-12-18 17:50] agnivade commented on #1065
A specification is a good to have because it gives guidance for new client authors on how to go about creating a client. Or what are some of the features a client should have.

[2018-12-18 18:45] jedahan commented on #1065
I agree that examples are good to have, but I'd rather avoid listing all features every client has done in a specification, and avoid restricting clients to only one way of implementing things.

A good example is specifying how files should be stored. What if my client was much better with an internal db? Or was meant to be accessed offline? It would be a shame if we couldn't link to them as 'an o

[2018-12-18 18:54] sbrl commented on #1065
Thanks for the feedback everyone! I've created an updated version of the spec. Here's a link: https://ybin.me/p/dddac3fe0177c4dd#+fRQMkWH7Nuv2geAhX96O8nND2IqzbnICRWDS9+cvc4=

I've also responded to individual points raised below:

@MasterOdin:

I'm unsure what you mean by a `--single-column` flag. Could you elaborate please?

Would that be like `--os windows`, or `--os linux`? I seem to have forgo

[2018-12-18 21:06] jedahan commented on #1065
The 'one page per line' use case seems the simplest, I'd be happy to see that be the default behavior for `--list`.

@MasterOdin I would prefer clients that allow you to point them towards a cache dir, than the organization dictate where it should be. But I don't think people making clients should be forced to support configurable cache directories, as that adds friction to development and just pl

[2018-12-18 22:12] waldyrious commented on #2484
The best I can muster is something like this:

    - Recursively copy a folder's contents to a new location (if the destination exists, the folder is copied inside it):
    `cp -r {{path/to/original-folder}} {{path/to/copy-folder}}`

...but I think it's too long, and I fear it may still not be not sufficiently clear :(

[2018-12-19 03:42] agnivade commented on #1065
Yes, if you see my earlier comment, this is exactly what I wanted.

In the node client, it is `--os=<linux|windows|mac>`. So the extra flag value needs to be there in the client.

Sorry, I wasn't clear maybe. I was saying we _should_ specify the directory. But the internal implementation of the the cache is managed should be left upto the client.

[2018-12-19 04:02] agnivade commented on #2484
Doesn't seem too long. We've had examples like these. @arunisaac / @sbrl - Does this look okay ?

[2018-12-19 10:08] waldyrious commented on #2484
Btw, while discussing this with my coworkers, I was reminded that this behavior also happens with [`mv`](https://github.com/tldr-pages/tldr/blob/master/pages/common/mv.md). I don't want to tackle reworking that page too, though (for the time being at least). Just leaving the note for future reference.

[2018-12-19 10:12] Jab2870 commented on #2649
Mass edit no although I might be able to put some time into a script at the weekend that would search GitHub for the command name. If a match is found, add that. We could then manually update any that should point to a project page rather than the GitHub repo.

If there isn't a GitHub match, we probably wouldn't be able to anything

[2018-12-19 10:36] waldyrious commented on #2649
I was thinking we could try one of the online manpage sites with the command name, since the URL is generally consistent and matches the command name. That would get us a long way for the most common commands. We can later manually replace the manpage links with more appropriate URLs in case the commands have dedicated webpages.

For commands that don't have manpages, usually the issue or PR that

[2018-12-19 16:45] Cyberhan123 opened #2658 "android it"
it show This command is not yet available.
Submit new command to tldr all time .
what should I do

[2018-12-19 17:22] sbrl commented on #2658
Thanks for requesting this page! I'm unsure what command you're referring to, but dyou want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a p

[2018-12-19 17:44] Cyberhan123 commented on #2658
I try some like ls mkdir but it doesn't work in Android client , it show me This command is not yet available.
Submit new command to tldr
how can i get the Android client i want try my best and fix it

[2018-12-19 17:46] Cyberhan123 commented on #2658
my English. not well so it can't help me to describe all mean.emmmm ,sorry

[2018-12-19 20:58] sbrl commented on #1065
I see. I'm unsure about that comma-separated output.

...I see. What do you think of the alternative `platform/command` syntax?

I'm unsure that such an option should be specified via a command-line argument. I suspect that it's better suited to an environment variable, such as `TLDR_CACHE_DIRECTORY` - since you probably want to keep it the same. Thoughts?

I definitely think we should specify _ho

[2018-12-19 21:08] pepa65 commented on #1065
The easiest, most accessible and portable way to store the cache is to unpack the archive containing index.json and the platform directories containing the pages. If you stick to POSIX, you should put it in `$XDG_DATA_HOME/tldr`, where `$XDG_DATA_HOME` can be user defined, but on Ubuntu it is `$HOME/.local/share` by default.

[2018-12-19 22:08] jedahan commented on #1065
tl;dr I think the only thing the spec should recommend regarding how and where files should be stored, is that clients provide a way to specify where files should be stored in `TLDR_CACHE_LOCATION` and maybe a `--cache-location` config flag.

---

I'm getting confused about the difference people are using the words *how* and *where* things are stored, and *how to configure where* things should be

[2018-12-19 23:09] sbrl commented on #1065
Excellent demystification, @jedahan :D

[2018-12-19 23:16] sbrl commented on #2649
Tools like `ffmpeg`, `7z`, `ansible`, `weasyprint`, etc. have their own websites, which I think we could point to. I'll put together a mass-changes PR for some of those.

[2018-12-19 23:44] sbrl commented on #2649
Oops! I've encountered an issue. I pushed to master by accident, reverted it and created a branch instead - but now I can't create a PR 'cause GitHub claims there aren't any changes - when `git diff` clearly shows otherwise......

[2018-12-20 04:21] agnivade commented on #1065
I think you meant to say "we should _not_" :laughing:

I don't understand. What is the alternative syntax ?

[2018-12-20 10:01] agnivade commented on #2658
What is the actual problem here ? Are you trying some commands in android and not getting results ? Please raise an issue in the repo of the android client. This repo is only for pages.

Or do you want a tldr page to be added ? In which case, I don't understand which command.

[2018-12-20 10:18] sbrl commented on #2649
Thanks, @agnivade! I've rebased master on top of the branch, but I'm still getting the same error :-/

[2018-12-20 12:30] waldyrious commented on #2649
@sbrl first of all, I would have actually removed the new commit to `master` rather than add a reversal commit, considering that no commits have been added on top of the first one. Would you guys object to that? We're can still do it.

Anyway, the confusion seems to be due to the following sequence, if I'm understanding things correctly:

                                              * revert B [m

[2018-12-20 12:38] waldyrious commented on #2658
@Cyberhan123 maybe you could write in your original language and we'll try using an automated translator to help understand what your issue is. Can you try that?

[2018-12-20 14:01] waldyrious commented on #2649
Update: re-writing master is no longer a clean option :( other commits have been added on top. So now the cherry-pick is the way to go, I suppose.

[2018-12-20 15:10] agnivade commented on #2649
Can't we delete the 2 commits and force push ?

[2018-12-20 15:48] waldyrious commented on #2649
We can, of course. It's just even more of a kludge now than it would be if we did it before any commits had been added on top. For example, the commit that integrated the changes in #2657 will have a different hash, and github may start showing that PR as closed without being merged. Not that this matters a lot since that's kind of a failure on github's side, and we can always leave a comment ther

[2018-12-20 16:12] sbrl commented on #2649
I tried to force-push, but it wouldn't let me - claiming that `master` is a 'protected branch'. I was unsure as to whether I should disable that temporarily.

Thanks for the advice on cherry picking - I ended up doing that and opening #2660

[2018-12-20 16:16] sbrl commented on #1065
Yeah, I did! I'll edit that comment.

Here's a comparison of the 2 syntaxes:

[code]

[2018-12-20 17:33] agnivade commented on #2649
Yes, force pushing needs to make master unprotected. Let's go with cherry picking.

[2018-12-20 17:51] pepa65 commented on #1065
I just implemented platform-agnosticism in the tldr-bash-client (meaning no hardcoded platforms, whatever directories are in the archive will be allowed), and that is no problem. Of course the detection of the current platform is still dependent on the detection code, but new directories in the archive will be usable without the code needing to be updated.

[2018-12-20 18:57] waldyrious commented on #2649
It's too bad, there should be a way to protect master against direct commits too, not just force-pushes.

[2018-12-21 20:40] sbrl commented on #1065
The platform names don't correspond to the folder names?

[2018-12-21 21:17] pepa65 commented on #1065
I would hope the archive will keep having folder names that correspond to the platform names. So far that is the case. (Except for `current`, which is `common` plus the detected current platform, if any.)

[2018-12-22 04:12] agnivade commented on #1065
I mean it depends on the client, the programming language, and where it's being run. Take osx for eg. To detect the host OS, the client might get osx, darwin, macOS and all will be correct. But the folder name is osx.

[2018-12-22 09:11] 9Ajiang commented on #2658
I have the same problem, It seems that Android client doesn't work.

[2018-12-22 11:50] sbrl commented on #1065
@agnivade Oh, right! I never knew. I don't actually have a mac machine,  so I have no idea as to how it identifies itself :P

So what should we put for the platform specification in the spec? `platform/page`, or `--os platform page`?

[2018-12-22 12:00] agnivade commented on #1065
Whatever is fine. I don't have an opinion on that. I just wanted to say that the client needs to be updated.

[2018-12-22 12:09] sbrl opened #2667 "Proposal: translation label"
With the new multiple language support coming through the pipeline in #2339 and #2594, it would be useful to tag the PRs that translate a page into another language with a special label.

To this end, I propose a new `translation` label.

Thoughts?

[2018-12-23 09:42] waldyrious commented on #2658
For reference, there are two Android clients, at least [according to the README](https://github.com/tldr-pages/tldr#clients).

[2018-12-23 15:07] sbrl commented on #2667
We've got a new label :D

[2018-12-23 15:07] #2667 closed

[2018-12-23 15:08] sbrl commented on #2667
Looks like you can add a description to labels now too.

[2018-12-25 07:34] #2658 closed

[2018-12-25 07:35] Cyberhan123 commented on #2658
thank for all your help

[2018-12-31 05:42] #481 closed

[2019-01-02 14:41] principis opened #2677 ""cn" is not a valid ISO 639-1 code"
Recently chinese pages were added in a folder `pages.cn`. It's awesome that different languages are being added but this comes with a problem. How do we choose languages?
So `ta` is a valid 2 letter ISO code (ISO 639-1) for Tamil. When this got added, I added the feature to my client so that the users language would be the default and a fallback to English. This works using ISO 639-1 language code

[2019-01-02 14:44] agnivade commented on #2677
Ah good spot ! @HugueLiu - would you please send a PR for this ?

[2019-01-04 14:30] shmink opened #2680 "page request: iex/elixir"
iex being the interactive terminal for the elixir language. But there is also `elixir` as well they work very similarly only seeming to have a few differences. Might be able to put both into the one page? I'll look into doing this myself in future.

https://www.mankier.com/1/iex

[2019-01-05 21:01] urbalazs commented on #2339
I managed to generate POT file and PO files for each languages and write the translations back to folder `pages.xx` (where xx is the 2-letter code of the language, e.g. `pages.hu` for Hungarian). I'm using [po4a](https://po4a.org/) for this.

I put a `po4a.conf` file into the root directory of the repo. The content of the config file is:
[code]

`[po_langs]` lists the supported languages separated

[2019-01-06 14:15] sbrl commented on #2680
Not sure that it would work with our current structure having just 1 page. If you'd like to attempt it yourself, that'd be great :D

[2019-01-10 03:13] aaronfranke opened #2695 "page request: uvcdynctrl"
uvcdynctrl is a program to manage webcams. It can be installed with `sudo apt install uvcdynctrl`

https://www.mankier.com/1/uvcdynctrl https://www.unix.com/man-page/all/1/UVCDYNCTRL/

The man page and `--help` page for this program are very unhelpful. They provide no examples whatsoever. I would appreciate a TLDR page for how to use this tool.

[2019-01-10 07:33] agnivade commented on #2677
This is done now.

[2019-01-10 07:33] #2677 closed

[2019-01-10 07:42] agnivade commented on #2484
ping @sbrl / @pxgamer for comments.

[2019-01-10 08:09] pxgamer commented on #2484
I hadn't seen this issue until now (oops).

I think that updated description seems fine (and I have seen some which are quite a bit longer). It's difficult to get some functionality across in short messages. I do however understand it being split into 2, due to the differences between them (even though the usage examples are identical) and I would hope people would see the descriptions are differe

[2019-01-11 00:32] sbrl commented on #2677
An extract from the recent chat on Gitter:

[code]

Looks like a 2-letter country code isn't going to be sufficient to represent all languages. @waldyrious suggests that we use _IETF language codes_ instead, in order to avoid this issue - which I agree with.

Should we reopen this issue, or create a new one?

[2019-01-12 17:38] sbrl commented on #1065
It's finally happened! See #2706 for the full specification I've drafted up. Taken me all afternoon, but worth it :smiley_cat: :fireworks:

[2019-01-16 04:36] ua741 opened #2712 "page request: arc"
`Arcanist`(Arc) is a command-line interface to `Phabricator`.

Arcanist provides command-line access to many Phabricator tools (like Differential, Files, and Paste), integrates with static analysis ("lint") and unit tests, and manages common workflows like getting changes into Differential for review.

https://secure.phabricator.com/book/phabricator/article/arcanist/

[2019-01-16 08:30] mmphego opened #2713 "Page request: mosquitto_sub & mosquitto_pub"
[Eclipse Mosquitto](https://mosquitto.org/):
Eclipse Mosquitto is an open source (EPL/EDL licensed) message broker that implements the MQTT protocol versions 3.1 and 3.1.1. Mosquitto is lightweight and is suitable for use on all devices from low power single board computers to full servers.

The MQTT protocol provides a lightweight method of carrying out messaging using a publish/subscribe model.