[2021-11-02 17:53] kitarp29 commented on #5512
@MasterOdin Can I work on it??

[2021-11-03 08:30] Dentrax opened #7375 "Should not error out "use --update to update it" if we pass `--update` flag"
Since we are passing the `--update` flag, I think throwing the following error might be unnecessary. We can write different logs here to improve the error message. Maybe "How many data will be updated?", "Which ones are changed?", "Changed by who?", etc.

[code]

[code]

[2021-11-03 08:34] Dentrax opened #7376 "Improve verbosity of updating"
I think it's worth mentioning to add more verbosity to `--update` flag since we could not see anything in this first place. How about:

* How many data will be updated?
* Which ones are changed?
* Changed by whom?
* From which commit to where?
* etc.

[code]

[2021-11-03 15:47] marchersimon commented on #7365
Small update: While you can't see labels in your notifications, you can still create a filter to get PRs with a specific label, so my original issue basically has been resolved. But I'm still waiting what others think.

[2021-11-03 15:50] marchersimon commented on #7375
Hey @Dentrax, this repository only contains the pages themselves, and don't have much to do with any clients. Which client do you use / where did you install it from? Looks like the Node.js client, but I'm not sure.

[2021-11-03 15:54] marchersimon commented on #7376
The first two points are quite doable. The second two would require to interact with the GitHub API, which is a bit more difficult. If you're interested, I've written my own [C++ client](https://github.com/marchersimon/tldr-cpp/), where I have implemented the first two points. That's how I did it:

* Back up all old files
* Create a hash for every file
* Download the new files and also create a ha

[2021-11-03 16:21] marchersimon commented on #7375
From looking at the source code, you seem to be using the C client.

[2021-11-03 19:00] deadpyxel commented on #7365
I was thinking maybe of something like this: https://github.com/marketplace/actions/review-assign-action but like you said, maybe this is not really that useful.

My idea would be that you could send a notification given some kind of tag or specific comment (like `tl:German`) to potential reviewers.

[2021-11-04 07:15] marchersimon commented on #5512
Sure, if you like to

[2021-11-05 07:36] #7174 closed

[2021-11-06 02:31] kitarp29 commented on #5512
@MasterOdin https://github.com/tldr-pages/tldr/pull/7381
did the changes and updated README.md

[2021-11-06 11:29] iamgodot opened #7382 "Python client for tldr pages"
I've implemented a new Python client for tldr pages [here](https://github.com/iamgodot/py-tldr), now I'm wondering where should I list it for everyone to use. Should I just update the wiki page?

BTW, I checked on [tldr.py](https://github.com/lord63/tldr.py) but cannot be able to use it. The code seems broken and I got no response from the author. I'm not sure if it should be removed from the clie

[2021-11-06 15:34] marchersimon commented on #7382
Looks great. Just add it to the Wiki.
Regarding tldr.py, I'm not sure. We have a lot of client's which don't work anymore, but we haven't got to decide what to do with them yet.

[2021-11-06 16:43] iamgodot commented on #7382
Cool, I just did. Hopefully you'll make a decision soon, maybe assign someone for a particular language to manage stuff.

[2021-11-06 20:35] marchersimon commented on #7193
I removed it from the wiki. Does this resolve your issue @olbrew?

[2021-11-06 20:49] marchersimon commented on #876
@SebDanielsson do you mean the tldr cache where the pages are stored? If so, you can open an issue about this at your client's repository or use another client.

[2021-11-06 21:51] pixelcmtd commented on #6609
Yes, of course.

[2021-11-06 22:15] olbrew commented on #7193
Yes it does. A better option would've been to fix the snap package but this closes the issue as well ;).

[2021-11-06 23:12] SebDanielsson commented on #876
Looks like this issue belongs to this repo:
https://github.com/tldr-pages/tldr-c-client.

There's already an issue for it:
https://github.com/tldr-pages/tldr-c-client/issues/49

Sorry for the inconvenience.

[2021-11-07 00:28] #7193 closed

[2021-11-07 12:46] marchersimon commented on #7193
Well, as @navarroaxel already said, we don't control that. We could however try to send a request to Snapcraft to re-add the package.

[2021-11-07 12:52] sbrl commented on #7193
Hrm, that's weird. I think we need someone experienced with packaging to help out here to sort out and maintain the various os-level tldr packages. Other package managers also have issues - I think we have an issue open about those too.

[2021-11-07 13:20] marchersimon commented on #7193
I started a [new thread](https://forum.snapcraft.io/t/is-there-a-record-of-previously-removed-snaps/27391) at the Snapcraft forum to find out why it was removed. Creating snaps doesn't seem very complicated, but it has to be done on Ubuntu.

[2021-11-07 21:06] robsonpeixoto opened #7392 "Error when try to update local database"
[code]

[2021-11-08 01:52] #7094 closed

[2021-11-10 08:28] marchersimon opened #7404 "Add collaborator: @reinhart1010"
Hi, @reinhart1010! You seem to be enjoying contributing to the tldr-pages project.
You now have had 17 distinct pull requests merged (#7192 #7089 #7087 #7086 #6623 ...)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md).

As a collaborator, you will have commit access

[2021-11-10 21:47] sbrl commented on #7194
Sounds interesting. I think we agreed recently though to document PowerShell commands under `windows` rather than `common` since it's on Windows that PowerShell is usually used though?

The other changes here sound good though. Thanks!

[2021-11-11 07:29] #6599 closed

[2021-11-11 21:30] jtmlis opened #7408 "page request: nyxt"
- include a link to a web page about the command
https://nyxt.atlas.engineer/
- if available, add an existing source of examples
https://github.com/atlas-engineer/nyxt

[code]

[2021-11-12 02:14] EmilySeville7cfg opened #7410 "page request: nushell"
https://github.com/nushell/nushell

Maybe I will try to close this issue.

[2021-11-12 02:52] EmilySeville7cfg commented on #7410
Page is already exists. Sorry for issue.

[2021-11-12 02:52] #7410 closed

[2021-11-12 17:20] EmilySeville7cfg opened #7416 "Standardize shell tldr pages"
I think shell tldr pages should be more standardized to simplify their reading for people. For instance shell commands can be ordered as:

- Start an interactive shell session
- Start an interactive shell session without loading startup configs
- Execute commands
- Execute a script
- Check a script for syntax errors
- any other examples

In all examples long options should be preferred (if availab

[2021-11-12 18:01] EmilySeville7cfg opened #7418 "pages request: mcs, gacutil"
[Mono main tools](https://www.mono-project.com/docs/tools+libraries/tools/#main-tools)

[2021-11-12 18:55] EmilySeville7cfg opened #7419 "page request: octave"
[Here](https://octave.org/doc/v4.4.0/Command-Line-Options.html) command line options can be found.

[2021-11-12 23:50] EmilySeville7cfg commented on #7419
I [leave](https://octave.discourse.group/t/tl-dr-page-for-octave/1792) here link for my topic with octave developers here.

[2021-11-12 23:54] CleanMachine1 commented on #7416
Different pages have different topics they should focus on, so having a universal syntax for pages starts to make them manuals and less helpful.

I'm not completely satisfied with this idea.

[2021-11-13 15:45] marchersimon commented on #7416
I'm confused. Did you mean `easier to remember`? If so, I don't agree with that, remembering a word with a meaning is definitively easier than remembering a single letter.

[2021-11-13 15:48] EmilySeville7cfg commented on #7416
I think that tldr pages can help use and remember short options faster because they are less user friendly than long ones. That's why I prefer to use short options in pages. But the benefit of short options is less typing. ;)

[2021-11-13 15:51] marchersimon commented on #7416
The problem with short options often is, that you don't understand what they do. When you read `--command`, you know exactly what it does, but when you read `-c` it can be anything (it's often implied by the context, but not always).

[2021-11-13 15:52] EmilySeville7cfg commented on #7416
On the other hand we can prefer long options always when they exist.🤔

[2021-11-13 15:57] marchersimon commented on #7416
We settled on faster memorizing (and especially understanding) some time ago. When you're working a lot with a command you probably already had a look at the man page where you can find the short options.

[2021-11-13 16:00] EmilySeville7cfg commented on #7416
Ok. Got it. I wanna to write about it in CONTRIBUTING.md after a while.

[2021-11-14 16:03] CleanMachine1 commented on #7408
Hi @jtmlis

You do not need to submit a request like this for a new page.

Simply add it via a PR!

I assume you used an issue instead because of all of the other "page requests" but they are rather just undocumented commands which people request for others to make for TLDR.

Hope this clears somethings up, and if you would like to add this via a PR feel free, or just mention if you want one of ou

[2021-11-14 16:05] CleanMachine1 commented on #7365
French is also worth creating a team.

I will create the teams now, and if people like it then we will keep it, else it was worth a trial :shrug:

[2021-11-14 16:09] CleanMachine1 commented on #7365
Hmm, I can't leave a team after I make it, @marchersimon would you like to?

[2021-11-14 19:06] marchersimon commented on #7365
Well, I just created @tldr-pages/german and saw that you can only add org members to a team. From what I have read, you have to restrict this team to specific repositories, where all team members have access to. So in our case, we would have to restrict the access to tldr-pages/tldr, because collaborators only have access to this one. But to do that I need to be an org owner. @navarroaxel could yo

[2021-11-14 19:10] marchersimon commented on #7416
I was sure we already covered that somewhere, but apparently not. But it should go in `contributing-guides/style-guide`, and not `CONTRIBUTING.md`.

[2021-11-14 19:41] marchersimon commented on #7404
@reinhart1010?

[2021-11-15 06:17] EmilySeville7cfg opened #7440 "page request: for, if"
Platform: Windows

[2021-11-15 11:46] navarroaxel commented on #7365
Done @marchersimon

[2021-11-15 15:44] mfrw opened #7445 "page request: networkQuality"
[networkQuality](https://support.apple.com/en-gb/HT212313) is a native command-line tool shipped in macos Monterey.

[2021-11-15 20:05] marchersimon commented on #7365
Great, it actually worked. Now we have to come up with a useful list of teams we could create. Some ideas:

* `german` (already exists)
* `review` (just general review, this could replace the `review-needed` label)
* `maintaining` (for general stuff like documentation of scripts)
* `python` or `tldr-python-client`
* `js` or `node` or `tldr-node-client`
* `c` or `tldr-c-client`

Depending what we c

[2021-11-16 10:42] #6430 closed

[2021-11-16 15:05] ttv20 opened #7448 ""edit this page on github" link to master repo instead of main"
in https://tldr.sh/ website

[2021-11-16 15:41] ttv20 commented on #7448
shoulden't be here. https://github.com/ostera/tldr.jsx

[2021-11-16 15:41] #7448 closed

[2021-11-16 16:08] mfrw opened #7449 "CONTRIBUTING: clarify the base branch of PRs should be `main` instead of `master`"
A few PRs end up based against the `master` branch instead of the `main` branch.
Explicitly call out in the contributing guidelines about the same.

[2021-11-17 15:34] qubidt commented on #5103
fyi, btrfs-rescue was merged with #6963

[2021-11-17 18:15] #7449 closed

[2021-11-20 12:26] #7445 closed

[2021-11-21 02:02] #7325 closed

[2021-11-21 03:54] EmilySeville7cfg opened #7462 "page request: compopt"

[2021-11-22 12:27] reinhart1010 commented on #7404
Sorry for late reply, but after some consideration I'm willing to do so. Thanks!

[2021-11-22 12:37] navarroaxel commented on #7404
@reinhart1010 Invitation sent, please accept and close this issue sending a PR adding you to the MAINTAINERS.md.

[2021-11-22 13:11] Mithrandir2k18 opened #7469 "page edit request: poetry: add dev-dependency"
Currently for poetry we get the following:
[code]

I'd like to propose an edit for the optional `--dev` flag to add a dev-dependency(e.g. flake8):
[code]

[2021-11-22 13:18] navarroaxel commented on #7469
We don't use `[]` in examples.
The page has 5 examples, you can add a new example and send the PR.

[2021-11-22 14:05] mfrw opened #7470 "gh/hub: add example to raise PR against a specific branch"
Most of us use `gh` or `hub` to raise PR from the command line. Add an example to clarify, how to raise a PR against any specified branch.
Motivation for this PR is a [comment thread](https://github.com/tldr-pages/tldr/pull/7447#discussion_r750405221) for this pull-request #7447 .

[2021-11-23 02:21] Liampor opened #7473 "Display formatting not correct when used on PowerShell"
Hello,

### Problem
When I use TLDR on PowerShell, the output formatting is not correct, it looks like
![image](https://user-images.githubusercontent.com/19495916/142961754-b30b2be1-f424-4ad7-8f00-6354960338e7.png)

###  Environment
PowerShell version 7.2.0
TLDR is installed via `conda install  @tldr`
[code]

### Others
TLDR works well on git-bash with the same installation and system

![image](ht

[2021-11-23 04:50] 258204 opened #7475 "Let's document: doctl"
[] 1-click
[]  account
[]  apps
[]  auth
[]  balance
[]  billing-history
[]  completion
[]  compute
[]  databases
[]  help
[]  invoice
[]  kubernetes
[]  monitoring
[]  projects
[]  registry
[]  version
[]  vpcs

[2021-11-23 10:45] reinhart1010 commented on #7475
Oh it's DigitalOcean: https://docs.digitalocean.com/reference/doctl/

[2021-11-23 11:24] melvinxeu commented on #7462
Hello, Is this issue still open? As I would like to work on it.

[2021-11-23 11:26] EmilySeville7cfg commented on #7462
Yes, it is. ;)

[2021-11-24 11:50] #7404 closed

[2021-11-24 20:10] cyqsimon opened #7479 "page request: `semanage-fcontext` & `restorecon`"
`semanage fcontext`, and `restorecon` are frequently used commands when working with SELinux.

## `semanage fcontext`

Edits the persistent SELinux rules for file context.
https://man7.org/linux/man-pages/man8/semanage-fcontext.8.html
https://wiki.gentoo.org/wiki/SELinux/Tutorials/Controlling_file_contexts_yourself

## `restorecon`

Resets the SELinux context for the selected files according to pe

[2021-11-24 20:31] cyqsimon commented on #7479
Also just out of curiosity, why is `chcon` under /pages/common instead of /pages/linux?

[2021-11-25 20:42] sbrl commented on #5512
Awesome, @kitarp29! Does this mean we can close this issue now?

[2021-11-29 19:11] kitarp29 commented on #5512
Yes this got merged.
Go ahead and close it.

[2021-11-29 19:54] #5512 closed

[2021-11-30 03:20] cpetrella-sketch commented on #7475
Can I try this?

[2021-11-30 10:41] navarroaxel commented on #7475
@cpetrella-sketch Yeah, you can send a PR for one command in the list. :rocket:

[2021-11-30 14:12] #7469 closed

[2021-12-01 04:21] 258204 commented on #7475
Yes absolutely! Be sure to link your PR in this thread so I can check it off the list.

[2021-12-01 14:16] EmilySeville7cfg opened #7503 "Group commands by shells"
There are now some tldr pages related to shell builtins. I suggest group such pages by shell not to be limited by naming conflicts in the same folder. Grouping only by OS is not always enough.

Maybe the following strategy would be enough:

- If command is __not OS specific and is external__ then it goes to `pages/general/general` folder.
- Else if command is __OS specific and is external__ then i

[2021-12-01 17:26] CleanMachine1 commented on #7503
This makes the structure of tldr a lot more complex.

I can't tell if I like it but this will break a **lot** of clients.

[2021-12-01 17:34] EmilySeville7cfg commented on #7503
Maybe it's better to have less clients but more robust. ;) Having too many clients is not very convenient - not all of them are up to date for now and moreover not all of them have the same features.

The way we can solve this problem - list tldr clients we want to support officially and try change them so they will support suggested directory structure (maybe not by default but via some flag). I

[2021-12-02 02:16] sbrl commented on #7503
I'm not sure I follow your proposed solution, @EmilySeville7cfg.

While I agree that shell builtins are a sticking point, note that part of what makes tldr-pages really useful and easy to contribute to is it's simplicity - I'm wary of the additional complexity this would introduce.

Perhaps documenting such shell builtins is best left for a cheatsheet-style project rather than tldr-pages itself?

[2021-12-02 04:29] EmilySeville7cfg commented on #7503
Another solution: describe short list of builtins what can be described here, and accept only them to reduce naming conflicts with external commands similarly named.  For example we accept only POSIX-compatible shell builtins for:

- setting/unsetting variables
- if conditions
- for/while/do-while/until loops
- case patterns

[2021-12-02 04:45] EmilySeville7cfg opened #7504 "Page request: declare, until"
This issue can be assigned to myself. ;)

[2021-12-02 04:58] EmilySeville7cfg opened #7505 "Standardize zsh page along with other shells"
See #7423 PR and #7416 issue for details.

[2021-12-05 13:14] EmilySeville7cfg commented on #7505
Done.

[2021-12-05 21:37] sbrl commented on #7076
Hmmmmm, this is a great point. Ideally, we should move `osx` to `macos`, but as you say it would unfortunately break clients. Aside from assessing the various clients to see which ones would actually break, an alias would be a great thing to add in the meantime to the spec. Would you like to open a pull request for that?

[2021-12-05 21:41] #5474 closed

[2021-12-10 14:38] EmilySeville7cfg opened #7521 "Describe quoting rules"
I suggest to write quoting rules to standardize where we use them or not. They may be as follows:

- Prefer double quotes everywhere until they are nested. In such case use single quotes not to complicate code snippets with quote escaping when possible. Motivation: allow user insert variable names/command substitutions/etc in some command without worrying about quoting.
- Do not use quotes only wh

[2021-12-10 18:02] navarroaxel opened #7522 "Add collaborator: @258204"
Hi, @258204! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#6131, #6132, #6133, #6134, #6137, #6145, #6547, #7484)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md).

As a collaborator, you will ha

[2021-12-10 18:53] 258204 commented on #7522
Thank you! I accept.

[2021-12-10 19:03] navarroaxel commented on #7522
Invitation sent, please accept it and send a PR adding you to https://github.com/tldr-pages/tldr/blob/main/MAINTAINERS.md to close this issue.

[2021-12-11 01:21] sbrl commented on #7522
Welcome, @258204 :tada:

[2021-12-11 01:22] #7522 closed

[2021-12-11 01:40] sbrl commented on #7521
Using doublle quotes *everywhere* could significantly confuse pages. I think it's probably best to only use them:

1. When they are required for a command to function correctly
2. When an argument will always contain spaces.

Remember that the point of tldr pages is to describe a specific command - not basic functionality of your shell. Quotes and such in pages are simply suggestions - just like t

[2021-12-11 07:10] 258204 commented on #7475
The structure is a little more interesting than aws due to all the nested commands. The list in the initial issue doesn't fully illustrate the work necessary.

https://docs.digitalocean.com/reference/doctl/reference/

I just realized how much money it's gonna cost to test out all these commands....

[2021-12-11 14:57] niklasmohrin opened #7528 "Client spec: Clarify behavior of special platforms"
Hey everyone, I am back with another client spec topic :sweat_smile:

In our effort to make [tealdeer](https://github.com/dbrgn/tealdeer) behave closer to the client specification, we came to adding support for `tldr --list --platform all` as described in the row for the `--list` flag in the [Arguments table](https://github.com/tldr-pages/tldr/blob/main/CLIENT-SPECIFICATION.md#arguments). While th

[2021-12-11 16:07] dbrgn commented on #7528
Thanks @niklasmohrin for creating this issue! I agree, this should be clarified.

I think that treating `all` like `current` - except for the places where considering all platforms makes sense (which is only `--list`, I think) - would be a very logical and easy to implement approach. If someone would specify `-p all` for another command, then it would simply work as it would without any `-p` argum

[2021-12-11 17:24] EmilySeville7cfg commented on #7521
In other words: when command fails to handle string with space-separated words. But what means "fails" in this case? Returning non-zero status, some error message in stderr or unexpected/undefined behaviour?

[2021-12-11 18:03] EmilySeville7cfg commented on #7521
What about simply use quotes for an argument only when command permits spaces in argument?

[2021-12-11 22:15] EmilySeville7cfg opened #7533 "ble.sh pages request"
I want to create [ble.sh](https://github.com/akinomyoga/ble.sh) tldr pages.

[2021-12-11 22:28] sbrl commented on #7528
Ah, great spot here. I wrote the original spec, so this is probably my fault as I probably didn't think of / foresee this problem at the time haha :sweat_smile: This probably means that technically this is undefined behaviour in the context oft he current specification.

Indeed, we should absolutely clarify this. Both of those solutions would work - which one would you prefer? I feel like option 2

[2021-12-11 22:54] CleanMachine1 commented on #7533
there is no need to request pages, do you mean you want someone else to see this and make one?

If you plan on doing them, please close this issue!

[2021-12-11 22:55] CleanMachine1 commented on #7479
Might it be available on a platform like MacOS?

[2021-12-11 22:59] #7533 closed

[2021-12-11 22:59] EmilySeville7cfg commented on #7533
No, I mean myself. ;)

[2021-12-11 23:00] CleanMachine1 commented on #7533
Thanks for the clarification!

[2021-12-12 03:07] cyqsimon commented on #7479
AFAIK, no.

`man chcon`

[code]

Unless MacOS has an equivalence to SELinux and also uses the same `chcon` (which I don't believe is the case). Even then the usage is certainly not the same.

[2021-12-12 20:28] dbrgn commented on #7528
Hm, if that's up for discussion, your suggestion 2 (`--list-all`) sounds like a much cleaner solution, because it avoids this whole ambiguity.

[2021-12-12 21:34] niklasmohrin commented on #7528
I personally don't like the "all = current" approach, I would be fine with `--list-all` or only accepting `all` when `--list` is used. I agree, `--list-all` would probably be the easiest solution. That would mean that `--platform all` would be removed and make that a breaking change, right?

[2021-12-14 13:22] zlatanvasovic opened #7538 "Remove organization owner: @zlatanvasovic"
I am removing myself from the organization as I've been inactive in the past and I'm moving onto different things.

Thanks for collaborating on this amazing project, and best of luck in the future! 🎉 🎉 🎉

[2021-12-14 21:04] navarroaxel opened #7540 "Add organization owner: @marchersimon"
Hi, @marchersimon! You've been an active tldr-pages organization member for over 6 months.
Thanks for sticking around this far and helping out!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md), you're now eligible for becoming an owner in the organization.

That means you will, from now on, be part of the team responsible for perform

[2021-12-14 21:04] navarroaxel opened #7541 "Add organization owner: @CleanMachine1"
Hi, @CleanMachine1! You've been an active tldr-pages organization member for over 6 months.
Thanks for sticking around this far and helping out!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md), you're now eligible for becoming an owner in the organization.

That means you will, from now on, be part of the team responsible for perfor

[2021-12-14 21:06] CleanMachine1 commented on #7541
Of course! I'll make the PR!

[2021-12-15 06:46] 258204 commented on #7541
Congratulations! You've certainly earned it.

[2021-12-15 08:28] marchersimon commented on #7540
Unfortunately I currently don't really have time for tldr and that probably won't change in the near future.
But I'd love to take that position, once I can come back to tldr.
I'll just reopen this issue then.

[2021-12-15 15:27] #7541 closed

[2021-12-16 00:31] sbrl commented on #7538
Good luck with all your future endeavours! :D

[2021-12-16 15:27] sbrl commented on #7521
That sounds good, but it's really situationally specific. While conventions exist, there are always exceptions to those conventions - and even then such conventions aren't implemented equally by everyone.

[2021-12-17 06:05] ssvm12ptps opened #7552 "Regarding Databricks issue"
I have completed this part:- First copy the token somewhere safe, then select Configure SSO and Authorize to allow the token to access the M&S Digital Innovation organisation

Now I am looking for this part but not finding:-
 Open Databricks and go to Settings followed by User Settings

After that I will perform this:-
Under the Git Integration tab chose GitHub as the Git provider, input your Mark

[2021-12-18 11:59] antoine-amara opened #7554 "Let’s document Glab Cli"
Glab CLI is the equivalent of Github CLI (GH) for Gitlab. TLDR already has documentation for the Glab command. Like GH, let's create some dedicated pages for Glab subcommands.

Find the main list of commands to document bellow and they’re equivalent in GH cli:
* [x] glab auth -- [gh auth](https://github.com/tldr-pages/tldr/blob/8ebd171d6f001698709fefc02b1fd5cc9f3a99c4/pages/common/gh-auth.md) -- h

[2021-12-18 19:53] #7538 closed

[2021-12-19 10:27] testbughub opened #7557 "page request: rnm"
[github link](https://github.com/neurobin/rnm) for rnm.

I've found this tool very useful for batch renaming files, and using it is pretty straight forward.
I thought it'd be a good addition.
There are some examples in the [README](https://github.com/neurobin/rnm#basic-options).

[2021-12-19 14:08] pixelcmtd opened #7560 "page request: gladtex"
https://humenda.github.io/GladTeX/manpage.html

[2021-12-19 16:59] dbrgn commented on #7528
PR: https://github.com/tldr-pages/tldr/pull/7561

[2021-12-19 17:25] MasterOdin commented on #7552
This repository is not for providing support for using Databricks. Your best bet is to consult their [Help Center](https://help.databricks.com/s/) and the associated resources like their community or dedicated support team.

[2021-12-19 17:25] #7552 closed

[2021-12-19 21:13] pixelcmtd opened #7562 "page request: pulseaudio-ctl"
https://github.com/graysky2/pulseaudio-ctl

[2021-12-21 09:32] adoyle-h opened #7566 "page request: nft"
- https://www.netfilter.org/projects/nftables/manpage.html
- https://wiki.nftables.org/wiki-nftables/index.php/Main_Page

[2021-12-21 09:40] CleanMachine1 commented on #7566
Feel free to make the page if you would like, you dont need to request them.

[2021-12-21 09:53] #7566 closed

[2021-12-21 21:41] sbrl commented on #7503
Something like that makes sense, yeah. It's interesting you've brought up POSIX compatibility - this could be a good standard to decide on what can be included in a page about a shell builtin that is present in multiple shells.

Of course, I'm some shells have their own unique builtins that are not found in other shells, and these could be treated as regular commands with a note what shell they ar

[2021-12-22 10:39] kamalmost opened #7568 "page request: ip-route-show"

[2021-12-23 13:41] gmkey opened #7569 "TLDR -u homebrew Error: Unable to update cache"
When I perform `tldr -u` I get the following error `Error: Unable to update cache from https://tldr-pages.github.io/assets/tldr.zip`

I've checked what whould happen if I were to request the update using wget. This is the output (in dutch, but the meaning should be clear:

`FOUT: kan certificaat van tldr-pages.github.io (uitgegeven door ‘CN=DigiCert SHA2 High Assurance Server CA,OU=www.digicert.co

[2021-12-23 14:22] Dentrax opened #7570 "page request: netperf"
[Netperf](https://github.com/HewlettPackard/netperf) is a benchmark that can be used to measure the performance of many different types of networking. It provides tests for both unidirectional throughput, and end-to-end latency.

[2021-12-24 23:03] sbrl commented on #7569
Hmmm, the certificate seems fine for me. have you made sure your system root CA certificates are up to date?

[2021-12-27 01:04] CleanMachine1 commented on #6415
Did you ever accept the invitation @pixelcmtd

[2021-12-27 01:05] #6415 closed

[2021-12-28 14:14] MasterOdin opened #7582 "Automate applying "review-needed" label"
From Gitter, would be useful to apply the review-needed label automatically as new maintainers might not know it exists, and rules to apply it are generally static.

Quoting the relevant thread below as could not find a way to link to it.

[2021-12-29 01:22] uhthomas opened #7586 "page request: bazel"
Bazel is a tool that automates software builds and tests.

https://bazel.build/

It doesn't look like there are any man pages (beside https://github.com/bazelbuild/bazel/issues/10519), or great examples of tldr-eqsue content.

[2021-12-29 01:24] uhthomas opened #7587 "page request: atuin"
Magical shell history.

https://github.com/ellie/atuin

[2021-12-29 12:29] CleanMachine1 commented on #7582
I think if possible, it should be added 24 hours after 0 or only 1 reviews

[2021-12-29 14:03] navarroaxel commented on #7586
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2021-12-29 14:03] navarroaxel commented on #7587
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2021-12-29 14:03] navarroaxel commented on #7570
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2021-12-29 14:03] navarroaxel commented on #7557
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2021-12-30 18:47] blueskyson opened #7596 "Commands that have different names among distros"
For #7578. There exist some commands which have different name in different distros. For example:

| Distro | `lid` in `libuser` | `lid` in `id-utils` |
|--|--|--|
| Debian | rename to `libuser-lid` | `lid` |
| Redhat | `lid` | no package |
| Arch | `lid` (AUR) | rename to `lid-idutils` (AUR) |

Currently there is no document for dealing with such situation. I personally think that making a new te

[2021-12-30 21:41] sbrl commented on #7596
If I recall, there's was a command a while back where we had some serious trouble like this, but I can't remember what it was called, or the solution we put in place.

I'd advise giving the variants different names, and use a `see also` to reference them - assuming that the variants have different incompatible functionality and there is not a common denominator.

Should there be a common denominat

[2021-12-31 08:22] ThisNekoGuy opened #7597 "Page Request: v"
Links:
https://vlang.io
https://github.com/vlang/v/
https://github.com/vlang/v/blob/master/doc/docs.md

Help output:

v --help
[code]

[2021-12-31 10:25] cyqsimon commented on #7596
There are several ways we can view this issue:
1. From the binary perspective: same binary, but packaged under different names
2. From the distro perspective: different binaries having a naming conflict
3. From the "naive user" perspective: TLDR is misleading me

What I'm trying to say is that the solution is not straight-forward at all. It's not easy to implement a system that's both "clean" from

[2021-12-31 10:48] cyqsimon commented on #7596
A potential solution I'm thinking of is "the Wikipedia solution". I.e. Simply have a disambiguation page as the main page landing page for the name in question, which lists `tldr` commands to show the actual pages for the respective binaries. So that would look something like this, using `lid` as an example:

### `lid.md`
[code]

### `libuser-lid.md`
[code]

### `id-utils-lid.md`
[code]

This solu

[2021-12-31 13:04] CleanMachine1 commented on #7597
Pages are best made by people who know and use the command.
Would you like to contribute this yourself?

Also, there is no need to request a page, page requests exists so people who have more information about a command can see the request and make the page.

[2022-01-01 00:03] ThisNekoGuy commented on #7597
I could but I actually haven't gotten into V myself; I've been busy with other things :/
That's part of why I did leave the request here, so someone can get around to it.

[2022-01-02 10:18] testbughub commented on #7557
Ah, yeah that makes more sense.
I'll have a look at it when I have some time for it!

[2022-01-02 13:34] navarroaxel commented on #7557
@testbughub just leave the ticket open until someone resolve it via a PR.

[2022-01-02 14:41] Freddicodes opened #7605 "Segmentation fault"
Hello,

using:  tldr -list
causes a segmentation fault.
I am using a Mac (osx: 12.1) (tldr v1.4.2 (v1.4.2)) and zsh.

maybe someone can help or explain what I am doing wrong.

[2022-01-02 16:26] testbughub commented on #7557
Gotcha, my bad. I committed changes you suggested.
Sorry if I complicate things. Not really sure how to go about all of this.

[2022-01-02 16:27] testbughub commented on #7557
@navarroaxel Gotcha, my bad. I committed changes you suggested.
Sorry if I complicate things. Not really sure how to go about all of this.

[2022-01-02 19:38] blueskyson commented on #7596
@cyqsimon Your solution is great.

[2022-01-02 21:55] Dygear opened #7607 "page request: interfaces"
Current man pages can be found here: [HE Man Pages: `INTERFACES(5)`](http://man.he.net/?topic=interfaces&section=all).

I admit this is a big topic. I don't think it would be possible to do a true TLDR for this because it's so huge with so many options. My problem is that it's not very well documented from what I can find on the internet right now. Would this project be suitable for such a large u

[2022-01-03 02:06] cyqsimon commented on #7596
A few checklist items, if the Wikipedia solution is to be adopted:

- [ ] Formalise the marker string for a disambiguation page
  - Current proposed: `(disambiguation)`
  - Or should we considering using a special symbol? (Probably not but it's worth asking)
- [ ] Formalise the package-binary delimiter
  - Current proposed: `-` (e.g. `libuser-lid.md`)
  - Should we perhaps consider using `_` inste

[2022-01-03 07:49] blueskyson commented on #7596
@cyqsimon I don't really know what is "marker string". I would prefer to use `lid.md` as main page and write the three pages as the following:

**lid.md**
[code]

**libuser-lid.md**
[code]

**id-utils-lid.md**
[code]

It won't change the tldr's path structure by this way.

[2022-01-04 03:48] cyqsimon commented on #7596
No no, you're completely misunderstanding the relationship between `libuser-lid` and `id-utils-lid`. They are ***two completely different binaries*** in ***two completely unrelated packages***, ***NOT*** simple aliases. I would encourage you to get several VMs (Arch, Fedora, Debian) and play around a bit.

As of why I suggest we have a "disambiguation string", this is so that from a client perspec

[2022-01-04 03:56] cyqsimon commented on #7596
What I am implicitly saying, is that the markdown file name should be **a unique identifier** for a binary, rather than a 1-to-1 match for its actual name on a particular distro. Much like how on Wikipedia, https://en.wikipedia.org/wiki/Python points to the disambiguation page, while python (as in snake) resides in https://en.wikipedia.org/wiki/Pythonidae, and Python (as in language) resides in ht

[2022-01-04 07:04] blueskyson commented on #7596
Oh, I understand the concept of Wikipedia solution. Then you can just implement it in your PR. You may explain this with the python example to other maintainers since this is a new idea of tldr.

[2022-01-04 07:13] cyqsimon commented on #7596
Doesn't tldr have a formal RFC-like process for big changes like this? I'm happy to implement my PR this way of course, but I would like to see more discussion before merging my changes. After all, this would set a precedence and if so, it would be nice if we first formalise it as a standard.

[2022-01-05 05:22] reinhart1010 commented on #7554
Is `glab` can be used as a drop-in replacement to `gh` (i.e. all documented commands and options are interoperable between `gh` and `glab`)? If so we can close this with a massive PR to copy `gh` subcommands to `glab`, translations included.

[2022-01-05 05:43] reinhart1010 commented on #7554
Edit: Apparently it isn't a drop-in replacement, while the `gh` commands seem to have very few translations.

[2022-01-05 08:37] terrysco opened #7613 "it didn't works on my Mac"
I just installed tldr on my Mac though homebrew, and update the local cache yet.
Got an issue like this:
typing in console: tldr tar, after more than 10 secs:

This page doesn't exist yet!
Submit new pages here: https://github.com/tldr-pages/tldr

[2022-01-05 13:02] blueskyson commented on #7613
Hi, we have noticed that bug few days ago. Currently, you can run `ln -s ~/.tldrc/tldr-main ~/.tldrc/tldr` to solve this problem. You can track this issue from [tldr-c-client repository](https://github.com/tldr-pages/tldr-c-client/issues/71).

[2022-01-06 13:25] IniasP opened #7616 "replace current rename page with the contents of file-rename, remove file-rename"
Currently, the page for `rename` contains the following:
[code]
However, `rename` is no longer being installed by `util-linux` (as I observe on my system running Ubuntu 21.10, but see also [this commit](https://salsa.debian.org/debian/util-linux/-/commit/1c7dc9a26c6e7e273b87b374e72f64261f52348f)).

Additionally, the `file-rename` page mentions:
[code]
But [there is no file-rename Debian package](h

[2022-01-06 13:32] navarroaxel commented on #7616
But, you are checking the specific repo for Debian. The official Linux repo is https://github.com/util-linux/util-linux and the releases are being published here: https://mirrors.edge.kernel.org/pub/linux/utils/util-linux/

I still have the command in Arch Linux.

[2022-01-06 13:38] IniasP commented on #7616
You're right, in that case it's probably a bad idea to simply get rid of the `util-linux` version. Do you agree that the package name should be changed to `rename` on the `file-rename` page?

[2022-01-06 20:30] sbrl commented on #7582
@CleanMachine1's suggestion sounds good. I therefore propose the following conditions:

1. The PR has only 1 approval AND no request changes AND has been open for more than 24 hours
2. The PR has no reviews AND is open for more than 24 hours

[2022-01-06 20:46] sbrl commented on #7616
Oh wow, this was the command I was thinking of the other day when things got complicated with command names. Does anyone have a link to the issue/PR where this was last discussed? I believe it got significantly complicated.

[2022-01-06 20:58] IniasP commented on #7616
I think you mean https://github.com/tldr-pages/tldr/issues/3125. I hadn't noticed it when searching for similar issues/prs, looks very complicated indeed. I trust that they resolved their mess properly, but Debian does not seem to have a `file-rename` package. On Debian, the package installing `file-rename`, `prename`, `rename` (since the Debian version of `util-linux` doesn't install its `rename`

[2022-01-06 22:12] MasterOdin commented on #7582
Should there be a new label created named "Revision Needed" or something for the case where there's a comment by @tldr-bot or the PR request changes?

[2022-01-07 14:05] captn3m0 opened #7626 "Website blocked in India"
[First reported on Reddit](https://www.reddit.com/r/developersIndia/comments/p3kxi4/why_are_some_nonporn_dev_related_websites_blocked/)

CloudFlare servers in India get MITMd by the network provider (Airtel) if the upstream is GitHub Pages and configured without end-to-end TLS.

Here is a curl log as proof that this happens even over HTTPS.

<details><summary>curl log</summary>

<pre>
curl https:/

[2022-01-07 15:24] captn3m0 commented on #7626
Wrote a letter to CloudFlare detailing the issue: https://github.com/captn3m0/hello-cloudflare

[2022-01-07 16:04] n14s opened #7627 "CLA signing not working"
I [added a page](https://github.com/tldr-pages/tldr/pull/7604) around a week ago.
Throughout the week I signed the CLA of the pull request. There was no error thrown. It doesn't change its status though and is still blocking the pr.

Any ideas?

[2022-01-07 17:05] #7616 closed

[2022-01-07 20:01] navarroaxel commented on #7627
The issue is with this commit (it doesn't have your avatar)
![image](https://user-images.githubusercontent.com/1536740/148600177-915e4e56-7c69-469a-bd75-f636e36e1eb6.png)
If you use `git log` you can see that <email-provider> email address is not associated with your GitHub account.

[2022-01-07 20:01] #7627 closed

[2022-01-07 21:03] CleanMachine1 commented on #7582
We kind of already have this in the form of the waiting tag. However I see no harm in adding it.

[2022-01-08 03:33] MasterOdin commented on #7582
Ah, I missed the "waiting" label, yeah, that works.

[2022-01-10 06:05] reinhart1010 commented on #7365
Maybe platform-specific teams (e.g. `linux` or `powershell`) would also be great?

[2022-01-10 15:07] cyqsimon opened #7637 "Suggestion: Add link to ArchWiki's Rosetta page in pages for Linux package managers"
When it comes to commonly used package managers like `apt`, `dnf`, `pacman`, etc, [Archwiki's Rosetta page](https://wiki.archlinux.org/title/Pacman/Rosetta) is an excellent middle ground between a tldr page and a full-on manpage. I think a link to it would be helpful for many Linux users looking up an unfamiliar package manager.

The justification is that most Linux users would have some experienc

[2022-01-10 15:12] cyqsimon commented on #7637
This is what it would look like, using the tealdeer client on Alacritty:
![image](https://user-images.githubusercontent.com/28627918/148789289-e3a3e285-dc8d-4d57-ba82-5d445e02c4cf.png)

[2022-01-11 20:59] patricedenis commented on #6815
Hi there, long time no see!
Just to say that I totally agree with the decision that has been made.
In fact, it was clearly more difficult to add those non-breaking spaces. Generally we couldn't even see if we had included them in a proper war without a bot to tell and check for us.

[2022-01-13 15:22] flydeoo opened #7647 "page request: telinit"
link: https://manned.org/telinit

telinit may be used to change the SysV system runlevel. Since the concept of SysV runlevels is obsolete the runlevel requests will be transparently translated into systemd unit activation requests.

[2022-01-13 19:46] bl-ue commented on #3592
FYI/FTR - **Proscream** changed their username to **Geipro**. ;)

[2022-01-14 07:12] letmerecall opened #7648 "page request: pdftoppm"
## What is `pdftoppm`?
`pdftoppm` converts PDF document pages to image formats like PNG, and others.

## Link to web page about the command

[Linux man page](https://linux.die.net/man/1/pdftoppm) for `pdftoppm`

## Some resource for examples?

https://www.tecmint.com/convert-pdf-to-image-in-linux-commandline/
https://www.ubuntubuzz.com/2016/01/how-to-convert-pdf-to-bitmap-image-with-pdftoppm.html

[2022-01-15 13:13] sbrl commented on #7637
Hmmmmm. This isn't a bad idea - and it doesn't break the client spec either. The question I suppose is whether the linter would like it. I wonder what others think fo this. /cc @navarroaxel, @258204, @CleanMachine1.

[2022-01-16 03:16] EmilySeville7cfg opened #7662 "page request: krita"
It seems that [krita manual page](https://manned.org/krita) here is outdated compared to `krita --help` output. I've notified its author about this problem.

[2022-01-16 03:18] EmilySeville7cfg commented on #7662
Wow, the author email is not valid...

[2022-01-16 04:34] EmilySeville7cfg opened #7664 "pages request: Autodesk Maya and 3ds Max"

[2022-01-16 08:29] EmilySeville7cfg commented on #7521
I will use the following rule for PRs:

[2022-01-17 20:00] navarroaxel commented on #7664
@EmilySeville7cfg could you please list the command names?

[2022-01-18 00:13] EmilySeville7cfg commented on #7664
- [maya](https://knowledge.autodesk.com/support/maya/learn-explore/caas/CloudHelp/cloudhelp/2019/ENU/Maya-GettingStarted/files/GUID-2E5D1D43-DC3D-4CB2-9A35-757598220F22-htm.html)
- [3dsmax](https://titanwolf.org/Network/Articles/Article?AID=9422e94f-0387-4821-87e0-d4db39140c52)

[2022-01-18 05:20] EmilySeville7cfg opened #7673 "Escaping placeholders via backslash"
It is not possible to write smth like this now:

[code]

to underline that awk accepts an arbitrary correct command not just this one.

[2022-01-18 13:50] blueskyson opened #7677 "Add collaborator: @EmilySeville7cfg"
Hi, @EmilySeville7cfg ! You seem to be enjoying contributing to the tldr-pages project.
You now have had nineteen distinct pull requests merged (between #7409 to #7675 from [here](https://github.com/tldr-pages/tldr/pulls?q=is%3Apr+author%3AEmilySeville7cfg+is%3Aclosed))!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://gith

[2022-01-18 13:51] EmilySeville7cfg commented on #7677
Yes, you can me as a collaborator. :)

[2022-01-18 13:52] navarroaxel commented on #7677
@EmilySeville7cfg invited.

[2022-01-18 14:48] mfrw commented on #7677
Welcome :)

[2022-01-18 18:51] CleanMachine1 commented on #7677
Thanks for all of your current, past and (hopefully) future commits!

[2022-01-19 07:22] matkoniecz opened #7683 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2022-01-19 08:04] CleanMachine1 commented on #7683
I agree with you.

There is no use for it on this, repo and for now I have turned it off.

cc @navarroaxel

[2022-01-19 08:04] #7683 closed

[2022-01-19 15:01] #7677 closed

[2022-01-19 19:20] uhthomas opened #7686 "alias ripgrep to rg?"
The package [ripgrep](https://github.com/BurntSushi/ripgrep)'s tool is `rg`. TLDR pages for `rg` exist, but tldr for `ripgrep` doesn't. Does it make sense to alias this? (if possible)

[2022-01-19 19:23] uhthomas opened #7687 "page request: ripgrep-all (rga)"
[ripgrep-all](https://github.com/phiresky/ripgrep-all) (rga) is an extension of [ripgrep](https://github.com/BurntSushi/ripgrep) but also searches PDFs, E-Books, Office documents, zip, tar.gz, etc.

[2022-01-19 21:57] 258204 commented on #7637
This is an excellent idea.

[2022-01-19 23:14] CleanMachine1 commented on #7637
LGTM

[2022-01-20 11:55] cyqsimon commented on #7637
Great. If so I will go ahead and open a PR. Before that though, any ideas on how to shorten this line a bit without sacrificing clarity?

[code]

[2022-01-20 19:24] godalming123 opened #7690 "page request: dm-tool"
Docs on tool: https://www.systutorials.com/docs/linux/man/1-dm-tool/

[2022-01-20 19:44] godalming123 commented on #7690
I have a PR: https://github.com/tldr-pages/tldr/pull/7691

[2022-01-21 11:37] uhthomas opened #7692 "Lookup aliases"
Some users may be used to using aliases which come out of the box with popular terminal frameworks like [oh-my-zsh](https://github.com/ohmyzsh/ohmyzsh). It may be useful to lookup the alias if the function cannot be found. For example, `gsw` is an alias for `git switch`. It would be nice for `tldr gsw` to transparently become `tldr git switch`. This can be achieved with `tldr $(alias gsw | choose

[2022-01-21 19:43] sbrl commented on #7692
Hrm. This is a client-specific feature I think. We have alias pages already in tldr-pages, but they are not transparent as you describe here - instead they are regular pages. See `mscore` for example.

[2022-01-21 21:02] GhostViz opened #7695 "translation request: yum in Spanish"
Create a yum.md in Spanish using pages/yum.md as a reference for translation.

[2022-01-22 06:06] blueskyson commented on #7692
Currently we can provide an alias page like:
[code]

[2022-01-22 06:31] blueskyson commented on #7673
If you want to display `{ ... }`, You can see the 6th example of `jq.md`:
[code]

If you want to display `\{ ... \}`, You can see the 5th example of `fakedata.md`:
[code]

[2022-01-22 08:05] EmilySeville7cfg commented on #7673
Thanks. ;)

[2022-01-22 08:10] EmilySeville7cfg commented on #7673
![image](https://user-images.githubusercontent.com/42812113/150630428-4f10fbdd-0564-463c-9cb8-b33c54fd14ad.png)

Coloring is broken... It is a tldr client problem.

[2022-01-22 08:10] #7673 closed

[2022-01-23 02:07] navarroaxel commented on #7695
@GhostViz you don't need to create an issue to send PRs to this project.

[2022-01-23 02:08] bl-ue commented on #7541
Belated, but, **congratulations @CleanMachine1!!** 😄

[2022-01-23 16:54] EmilySeville7cfg opened #7702 "Suggesting both long/short options for commands"
What do you think about suggesting both long/short options for commands like in the sample below:

[code]

? There is just one reason why I am not sure this is a good idea: such options may be interpreted by users as some arbitrary values. Maybe it would be better to define special syntax for declaring joined long/short options and a way how clients can switch between long/short options while disp

[2022-01-24 12:45] azraeljd commented on #7702
Hi, I think that's a great idea!

But, as you've mentioned above:

that means rewriting the whole tldr-pages repo with 2 pages for each command: 1 for the long options and 1 for the short options. This would be impractical, knowing that tldr-pages is a very large project with thousands of pages needing to be updated if this is implemented.

Also, the client spec must be updated. Due to lack of mai

[2022-01-25 12:43] #7695 closed

[2022-01-26 12:13] azraeljd commented on #7702
I'm currently working on a proof-of-concept of this suggestion using the solution from @blueskyson and an example of how this would work on clients using [tldr-bash](https://github.com/azraeljd/tldr-bash) as an example.

It is available in [tldr-short-options](https://github.com/azraeljd/tldr-short-options).

[2022-01-27 21:15] sbrl commented on #7702
Hrm, while a dictionary idea sounds cool, remember that some commands that variants depending on platform (`rename` is just 1 example). Also, it complicates the format pages are stored on disk, which would make them less human-readable.

Traditionally, we've used short options for pages where the command is used very frequently (e.g. `ls`), and long options elsewhere / where it's ambiguous. There'

[2022-01-31 11:01] navarroaxel commented on #7690
Close this issue when the PR is merged.

[2022-01-31 11:06] navarroaxel commented on #7686
We document commands, not packages. Is this executable named `ripgrep` in some OS? or is it always just `rg`?

[2022-02-01 12:26] uhthomas opened #7739 "page request: gpgconf"
https://man.archlinux.org/man/core/gnupg/gpgconf.1.en

[2022-02-01 12:31] navarroaxel commented on #7739
Thanks for requesting this page! Do you want to have a go yourself?

Pages are best created by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to this repository - and if you nee

[2022-02-03 00:02] azraeljd opened #7744 "Suggestion: tldr pages for file format man pages"
Hi! I have a suggestion to create tldr pages for file format (5) man pages, e.g. `deb(5)`.

What do you think?

[2022-02-05 05:25] #6325 closed

[2022-02-05 12:35] #7554 closed

[2022-02-08 13:24] genivia-inc commented on #7702
I like this suggestion to include both long and short option forms, but it may perhaps be too much grammatical baggage for the casual reader to digest. The dictionary idea is cool too.

The short options only make sense if they have a common meaning among a group of tools in a certain category of utilities, @sbri is right about this and I've hinted at this in #7750. For example, file system manipu

[2022-02-08 13:55] genivia-inc commented on #7702
Another possibility is to highlight the short option letter in the long option name, for example with an underline:

<img width="682" alt="image" src="https://user-images.githubusercontent.com/13117347/152999844-39130073-5fbd-43be-8e99-3a715da33467.png">

A white background makes this more visible:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/13117347/153000031-a53a

[2022-02-08 20:49] CleanMachine1 commented on #5962
I think the Debian tldr-py package is different from our tldr-python. Its an unofficial client. Don't quote me that though :)
Try `pip install tldr` for the official python version which will match our specification and (hopefully) work.

[2022-02-09 03:04] EmilySeville7cfg commented on #7702
The syntax may be:

[code]

and for a letter with different case (`[upper:<letter]` or `[lower:<letter]`):

[code]

[2022-02-09 06:19] matkoniecz commented on #5962
I know and I did it, but I initially installed apparently broken and I am curious is there already report to package maintainers that it is apparently broken.

[2022-02-10 15:28] phrohdoh opened #7768 "page request: bb"
https://babashka.org - shell scripting & task running with [Clojure]

examples: https://book.babashka.org/#_running_a_script

[Clojure]: https://clojure.org

[2022-02-10 18:37] #7690 closed

[2022-02-10 23:40] AngelODeath opened #7770 "page request: duc"
https://duc.zevv.nl/ - collection of tools for inspecting and visualizing disk usage

[2022-02-10 23:41] AngelODeath commented on #7770
I have prepared a md file I would like to contribute

[2022-02-11 00:30] CleanMachine1 commented on #7770
There is no need to request a page, this type of "issue" is for when the requester doesn't know how to use the command for example.

Feel free to open a PR whenever!

[2022-02-11 14:46] #7648 closed

[2022-02-14 09:23] gerazov opened #7778 "ImportError: cannot import name 'cli' from 'tldr'"
Awesome tool :sunglasses:

I'm getting an import error on a fresh install - am I missing some dependencies?

[code]

[2022-02-14 11:19] navarroaxel commented on #7778
cc @MasterOdin

[2022-02-14 11:22] navarroaxel commented on #7778
cc @MasterOdin

[2022-02-14 12:33] d4n3sh commented on #7568
@kamalmost

The page is available at [ip-route.md](https://github.com/tldr-pages/tldr/blob/main/pages/linux/ip-route.md)

[2022-02-14 15:37] MasterOdin commented on #7778
Do you have any other modules installed that might be using the `tldr` namespace? What's the output from doing `pip3 list`?

What are the contents of doing `cat /usr/bin/tldr`?

[2022-02-15 23:43] centaurii44 opened #7785 "page request: qemu-img"

[2022-02-15 23:44] #7785 closed

[2022-02-15 23:44] centaurii44 commented on #7785
i am an actual retard

[2022-02-16 00:15] nebulaa44 opened #7786 "page request: lci"
LCI refers to the LolCode Interpreter. Decided I'd mention because there's barely any related results for googling "LCI".

[2022-02-16 00:22] centaurii44 commented on #7786
I might put up a PR for this once I get home.

[2022-02-17 10:47] #6345 closed

[2022-02-17 13:38] #7076 closed

[2022-02-17 14:02] nebulaa44 opened #7793 "page request: startx"
A manpage can be found [here.](https://linux.die.net/man/1/startx)

[2022-02-17 14:47] centaurii44 opened #7794 "page request: ld"
A manpage for ld can be found [here.](https://linux.die.net/man/1/ld)

[2022-02-18 10:42] dbrgn commented on #7528
https://github.com/tldr-pages/tldr/pull/7561 was merged! So this issue can be closed.

[2022-02-18 10:42] #7528 closed

[2022-02-18 14:22] yassinecc opened #7798 "Cannot create directory after aborting first tldr run"
#### Platform
- Ubuntu 20.04.3

#### Observed behaviour
When I install tldr and run it for the first time with e.g. `tldr tar`, if I exit during initialization, subsequent tldr runs will fail with the following message:
[code]

#### Expected behaviour
It's possible to delete the ~/.tldr folder to avoid the issue but subsequent runs could gracefully recover from the first exit

#### Ideas
I would a

[2022-02-18 14:23] navarroaxel commented on #7798
How did you install the client? via `npm` or `apt`? which client version?

[2022-02-18 16:03] genivia-inc commented on #7702
It is not my suggestion to create multiple color schemes. Sorry if this is confusing, but the current color scheme doesn't work for me, showing blue on black that is almost unreadable. It is far worse for blue backgrounds. Blue backgrounds are not uncommon. Bold cyan (my suggestion) works for both dark and light backgrounds, unless someone uses cyan as a background, which is unlikely IMHO.

[2022-02-18 16:07] sourcefrog opened #7800 "chsh: bad advice"
[code]

The second example there is wrong: on macos and [Linux](https://linux.die.net/man/1/chsh), a non-option argument is always a username, not a shell.

[2022-02-20 08:04] EmilySeville7cfg commented on #7702
This problem is already exist: some pages suggest alternative syntax for command line arguments and we can't just copy this commands and make them work because used `|` character is likely to be interpreted in shell as "pipe".

[2022-02-20 10:53] MaJiu commented on #7798
Hi，navarroaxel. I ran into this problem too. I installed it via `apt`  on Ubuntu 20.04 LTS

[2022-02-20 13:02] navarroaxel commented on #7798
@MaJiu the client installed via `apt` is a really old version of the Node.js client. I recommend that you install it via `npm install -g tldr` or the https://github.com/dbrgn/tealdeer client.

[2022-02-20 13:55] MaJiu commented on #7798
Got it! Thank You! I run it successfully via `npm`.

[2022-02-20 20:08] CleanMachine1 commented on #7798
@yassinecc could you please confirm that this solution works for you.

Personally I would recommend using our official python client, `pip install tldr`

[2022-02-21 00:02] Waples commented on #5653
Thanks for all your work @258204 !
I've been very busy (work/private), hence why I didn't add anything so far to my "todo" list.
I'll take a look at the state of the AWS API tomorrow, to see if new services need to be added to the list.
I might have some time tomorrow to write some tldr pages, time will tell.

[2022-02-24 12:42] #7800 closed

[2022-02-25 21:31] git-em commented on #7686
I don't think so. [The binary name for ripgrep is `rg`](https://github.com/BurntSushi/ripgrep/blame/master/README.md#L192).

[2022-02-25 23:53] git-em commented on #7687
https://github.com/tldr-pages/tldr/pull/7818

[2022-02-26 07:16] mfrw opened #7819 "page request: trace-cmd"
lets document: [trace-cmd](https://manned.org/trace-cmd)

[2022-02-27 15:05] pixelcmtd opened #7824 "page request: auvaltool"
https://www.unix.com/man-page/mojave/1/auvaltool/

[2022-02-27 21:08] #7687 closed

[2022-03-01 04:07] mfrw opened #7832 "page request: ply"
let's document [ply](https://wkz.github.io/ply/ply.1.html)

[2022-03-01 10:42] pixelcmtd opened #7834 "page request: Projucer"
https://juce.com/discover/stories/projucer-manual#10.4-command-line-tools

[2022-03-01 23:19] maniyar1 commented on #7794
Hello, I'm planning on going through and trying to PR this in soon, I was wondering if the llvm (`lld`) and gnu (`ld`) `ld`s should be done separately or if they're seen as "close enough" to do one PR for both? The second seems to be implied by #6367 and that's what I'm going forward with right now, but let me know? Thank you.

[2022-03-03 06:35] mfrw opened #7843 "page request: tailscale-file"
Let document: `tailscale file`
More Information: [taildrop](https://tailscale.com/kb/1106/taildrop/)

[2022-03-08 00:33] #7843 closed

[2022-03-08 01:06] git-em opened #7859 "linux/ac: command also available on osx"
Osx have a limited but somewhat linux-compatible version of [`ac`](https://www.unix.com/man-page/freebsd/8/ac/). As usual it doesn't support long options, but it does have all of the same functionalities, except for: https://github.com/tldr-pages/tldr/blob/c12a5c84333fb51372ee3a2e466c1150817c6078/pages/linux/ac.md?plain=1#L22-L24

Should it be trimmed and moved to [common](https://github.com/tldr-

[2022-03-08 03:01] git-em commented on #6348
All of the requested commands are implemented. This should be closed.

[2022-03-08 10:43] #6348 closed

[2022-03-08 11:59] yassinecc commented on #7798
I installed `tldr` through `apt` indeed. Installing through `npm` or `pip` does solve the issue indeed @CleanMachine1 , thanks :+1:

[2022-03-08 11:59] #7798 closed

[2022-03-08 17:40] pixelcmtd opened #7866 "page request: shortcuts"
https://support.apple.com/guide/shortcuts-mac/run-shortcuts-from-the-command-line-apd455c82f02/mac

[2022-03-09 07:54] AngelODeath commented on #7770
It seems I am unable to open a PR, as I am ubable to create a branch pages/duc

[2022-03-09 08:01] AngelODeath commented on #7770
I created a PR using Github UI

[2022-03-09 08:01] #7770 closed

[2022-03-09 08:03] CleanMachine1 commented on #7770
Did you open a branch on a fork or did you try to push straight to the repo?

If you tried to push here then since you aren't an admin of the repo, it will be rejected

[2022-03-09 11:42] nbehrnd opened #7870 "tldr-book.pdf, inconsistent visibility of entries"
Though I don't intend to print the [the book](https://tldr.sh/assets/tldr-book.pdf), I noticed the sort of entries in the .pdf restarts more than once by letter «a»:

![2022-03-09_tldr_sort](https://user-images.githubusercontent.com/19709084/157434378-713a9b73-6fe2-4592-8750-a02b730ef950.png)

(outline mode, qpdfview)

I would welcome if these entries (except for `tldr pages`, of course) were sort

[2022-03-09 16:40] navarroaxel commented on #7870
That's because after the list of Linux pages, the PDF starts with the pages in the `osx/` folder. That's why after `zypper`, it continues with `afinfo`.

[2022-03-09 21:38] nbehrnd commented on #7870
I now recognize that the document consists of multiple sections (e.g., Android, p. 2 [though the later entry about gimp, p. 597, or inkscape, p. 934 may be seen cross-platform]; or Linux, p. 2038; or Osx, p. 2816).

However then, the cross-links of _these_ section titles in the index should not be nested as an entry of the previous software described (e.g., Linux as last entry of zsteg, p. 2037; a

[2022-03-11 21:41] EmilySeville7cfg opened #7878 "Idea to develop VS Code plugin with for linting tl;dr pages automatically"
## Description

It would be nice to have such thing because we could see our errors instantly and fix them (probably automatically).

## Linting process

Linting could be done while we are typing our tl;dr pages not just on file save. But I think we have to allow user to choose when to lint pages via settings in `.vscode/settings.json`.

[2022-03-12 08:43] #7440 closed

[2022-03-14 06:22] mfrw opened #7887 "page request: zek"
lets document: [zek](https://github.com/miku/zek)

[2022-03-14 16:35] git-em commented on #7744
Perhaps would be good to add a dot before the format names, to avoid potential ambiguity (`tldr .deb`).

[2022-03-14 21:13] waldyrious commented on #7744
Could you share an example of what you envision such a page to contain?

[2022-03-15 04:54] azraeljd commented on #7744
Such a page would contain a short description about the file or filename extension, the media type (MIME type) (if exists), and apps that are used to open the file or files with the file extension described in the page.

An example would be `deb`, where a page would look something like this:
[code]

[2022-03-15 10:11] waldyrious commented on #7744
I'm not sure this fits the tldr-pages model. Our focus is examples-based instructions for using CLI tools. In the particular case of `.deb` there are commands that are arguably the canonical way to handle them for the common use cases, but what would we suggest for `.txt`, or `.csv`, or `.jpg`? The things that people will want to do with such files vary wildly, as do the tools they may do those th

[2022-03-15 12:50] pixelcmtd opened #7891 "Let's document: XCode"
- [ ] DeRez
- [ ] Rez
- [ ] ResMerger
- [x] SetFile → #9554
- [ ] SplitForks
- [ ] TextureAtlas
- [ ] TextureConverter
- [ ] actool
- [ ] agvtool
- [ ] altool
- [ ] amlint
- [ ] atos
- [ ] bitcode-build-tool
- [ ] cktool
- [ ] compileSceneKitShaders
- [ ] convertRichTextToAscii
- [ ] copySceneKitAssets
- [ ] copypng
- [ ] coremlc
- [ ] desdp
- [ ] embeddedBinaryValidationUtility
- [ ] extractLocSt

[2022-03-15 14:05] Philip1435 commented on #1262
Hey. I have similar issues. I want to customize color, but I don't know which client am I on. I am using WSL, ubuntu specifically. and I am running Ubuntu terminal (bash), and I installed tldr through `sudo apt install tldr`. I tried https://github.com/tldr-pages/tldr-node-client#configuration but it didn't work, so I thought maybe it's because I am not on node cliend (?).

Anybody know how to do

[2022-03-15 14:56] pepa65 commented on #1262
@Philip1435 That is the Haskel client, no obvious way to modify the coloring (I'm sure it's possible, but not straighforward).
For this reason I made the bash client, it needs no compilation, you can just edit the file to change the colors to your liking.

[2022-03-15 15:03] azraeljd commented on #7744
I'm not sure if there are man pages for `.txt`, `.csv`, or `.jpg`. What I'm referring to in this suggestion are files or filename extensions that has a man page, such as `.deb`, `resolv.conf`, etc.

A man page is more on the technical side of things, and a new user should never touch those things. That's why tldr-pages are here. In my point of view, tldr-pages, while intended for CLI commands, sho

[2022-03-15 21:35] waldyrious commented on #7744
I don't dispute the usefulness of that content, but why would we stop there? We could have cheatsheets for regex, SQL, the filesystem hierarchy standard, XDG directories, and a bunch of other topics that are useful... My point is that by staying focused on a specific content type (usage examples for CLI tools), and a specific content format, it's easier to implement linters, clients, translation s

[2022-03-15 21:55] CleanMachine1 commented on #7744
Im a little confused here. Is this creating manual pages or tldr pages for file extensions?

[2022-03-16 00:12] sbrl commented on #7744
Perhaps not for the main tldr repo since the scope here is quite well definted, but it sounds like a great idea for a spin-off project!

[2022-03-16 05:25] azraeljd commented on #7744
Might start a new project myself, thanks for pointing out the point on the Unix philosophy there, tldr-pages does the thing it does very well.

tldr pages, of course. A man page is very lenghty, and though the concept is similar to the structure of a man page, it is a lot shorter than a man page.

Thank you. Might start a spin-off project myself.

I will be closing this issue, thank you everyone f

[2022-03-16 05:25] #7744 closed

[2022-03-16 18:56] CleanMachine1 commented on #7859
Create a new page for just the mac without that option.

[2022-03-17 03:19] EmilySeville7cfg opened #7899 "page request: xsp"
[Mono main tools](https://www.mono-project.com/docs/tools+libraries/tools/#main-tools)

[2022-03-17 10:34] EmilySeville7cfg opened #7902 "Move chat to Telegram"
What about moving Gitter chat to Telegram? I think it's better then Gitter. ;)

[2022-03-17 11:43] #7887 closed

[2022-03-17 13:26] waldyrious commented on #7744
Thank you for raising these questions! It's important for the project to continually revise its vision and ensure we're both sticking to the original goals and being mindful of opportunities to evolve in a way that's compatible with them :)

[2022-03-17 14:04] pixelcmtd commented on #7902
tf no

Seriously though, what are the advantages? I only know disadvantages.

[2022-03-18 23:40] CleanMachine1 commented on #7902
I can't see any positives here either.

We have everything setup for Gitter, most of our maintainers are in the Gitter.
I would imagine that the conflict from switching would mean that some just wouldn't switch.
Also, everyone here has a Github account _(obviously)_ which means they can make a Gitter account in amount a second.

Gitter is made for Repos, due to its integration, telegram is not.

H

[2022-03-19 00:23] #7662 closed

[2022-03-19 07:48] EmilySeville7cfg commented on #7902
For me Telegram is faster and less buggy then Gitter. For instance when I read messages in Gitter they are often remain unread until I do this several times. But I agree that GitHub integration is good enough in Gitter (issue hints, for instance, notifications, etc.). For Telegram we can use Integromat for instance to make GitHub integration (or any it's alternative).

It's a pity that there is no

[2022-03-19 09:56] #7418 closed

[2022-03-19 15:34] pixelcmtd opened #7909 "page request: pstoedit"
http://www.pstoedit.net/

[2022-03-21 03:49] pixelcmtd opened #7923 "page request: Parallels"
Finding online info is kinda difficult (manpages might be available somewhere), most of these should be in `common`, since Parallels is no longer macOS-only. Also, there are probably more binaries, but I've only included those that were on my Mac and seemed easy to understand. (i.e. don't require tracing through IDA or Russian forums for hours to find the information required)

- [ ] prl_client_ap

[2022-03-21 03:56] pixelcmtd commented on #7794
`lld` is not one program (there is a binary called `lld`, but nobody's supposed to use it that way), but rather like other parts of LLVM a set of clones. `ld.lld` emulates `ld`, `lld-link` emulates `link`, like `clang` and `clang-cl` emulate `gcc` and `cl`. Therefore I think that `ld` should be based on GNU `ld` and `gold` documentation, and `ld.lld` an alias of `ld`.

[2022-03-21 04:11] pixelcmtd commented on #7859
Shouldn't that be in common since it's also in FreeBSD, as you can see in that manpage?

[2022-03-21 04:14] #7819 closed

[2022-03-22 02:56] maniyar1 commented on #7794
This is fair - one of my examples is working on `ld` but not `ld.lld` which is odd, im away from home for a few days but I'll look when I get back. I know `ld.lld` has the stated goal of being a complete drop in replacement for `ld` so if im doing things right this might be something to bring up with them.

[2022-03-22 21:30] CleanMachine1 commented on #7902
I find that to remove the notification banner, you need to click it for it to take effect that you have "read" the notification.

And for attachments, other then the occasional picture being sent, mostly links are being sent.

Lets get some more opinions

[2022-03-22 22:46] sbrl commented on #7902
I don't currently use Telegram myself. Gitter has quite deep integration with GitHub, which I find very helpful.

So I'd prefer to keep it on Gitter.

If you don't like the Gitter interface, you can always join via a matrix client instead? Gitter is now backed by matrix - I think a number of people join via a matrix client already.

[2022-03-22 22:52] pixelcmtd opened #7925 "page request: WIT"
- [ ] [wit](https://wit.wiimm.de/wit/)
- [ ] [wwt](https://wit.wiimm.de/wwt/)
- [ ] [wdf](https://wit.wiimm.de/wdf/)
- [ ] [wfuse](https://wit.wiimm.de/wfuse/)

[2022-03-28 18:21] kruczyna commented on #7866
https://github.com/tldr-pages/tldr/pull/7935 😄

[2022-03-28 22:02] CleanMachine1 commented on #7626
@captn3m0 Has this been addressed?

[2022-03-29 08:35] KSroido opened #7938 "Maybe a BUG, need further checking"
I am using Linux(Debian 11) on chromeOS. I installed tldr from apt successfully(everything remain default). When first initialize tldr I got some troubles showing as following log:

[code]

Then everything goes right.

maybe you guys need change slightly some where in the source code(I attempted to do that. But as I am not very familar with this project, I failed to do that.).

P.S. English is not

[2022-03-29 09:46] CleanMachine1 commented on #7938
Seems like a client issue

[2022-03-29 21:37] ExperiBass opened #7942 "[Arch] Zero output from tldr"
Hello! owo7

I'm having a weird issue where tldr has no output at all. ive reinstalled and tried using the node.js client (`pnpx tldr cp` and `npx tldr cp`), no dice. All i get is this after i control+c: `Exited on keyboard interrupt.` Interestingly enough, `--help`, `--version`, and `--list` all work fine.

tldr version: `3.1.0 (Client Specification 1.5)`

[2022-03-30 09:38] EmilySeville7cfg opened #7944 "Separate pages with language syntax examples"
For instance we have `sed.md` which mainly describes `sed` options. I suggest create `sed.syntax.md` (and others similar)  pages to write about sed commands. It is hard to demonstrate everything in just 8 examples.

What do you think about it?

[2022-03-31 04:37] ExperiBass commented on #7942
Closing this, with a bit more debugging i realized it wasnt tldr at all, but a upstream node.js issue. The solution is to disable ipv6.  On linux:
[code]

Upstream issue: npm/cli#4163

[2022-03-31 04:37] #7942 closed

[2022-03-31 19:03] navarroaxel commented on #7938
Please try https://github.com/tldr-pages/tldr-python-client or https://github.com/dbrgn/tealdeer

[2022-04-01 12:08] pixelcmtd opened #7950 "page request: hcloud"
https://github.com/hetznercloud/cli

- [ ] hcloud (#8147)
- [ ] hcloud-certificate
- [ ] hcloud-completion
- [ ] hcloud-context
- [ ] hcloud-datacenter
- [ ] hcloud-firewall
- [ ] hcloud-floating-ip
- [ ] hcloud-help
- [ ] hcloud-image
- [ ] hcloud-iso
- [ ] hcloud-load-balancer
- [ ] hcloud-load-balancer-type
- [ ] hcloud-location
- [ ] hcloud-network
- [ ] hcloud-placement-group
- [ ] hcloud-ser

[2022-04-02 22:47] CleanMachine1 opened #7952 "pwd: issue with Arch"
There appears to an issue with the commands listed for both ZSH and BASH.

[code]

and

[code]

only using -L works and same applies for the --physical flag

[2022-04-03 03:01] kam1uSEC opened #7954 "Error on Mac 11.6 with brew install tldr"
when i type
`tldr`
it appears
[code]

[2022-04-03 11:26] pixelcmtd commented on #7952
As always, this is a GNU extension 🥱

[code]

[2022-04-03 15:21] #7952 closed

[2022-04-04 04:41] KSroido commented on #7938
on same machine(which had ```updated``` tldr-normal-client),After following tldr-python-client wiki,using ```Python 3.9.2 pip 20.3.4 from /usr/lib/python3/dist-packages/pip (python 3.9)```,installing by command ```pip3 install tldr-python```,use ```tldr --update```,then got this log

[code]

Seems that everything goes right.

[code]

[2022-04-04 04:43] KSroido commented on #7938
install [tealdeer](https://github.com/dbrgn/tealdeer) is not quite convenient for this machine.So I'm sorry but I can't test that.
Wish all you best

[2022-04-04 08:37] captn3m0 commented on #7626
This is hard to validate externally due to the issue being intermittent. Since it's still pointing to Cloudflare, this can be closed if Flexible SSL is turned off in the Cloudflare settings.

I'm unable to reproduce it currently (tried a few different ISPs).

[2022-04-04 13:20] blueskyson commented on #7954
You may installed an old version of c client. Try `ln -s ~/.tldrc/tldr-main ~/.tldrc/tldr` to solve this problem. Or you can follow the guide form [tldr-c-client](https://github.com/tldr-pages/tldr-c-client) to reinstall the latest version.

[2022-04-04 13:26] blueskyson commented on #7938
Hi, I guess this bug is caused by the wrong name of zip. You can check if there exists `/home/ksxmyqj/.local/share/tldr-main` and try `ln -s /home/ksxmyqj/.local/share/tldr-main /home/ksxmyqj/.local/share/tldr` to solve this bug.

[2022-04-05 06:27] KSroido commented on #7938
`tldr-main`  not exists. try symbolic link on clean same env（by reseingt Linux container）.everything goes normal.
SOLVED

[2022-04-06 09:33] pixelcmtd opened #7963 "page request: flatc"
https://google.github.io/flatbuffers/flatbuffers_guide_using_schema_compiler.html

[2022-04-07 22:42] sarnobat opened #7968 "tldr --create"
Is there a pure-cli way to create an entry for an undocumented command?

I love tldr and would like to fill in the gaps but going to github and providing a pull request is enough to discourage me. I just want to add `--create` to a failed lookup command, paste something into vim, and leave all the review etc. to some automated process (to be rejected or approved as the owners see fit).

Thanks for

[2022-04-07 23:27] pixelcmtd commented on #7968
Yes, there is, it's called [tldrgal](https://github.com/pixelcmtd/tldrgal), but it's a bunch of hacked up and unmaintainable code.

Getting it into the tldr command is actually the wrong way imo, because with how many clients there are and how complicated implementing such an option is, we would need months to come up with a spec for what it should actually do and until we get 90% of the install b

[2022-04-07 23:30] CleanMachine1 commented on #7968
I'd like to add this short piece of code I made which I have been occasionally working on.
It helps in creating the pages by trying to match syntax. It is nothing fancy, merely tries to remove linting errors and dumbs down the process to just be a fill the gap.
[Check it out if you don't mind](https://github.com/CleanMachine1/tldr-page-creator)

[2022-04-07 23:31] CleanMachine1 commented on #7968
Thanks!

[2022-04-08 00:38] EmilySeville7cfg opened #7969 "Standardize arbitrary number argument syntax for placeholders"
## First decision

I suggest the following syntax to be used when any number of arguments are required:

- 0..1: `command_name {{""|argument_name}}`
- 0..more: `command_name {{""|argument_name1 ...}}`
- 1..more: `command_name {{argument_name1}} {{""|argument2 ...}}`

Examples:

- 0..1: `command_name {{""|path/to/source_file}}`
- 0..more: `command_name {{""|path/to/source_file1 ...}}`
- 1..more: `c

[2022-04-09 14:06] sbrl commented on #7954
Looks like the C client on Homebrew is outdated. I can't remember how the process to update that works though.

I'm transferring this issue to the repository for the C client.

[2022-04-09 20:13] sarnobat commented on #7968
Thanks for the responses. That's enough info for me to pursue this a little further, so I'm closing. Feel free to reopen if you wish to repurpose this ticket.

[2022-04-09 20:13] #7968 closed

[2022-04-10 00:59] CleanMachine1 commented on #7938
I think there is some confusion here between the clients.

Is the issue solved @KSroido. If so, please close this issue.

[2022-04-10 04:55] KSroido commented on #7938
solved

[2022-04-10 04:55] #7938 closed

[2022-04-11 05:24] finzzz opened #7974 "Update wiki link"
I want to update repo URL in https://github.com/tldr-pages/tldr/wiki/tldr-pages-clients

This line here
[code]

Can you point the source code to https://github.com/finzzz/tldr ?

Thanks!

[2022-04-11 14:23] CleanMachine1 commented on #7974
I have never dealt with the WIKI we have here, however all of the other clients in the web category all point to the implementation rather than the source code.

It may be better to add a link to the source code on the website maybe?

Lets get the opinion of others before I dismiss this request, since I am just one reviewer!

[2022-04-14 11:34] JohannesPertl opened #8006 "page request: wondershaper"
https://github.com/magnific0/wondershaper

[2022-04-15 01:11] #7866 closed

[2022-04-15 01:19] pixelcmtd commented on #7974
@CleanMachine1 all of the links entitled `Source code` point to the repo of the client.

@finzzz I just changed it.

[2022-04-15 01:19] #7974 closed

[2022-04-15 10:01] blueskyson commented on #7944
I'm not a fan of this. I think brief, useful examples is good for tldr. You should find a projext that accepts detailed cheat sheet. Or maybe we can open a new repository for detailed this? @CleanMachine1 @navarroaxel

[2022-04-15 10:04] blueskyson commented on #7878
Good idea.

[2022-04-15 17:46] CleanMachine1 commented on #7974
:facepalm: didn't see that.

[2022-04-16 00:35] EmilyGraceSeville7cf opened #8018 "Page formats for different programs"
# Description

It is an attempt to standardize as many as possible pages. This issue suggests how to write pages for different programs.

- Any of suggested code examples must be removed with preserved order if the corresponding program doesn't
support suggested syntax.
- Instead of `...` at the end of a page template you can write any examples in any order.

## Simple tools

## Screenshot tools

[2022-04-16 00:43] CleanMachine1 commented on #7969
https://gitter.im/tldr-pages/tldr?at=6258f24d8db2b95f0ab84570

[2022-04-16 00:58] #7969 closed

[2022-04-16 01:24] EmilySeville7cfg commented on #7416
There is a new #8018 issue that has a goal to standardize everything.

[2022-04-16 01:24] #7416 closed

[2022-04-16 18:06] CleanMachine1 commented on #7944
Yeah, I agree with @blueskyson this doesn't fit the scheme of tldr

[2022-04-23 13:29] blueglyph opened #8046 "favour or at least mention single-letter options"
The [guildelines](https://github.com/tldr-pages/tldr/blob/main/CONTRIBUTING.md#guidelines) specify:

Actually the purpose is to give practical examples of commands that are often used. For example, nobody ever types

```sudo pacman --sync --refresh --sysupgrade```

Instead, people type:

```sudo pacman -Syu```

That's also what you'll see people try to help you out. "_Have you tried pacman -Syu?_"

[2022-04-23 22:24] pixelcmtd commented on #8046
I have to agree with both the original rationale and your example of it failing.

Our goal is to provide users an alternative for quickly looking up how to use a command in a beginner-friendly way, not how to master it. That's why we should, as we currently do, prefer GNU options.

But yes, nobody types `pacman --sync --refresh --sysupgrade` into their terminal, and if they would, they would waste

[2022-04-23 23:55] CleanMachine1 commented on #8046
From what I can tell, the unwritten rule is `use the short if it is really common`

for example From `tldr git commit`

  - Commit staged files to the repository with a message:
    git commit -m "message"

[2022-04-24 00:12] pixelcmtd commented on #8046
@CleanMachine1 Are you sure about that? Because that would mean there is an unwritten rule that both [you](https://github.com/tldr-pages/tldr/commit/0314a124093567a8a9c7184dacbd79904d0e8d17) and [`marchersimon`](https://github.com/tldr-pages/tldr/commit/c9b534415099cd2931eaf120938f201240c521a8) were not aware of less than a year ago. If it is a rule, let's at least write it down.

And I still don'

[2022-04-24 01:19] CleanMachine1 commented on #8046
:smile: I forgot the context of that but it was something to do with making the commands understandable rather than usable.

I think the current way we have is okay, which from what I can tell is `use the long flags unless there is a valid reason not to`

By adding to it such as {{--sync --refresh --sysupgrade|-Syu}}, it stops the user from being able to copy the commands directly which is a prett

[2022-04-24 08:00] #8006 closed

[2022-04-24 08:42] blueglyph commented on #8046
(About the context: I included the link in the 1st post for convenience).

I agree with @CleanMachine1 that the format `{{--sync|-S}}` is not practical; besides it lowers the readability.
On the other hand, having two lines as I suggested may lengthen the page when there are too many alternatives.

I'm not sure if the md syntax would allow both alternatives on the same line when it's short enough,

[2022-04-25 06:58] EmilySeville7cfg commented on #8046
I like it. But what to do with separation by folders?

- Linux: long options
- OSx: short options
- Common: most used options (long or short)

[2022-04-25 12:40] pixelcmtd opened #8052 "page request: just"
https://github.com/casey/just

[2022-04-25 16:49] mfrw opened #8053 "Add @EmilySeville7cfg as org member"
Hi, @EmilySeville7cfg! After joining as a collaborator in the repository, you have been regularly performing maintenance tasks ().
Thank you for that!
According to our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md), you've now met the thresholds to be effectively considered an active maintainer of the project.
To publicly acknowledge that fact, we'

[2022-04-25 17:07] EmilySeville7cfg commented on #8053
Sounds great! 😊 I am going to accept this invitation

[2022-04-25 17:28] navarroaxel commented on #8053
Invitation sent.

[2022-04-26 12:06] EmilySeville7cfg opened #8056 "Imperative mood in command descriptions"
When we have to use imperative mood in the top level command descriptions and when not? Contribution guide doesn't mention what to do with command descriptions:

For example, use List all files, instead of Listing all files or File listing.
This also applies to all translations by default, unless this is not possible for some reason.

What about to require imperative mood everywhere?

[2022-04-27 07:21] EmilySeville7cfg opened #8058 "Syntax highlighting for tldr-pages in .nanorc"
Command title, code descriptions and placeholders are highlighted:

[code]

![image](https://user-images.githubusercontent.com/42812113/165463340-0c39ef17-44d6-4a5d-afbc-38d21cd0738e.png)

[2022-04-27 08:06] EmilySeville7cfg commented on #8058
I think it's a good idea write a guide how to customize editor to support Tl;Dr syntax (if no plugin management is supported in the specified editor).

[2022-04-27 09:09] EmilySeville7cfg opened #8060 "Specify regex flavor for pages"
- [ ] tac
- [ ] add more pages here

[2022-04-27 20:25] #190 closed

[2022-04-28 08:21] mfrw commented on #8053
@EmilySeville7cfg could you please create a PR where you add yourself in the [Maintainers](https://github.com/tldr-pages/tldr/blob/main/MAINTAINERS.md) file

[2022-04-28 08:45] EmilySeville7cfg commented on #8053
Yes, I can. 😁

[2022-04-29 03:54] mfrw commented on #8053
Closed by PR:
- #8062

[2022-04-29 03:54] #8053 closed

[2022-04-29 20:53] superatomic commented on #6412
I feel comfortable writing the `tldr` page for `ptpython`. I can create and submit at PR if that would be helpful.

[2022-05-04 21:57] CleanMachine1 opened #8080 "Lets document: GRUB"
### Command description

I think there are other variations of commands, maybe for different distros and older versions of grub however these are all of the arch linux ones that I can see easily, feel free to add any I have missed

- [ ] grub-bios-setup
- [x] grub-mkconfig
- [ ] grub-ofpathname
- [ ] grub-mkfont
- [ ] grub-probe
- [ ] grub-editenv
- [ ] grub-mkimage
- [ ] grub-reboot
- [ ] grub-fi

[2022-05-15 13:00] AMATEURTOSS opened #8092 "wiki: update client page"
hi
I have developed a tldr-desktop client, I would like to add it to your wiki page.

link: https://github.com/AMATEURTOSS/tldr-desktop
platforms: macOS

[2022-05-17 21:17] pixelcmtd opened #8093 "page request: melt"
https://www.mltframework.org/docs/melt/

[2022-05-20 13:54] SethFalco commented on #266
Looks like bro or bropages has been deprecated/archived.

We may want to update Similar Projects here:
https://github.com/tldr-pages/tldr#similar-projects=

Either removing it, or at least noting that it's deprecated.

[2022-05-21 20:13] #7902 closed

[2022-05-23 03:23] mfrw opened #8105 "page request: ugrep"
### Command description

Let's document [ugrep](https://github.com/Genivia/ugrep)

### Command details

_No response_

### OS

General

### OS details

_No response_

[2022-06-01 12:10] navarroaxel commented on #7963
I hope not.

[2022-06-05 15:07] danielbayley opened #8115 "Add copy to clipboard button on `:hover` over usage examples"
Similar to how [fenced code blocks](https://github.com/tldr-pages/tldr#how-do-i-use-it) work right here on GitHub…

[2022-06-05 15:29] navarroaxel commented on #8115
@danielbayley Are you talking about https://tldr.sh?

[2022-06-05 15:32] danielbayley commented on #8115
@navarroaxel Yes, or more accurately https://tldr.ostera.io

[2022-06-05 15:34] navarroaxel commented on #8115
yep, your ticket should be submitted here: https://github.com/ostera/tldr.jsx

[2022-06-07 06:34] dimitris1ps opened #8117 "page request: free"
### Command description

Let's document [free](https://www.geeksforgeeks.org/free-command-linux-examples/)

### Command details

The free command gives you a summary of the memory usage

### OS

Linux

### OS details

_No response_

[2022-06-07 16:44] boldandbrad commented on #8052
Created PR: https://github.com/tldr-pages/tldr/pull/8119

[2022-06-08 07:37] nbehrnd commented on #8117
Observation: Preparing a backup, I frequently use `df -h` to check if there is enough capacity available; this seems to overlap with the information collected by `free`.

My question reading the request to add an entry about `free`: is it within the scope of the tldr project to hint the user (e.g., by a cross link to an already existing entry) that there is a command of similar intent?  (A similar

[2022-06-08 13:30] navarroaxel commented on #8117
@nbehrnd but `df` is for filesystem usage, `free` is for memory (RAM) usage.

[2022-06-09 13:52] nbehrnd commented on #8117
@navarroaxel True, I see that I erred. Sorry.

[2022-06-09 20:41] CleanMachine1 commented on #8117
I am going to close this now, since there is already a preexisting `free` page, and if you would like to add to it, feel free to send a pull request

[2022-06-09 20:41] #8117 closed

[2022-06-10 21:43] xiongchiamiov commented on #4044
Fyi, right now I think as a result of this discussion, the readme starts a chain of broken links.  The readme has

which is a non-existent wiki page.  There _is_ https://github.com/tldr-pages/tldr/wiki/Minimum-specifications-for-tldr-pages-command-line-clients , but that says the long list of clients is in the readme and links back to the section that says they're in the wiki.

If the decision abo

[2022-06-11 04:29] MasterOdin commented on #4044
@xiongchiamiov This has been fixed. Not sure why @Metolinam did this?

[code]

[2022-06-12 11:38] i8abyte commented on #7950
Hi @pixelcmtd, I'd like to work on this issue.

[2022-06-12 13:03] lakhininenina opened #8123 "[rewrite/incorrect] cgroups"
https://github.com/tldr-pages/tldr/blob/main/pages/linux/cgroups.md contains commands which seem to be completely wrong.

for example: `Show the tldr page for cgclassify: tldr cgclassify`

[2022-06-12 19:48] pixelcmtd commented on #7950
@i8abyte I appreciate that, feel free to ask me in case you have any questions that the Style Guide can't answer for you.

[2022-06-12 21:23] navarroaxel commented on #8123
Based on #6766 the `cgroups` doesn't have any command.

[2022-06-13 04:29] lakhininenina commented on #8123
@navarroaxel are you aware of other similar man pages? if my commit looks good enough, i will edit other man pages also. thanks for bringing to my attention.

[2022-06-13 18:17] CleanMachine1 commented on #8123
Can we close this issue?

[2022-06-14 10:51] pixelcmtd opened #8127 "page request: rustup-init"
https://github.com/rust-lang/rustup/blob/master/rustup-init.sh
https://forge.rust-lang.org/infra/other-installation-methods.html

[2022-06-14 12:45] lakhininenina commented on #8123
@CleanMachine1 thank you. my english is rudimentary. if i come across, i will copy. closing ...

[2022-06-14 12:45] #8123 closed

[2022-06-14 18:24] superatomic commented on #6412
As an update, `ptpython` now has a page as of #8125.

[2022-06-15 16:27] sadmankiba opened #8131 "page request: setserial"
### Command description

Let's document [setserial](https://linux.die.net/man/8/setserial)

### Command details

_No response_

### OS

Linux

### OS details

_No response_

[2022-06-17 10:50] mfrw opened #8136 "page request: flyctl"
### Command description

Command line tools for fly.io services.

[flyctl](https://github.com/superfly/flyctl)

### Command details

_No response_

### OS

General

### OS details

_No response_

[2022-06-17 12:05] diegovrocha opened #8137 "page request: git subcommand"
### Command description

Please, let's document **git subcommands**

### Command details

_No response_

### OS

General

### OS details

_No response_

[2022-06-18 06:38] mfrw commented on #8137
Hi @diegovrocha, do you have any specific subcommands in mind that do not have a page yet & are not covered by:
- https://github.com/tldr-pages/tldr/issues/3953

Please feel free to use the above tracking issue instead of creating a new one :)

Thank you.

Closing this issue as a duplicate of #3953

[2022-06-18 06:38] #8137 closed

[2022-06-18 12:33] Jonta commented on #8080
("Let's")

[2022-06-18 12:37] Jonta opened #8138 "page modification: caffeine, caffeinate"
Currently says "Prevent macOS from sleeping"

But is also available for GNU/Linux

Perhaps it should be moved from pages/osx to pages/common, or given its own entry in pages/linux. :)

[2022-06-20 02:47] mfrw commented on #8138
I think it would make sense to add a new entry for `linux`.

Refrerence:

- [caffeine](https://manned.org/caffeine)
- [caffeinate](https://manned.org/caffeinate)

[2022-06-23 07:33] i8abyte commented on #7950
Hi @pixelcmtd, I have opened a PR:
[hcloud: add page #8147](https://github.com/tldr-pages/tldr/pull/8147)

[2022-06-24 02:33] mfrw opened #8150 "page request: tailscale ssh"
### Command description

SSH to a Tailscale machine (Linux Only).
More Info: https://tailscale.com/kb/1193/tailscale-ssh

A notable feature is that we leverage the already existing wireguard auth mechanism and do not have to maintain additional `ssh` certificates.

### Command details

_No response_

### OS

General

### OS details

_No response_

[2022-06-24 21:31] sbrl commented on #7944
I agree with @blueskyson and @CleanMachine1 - this falls outside the scope of tldr-pages, as it sounds more like a cheat sheet then a tldr page. Perhaps it would be better served being contributed to a collection of cheat sheets instead?

[2022-06-24 21:31] #7944 closed

[2022-06-24 22:27] sbrl commented on #7702
Right, but that's a client-specific issue, @genivia-inc. I recommend either looking for documentation on changing the colour scheme of your client, or filing a bug against it.

True

[2022-06-26 14:36] genivia-inc commented on #7702
So, you're basically saying that we, the users & contributors are wrong?

Where does the tldr man page tell me how to change the color scheme? I should reconfig my terminal instead? Just so I can use tldr?

I never heard of tldr before. It was disappointing that it wasn't legible on my terminal with a common color scheme. No offense, but this leaves a bad smell, an impression of an amateurish proj

[2022-06-26 18:48] #8105 closed

[2022-06-26 19:23] centaurii44 opened #8157 "page request: eopkg"
### Command description

eopkg

[This](https://github.com/solus-project/package-management/blob/master/man/eopkg.1.md) was the only manpage that i could find for eopkg.

### Command details

_No response_

### OS

Linux

### OS details

_No response_

[2022-06-26 19:29] centaurii44 commented on #8157
i do plan on creating a page for this later today, but it won't have many examples because of the fact that i haven't used eopkg much.

[2022-06-27 10:19] #8157 closed

[2022-06-27 14:04] k12ish opened #8160 "page request: fuser"
### Command description

Here's a rough summary:

`fuser` displays the PIDs of processes using the specified files or file systems.

Kill the process with a TCP connection on port 8080:

    fuser 8080/tcp -k

### Command details

_No response_

### OS

Linux

### OS details

_No response_

[2022-06-28 01:28] #7950 closed

[2022-06-28 01:35] sbrl commented on #7702
No, I'm not saying that you as a user are wrong here, @genivia-inc. I'm simply saying that if you have an issue with the colour scheme of tldr pages, this is not the right place to report it. This repository is *exclusively* for the tldr pages themselves. tldr pages has [an extensive list of clients](https://github.com/tldr-pages/tldr/wiki/tldr-pages-clients), all of which work differently, have d

[2022-06-28 11:51] #7794 closed

[2022-06-29 00:07] CleanMachine1 commented on #3201
This has since been done. Closing.

[2022-06-29 00:07] #3201 closed

[2022-06-29 00:14] CleanMachine1 commented on #5898
https://twitter.com/tldr_pages

This has been done. Closing!

[2022-06-29 00:14] #5898 closed

[2022-06-29 00:15] #6500 closed

[2022-06-29 00:23] CleanMachine1 commented on #6257
This has since been added via this PR

#7743

[2022-06-29 00:24] #6257 closed

[2022-06-29 00:35] CleanMachine1 commented on #8080
There is probably more here, and also aliases since this was just all of the commands which I have available on my GRUB2 installation on Arch Linux

[2022-06-29 11:26] emivespa opened #8167 "Cacheless clients most likely to take 2 requests"
[CLIENT-SPECIFICATION.md 1.5 > Terminology > Platform](https://github.com/tldr-pages/tldr/blob/main/CLIENT-SPECIFICATION.md#platform):

[CLIENT-SPECIFICATION.md 1.5 > Page resolution > Platform](https://github.com/tldr-pages/tldr/blob/main/CLIENT-SPECIFICATION.md#platform-1):

`linux` and `osx` share most commands, so for those I'd go so far as to guess fetching most pages require a first attempt

[2022-06-29 11:39] emivespa commented on #8167
One solution could be to create platform "joins" for cacheless clients by automating some flavor of  this:
        cd pages
        mkdir linux+common
        cp common/* linux+common
        cp linux/* linux+common # Overwriting repeat pages.

[2022-06-29 13:58] emivespa commented on #8167
Just read up on a couple of issues concerning overhauling the page directory hierarchy (latest #4120). Would making cacheless clients take a single request be considered relevant or are they more of an afterthought?

[2022-06-29 17:30] sbrl commented on #8167
Indeed, linux and osx do share some commands, as does windows (eg inkscape). However, there are a significant number of differences, so unfortunately we can't merge those platforms, as it would be unclear as to which version of a page should be used.

Platform joins like that might make a simple cacheless client simpler, but it would mean we no longer have a single source of truth on the matter, w

[2022-06-29 18:31] emivespa commented on #8167
Oh, I never meant to suggest doing anything to the source-of-truth pages. The joins were just meant as an example.

Not really? I made a toy client, without a cache at first, and it seemed weird to me that lots of calls would make a "wasteful" request. Since a cache is supposed to be optional, I thought I'd point it out. To be clear, it's not really a pain point and might be best left unfixed (sor

[2022-06-29 21:46] sbrl commented on #5898
We have yet to set up twitter together though, but I suppose that can be another issue.

[2022-06-30 00:39] #8150 closed

[2022-06-30 23:05] CleanMachine1 commented on #7360
Hi, I am closing this issue since it has been solved.

Yes commands installed using pip can be documented here

[2022-06-30 23:05] #7360 closed

[2022-06-30 23:08] CleanMachine1 commented on #7365
I think we can close this issue, due to the fact that other reviewers need to be part of the organization to be added to a team, it makes it difficult to use this feature and the teams have _currently_ 1 member each.

I can say that they haven't really had usage within the org.
IMO they should say regardless if they don't do a lot and are never really used.

Anyone have any other opinions or can w

[2022-06-30 23:15] CleanMachine1 commented on #7382
Since the client has been added to our wiki of clients, I am going to close this issue, since the topic of the issue has been solved!

[2022-06-30 23:15] #7382 closed

[2022-07-02 03:53] mfrw commented on #8160
I think we have a page for [fuser](https://github.com/tldr-pages/tldr/blob/main/pages/linux/fuser.md)
Is there any other specific example that we are missing apart from the `8080/tcp` ?

[2022-07-02 16:42] marchersimon commented on #7365
You're right, I'll close it.
Our org is a little too small to really make use of teams.

[2022-07-02 16:42] #7365 closed

[2022-07-04 13:52] marchersimon commented on #7686
While not really the purpose of tldr, I think it couldn't hurt to have a `ripgrep` page, which states, that `ripgrep` is just the common name for `rg`. I can imagine that some people are trying to run `tldr ripgrep`.

[2022-07-04 13:55] marchersimon commented on #8056
A sentence in imperative mood is often rather specific. Describing a whole command in imperative mood can often make it unclear what it actually does. Also, for many commands, we use the official command description, which isn't imperative mood either.

I don't really see, where this would help us.

[2022-07-04 13:58] marchersimon commented on #7626
@captn3m0 please just reopen this issue if it appears again. I'll close this for now

[2022-07-04 13:58] #7626 closed

[2022-07-04 16:46] pixelcmtd opened #8181 "page request: rlwrap, rlfe"
- [`rlwrap`](https://github.com/hanslub42/rlwrap)
- [`rlfe`](https://packages.debian.org/sid/rlfe)

[2022-07-05 16:36] k12ish commented on #8160
The TLDR specifications states:

I shall take up this gripe with [tealdeer](https://github.com/dbrgn/tealdeer)

[2022-07-05 16:36] #8160 closed

[2022-07-05 16:42] Izzur opened #8183 "page request: pulumi"
### Command description

Pulumi is a modern [infrastructure as code](https://www.pulumi.com/what-is/what-is-infrastructure-as-code/) platform that allows you to use familiar programming languages and tools to build, deploy, and manage cloud infrastructure.
More information: https://www.pulumi.com/

### Command details

_No response_

### OS

General

### OS details

_No response_

[2022-07-05 18:17] boldandbrad opened #8184 "page request: docsify-cli"
### Command description

`docsify` initializes and serves docsify markdown documentation locally

https://cli.docsifyjs.org/#/
https://docsify.js.org/#/quickstart?id=quick-start

I plan on submitting a PR for this, but I figured I'd formally submit an issue to link first!

### Command details

v4.x

### OS

General

### OS details

_No response_

[2022-07-05 22:09] marchersimon commented on #6307
This was already resolved in #6817

[2022-07-05 23:10] CleanMachine1 commented on #8184
Hey, just for future reference, you do not need to open a page request issue before submitting a PR, feel free to just submit the PR!

[2022-07-05 23:23] #7504 closed

[2022-07-06 13:12] pixelcmtd opened #8187 "page request: cli4 (CloudFlare)"
https://github.com/cloudflare/python-cloudflare

[2022-07-06 15:37] #8184 closed

[2022-07-11 10:31] #7408 closed

[2022-07-18 11:49] EmilySeville7cfg opened #8224 "Add collaborator: @Nico385412"
Hi, @Nico385412! You seem to be enjoying contributing to the tldr-pages project.

You have [23 PRs merged](https://github.com/tldr-pages/tldr/pulls?q=is%3Apr+author%3ANico385412+is%3Amerged), congrats! 👍🏻

As a collaborator, you will have commit access to the repository.
That means you can merge pull requests, label and close issues, and perform various other maintenance tasks that are needed here

[2022-07-19 00:17] CleanMachine1 commented on #8224
The invite has been sent so you can join if you wish

[2022-07-19 05:38] Nico385412 commented on #8224
Hi everyone !

Why not ! as collaborator i will be able to review french translations as well 😆
I just received the invite in my inbox and accepted it.

[2022-07-19 10:25] navarroaxel commented on #8224
@Nico385412 you should send a PR adding you in `MAINTAINERS.md` as collaborator to resolve this issue, similar the following: https://github.com/tldr-pages/tldr/pull/6341

[2022-07-19 13:02] #8224 closed

[2022-07-20 00:15] sbrl commented on #8056
This isn't something I think we should enforce. As @marchersimon says, it's rather situationally specific as to what should be used. Rather, when I'm reviewing I look at the overall tone and voice of the text, and correct it if it seems out of place - though unfortunately I can't offer much more advice here as my native language is English, so I don't think about it much when I'm reviewing haha -

[2022-07-20 12:52] marchersimon commented on #8056
@EmilySeville7cfg if you agree, can we close this issue?

[2022-07-20 12:54] #8056 closed

[2022-07-22 19:51] bentarve opened #8241 "typo in helix page"
https://github.com/tldr-pages/tldr/blob/main/pages/common/helix.md

First line says vim

Will also mention that the package name is helix but the binary name is hx, so consider to change the filename to hx?

[2022-07-23 16:23] #8241 closed

[2022-07-25 07:33] YalandHong commented on #8046
Related to #7702, #6246, #5092

[2022-07-25 09:36] marchersimon commented on #8046
Personally, I still like the solution I proposed in #6246. It works with all clients and doesn't make the example any longer. And if we only do this for very common pages there's also not a lot more effort to maintain this new convention.

[2022-07-26 23:25] ksan314 opened #8257 "page request: regex (7)"
### Command description

regex man page from section 7

### Command details

_No response_

### OS

Linux

### OS details

_No response_

[2022-07-27 04:31] sadmankiba opened #8258 "page request: p4c"
### Command description

Compiler for P4 programming language

### Command details

https://github.com/p4lang/p4c

### OS

Linux

### OS details

_No response_

[2022-07-27 07:44] marchersimon commented on #8258
Thanks for the request @sadmankiba. Do you plan to create the page yourself?

[2022-07-27 07:47] marchersimon commented on #8257
Thanks for the request @ksan314. Unfortunately, we only document commands, which can be executed in a shell. The best we can do is a page for `grep` (which we already have).

[2022-07-27 13:39] marchersimon commented on #8167
If the number of requests is important in a situation, a cached client would be better suited anyways. I'll close this issue now.

[2022-07-27 13:39] #8167 closed

[2022-07-27 13:40] marchersimon commented on #8167
And if you finish your client don't forget to tell us, so we can add it to the list :)

[2022-07-27 13:47] marchersimon commented on #7503
I'm closing this now, since the original proposal would need a new directory structure.

[2022-07-27 13:47] #7503 closed

[2022-07-27 23:37] CleanMachine1 commented on #8257
Closing since it cannot be documented within TLDR

[2022-07-27 23:37] #8257 closed

[2022-07-28 04:28] EmilySeville7cfg commented on #7503
Okay ;)

[2022-07-28 16:34] #8127 closed

[2022-07-29 06:14] marchersimon commented on #6062
Finally done 🥳 🎉

[2022-07-29 06:14] #6062 closed

[2022-07-29 06:15] marchersimon commented on #5510
Should I also close this issue or is there something left to discuss?

[2022-07-29 06:55] marchersimon commented on #7692
As @sbrl mentioned this would have to be client specific. There's not a lot we can do about that.

[2022-07-29 06:55] #7692 closed

[2022-07-29 07:44] patricedenis commented on #7568
Hi, as said by @d4n3sh the issue is already been addressed by #5696.
Would you like some other examples?

[2022-07-29 07:56] marchersimon commented on #7568
The current `ip route` page does however not really document `ip route show`, which itself has a lot of subsubsubcommands.

[2022-07-29 08:01] marchersimon commented on #3706
Since there are now separate labels for `help wanted` and `hacktoberfent`, I'll close this issue.

[2022-07-29 08:01] #3706 closed

[2022-07-29 08:06] marchersimon commented on #5111
This issue has already been solved mostly by the `set-more-info-link.py` script. All pages and translations are now completely standardized.

[2022-07-29 08:06] #5111 closed

[2022-07-29 08:11] marchersimon commented on #6317
@pixelcmtd this page does already exist. It has been added in #4045

[2022-07-30 07:39] #7686 closed

[2022-07-30 12:23] #6167 closed

[2022-07-30 13:09] pixelcmtd commented on #6317
@marchersimon oh thats interesting so much code review and nobody thought of putting it in the right platform

[2022-07-30 14:08] #6317 closed

[2022-08-02 16:28] marchersimon commented on #8046
I think this would be doable. But we would have to restrict this exception to only very few pages (like `pacman`). In most of the cases adding the short option would just make everything less readable. And I think that `sudo pacman --sync --refresh --sysupgrade (-Syu)` should be used, since the long options are the main part and the short options are just an addon.

@sbrl @navarroaxel @CleanMachin

[2022-08-02 19:14] sbrl commented on #8046
As others have discussed the general rule has been that if a command is commonly used, we use short options on that page. There are many commands used in day-to-day terminal usage, and tldr-pages should reflect the version that people are most likely to use. The example of `sudo pacman -Syu` is a great one here. The `tar` page gives a good example of how these can be documented.

The `pacman` page

[2022-08-02 20:15] SethFalco opened #8284 "rfc: update client specifications to accommodate mirrors"
### Command description

This is mostly regarding this excerpt from the client specifications.

I, personally, do not think it's our place to suggest that we have authority over where clients or users choose to obtain a copy of tldr pages.

There are several reasons clients might want to change it up a bit:
* Perhaps GitHub is down, so they are unable to update the cache through the official link.

[2022-08-02 23:20] sbrl commented on #8284
Another issue here to consider is the case of

1. client developer creates mirror for their client
2. mirror goes offline
3. client is now broken.

...so if we allow mirroring in the spec, we should consider requiring clients that *do* support mirroring to have a priority-ordered list of mirrors. If 1 mirror breaks, then go down the list to find the next working one, finally ending on our official

[2022-08-03 17:19] SethFalco commented on #8284
You basically just repeated what I said. This is the very issue I'm looking to solve by allowing mirrors. We shouldn't assume the only final solution is that people should fall back to our mirrors though, ours can go down just as much as any other.

In fact, there have already been times when most (if not all) tldr clients were broken at once. (Hence the issue with centralization.)

Nothing wrong

[2022-08-04 00:24] CleanMachine1 commented on #8284
Where can we host these, because I doubt there will be too many contributor ones

I can think only think of
gitlab
tldr.sh, maybe a gitea

as my immediate thoughts.

While I can see the use case of wanting to not use github servers as a mirror, this will undoubtedly cause issues for the end user, depending on how it is added to a client.

[2022-08-04 03:24] CleanMachine1 opened #8296 "Repository: Adding Codespell to our CI"
We can add Codespell to the CI to help with removing the small spelling errors and typos which slip through our reviews.

I am sure we could add other dictionaries to find errors in other languages however here is a demo script

[code]

The output of this can be seen when reviewing the lines where the errors are seen in the files tab of a PR, making so that the contributor doesn't have to read the

[2022-08-05 03:10] reinhart1010 opened #8304 "Encourage using long parameter options and mnemonic tags in our style guide"
There's another two writing rules, undocumented on our style guide which we have also practiced instead in reviewing pull requests for new pages:

1. Prefer long parameter formats (e.g. `--verbose` instead of `-v`) as possible,
2. When the documented program does not include long parameter formats, documenters may use **parameter mnemonic tags** (e.g. `[v]erbose`)

Which I personally liked, and in

[2022-08-05 06:50] marchersimon commented on #8304
We actually have documented that we prefer long options in [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/main/CONTRIBUTING.md#guidelines). But we should definitively move this to the style guide.

[2022-08-05 06:55] marchersimon commented on #8296
This check would be run on every PR every time a new commit is made, right? Wouldn't that make the checks take even longer?

Also, I feel like this would create a lot of false positives. I assume we use a lot of very specific words, which don't actually exist (e.g. `commits`).

[2022-08-05 07:49] marchersimon commented on #8284
What about all the organizations and universities, which also host linux distro images?

[2022-08-05 20:15] CleanMachine1 opened #8307 "page request: gum"
### Command description

.

### Command details

_No response_

### OS

Other

### OS details

_No response_

[2022-08-05 20:24] CleanMachine1 opened #8309 "add collaborator: @kbdharun"
Hi, @kbdharun ! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#8293 #8295 #8282 #8292 #8294 and others)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md).

As a collaborator, you will have commit a

[2022-08-05 20:33] CleanMachine1 commented on #8296
There would of course be false positives, however not too many.

Notable words such as `crate` and some acronyms are marked as incorrect, [see here](https://github.com/CleanMachine1/workflows/runs/7274129781?check_suite_focus=true) for all current repo false positives (there maybe a few actual errors).

The speed difference is only about 5 seconds more (after CI spinup)

also, the false positives

[2022-08-05 20:54] cjappl opened #8310 "Fish shell - TLDR "barfs" a bunch of text half way through command"
Steps to repro:

* Install tldr
* Instantiate fish shell (seems to be the first time you use it only)
* start to type a command `tldr choo`  (trying to type `tldr choose`

Expected:
* Output doesn't come until you finish your command and press enter

Observed:
* See screenshot - tons of text outputted, maybe from fish autocomplete system?

Not sure if this is a fish bug or a tldr bug. This is the

[2022-08-05 23:40] CleanMachine1 commented on #8310
How did you install your tldr client?

[2022-08-06 01:37] kbdharun commented on #8309
Sure, I would love to join as a collaborator.  Thank you so much.

[2022-08-06 01:40] CleanMachine1 commented on #8309
Ok, the invite has been sent, please open a PR for adding yourself to the maintainers.md file

[2022-08-06 01:44] CleanMachine1 commented on #8309
welcome to tldr!

[2022-08-06 07:14] kbdharun commented on #8307
https://github.com/charmbracelet/gum
Is this the repo for this command or is it a different program .

[2022-08-06 16:06] #8309 closed

[2022-08-06 19:09] CleanMachine1 commented on #8307
Yes that is the repo.

[2022-08-07 13:39] CleanMachine1 commented on #8284
Thats a good idea, some have mail to contact them.

[2022-08-07 23:58] CleanMachine1 opened #8321 "add collaborator: @adrienthebo"
Hi, @adrienthebo! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#8249, #8250, #8230, #8081 and #8078)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md).

As a collaborator, you will have commit acc

[2022-08-08 08:22] marchersimon commented on #8296
Would we have a file in this repo, where we could add custom words?

[2022-08-08 13:13] #8307 closed

[2022-08-08 22:12] CleanMachine1 commented on #8296
Yes, a yml file.
https://github.com/codespell-project/actions-codespell#parameter-ignore_words_file

[2022-08-09 06:35] marchersimon commented on #7540
Totally forgot about this one.

[2022-08-09 15:43] #7540 closed

[2022-08-09 23:08] sbrl commented on #8296
Good idea in theory, as @marchersimon I'm concerned about the false positives and the extra maintenance burden this would bring in merging new PRs. It could make things more complicated if a new author comes along and waants to contribute a page, but then we have to handle the false positives that may bring.

[2022-08-09 23:32] CleanMachine1 commented on #8296
While I am sure that there will be false positives, if we add some existing words which are flagged, the maintenance becomes merely adding words to a file (wouldn't have to be a PR).

However yes, adding more things to deal with as a newcomer is a bad thing, the upside removes future PRs dedicated to spelling error fixes, which are repetitive and dull for reviewers.

I propose a trial of using it,

[2022-08-13 23:43] CleanMachine1 commented on #1949
I am going to close this PR, since it is more than stale and there is no real reason to add contributors who have clearly stopped contributing.

Contributors have been added as they contribute actively (at least while I have started).

Feel free to open agagin if you disagree.

[2022-08-13 23:43] #1949 closed

[2022-08-14 02:41] lknows commented on #7793
And here's a manpage for [xinit here.](https://linux.die.net/man/1/xinit)

The startx script is a front-end for xinit. -- [xinit ArchWiki](https://wiki.archlinux.org/title/xinit)

The xinit program allows a user to manually start an X display server. -- [xinit Wikipedia](https://en.wikipedia.org/wiki/Xinit)

By default, xinit and startx start an X display server pointing to a display device that i

[2022-08-17 02:45] adrienthebo commented on #8321
Hey! I've been a bit low on bandwidth for the last week so sorry for the delay - but yes, I'd love to be a collaborator! tldr-pages have been incredibly helpful for the last several years of my working life, I'd be delighted to contribute back more.

 I'll review the maintainer's guide shortly. Cheers! 🍻

[2022-08-17 02:51] CleanMachine1 commented on #8321
No problem, thanks for all of your current contributions, hope to review some more.

The invite has been sent!

[2022-08-17 03:32] CleanMachine1 commented on #8296
So here is a version which actually works see #8353 for endless commits fixing syntax errors and other mistakes.

[code]

I will make a PR to be reviewed where a final decision can be made, the speed difference is almost nothing (if not 0) since the main CI takes 24 seconds whilst the codespell action takes 15 (don't fact check that, it was just the readings of the latest test run as of now)

[2022-08-17 20:44] #8321 closed

[2022-08-17 22:18] EmilySeville7cfg commented on #7521
This issue is no longer needed.

[2022-08-17 22:18] #7521 closed

[2022-08-20 03:43] jxu opened #8378 "gcc/g++: include common optimization options -O2 or -O3"
Since there's a rule about common flags for debug symbols -Og, the common optimizations -O2 or -O3 should be mentioned as well.

I'm not sure if -O3 is still buggy, but -O2 to be safe. https://www.phoronix.com/news/No-O3-For-Linux-Kernel

Maybe -Os for size but this is less common.

[2022-08-20 03:47] jxu opened #8379 "gcc: Use more common output flag -o instead of --output"
I know the guidelines say we should prefer full names, but -o is so widespread and standardized that I think it's more appropriate going for -o. Curiously I can't even find --output in the man page. Worth mentioning the g++ tldr and the other options are all abbreviated.

[2022-08-20 03:55] jxu opened #8380 "gcc: Specify -std for C standards"
This is already given in tldr page of g++, so for page parity

Available standards include GCC extensions like gnu99
 https://gcc.gnu.org/onlinedocs/gcc/Standards.html

https://gcc.gnu.org/onlinedocs/gcc/C-Dialect-Options.html#C-Dialect-Options

[2022-08-20 05:06] mfrw opened #8382 "page request: vgrep"
### Command description

[vgrep](https://github.com/vrothberg/vgrep) - A user-friendly pager for grep

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [X] sunOS
- [x] Windows

[2022-08-20 20:23] sbrl commented on #8379
Thanks for the comment! tldr pages should document the most useful form of arguments, and not just default to the long options regardless of what is actually used day-to-day. Have you considered opening a pull request to correct this?

[2022-08-20 20:26] sbrl commented on #8380
Thanks for requesting this edit! Do you want to have a go at implementing it yourself?

Pages are best created or edited by people who understand the command they are about.

If you do, take a quick read of [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/master/CONTRIBUTING.md), which guides you through the process of creating a new page here. Then, just simply send a pull request to thi

[2022-08-20 22:34] #8382 closed

[2022-08-21 01:49] mfrw opened #8386 "page request: cephadm"
### Command description

[cephadm](https://docs.ceph.com/en/latest/cephadm/): Deploy a Ceph Cluster

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-08-21 04:13] jxu opened #8388 "gcc/g++: clarify -Wall flag"
The current g++ guide says

AFAIK -Wall has nothing to do with errors and enables all common warnings ("common" is my opinion, as a bunch more are in -Wextra, and there are still more warnings like -Wconversion).

The current gcc guide says

This shows two flags at once which might be confusing and doesn't specify which warnings are turned on.

[2022-08-21 04:18] jxu commented on #8046
I agree with defaulting to short options and the argument that tldr is for practical commands. The point of the command explanation is to explain the flags, so it is redundant with long options.

[2022-08-21 20:30] jxu opened #8389 "objdump: intel syntax"
Use -M intel flag

[2022-08-22 12:12] #8380 closed

[2022-08-23 02:54] mfrw commented on #8310
@cjappl Could you please provide the steps to reproduce the issue:
- The client that you use for `tldr`
- The version of `fish`
- Any other information you deem which might be helpful for us to isolate the issue :)

[2022-08-23 03:06] cjappl commented on #8310
Whoops, sorry, thought I responded!

installed tldr via homebrew.

tldr version: 1.4.3
fish version 3.5.1

In terms of reproing, it seems to be the first time I try to use tldr in a shell session. I will update my original comment accordingly with this info.

[2022-08-23 03:10] CleanMachine1 commented on #8310
Try updating the client, you are using our C client and the changelog for the next version includes

[code]

[2022-08-23 03:46] cjappl commented on #8310
Cool! Thanks, just updated. So far that seems to work.

I'm going to close, and I'll re-open if I repro. Thanks for the help

For future reference the version working is: tldr v1.5.0 (v1.5.0)

[2022-08-23 03:46] #8310 closed

[2022-08-23 16:02] #8379 closed

[2022-08-23 19:08] CleanMachine1 commented on #8310
Glad to help.

[2022-08-24 16:07] EmilySeville7cfg opened #8395 "Don't allow merge PRs untils all conversations are resolved and all reviewers reviewed changes"
I think it's [more strict](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-conversation-resolution-before-merging) than just blocking merging by `request changes` and it works automatically. So we don't depend on how reviewers review PRs and when they actually request changes. :)

[2022-08-24 16:15] EmilySeville7cfg commented on #8395
Also I suggest [automatically dismiss stale reviews](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-pull-request-reviews-before-merging).

[2022-08-24 16:43] CleanMachine1 commented on #8395
Isn't this just a given?
Letting reviewers review changes and making sure every message is resolved.

I don't think anything needs to be changed in the settings regarding making reviews stale, maybe a small sentence in the maintainers guide about making sure all comments are resolved, although I think it already exists (but I couldn't find it).

[2022-08-24 16:53] EmilySeville7cfg commented on #8395
Reviews may make sure every message is resolved but it's not guaranteed. That's why I suggest to guarantee conversion resolution by GitHub and not to rely on ourselves. We are humans and can make mistakes.

[2022-08-25 11:58] EmilySeville7cfg opened #8399 "Try decine PRs with `Co-authored by` lines by CI"
This is a continuation of [this](https://github.com/tldr-pages/tldr/pull/8391#issuecomment-1225909897) comment.

[2022-08-25 12:00] navarroaxel commented on #8399
You can't manage this with CI, it's the auto generated commit message when you click on the `Squash & merge` green button.

[2022-08-25 12:02] EmilySeville7cfg commented on #8399
Got it ;)

[2022-08-25 12:02] #8399 closed

[2022-08-25 14:14] kbdharun commented on #8399
I have a doubt, can a coauthor be automatically removed from the commit message by default using Github's new [default commit message feature.](https://github.blog/changelog/2022-08-23-new-options-for-controlling-the-default-commit-message-when-merging-a-pull-request) even when clicking on `Squash & merge button`.

[2022-08-25 16:59] navarroaxel commented on #8399
@kbdharun I've checked it quickly but the `Co-authored by` is always present in the auto generated text in the textarea for the commit message body

[2022-08-25 23:18] kbdharun commented on #8399
Oh ok, Thanks for info.

[2022-08-27 05:10] jxu opened #8405 "tldr book readability"
I read the README and discovered that tldr apparently has a 3200 page PDF version. I'm not sure if anyone has used this, in print or as a PDF, but for readability:

- Enable syntax highlighting and/or pure black and white version (like manpages)
- Tan background and gray font is actually a little hard to read and imo not visually appealing. I propose darkening the font and getting rid of the tan b

[2022-08-27 05:12] jxu commented on #8181
I've used `rlwrap` but only by itself without options, so I'll wait to see if anyone else can tell us which options are most useful.

[2022-08-27 08:33] corneliusroemer opened #8406 "Let's document: aws s3"
### Command description

We have an `aws-s3` page but s3 has a lot of subcommands that are only touched with a single example on the s3 page.

It would be great to have extra pages for things like `aws-s3-ls` etc.

### Commands

- [x] [cp](https://docs.aws.amazon.com/cli/latest/reference/s3/cp.html)  → #9219
- [x] [ls](https://docs.aws.amazon.com/cli/latest/reference/s3/ls.html)   → #8619
- [x] [m

[2022-08-27 13:21] masukomi opened #8409 "accessibility issue in README example svg"
![CleanShot 2022-08-27 at 09 10 55@2x](https://user-images.githubusercontent.com/2829/187032021-685761de-5b5a-44a1-9363-3809c676f90d.png)

There's a longstanding [SVG rendering bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1677988) when a user has a minimum font size set (folks who need larger fonts because of vision issues do this). This makes example SVGs literally unreadable. Nei

[2022-08-27 14:07] CleanMachine1 commented on #8409
I don't even have a min of 20 on Firefox and I get this.

I'd like to see this change if it fixes it.

Would you like to submit the change in a PR @masukomi

[2022-08-27 14:13] #8389 closed

[2022-08-28 02:47] jxu commented on #8409
I guess SVG support is still buggy in 2022.

How about just changing it to an old-fashioned GIF?

[2022-08-28 03:00] jxu opened #8414 "7z: guess archive format from file extension"
I'm not sure where this is documented but apparently 7z will guess the archive format from the file extension so `-t` is not strictly necessary in most cases.

The current tldr page says
[code]

but it is enough to use for example

    7z a archive.zip data/

Should this be mentioned in the tldr page?

[2022-08-28 03:03] navarroaxel commented on #8414
You can send an edit to the first example to say the archive type is defined by the archive extension.

[2022-08-28 03:04] jxu commented on #8093
I've seen this in the context of Kdenlive and Shotcut and I get the impression melt is not supposed to be called directly by an end user.

[2022-08-28 03:06] jxu commented on #8414
also I don't know which 7z versions support it (I have version 16.02)

[2022-08-28 04:49] kbdharun commented on #8414
I too have `7z` version 16.02 in Fedora (Linux). When I archive a 7z file without the `-t` flag it converts 7z to zip [See Ref IMG 1]. But there is no change when I try to convert zip. I will further look into it to check whether the flag is required or not.

[2022-08-28 04:55] jxu commented on #8414
What do you mean converts 7z to zip?

The usual invokation is like `7z a archive.zip input`. Since you didn't specify input I assume it does current directory? That is not .7z format.

[2022-08-28 04:59] jxu commented on #8409
#5400 had a suggestion to just use a PNG. I agree in that I don't think the animation adds anything a screenshot wouldn't provide.

[2022-08-28 06:25] kbdharun commented on #8414
Oops, my bad 😄 , I tried it, and it works example in `7z a test.zip test `, a `test.zip` file is created from the test directory. Using `-t` flags works too for example in `7z a -ttar tar test` a `tar.tar` archive file is created from the test directory, and I don't need to specify file extension separately. I think the current example in the tldr 7z page is itself good enough maybe we can just re

[2022-08-28 06:42] jxu commented on #8414
So 7z will add its own appropriate extension in that case? I'm not sure if I like that behavior

[2022-08-28 06:51] kbdharun commented on #8414
Yes, For `-t` flag you don't need to specify it separately because we are already specifying the file extension along with it.
For example, `7z a -tzip {{path/to/archive}} {{path/to/file_or_directory}}` and `7z a -tzip {{path/to/archive.zip}} {{path/to/file_or_directory}}` both works but since this page deals with multiple file types I think we don't need to specify a particular file extension alo

[2022-08-28 18:27] jxu commented on #8414
I think it's easier for the user to just write `7z a archive.zip data` than `7z a -tzip archive data`, although there are merits to both.

[2022-08-28 19:09] jxu opened #8417 "7z: specify compression level and remove maybe obscure options"
I think compression level such as `-x` for zip and 7z is more useful than the current tldr page listing "List available archive types" and " - Encrypt an existing archive (including filenames)" (which by default uses ZipCrypto, notoriously bad encryption).

[2022-08-28 19:30] jxu commented on #8417
7z AES-256 has some flaws too. https://security.stackexchange.com/questions/100650/how-secure-is-7z-encryption

Maybe this should be a separate issue of whether or not to remove password option to discourage it

[2022-08-30 16:37] corneliusroemer opened #8426 "page request: snakefmt"
### Command description

Command to format snakemake files

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-08-31 03:10] feijiang00 opened #8427 "Why can't some commands be displayed. Is it because of the network?"
### Command description

不能够显示出一些命令，比如mv，但是可以显示tar，仅可以显示tar
在输出 tldr mv后等待了一段时间后出现:
Error fetching from tldr: <urlopen error EOF occurred in violation of protocol (_ssl.c:877)>

Translation:
It can't display some commands, such as `mv`. However it can only display `tar`.
Afer executing `tldr mv` and waiting for a while, the terminal shows:
Error fetching from tldr: <urlopen error EOF occurred in v

[2022-08-31 03:19] navarroaxel commented on #8427
Which client and version are you using?

[2022-08-31 03:29] feijiang00 commented on #8427
the tldr is tldr 3.1.0 (Client Specification 1.5)
the linux is  centOS  3.10.0-1160.11.1.el7.x86_64
@blueskyson

[2022-08-31 05:30] blueskyson commented on #8427
@feijiang00
1. Can your computer access `https://tldr-pages.github.io/assets/tldr.zip`?
2. Checkout `openssl version` and make sure it's new enough.
3. Try to update `requests` version by `pip install requests --upgrade`.
4. Checkout if your proxy or vpn blocks the openssl connection.

I have no other idea if the above approaches don't work...

[2022-08-31 05:40] blueskyson commented on #8405
Checkout [https://github.com/tldr-pages/tldr/tree/main/scripts/pdf](https://github.com/tldr-pages/tldr/tree/main/scripts/pdf). You can render a black and white version by executing `python3 render.py ../../pages --color basic`.

[2022-08-31 08:43] feijiang00 commented on #8427
ok,thanks,maybe is the `**openssl version**` 's question, I'm trying to update it

[2022-08-31 13:31] corneliusroemer opened #8430 "page request: twine"
### Command description

Important for python packaging
https://github.com/pypa/twine

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-08-31 21:46] jxu commented on #8427
Does curl or git fetch work?

[2022-09-01 01:37] sbrl commented on #8395
Sure, we don't want to merge until all discussions are resolved. However, sometimes it is advantageous to leave a discussion thread as "unresolved" in the GitHub interface. For example, it could be an important discussion is resolved, but we  don't want to mark it resolved, because that would minimise it - and we want to draw attention to it.

This is I guess a question of etiquette. If a discussi

[2022-09-01 20:11] CleanMachine1 opened #8438 "add collaborator: @CairnThePerson"
Hi, @CairnThePerson! You seem to be enjoying contributing to the tldr-pages project.
You now have had five distinct pull requests merged (#8413 #8412 #8411 #8404 #8403)!
That qualifies you to become a collaborator in this repository, as explained in our [community roles documentation](https://github.com/tldr-pages/tldr/blob/main/COMMUNITY-ROLES.md).

As a collaborator, you will have commit access

[2022-09-01 22:56] CairnThePerson commented on #8438
Hey, absolutely! I've got some more ideas about what to add, but I'm happy to gradually build up to maintaining as well.

When I'm adding new pages, can I still submit PRs? I'd like to continue to get feedback on my work, even though it wouldn't be strictly necessary.

[2022-09-01 23:16] CleanMachine1 commented on #8438
Yes, PRs are actually a must for any page and for anyone.

I've sent the invitation now.

Thanks for all of your current contributions, hope to see some more!

[2022-09-01 23:18] CleanMachine1 commented on #8438
Make sure to make a PR to change the MAINTAINERS.md file, and add your name there.

[2022-09-01 23:20] CairnThePerson commented on #8438
Will do. :+1:

[2022-09-02 01:53] CleanMachine1 commented on #8438
Could you check your Gitter notifications @CairnThePerson

[2022-09-02 02:32] #8438 closed

[2022-09-02 03:45] jxu opened #8442 "7z: fix explanation of a"
TIL a does not stand for [a]rchive but [a]dd. it can be used to add files to an existing archive

https://sevenzip.osdn.jp/chm/cmdline/commands/add.htm

[2022-09-02 09:40] pixelcmtd commented on #8093
@jxu I get what you mean, the page I linked even says it:

but when trying to edit video from the command line, render videos on another computer/architecture/..., develop something new with video, ... it's useful.

[2022-09-02 09:51] pixelcmtd commented on #8442
Could you make a PR for that?

btw: something like [the manpage](https://manned.org/7z.1) would be a more credible looking source to me (i'm not familiar with osdn.jp)

[2022-09-02 12:16] corneliusroemer opened #8444 "page request: csv-diff"
### Command description

https://github.com/simonw/csv-diff

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-09-02 17:02] jxu commented on #8442
Teah I can when I remember to later.

The reason I link that page is because 7z's manpage says to "see /usr/share/doc/p7zip/DOC/MANUAL/cmdline/switches/method.htm" which is presumably what's hosted at osdn.jp (I didn't check if it was up to date)

[2022-09-04 01:31] jxu opened #8454 "magick: clean up current commands"
Maybe it should say "with default quality options" and specify which is the source and target. PNG to JPEG is not lossless.

Does this really make a new copy? As it's written it just overwrites the old image which is destructive

This seems to lack detail. Animated GIF? What resolution and framerate?

I'm not opposed to this but is this a common command? I would rather have a command like `-resize

[2022-09-04 03:29] #7587 closed

[2022-09-05 01:24] #8442 closed

[2022-09-06 04:17] maniyar1 opened #8461 "page request: flite"
### Command description

flite - A small simple speech synthesizer

man page: https://manpages.ubuntu.com/manpages/trusty/man1/flite.1.html

Pretty simple for the most part, see the espeak tldr page for what general use case might look like.

### Command details

Version: 2.2

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-09-07 02:27] maniyar1 opened #8469 "Use espeak page for espeak-ng"
Most of the user interface/functionality is the same, so it would be nice to have both in there, in my opinion (right now `tldr espeak-ng` gives nothing, only `tldr espeak` works).

[2022-09-07 02:31] EmilySeville7cfg commented on #8395
I am doubt about that important discussions must be in GitHub PRs. What about to create issues for such things? 🤔

[2022-09-10 00:41] pixelcmtd opened #8478 "page request: macOS Font Tools aka. Apple Font Tool Suite"
You can download it [from the Apple Developer site](https://developer.apple.com/download/all/?q=font).
In the image, there is a lot of documentation, especially `Documentation/Apple Font Tool Suite.pdf` can help us a lot in writing pages.

## CLI
- [ ] ftxanalyzer
- [ ] ftxdiff
- [ ] ftxdispatcher
- [ ] ftxdumperfuser
- [ ] ftxdumpfond
- [ ] ftxenhancer
- [ ] ftxfissioner
- [ ] ftxfusefond
- [ ] f

[2022-09-13 14:54] corneliusroemer opened #8488 "page request: mamba"
### Command description

Mamba is a fast drop-in replacement for the conda environment manager

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-09-13 15:00] navarroaxel commented on #8488
IMO It's not an alias page because it's another program

[2022-09-14 14:25] pixelcmtd opened #8491 "page request: twurl"
https://github.com/twitter/twurl

- [ ] twurl
- [ ] twurl-accounts
- [ ] twurl-alias
- [ ] twurl-authorize
- [ ] twurl-bearer_tokens
- [ ] twurl-set

[2022-09-16 07:24] fatCatGm commented on #8427
I also encountered the same error, and I tried the above methods. Have you solved it

[2022-09-16 07:24] fatCatGm commented on #8427
[root@localhost network-scripts]# tldr mv
Error fetching from tldr: <urlopen error [Errno 111] Connection refused>

[2022-09-18 21:24] #8296 closed

[2022-09-19 12:05] kbdharun opened #8502 "page request: certutil"
### Command description

Note: From what I found there seems to be some differences for commands in every platform. But this tool seems to be from Microsoft.

## Windows

- Docs link for Windows: <https://learn.microsoft.com/en-us/windows-server/administration/windows-commands/certutil>.

## Linux

- Ubuntu Docs Link: <https://manpages.ubuntu.com/manpages/xenial/man1/certutil.1.html>.
- Ref cheats

[2022-09-19 14:15] pixelcmtd commented on #8502
About that Mac thing: `certutil` doesn't have a man page on my system, but it's installed from the Homebrew package `nss`.

[code]

[2022-09-20 07:02] fatCatGm commented on #8427
thanks，I set DNS（ 185.199.108.133 raw.githubusercontent.com）, and it can run successfully。

[2022-09-21 12:38] corneliusroemer opened #8507 "page request: pangolin"
### Command description

Used extensively to assign lineages to SARS-CoV-2 sequences

### Command details

4

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-09-22 14:46] Marella139 opened #8512 "page request: cvfsck"
### Command description

Check and Recover a Xsan Volume.

The cvfsck program can check and repair Xsan file system metadata corruption due to a system crash, bad disk or other catastrophic failure. This program also has the ability to list all of the existing files and their pertinent statistics, such as inode number, size, file type and location in the volume.

### Command details

_No response_

[2022-09-25 00:03] #7582 closed

[2022-09-25 12:52] #8183 closed

[2022-09-25 20:06] navarroaxel commented on #8469
@maniyar1 is `espeak-ng` an alias or another command?

[2022-09-25 20:43] navarroaxel commented on #7870
@MasterOdin could you please check if we can fix this issue in the Python code?

[2022-09-26 00:03] #7569 closed

[2022-09-26 12:47] gutjuri opened #8521 "page request: diadia"
### Command description

See https://bitbucket.org/kleberj/diadia/src/master/scripts/diadia/diadia.lua

A tool for maniulating .dat files.

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-09-26 12:50] gutjuri opened #8522 "page request: blight"
### Command description

A command line utility to change the display brightness. See: https://github.com/gutjuri/blight

Not sure whether or not it is allowed to request a page for a programme that I've written myself, so feel free to delete.

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-09-26 12:53] gutjuri opened #8523 "page request: getcap"
### Command description

Get a file's capabilities.

See: https://www.man7.org/linux/man-pages/man8/getcap.8.html

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-09-26 12:55] gutjuri opened #8524 "page request: clight"
### Command description

A Daemon that manages your display's brightness, temperature etc.

See: https://github.com/FedeDP/Clight

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-09-26 13:03] gutjuri opened #8525 "page request: mumble"
### Command description

Mumble is a software for voice-chatting.

I think it would be great to document the subcommand `mumble rpc`.

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [x] macOS
- [ ] sunOS
- [X] Windows

[2022-09-26 13:06] gutjuri opened #8526 "page request: HandBrakeCLI"
### Command description

The HandBrakeCLI command allows to run HandBrake (https://handbrake.fr/) without a GUI. This is useful for automation of repetitive rendering tasks.

Unfortunately, I have no experience using HandBrakeCLI, so I cannot do this myself.

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [X] Windows

[2022-09-27 00:07] #7505 closed

[2022-09-27 01:28] #8444 closed

[2022-09-27 12:57] kbdharun commented on #8526
This would be a very good addition to tldr, But I noticed that there are a lot of commands for HandBrakeCLI. Link:<https://handbrake.fr/docs/en/latest/cli/command-line-reference.html>. Let me ask somebody how a page for this command can be created.

@navarroaxel, @CleanMachine1, @EmilySeville7cfg, there seem to be a lot of flags for this program. Should we create multiple pages or should we create

[2022-09-27 20:35] navarroaxel commented on #8526
If the command has arguments like `pacman -S`, that it's similar to a pacman subcommand we can create pages for them. otherwise tldr are for basic examples, like `jq` or `grep` we can't create pages for all the universe of examples.

[2022-09-28 17:30] doolio commented on #5962
@patricedenis any further progress in resolving this? Thanks.

[2022-09-28 18:25] kassane opened #8536 "page request: Verilator"
### Command description

Nice to have iverilog support. However, it would be interesting to extend support to verilator, which doesn't only transpile verilog source code, it is also an excellent lint.

- Fastest Verilog and SystemVerilog simulator.
- Accepts Verilog or SystemVerilog
- Performs lint code-quality checks
- Compiles into multithreaded C++, or SystemC
- Creates XML to front-end your ow

[2022-09-28 20:26] EltonAlvess commented on #8427
should this issue be closed?

[2022-09-28 20:28] navarroaxel commented on #8427
I think we can close, if someone needs more help we can reopen this.

[2022-09-28 20:28] #8427 closed

[2022-09-28 20:40] EltonAlvess commented on #8525
i notice that doesn't have any references to a documentation.

The request is about server or client side?

[2022-09-29 02:29] einverne opened #8537 "page request: qm"
### Command description

Lets document [qm](https://pve.proxmox.com/pve-docs/qm.1.html).

[code]

Todo:

- [ ] qm cloudinit dump <vmid> <type>
- [ ] qm guest cmd <vmid> <command>
- [ ] qm guest exec-status <vmid> <pid>
- [ ] qm guest passwd <vmid> <username> [OPTIONS]
- [ ] qm guest exec <vmid> [<extra-args>] [OPTIONS]
- [ ] qm clone <vmid> <newid> [OPTIONS]
- [ ] qm config <vmid> [OPTIONS]
- [ ]

[2022-09-29 07:36] jxu opened #8540 "find: mention maxdepth 1"
Very useful option

[2022-09-29 07:37] gutjuri commented on #8525
This request is about the client side

[2022-09-29 11:34] xeruf commented on #7225
not stale, please add tag :)

[2022-09-29 18:38] xeruf commented on #7225
I thikn we did already? The mentioned pages need to be adjusted though.

[2022-09-30 00:08] #7097 closed

[2022-10-01 03:00] khairnarsaurabh23 commented on #8537
Can I work on this issue?

[2022-10-01 03:01] einverne commented on #8537
Of course.

[2022-10-01 03:05] khairnarsaurabh23 commented on #8461
Can I work on this issue?

[2022-10-01 04:30] Ccode-lang commented on #8080
I can start working on some of these.

[2022-10-01 06:23] saikatsgupta commented on #8540
Hi, @jxu and @navarroaxel! There are already 8 examples on the `find` page. Are we trying to fit this in the existing ones or create a 9th example?

[2022-10-01 07:04] reinhart1010 opened #8576 "About mass language style edits on Indonesian translations"
Hello everyone,

This Hacktoberfest I'll be focusing more on fixing Indonesian translations instead of translating more commands, since I have to fix a fatal styling mistake which I've noticed and even endorsed before.

Our current style guide dictates that each command usage example must be written in imperative form, for example, "install a new package" instead of "installs a new package" or "in

[2022-10-01 07:41] CleanMachine1 commented on #8080
Feel free

[2022-10-01 08:39] khairnarsaurabh23 commented on #8537
Sir, Should I build another page than [qm page](https://pve.proxmox.com/pve-docs/qm.1.html) ? Asking this because all the given commands are already on the above page.

[2022-10-01 09:36] einverne commented on #8537
You can build subcommand pages like [qm-stop](https://github.com/tldr-pages/tldr/pull/8538).  You can check how we document [git-extra](https://github.com/tldr-pages/tldr/issues/5137) pages.

[2022-10-01 09:39] PackmanDude opened #8581 "Misleading information about 'test'"
By executing
[code]
you will get output, which includes:
[code]
but you must notice, that `A && B || C is not if-then-else. C may run when A is true.`

[2022-10-01 10:43] CleanMachine1 commented on #8581
Would you like a PR changing this?

[2022-10-01 11:57] PackmanDude commented on #8581
Sure, I think.

[2022-10-01 18:56] CleanMachine1 commented on #8581
Sorry, I mean would you like to make one.

[2022-10-02 02:18] #7834 closed

[2022-10-02 05:37] pixelcmtd commented on #8461
@khairnarsaurabh23 Nobody can stop you.

[2022-10-02 07:40] kbdharun commented on #8540
The 9th example can't be added as our current clients and linter only support a maximum of 8 examples. So if required we can fit this example with an existing one.

[2022-10-02 09:02] th0ughtcrime commented on #7470
That page already has 8 examples; which one(s) do you think should be removed? Since you use it regularly, can you say which ones are the least useful to you?

[2022-10-02 12:14] yuriskinfo commented on #8526
Actually, there is already a page https://github.com/tldr-pages/tldr/blob/main/pages/common/handbrakecli.md, just saying.
And yes, tools like Handbrake/ffmpeg/ImageMagick/Gimp, in my view, can only be covered with lots of subcommand pages, like lots of pages )). A one-page entry does disservice to them more than helps.

[2022-10-02 13:20] gutjuri commented on #8526
Good to know, turns out my tldr client is case-sensitive. Closing this issue for now as the existence of the tldr page in question solves my problem.

[2022-10-02 13:20] #8526 closed

[2022-10-02 13:52] navarroaxel commented on #7470
Oh, we have that example in here: https://github.com/tldr-pages/tldr/blob/main/pages/common/gh-pr-create.md. We can create a `hub-pull-request.md` page with detailed examples.

[2022-10-02 14:04] navarroaxel commented on #8540
A page can't have more than 8 examples. `find` is a complex command, maybe some example could be edited the the 3rd or the 5th.

[2022-10-02 14:06] kbdharun commented on #8540
Agreed, But the page already looks so cluttered.

[2022-10-02 14:58] maniyar1 commented on #8469
It's another command - a fork of `espeak`, most distributions only have espeak-ng and not espeak anymore, man page: https://www.mankier.com/1/espeak-ng , github: https://github.com/espeak-ng/espeak-ng

[2022-10-02 17:01] subhash-iiitm commented on #5653
aws sts #8669

[2022-10-02 17:26] gwo0d commented on #8581
I will look into this and submit a PR.

[2022-10-02 17:31] PackmanDude commented on #8581
Huh, it doesn't referenced it. Here, it is #8594.

[2022-10-02 18:51] navarroaxel commented on #8469
@maniyar1 you can create a new page for `espeak-ng`

[2022-10-02 20:26] #7225 closed

[2022-10-03 03:31] reinhart1010 commented on #7194
Partially fixed in #7984

[2022-10-03 08:16] #8523 closed

[2022-10-03 08:59] saikatsgupta commented on #7786
https://github.com/justinmeza/lci

[2022-10-03 12:54] saikatsgupta commented on #7419
https://docs.octave.org/latest/

[2022-10-03 13:17] tales-aparecida commented on #8406
Hello! I've written specifically the `aws-s3-ls` page, I can add more subcommands later... maybe we should have a complete listing in here, like we have for git-extras. :)

[2022-10-04 00:01] dz-at-tc commented on #6382
Looking at the task list above, I think:

bzfgrep is complete via PR #7211

zegrep is complete via PR #7233

zfgrep is in progress via my new PR #8708

So assuming my latest submission gets merged eventually, this issue will finally be complete, yay!

[2022-10-04 09:49] #8581 closed

[2022-10-04 11:16] fallenpixel commented on #8540
Submitted a PR, I don't think this edit adds too much clutter considering the added value of documenting maxdepth.

[2022-10-04 13:32] fallenpixel opened #8722 "[, [[, test: -z and -n are very similar"
The behavior of -z and -n are very similar, condensing them down to a single example still looks highly readable. I know I tend to get them confused, being able to look at one line and see the difference sounds like a good improvement.

While editing the common/test.md I noticed a bit of awkward wording around the && and || operators. I'm not sure I like what I have, but I believe it's an improvem

[2022-10-04 14:51] fallenpixel opened #8725 "page request: podman-compose"
### Command description

podman-compose is an implementation of [Compose Spec](https://compose-spec.io/) with [Podman](https://podman.io/) backend. i.e. docker-compose for podman.

### Command details

version=1.0.3

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-10-04 14:52] fallenpixel commented on #8725
#8726 contains a potential page for this command.

[2022-10-04 16:03] #8502 closed

[2022-10-04 16:20] #6382 closed

[2022-10-04 16:25] #7824 closed

[2022-10-04 20:09] jxu commented on #8409
And maybe we can include just the terminal output. An actual image isn't strictly necessary but gives a visual example of output.

[2022-10-04 20:19] fallenpixel commented on #8409
Implemented on #8720

[2022-10-04 22:19] xeruf commented on #7225
See https://github.com/tldr-pages/tldr/blob/main/CONTRIBUTING.md#guidelines

As said, the mentioned pages still need updating

[2022-10-05 06:31] SnowComfortable6726 opened #8741 "Consider merging brew-cask into brew"
`brew cask` has been removed from upstream, the equivalent command now is `brew --cask`. With this in mind, I don't think that we need a separate page for `brew cask` anymore.

[2022-10-05 11:31] #8426 closed

[2022-10-05 17:28] nath1as commented on #3689
adding trashy https://github.com/tldr-pages/tldr/pull/8749

[2022-10-05 17:38] burned42 commented on #8525
I opened https://github.com/tldr-pages/tldr/pull/8750 documenting the mumble client for linux :)

[2022-10-05 19:36] k0mmsussert0d opened #8756 "kafkacat has been renamed to kcat"
`kafkacat` does not go under its former name anymore. It has been renamed [around a year ago](https://github.com/edenhill/kcat/commit/3fc21aa1e9facc5fa546b9c922fc26a41666a0c1) due to Apache licensing issues. Valid command today is `kcat`.

[2022-10-05 20:45] patricedenis commented on #5962
@doolio
Yes and as a matter of fact, the official debian `haskell-tldr` package has migrated first to instable and now even to testing since 2022-10-01 (**it is really 4 days ago**) !
Even if it is not from my contribution. In fact, I was not able to cope with the Haskell language as I did not manage to find the time to explore it, and I was stopped by modules dependencies in the compilation proce

[2022-10-05 20:49] patricedenis commented on #7568
Yes, that's right.
I will see if I can add some extra details on this one.

[2022-10-06 07:04] doolio commented on #5962
Merci Patrice.

[2022-10-06 13:40] franzqat commented on #8138
Added as new entry for linux with PR#8769

[2022-10-06 21:18] sbrl commented on #8454
Great ideas! This page was probably written a while ago, hence the difference in quality. Have you considered opening a PR to correct these issues? See https://github.com/tldr-pages/tldr/blob/main/CONTRIBUTING.md for more info.

Maybe `source.png` and `target.png` instead of `image.png` and `image.png`?

[2022-10-07 03:18] pixelcmtd opened #8786 "Dealing with name collisions (in the same platform)"
As was mentioned in https://github.com/tldr-pages/tldr/pull/8674#pullrequestreview-1127763061, we should really consider what to do with multiple pages/commands of the same name (in the same platform). If you think that this is not a problem, a few examples:

- [just](https://github.com/just-js/just) and [just](https://github.com/casey/just)
- [q](https://github.com/natesales/q) and [q](https://gi

[2022-10-07 05:47] #6550 closed

[2022-10-07 08:24] franzqat commented on #5471
Added dolt-sql #8792

[2022-10-07 09:33] NimrodRak opened #8794 "page request: traffic control"
### Command description

Controls how internet traffic is managed.
* Can delay receiving or sending packages.
* Can simulate package loss and corruption.
* Can simulate network bandwith.

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-07 10:12] franzqat commented on #5471
Added dolt-status https://github.com/tldr-pages/tldr/pull/8796

[2022-10-07 14:00] #8540 closed

[2022-10-07 18:07] patricedenis commented on #5962
And for those who have a Ubuntu distribution, or any Debian based distribution, it will then have the updated version on next release assuming that this one will be based on Debian Bookworm at least.

[2022-10-07 18:49] Torfab opened #8799 "dolt-merge: add page"
* [x]  The page(s) are in the correct platform directories: `common`, `linux`, `osx`, `windows`, `sunos`, `android`, etc.
* [x]  The page(s) have at most 8 examples.
* [x]  The page description(s) have links to documentation or a homepage.
* [x]  The page(s) follow the [content guidelines](/tldr-pages/tldr/blob/main/CONTRIBUTING.md#guidelines).
* [x]  The PR title conforms to the recommended [temp

[2022-10-07 19:32] Torfab commented on #5471
Added dolt-merge #8799

Noticed that dolt-clone was done 11 months ago, so It should be checked out.

[2022-10-07 20:35] piraces commented on #5653
aws pricing #8804

[2022-10-07 20:46] piraces commented on #5653
aws history #8805 8805

[2022-10-07 21:12] piraces commented on #5653
aws configure #8808

[2022-10-07 23:10] #7870 closed

[2022-10-07 23:19] navarroaxel commented on #8799
I don't understand this issue.

[2022-10-08 00:54] Torfab commented on #8799
It was a sub issue of #5471
But i see i could directly do a pull request, we can close this issue and handle it directly, sorry

[2022-10-08 00:54] #8799 closed

[2022-10-08 01:11] monomycelium opened #8810 "page request: emerge"
### Command description

`emerge` is basically a package manager in Gentoo Linux that does not give a damn about binaries, only building by parsing `ebuild` instructions.

`man` page: https://dev.gentoo.org/~zmedico/portage/doc/man/emerge.1.html

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-08 04:34] kbdharun commented on #5471
@navarroaxel I couldn't find the page even though it was merged. Was it removed?

[2022-10-08 04:36] navarroaxel commented on #5471
@kbdharun it's located here https://github.com/tldr-pages/tldr/blob/main/pages/common/dolt-clone.md

[2022-10-08 04:59] #7462 closed

[2022-10-08 05:04] #8725 closed

[2022-10-08 05:32] saikatsgupta commented on #8741
Locations for the `brew cask` command:
- [ ] pages/common/brew-cask.md
- [ ] pages.de/common/brew-cask.md
- [ ] pages.it/common/brew-cask.md
- [ ] pages.zh/common/brew-cask.md

[2022-10-08 05:35] saikatsgupta commented on #8741
If we remove the existing `brew cask` command pages then respective `brew` command should accommodate the changes with the `--cask` option. Since the main `brew` page already has 8 examples we need to see how to best fit this.

[2022-10-08 16:14] #8756 closed

[2022-10-08 16:55] Torfab commented on #5471
added dolt-version #8826

added dolt-fetch #8823

[2022-10-08 16:59] suyashbhawsar opened #8832 "Check this line, you've used quote instead of a backtick"
Check this line, you've used quote instead of a backtick

_Originally posted by @suyashbhawsar in https://github.com/tldr-pages/tldr/pull/8815#discussion_r990642545_

[2022-10-08 16:59] #8832 closed

[2022-10-08 17:23] pg99696 commented on #8810
@monomycelium, can you please add 'hacktoberfest' label to this issue?

[2022-10-08 17:53] pg99696 commented on #8810
I have gone through the docs and found emerge command is already present in the docs.

[2022-10-09 05:09] #8522 closed

[2022-10-09 06:55] kbdharun commented on #8810
Emerge is already present in <https://github.com/tldr-pages/tldr/blob/main/pages/linux/emerge.md>. I am closing the issue. Thanks for your contribution.

[2022-10-09 06:55] #8810 closed

[2022-10-09 07:01] kbdharun commented on #8741
I think the best thing to do is to mention that the separate command is depreciated and is replaced by the flag in the `brew-cask` page and then update all commands on this page instead of `brew`.

In the `brew` page we can add `See more:` in the main command description.

What do you think @navarroaxel @CleanMachine1 @mfrw?

[2022-10-09 10:02] gutjuri opened #8859 "Let's Document: xz utils"
### Command description

xz utils is a suite of tool for handling .xz and .lzma files. Documentation can be found on the following page: https://tukaani.org/xz/

It consists of the following commands:

* [x] xz → #740
* [x] unxz → #9091
* [x] xzcat → #9091
* [x] xzdiff → #8923
* [x] xzcmp → #9704
* [x] xzgrep → #9983
* [x] xzegrep → #10185
* [x] xzfgrep → #10185
* [x] xzless → #9059, #10179
* [x]

[2022-10-09 10:09] gutjuri opened #8860 "page request: yplan"
### Command description

yplan is a command to generate daily planners in LaTeX. Documentation can be found on this page: https://www.ctan.org/tex-archive/macros/latex/contrib/yplan

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-09 10:17] gutjuri opened #8861 "Let's document: Info-ZIP tools"
### Command description

Info-ZIP is a workgroup that provides tools for dealing with .zip files. This is their website (with documentation): https://infozip.sourceforge.net/

I found the following tools that are not yet documented in tldr:

* [X] zipinfo→#6918
* [X] zipgrep →#7004
* [x] zipnote → #8908
* [x] zipcloak → #8914
* [x] zipsplit → #8871
* [x] funzip → #8937,#9236
* [ ] unzipsfx →#9225

[2022-10-09 13:22] pg99696 commented on #8861
@gutjuri , can you please add label 'hacktoberfest' to this issue?

I'm going to add page for _zipsplit_.

[2022-10-09 13:31] gutjuri commented on #8861
The repo already has the topic "hacktoberfest", so any PR will count (as long as it gets accepted)

[2022-10-09 14:18] pg99696 commented on #8861
@gutjuri, I have sent a PR for review for zipsplit command.

Do I need to mention anyone to review the PR?

Please guide me as this is my first PR for any open source project.

[2022-10-09 16:07] kbdharun commented on #8861
Great

We will review your PR soon, You don't need to mention anyone for reviewing in most cases except sometimes when you require someone's expertise.

The best place to start would be to look around the repository and you can use our guides such as [CONTRIBUTING.md](https://github.com/tldr-pages/tldr/blob/main/CONTRIBUTING.md), [Style Guide](https://github.com/tldr-pages/tldr/blob/main/contribut

[2022-10-10 02:34] navarroaxel commented on #8741
I think change the `brew-cask` page to use the `--cask` argument is better

[2022-10-10 02:35] kbdharun commented on #8741
Agreed, I will open a PR regarding this soon.

[2022-10-10 02:56] #7586 closed

[2022-10-10 07:45] Nikhil-Samant commented on #8859
@gutjuri , I will do further investigation and add the page

[2022-10-11 00:23] #8430 closed

[2022-10-11 08:06] cjappl commented on #8310
Via homebrew

On Fri, Aug 5, 2022 at 4:40 PM, CleanMachine1 ***@***.***> wrote:

[2022-10-11 09:54] #8461 closed

[2022-10-11 17:58] asdsyd commented on #8859
Is this issue fixed?

[2022-10-11 18:27] gutjuri commented on #8859
No, the commands that have not been marked as completed in the original post are still missing in tldr.

[2022-10-11 20:51] navarroaxel commented on #7923
@asdsyd you should check the contribution-guides first, mainly the [style-guide](https://github.com/tldr-pages/tldr/blob/main/contributing-guides/style-guide.md).
Then you Google about this command and try to experiment with it locally.
Then you can look for a similar command into the existing tldr-pages, maybe you can "clone" examples from them.
And then just write your original examples and we c

[2022-10-12 00:05] #6287 closed

[2022-10-12 10:32] navarroaxel commented on #8859
Same I answered here: https://github.com/tldr-pages/tldr/issues/7923#issuecomment-1275262574

[2022-10-12 12:25] anna-parker opened #8966 "page request: treetime"
### Command description

Makes timetrees of phylogenetic trees, used in genomic epidemiology of e.g. SARS-CoV-2, monkeypox, flu etc.

### Command details

0.9.4

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [X] Windows

[2022-10-13 00:04] #6163 closed

[2022-10-13 03:54] qq516249940 commented on #8427
can't not work in china

[2022-10-13 15:13] saikatsgupta opened #8998 "page request: ldd"
### Command description

`ldd` prints the shared objects (shared libraries) required by each program or shared object specified on the command line. More details: https://manned.org/ldd.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 15:14] saikatsgupta opened #8999 "page request: lddd"
### Command description

Find broken library links on your system - https://manned.org/lddd.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 15:24] saikatsgupta opened #9000 "page request: uuidgen"
### Command description

Creates a new UUID value - https://manned.org/uuidgen.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 15:24] saikatsgupta commented on #9000
#9000 🎉 🎉 🎉

[2022-10-13 15:33] navarroaxel commented on #9000
The pages already exist https://github.com/tldr-pages/tldr/blob/main/pages/osx/uuidgen.md and https://github.com/tldr-pages/tldr/blob/main/pages/linux/uuidgen.md

[2022-10-13 15:48] kbdharun commented on #9000
As @navarroaxel mentioned this page exists on both the platforms mentioned in this issue. So I am closing this issue, Thanks for your contribution.

- Linux Page: https://github.com/tldr-pages/tldr/blob/main/pages/linux/uuidgen.md
-  macOs Page: https://github.com/tldr-pages/tldr/blob/main/pages/osx/uuidgen.md

[2022-10-13 15:48] #9000 closed

[2022-10-13 15:49] kbdharun commented on #8966
Adding Links for reference <https://manned.org/treetime> , <https://github.com/neherlab/treetime>.

@anna-parker; Feel free to create a PR for this page if you want to add it yourself.

[2022-10-13 15:57] saikatsgupta commented on #9000
My bad I missed this due to over-excitement 😛

[2022-10-13 16:24] saikatsgupta opened #9003 "page request: loadkeys"
### Command description

Loads keyboard translation tables - https://manned.org/loadkeys.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 16:26] saikatsgupta opened #9004 "page request: logrotate"
### Command description

Rotates, compresses, and mails system logs - https://manned.org/logrotate.8

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 16:28] saikatsgupta opened #9005 "page request: loginctl"
### Command description

Controls the `systemd` login manager - https://manned.org/loginctl.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 16:36] saikatsgupta opened #9006 "page request: fixfiles"
### Command description

`fixfiles` - fix file SELinux security contexts.
Details: https://manned.org/fixfiles.8

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-13 20:56] GingerKiwi commented on #8478
Hi, I'm a new dev (former teacher). I'd love to work on this. I've downloaded the Tool Suite, and am going through their docs. Is it ok to do 1-3 of the list items first as a PR then see how it goes? Quality over quantity.

[2022-10-14 03:50] pixelcmtd commented on #8478
@GingerKiwi Of course it is. I'd even say that reviewing multiple smaller PRs is preferable to one huge PR.
So feel free to do it however you like best, looking forward to your contributions :D

[2022-10-14 03:59] pixelcmtd commented on #8998
https://github.com/tldr-pages/tldr/blob/main/pages/linux/ldd.md 🤔

[2022-10-14 06:13] saikatsgupta commented on #8998
Whoops! I made a mistake by searching the command here - https://tldr.ostera.io/ldd. Closing issue.

[2022-10-14 06:13] saikatsgupta commented on #8998
Whoops! I made a mistake by searching the command here - https://tldr.ostera.io/ldd. Closing issue.

[2022-10-14 06:13] #8998 closed

[2022-10-14 17:07] nath1as commented on #7793
added with https://github.com/tldr-pages/tldr/pull/8752

[2022-10-14 18:37] nath1as commented on #7786
pr open https://github.com/tldr-pages/tldr/pull/9033

[2022-10-14 23:22] waldyrious opened #9042 "page request: rmlint"
### Command description

There are some examples already in the existing documentation: https://rmlint.readthedocs.io/en/latest/rmlint.1.html#examples. The tutorial is also heavily based on (beginner-friendly) examples, which might also be useful: https://rmlint.readthedocs.io/en/latest/tutorial.html

The project repository is at https://github.com/sahib/rmlint.

### Command details

_No response_

[2022-10-15 10:03] kbdharun opened #9065 "Let's document: Cockpit"
### Command description

- The `Cockpit` is a web-based graphical interface for servers.
- It is a very famous tool which provides an accessible GUI for everyone to use.
- It works with many distros like Ubuntu, Fedora, etc.
- It also comes with the default installation of the Fedora Server.

Reference: <https://cockpit-project.org>
Link to guide: <https://cockpit-project.org/guide/latest/>
Link t

[2022-10-15 17:51] bryanmg commented on #5653
Hi! I'll work on sqs command file

[2022-10-15 18:17] vatana7 commented on #9065
Assign me to this please!

[2022-10-15 18:32] bryanmg commented on #5653
aws-sqs: add page #9085

[2022-10-15 19:15] TerribleCodes commented on #6863
@mfrw Please tick the `nmap` under `information gathering`. Because the nmap page is already there in main branch.

[2022-10-15 21:28] #7859 closed

[2022-10-15 23:47] kbdharun commented on #9065
@vatana7 Feel free to work on a PR for these commands. I don't think assigning is necessary. I assigned myself so that I could easily filter out Notifications in GitHub + I can create some pages if this issue was still open after a long time.

[2022-10-16 12:48] Liquid-system opened #9105 "page request: style-guide add Japanese-Specific Rules"
### Command description

I have a few suggestions related to #9081

 I think there should be a guideline to use  (full-width, double-byte, 全角)  if Japanese is included, and (half-width, single-byte, 半角) if only English is used.

But in an example like A `apt install {{パッケージ}}` Japanese words are surrounded by half-width characters, which is against the rule.

Therefore, the command itself should n

[2022-10-16 16:34] ohyahgit commented on #9065
I would like to help with this too.

[2022-10-16 16:35] navarroaxel commented on #9065
@ohyahgit awesome! just send the PR

[2022-10-17 18:35] rajatmohan22 commented on #9065
Can you please provide the link where the commit needs to be done?

[2022-10-17 22:49] kbdharun commented on #9065
No, As I mentioned this tool is for Linux so it must be placed in `pages/linux`.

[2022-10-17 23:01] ohyahgit commented on #9065
should I name the file for cockpit-ws cockpitws.md or cockpit-ws.md?

[2022-10-17 23:49] ohyahgit commented on #9065
I sent in a pull request for all four.

[2022-10-18 00:02] ohyahgit commented on #9065
I cannot figure out an error im getting on my pull request build

[2022-10-18 00:27] kbdharun commented on #9065
Great

It must be named cockpit-ws.md, I will change it for you.

[2022-10-18 01:37] ohyahgit commented on #9065
Thank you! I just approved all your suggestions.

[2022-10-18 05:04] vatana7 commented on #9006
I'll take a look at this

[2022-10-18 13:57] MengsokunVeng opened #9167 "page request: caffeinate"
### Command description

Add new key option - https://ss64.com/osx/caffeinate.html

### Command details

_No response_

### OS

- [ ] Android
- [ ] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-18 14:30] vatana7 commented on #8966
I've created a PR for this. Please check

[2022-10-18 14:31] vatana7 commented on #9006
I've created a PR for this. Please check

[2022-10-18 15:36] #8741 closed

[2022-10-18 15:49] #9042 closed

[2022-10-18 15:52] Muskan-Git-Code commented on #8537
Ref: #9149

[2022-10-18 20:38] rajatmohan22 commented on #9167
Can you elaborate a little more? Which key do you want to add ?

[2022-10-18 20:38] rajatmohan22 commented on #9167
Can you elaborate a little more? Which key do you want to add ?

[2022-10-18 22:05] GingerKiwi commented on #8478
Hi,
This is my first docs PR ever, so I might be over communicating.

I added one page `<ftxdiff>: add page`
- submitted a pull request
- fixed issues (typos) requiring review
- did another commit with the corrected typos

All the processes except the last one passed in GitHub actions
"Process completed with exit code 1."
Does this mean that a human maintainer needs to review it, or did I miss par

[2022-10-19 02:27] MengsokunVeng commented on #9167
`caffeinate -m` to prevent disk from idle sleeping until you press Ctrl-C

[2022-10-19 04:04] kbdharun commented on #8478
Thanks for your contribution @GingerKiwi  and Welcome to tldr. The error is due to minor issue I had added my review to the PR that will fix the linter error. Refer to our [style-guide](https://github.com/tldr-pages/tldr/blob/main/contributing-guides/style-guide.md) in future to know about the format of pages.

[2022-10-19 04:05] kbdharun commented on #8478
Thanks for your contribution @GingerKiwi  and Welcome to tldr. The error is due to minor issue I had added my review to the PR that will fix the linter error. Refer to our [style-guide](https://github.com/tldr-pages/tldr/blob/main/contributing-guides/style-guide.md) in future to know about the format of pages.

[2022-10-19 09:40] saikatsgupta commented on #9167
The command pages exist:
https://github.com/tldr-pages/tldr/blob/main/pages/linux/caffeinate.md
https://github.com/tldr-pages/tldr/blob/main/pages/osx/caffeinate.md
You can update the same.

[2022-10-19 16:29] #8488 closed

[2022-10-19 18:16] trolzen commented on #8388
This can be closed as resolved.

[2022-10-19 19:49] #7786 closed

[2022-10-21 04:19] #9167 closed

[2022-10-21 11:23] #9005 closed

[2022-10-21 16:09] kbdharun commented on #8406
I will add a table so that it will be easy to track the progress of pages added.

[2022-10-21 17:45] shermanhui commented on #8406
@kbdharun `aws-s3-ls` has already been added in #8619, I'll check it off in the issue description for us.

[2022-10-21 17:59] GingerKiwi commented on #8478
Thank you.
I'm now clear on when to use {{ }} for file names and how to style the 'more information' links.
I committed the suggested changes.
I'm assuming the remaining error 'Process completed with exit code 1.' is the linter error.
I really appreciate your help and hand holding!

[2022-10-22 01:02] kbdharun commented on #8406
Thanks for pointing it out, I will update it soon.

[2022-10-22 10:35] kbdharun commented on #8786
Same issue with #9176 where both commands have `snap` name.

[2022-10-22 11:53] kbdharun commented on #7923
@pixelcmtd I added documentation links and added some subcommands. I am not sure if the subcommands with subcommands require separate pages. My friends with mac love parallels and they hate that it has very less documentation.

Lol, I search it for the past hour I could find none except the parallel's official page. And their command line reference page is the worst. I need to parse through indivi

[2022-10-22 12:17] kbdharun commented on #7923
I can't find many links to prl, I could only find some pages, the only other page referring to prl is some C API reference page, I guess we can add the currently available pages. And leave the rest for later.

[2022-10-22 16:29] Muskan-Git-Code commented on #8537
Hi @kbdharun @navarroaxel,
Thank you for the suggestions on PR #9149 #9165 #9152 #9150.

I have updated them, please do merge them.
Thanks a lot!

[2022-10-23 05:22] DEBADRIBASAK commented on #9003
@saikatsgupta Is anyone working on this? I would like to work on this issue.

[2022-10-23 05:26] DEBADRIBASAK commented on #8524
@gutjuri PLease assign this to be. I would like to work on it.

[2022-10-23 05:29] DEBADRIBASAK commented on #8521
@gutjuri Please assign this task to me. I would like to work on this.

[2022-10-23 05:31] DEBADRIBASAK commented on #8860
@gutjuri Please assign this task to me. I would like to contribute.

[2022-10-23 07:35] saikatsgupta commented on #9003
Go ahead @DEBADRIBASAK 👍🏼

[2022-10-23 08:12] gutjuri commented on #8524
You can just go ahead and work on the issue, no need to use GitHub's "assign" feature.

[2022-10-23 10:47] DEBADRIBASAK commented on #9003
I made a PR. Can someone please approve it?

[2022-10-23 13:18] blueskyson commented on #8786
I suggest we rename `jsut-js.md` as `just.1.md` and release a new client spec, so that old clients won't break down and the collision page can still be found by `tldr just.1`.

[2022-10-23 13:20] kbdharun commented on #8786
This is a great idea. It would work just like man pages. But I am not sure if it would be feasible.

@navarroaxel @CleanMachine1 @mfrw @marchersimon What do you think about this?

[2022-10-23 20:58] AkechiShiro commented on #6863
@marchersimon  jd-gui is GUI only, burp suite too I believe

[2022-10-24 16:11] Mikaa404 opened #9321 "page request: java_home"
### Command description

`java_home` - return a value for $JAVA_HOME

### Command details

Executable in `/usr/libexec/`.

### OS

- [ ] Android
- [ ] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-24 18:34] Saevyn opened #9322 "read: backslash is still missing"
Several months ago, I opened [a pull request](https://github.com/tldr-pages/tldr/pull/7731) to fix a missing backslash for the `read` page. The fix was rashly declined and mistakenly recognised as a Node client issue, [even though it wasn't](https://github.com/tldr-pages/tldr/pull/7731#issuecomment-1074564213). Recently, I needed to check the `read` command again and noticed the missing backslash

[2022-10-24 21:16] #9003 closed

[2022-10-25 06:12] #8999 closed

[2022-10-25 16:02] SethFalco opened #9340 "rfc: use codeowners to automatically request reviews"
Currently, we're frequently requesting reviews to maintainers, seemingly randomly, to get pull requests looked at sooner.

I'd like to propose that we reduce this practice, in favor of a more opt-in approach where we use a CODEOWNERS file to automatically request reviews on pages based on the maintainers interests.

The idea is that, if someone is primarily interested in reviewing pages for a cert

[2022-10-25 16:18] #7647 closed

[2022-10-25 19:07] saikatsgupta commented on #9321
Hi @MikaaTT, could you share the man page or any reference for this command?

[2022-10-25 19:15] saikatsgupta opened #9342 "page request: setquota"
### Command description

[setquota](https://manned.org/setquota.8) - sets disk quotas

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-25 19:18] saikatsgupta opened #9343 "page request: serialver"
### Command description

[serialver](https://manned.org/serialver.1) - The Serial Version Command

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-25 19:22] saikatsgupta opened #9344 "page request: shar"
### Command description

 [shar](https://manned.org/shar.1) - creates a shell archive

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-26 01:26] #8131 closed

[2022-10-26 01:49] MikaaTT commented on #9321
Ok @saikatsgupta, [Here](https://gist.github.com/MikaaTT/9dddc5b7f95a53ff2f1eb3813c4cf46a) is the man page.

[2022-10-26 11:45] EmilySeville7cfg opened #9353 "Implement PR automerging when they satisfy certain conditions (described in maintainer's guide)"
Note: this issue is waiting #8398 to be merged.

[2022-10-27 05:19] suhanigarg29 commented on #9344
Can I take this up?

[2022-10-27 13:08] saikatsgupta commented on #9344
@suhanigarg29 sure 👍🏼

[2022-10-27 16:13] sanesai opened #9376 "page request: postalias"
### Command description

`postalias` - Postfix alias database maintenance
Details: https://manned.org/postalias

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-28 04:12] kbdharun commented on #9340
Excellent proposal, I have a doubt would this prevent the merging of PRs for reviewers who aren't code owners?

[2022-10-28 06:35] SethFalco commented on #9340
This gives me the impression that by default, code owners do are not blocking. They'll be requested by default, but do not _have to_ provide a review.

[2022-10-28 08:02] kbdharun commented on #9340
Nice, Then I think we can use it I guess as by default it will not prevent merge.

[2022-10-28 08:19] waldyrious commented on #9340
Weird, that seems a little counterintuitive. I would expect the stewardship (to step away from the "ownership" lingo) specifications would be cumulative. Are you aware of the rationale for this behavior, or any discussions about changing it? Perhaps it stems precisely from an understanding of the people as "owners" of the code, in which case I can see why people would prefer more specific rules to

[2022-10-28 08:40] waldyrious commented on #904
Reopening so we can close this for real with #9388. :smiley:

[2022-10-28 08:52] SethFalco commented on #9340
You're right imo, at least I'd expect there to be an option to choose between replacing vs accumlating reviewers.

This is my first time exploring this feature and reading the docs, but unfortunately, I couldn't find anything in the docs to make it accumulate reviewers.

A (messy) workaround would be to make a team called @tldr-pages/reviewers which we put on every match. (Note that we can list mu

[2022-10-28 09:06] kbdharun commented on #9340
Same here this is my first time exploring it too. I had only seen this used in archinstall from what I remember.

[2022-10-28 09:19] waldyrious commented on #8786
I don't really like the use of numeric suffixes since they're pretty opaque and impossible to guess. We should find a pattern that is clearer yet still broadly applicable.

One such way to disambiguate the commands could be to prefix the author as a namespace (possibly with a `@`, like e.g. npm does). However, this would result in some cumbersome names, like `@GoogleChromeLabs/sm` (which doesn't e

[2022-10-28 09:47] #904 closed

[2022-10-28 12:08] EmilySeville7cfg commented on #9340
I love such idea. I wanna review Linux pages and their translations more often then the other ones. :)

[2022-10-30 11:11] kbdharun opened #9432 "Proposal: Create seperate PDFs for translation pages"
**I have a proposal how about creating independent PDFs for separate language pages?**

I observed the [current PDF](https://tldr.sh/assets/tldr-book.pdf) only contains English pages. Creating separate PDFs for each language will make it easy to read for native readers. What do you guys think about this proposal?

[2022-10-30 12:10] #9004 closed

[2022-10-30 12:12] #9343 closed

[2022-10-30 12:20] #8861 closed

[2022-10-30 22:22] yutyo commented on #9432
I think it makes sense.

[2022-10-31 15:46] corneliusroemer opened #9460 "page request: document stderr to stdout"
### Command description

I keep forgetting how to redirect stderr to stdout - would it be possible to document this in tldr in some way?

Not sure what the best way would be since this isn't quite a normal command but a bash inbuilt.

Any clues?

`2>&1`

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-10-31 16:58] navarroaxel commented on #9460
@waldyrious wdyt?

[2022-10-31 17:20] corneliusroemer commented on #9460
Maybe we could create a command `stderr`? Has anyone ever added bash intrinsics to `tldr`?

[2022-10-31 20:10] cronJohn commented on #9376
Hello! This is my first time contributing to tldr-pages. I could translate the postalias tldr pages to Spanish.

[2022-10-31 23:15] chanibal opened #9468 "Git hook issue: "markdownlint: Argument list too long""
I started having an issue where I'm unable to commit on MacOS using bash as shell (zsh works fine, but old habits remain).

Running `npm test` or trying to commit gives me a message like:

[code]

A quick fix is to run it from zsh:
[code]

Probably caused by, well, a lot of arguments given to markdownlint. At the time of writing, 7703 filenames or 196698 bytes, no idea why this is the limit, but i

[2022-10-31 23:38] SethFalco commented on #9322
Checking the background of this issue, yeah it shouldn't have been closed.

It seems everyone forgot that the pages are _Markdown_, so `\)` should be an escaped closed bracket, clients shouldn't be rendering the slash. Clients that currently render it are the ones with that needs to be fixed, not the node client imo.

[code]

This is how `(\)` is supposed to look: (\)

[2022-11-01 01:34] richardsavio opened #9472 "Cross reference all pages related to `vim`"
Currently all the `vim` related pages (`vim`, `vimdiff`, `nvim`, `vimtutor`) do not cross reference each other. The pages could be updated to rectify that.

I did not realize that there was a `vimdiff` page until recently. I expected to find something (at least a link to `vimdiff`) on the main `vim` page.

[2022-11-01 14:14] pixelcmtd opened #9475 "page request: postmap"
### Command description

Very similar to postalias, just a bit different.
https://manned.org/postmap

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-11-01 14:39] Gibsol opened #9476 "page request: railway"
### Command description

Inspired by Heroku cloud computing platform's CLI
[https://railway.app/](https://railway.app/)

### OS

- [ ] Android
- [X] Linux
- [X] macOS
- [ ] sunOS
- [ ] Windows

[2022-11-04 20:22] CleanMachine1 commented on #9460
We have a `[[` page. Can this be even called a command more than just a syntax feature of bash.

I think we could add this as `tldr 2>&1` and maybe think about documenting such features as `&&` as well.

[2022-11-04 20:23] CleanMachine1 commented on #9472
Would you like to add this your self in a PR?

[2022-11-06 00:03] #8060 closed

[2022-11-06 00:03] #8058 closed

[2022-11-07 04:32] #9476 closed

[2022-11-08 13:57] #7568 closed

[2022-11-09 10:03] #9065 closed

[2022-11-11 00:02] #7702 closed

[2022-11-18 01:52] #7768 closed

[2022-11-18 04:30] Saevyn commented on #9322
So, uh... Can we do anything about it?

[2022-11-18 10:17] SethFalco commented on #9322
If no one else does, I'll make a PR next week.
Meanwhile, if you have time, feel free to make your PR again and I'll approve it.

Sorry for the shoddy experience with your previous PR, though.

[2022-11-18 20:10] Saevyn commented on #9322
Alright, thanks a lot for the help! 😄

[2022-11-18 20:10] #9322 closed

[2022-11-19 14:16] MarAvFe opened #9531 "page request: mogrify"
### Command description

[mogrify](https://manned.org/mogrify) is an awesome image manipulator cli software:

### Command details

executable in /usr/bin

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-11-22 15:04] #8966 closed

[2022-11-24 14:08] EmilySeville7cfg opened #9556 "page request: img2txt"
### Command description

https://manned.org/img2txt.1

### Command details

_No response_

### OS

- [ ] Android
- [X] Linux
- [ ] macOS
- [ ] sunOS
- [ ] Windows

[2022-11-24 14:16] #9468 closed

[2022-11-24 14:20] EmilySeville7cfg commented on #9460
It will be possible only when it will be permitted by our client specification. Now it literally states the following:

By all means, redirection can be shown in some tldr pages but it's unclear what page to use to find i/o redirection syntax. So my point is: update client specification if users need show syntax features to be shown separately from usual tldr pages.

[2022-11-24 14:42] EmilyGraceSeville7cf opened #9557 "Idea to create our personal TlDr site instead of manned with more features and better user experience"
As this is not a 5 minute task I wanna ask others what do they want from such site and who and how can contribute to make this dream come true. :)

Personally I like https://www.mankier.com site: it looks pretty neat, but lacks some customization I wanted to have:

- ability to change site theme: light/dark
- ability to change main site color: from yellow to anything else
- ability to automaticall

[2022-11-26 12:23] Bauke opened #9560 "Rendered emails become URL-encoded"
For example, with `tldr gpg`:

[code]

[2022-11-26 12:27] Bauke commented on #9560
Oh I just realized this may not be the correct repo for this issue. I'm using the Node client.

[2022-11-27 07:24] public-rant commented on #9432
I would be interested in working on this. Would I be correct in assuming this change would require modifying [`render.py`](https://github.com/tldr-pages/tldr/blob/main/scripts/pdf/render.py)?

[2022-11-27 07:50] kbdharun commented on #9432
Sure, you can work on it. I haven't made a start lol, as I am not that good with scripts.

[2022-11-28 19:25] #9472 closed

[2022-11-28 21:14] EmilySeville7cfg commented on #9560
@Bauke, so I am closing this issue. Please provide a link to an issue in the correct repo. Thanks!

[2022-11-28 21:14] #9560 closed

[2022-11-28 21:24] EmilySeville7cfg opened #9564 "Range syntax standardization"
# Description
Example usage is [here](https://github.com/tldr-pages/tldr/pull/9412#discussion_r1034059697). General syntax is suggested to be as the following one: `{{from,...,to}}` or `{{from..to}}`.

# Questions
- **When to use range syntax?** Answer: when more than two integer items in range available or when the range is float.
- **What kind of ranges is supposed to described by this syntax?**

[2022-11-29 05:50] EmilySeville7cfg opened #9566 "Placeholder prefixes standardization"
# Description
General syntax is suggested to be as the following one:
- `{{generic_placeholder}}` such as `{{path/to/file}}` (or almost all other existing placeholders for now)
- `{{example:placeholder_to_be_treated_literally}}` or `{{eg:placeholder_to_be_treated_literally}}` - `example:`/`eg:` are prefixes, example usage: `sleep {{milliseconds|example:5}}` or `sleep {{milliseconds|eg:5}}`. Featur

[2022-11-29 06:17] EmilySeville7cfg opened #9569 "Optional placeholders"
# Description
General syntax is suggested to be as the following one: `{{?placeholder_content}}`. Can't be applied with placeholder with alternatives.

Syntax is compatible with any other syntax suggestions:

- `{{?path/to/file}}` - file or nothing
- `{{?4}}` - some number or nothing
- `{{?string}}` - string or nothing (even when quoted)
- [`{{?1,...,10}}` - number from [1..10] range or nothing](h

[2022-11-29 12:48] navarroaxel commented on #9569
I think we follow standard markdown pages, that's why we didn't specify logic to be applied by the clients. cc @waldyrious  @sbrl ?